@import '../../styl/component-include.styl'

@keyframes ill-fade-in
  0% {
    opacity 0
  }
  100% {
    opacity 1
  }

.b-video-banner
  position relative
  height 735px
  background-color #000
    
  @media ( max-width 767px )
    height 586px
    
  @media ( max-width 1024px ) and ( min-width 768px )
    height 679px
    
  .fotorama__nav-wrap
    position absolute
    width 100%
    bottom 0
    left 0
    
  .fotorama__dot
    width 12px
    height 12px
    background-color #575757
    border none
    top auto
    left 3px
    
  .fotorama__nav__frame.fotorama__active .fotorama__dot
    background-color #ffcc00
    width 12px
    height 12px
    
  .fotorama__nav--dots .fotorama__nav__frame
    height 65px
    width 24px
    
    @media ( max-width 767px )
      height 35px
      
    @media ( max-width 1024px ) and ( min-width 768px )
      height 45px
  
  &__ill
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-repeat no-repeat
    background-position center center
    background-color #000
    background-size contain
    opacity 0
    z-index 1
    
    @media ( max-width 767px )
      background-size cover
      
    &.i-show
      opacity 1
      animation ill-fade-in 3s 1
    
  &__cover
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background url( 'images/fotorama-video-bg.png' ) no-repeat center #000
    background-size cover
    text-align center
    color #fff
    padding-top 293px
    z-index 2
    
    .text-large
      font-size 21pt
      margin-top 48px
  
      @media ( max-width 767px )
        font-size 12pt
        margin-top 15px
    
      @media ( max-width 1024px ) and ( min-width 768px )
        font-size 16pt
        margin-top 30px
    
    .container
      position relative
      z-index 2
  
    @media ( max-width 767px )
      height 586px
      padding-top 350px
  
    @media ( max-width 1024px ) and ( min-width 768px )
      height 679px
      padding-top 379px
  
  .b-h1
    margin 0 auto 74px
    font-size 33pt
    line-height 1.4
    max-width 680px
    text-shadow 0 2px 5px rgba(0,0,0,0.68)
  
    @media ( max-width 767px )
      font-size 22pt
      margin-top 20px
      margin-bottom 10px 
  
    @media ( max-width 1024px ) and ( min-width 768px )
      font-size 23pt
      margin-top 50px
      margin-bottom 24px
    
    .b-laquo
      display inline-block
      width 12px
      height 13px
      background embedurl( 'img/laquot.png' ) no-repeat center center
      background-size contain
      margin -6px 15px 0 0
      vertical-align middle
  
      @media ( max-width 767px )
        width 8px
        height 9px
        margin -4px 5px 0 0
        
    .b-raquo
      display inline-block
      width 12px
      height 13px
      background embedurl( 'img/raquot.png' ) no-repeat center center
      background-size contain
      margin -6px 0 0 15px
      vertical-align middle
  
      @media ( max-width 767px )
        width 8px
        height 9px
        margin -4px 0 0 5px
      
  &__sign
    opacity 0.35
    font-family 'Palatino', Georgia
    font-style italic
    font-size 14pt
        
    @media ( max-width 767px )
      font-size 12pt
      margin-top 10px
  
  .fotorama__nav:after,.fotorama__nav:before,.fotorama__stage:after,.fotorama__stage:before
    display none
    
.b-video-banner2

  &__ill
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-repeat no-repeat
    background-position center center
    background-color #000
    background-size contain
    opacity 0
    z-index 1
    
    @media ( min-width 1025px )
      background-position 90% center
      
    @media ( max-width 1024px ) and ( min-width 768px )
      background-size 150%
    
    @media ( max-width 767px )
      background-size cover
      
    &.i-show
      opacity 1
      animation ill-fade-in 3s 1
    
  &__cover
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background url( 'images/fotorama-video-bg.png' ) no-repeat center #000
    background-size cover
    text-align center
    color #fff
    padding-top 180px
    z-index 2
    
    .b-h1
    
      @media ( min-width 1025px )
        text-align left
        text-indent -27px
        max-width 415px
        margin-right 0
        margin-left 0
        margin-bottom 14px
        font-size 28pt
        line-height 44px
        
      @media ( max-width 1024px ) and ( min-width 768px )
        max-width 430px
        margin-top 37px
        margin-bottom 17px
        
      @media ( max-width 767px )
        margin-bottom 10px
        
    .b-video-banner__sign
    
      @media ( min-width 1025px )
        text-align left
        
      @media ( max-width 767px )
        font-size 12pt
        margin-top 10px
    
    .container
      position relative
      z-index 2
      
    #b-video-button2-text
      color #319ed6
      font-size 14pt
      vertical-align middle
      text-align left
      margin-top 156px
      
      .i-icon
        display inline-block
        width 25px
        height 25px
        border-radius 51%
        border 1px solid #319ed6
        vertical-align middle
        margin-right 13px
        
        &:after
          display block
          content ''
          width 4px
          height 8px
    
      @media ( max-width 1024px )
        display none
  
    @media ( max-width 767px )
      height 586px
      padding-top 290px
  
    @media ( max-width 1024px ) and ( min-width 768px )
      height 679px
      padding-top 340px
    
#b-video-button
  display inline-block
  background rgba( 233, 233, 234, 0.6 )
  width 82px
  height 82px
  border-radius 51%
  padding 0
  transition( all 0.5s ease )
  visibility hidden
  opacity 0
  
  &,
  &:hover,
  &:focus
    outline none
    border none
    
  &:hover
    background rgba( 233, 233, 234, 1 )
  
  .i-icon
    width 0
    height 0
    border-style solid
    border-width 11px 0 11px 14px
    border-color transparent transparent transparent #231f20
    display inline-block
    margin-top 30px
    margin-left 6px
    
#b-video-cover
  transition( opacity 1s ease )
  
#b-video-cover.i-play
  opacity 0
  
#b-video-button.i-visible
  visibility visible
  opacity 1
  
#b-video-player-container
  position relative
  padding-top 52%
  
#b-video-player
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  z-index 1
  
#b-video-button2
  color #319dd5
  font-size 13pt
  
  &,
  &:hover,
  &:focus
    outline none
  
  .i-icon
    display inline-block
    background #131315
    width 60px
    height 60px
    border-radius 51%
    border 1px solid #319dd5
    padding 0
    
    &:after
      content ''
      width 0
      height 0
      border-style solid
      border-width 11px 0 11px 19px
      border-color transparent transparent transparent #319dd5
      display inline-block
      margin-top 18px
      margin-left 6px
    
    @media ( max-width 1024px ) and ( min-width 768px )
      width 25px
      height 25px
      display block
      margin 0 auto 8px
    
  @media ( min-width 1025px )
    display none
    