.b-top-menu
  a( href="" ) Четырехклапанные
  | 
  a( href="" ) Самосборные коробки
  | 
  a( href="" ) Архивные коробки
  | 
  a( href="" ) Гофрокартон
  | 
  a( href="" ) Упаковочные материалы
  | 
  a( href="" ) Упаковочное оборудование
  
  span.b-top-menu__icon( style="background-image: url(/template/images/svg/sandwich-menu.svg);" )
  
.b-top-submenu

  a( href="" ) Четырехклапанные
  | 
  a( href="" ) Самосборные коробки
  | 
  a( href="" ) Архивные коробки
  | 
  a( href="" ) Гофрокартон
  | 
  a( href="" ) Упаковочные материалы
  | 
  a( href="" ) Упаковочное оборудование
  
