.b-top-menu

  a( href="" ) Картонные коробки
  | 
  a( href="" ) Гофрокартон
  | 
  a( href="" ) Упаковочные материалы
  
  span.b-top-menu__icon
    svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 181.42 181.42')
      path.cls-1(d='M17.44,78.23A12.44,12.44,0,1,1,5,90.68,12.46,12.46,0,0,1,17.44,78.23m0-5A17.44,17.44,0,1,0,34.89,90.68,17.44,17.44,0,0,0,17.44,73.23Z')
      path.cls-1(d='M90.71,78.23A12.44,12.44,0,1,1,78.27,90.68,12.46,12.46,0,0,1,90.71,78.23m0-5a17.44,17.44,0,1,0,17.44,17.44A17.44,17.44,0,0,0,90.71,73.23Z')
      path.cls-1(d='M164,78.23a12.44,12.44,0,1,1-12.44,12.44A12.46,12.46,0,0,1,164,78.23m0-5a17.44,17.44,0,1,0,17.44,17.44A17.44,17.44,0,0,0,164,73.23Z')
