.b-top-menu
  a( href="" ) Картонные коробки
  a( href="" ) Гофроупаковка
  a( href="" ) Гофрокартон
  a( href="" ) Упаковочные материалы
  a( href="" ) Упаковочные инструменты
  a( href="" ) Распродажа
  a( href="" ) Новинки
  a( href="" ) Прайс-лист
  
  span.b-top-menu__icon
    span.b-top-menu__text Еще
    span.b-top-menu__caret
