.b-top-menu

  a( href="" ) Картонные коробки
  | 
  a( href="" ) Гофрокартон
  | 
  a( href="" ) Упаковочные материалы
  
  span.b-top-menu__icon
    svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 181.42 181.42')
      path.cls-1(d='M17.44,78.23A12.44,12.44,0,1,1,5,90.68,12.46,12.46,0,0,1,17.44,78.23m0-5A17.44,17.44,0,1,0,34.89,90.68,17.44,17.44,0,0,0,17.44,73.23Z')
      path.cls-1(d='M90.71,78.23A12.44,12.44,0,1,1,78.27,90.68,12.46,12.46,0,0,1,90.71,78.23m0-5a17.44,17.44,0,1,0,17.44,17.44A17.44,17.44,0,0,0,90.71,73.23Z')
      path.cls-1(d='M164,78.23a12.44,12.44,0,1,1-12.44,12.44A12.46,12.46,0,0,1,164,78.23m0-5a17.44,17.44,0,1,0,17.44,17.44A17.44,17.44,0,0,0,164,73.23Z')

  
.b-top-submenu

  .b-top-submenu__close.visible-xs
  
    svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 181.42 181.42')
      line.cls-1(x1='7.04', y1='6.83', x2='174.38', y2='174.17')
      line.cls-1(x1='174.38', y1='6.83', x2='7.04', y2='174.17')
  
  h3 Типы коробок
  
  .row
    .col-md-3.col-sm-6
      ul
        li
          a( href="" ) Картонные коробки
        li
          a( href="" ) Четырехклапанные коробки
        li
          a( href="" ) Самосборные коробки
        li
          a( href="" ) Архивные коробки
        li
          a( href="" ) Гофроупаковка
          
    .col-md-3.col-sm-6
      ul
        li
          a( href="" ) Крупногабаритные
        li
          a( href="" ) Маленькие
        li
          a( href="" ) Архивные папки
        li
          a( href="" ) Картонные коробки с откидной крышкой
        li
          a( href="" ) Гофрокороба
          
    .col-md-3.col-sm-6
      ul
        li
          a( href="" ) Коробки с усиленным дном
        li
          a( href="" ) Коробки со съемной крышкой
        li
          a( href="" ) Палетные короба
        li
          a( href="" ) Потребительская упаковка
          
    .col-md-3.col-sm-6
      ul
        li
          a( href="" ) Тара и упаковка
        li
          a( href="" ) Транспортная упаковка
        li
          a( href="" ) Ящики из гофрированного картона
        li
          a( href="" ) Гофротара
          
  hr
  
  h3 Применение
  
  .row
    .col-md-3.col-sm-6
      ul
        li
          a( href="" ) Коробки для хранения
        li
          a( href="" ) Для цветов
        li
          a( href="" ) Упаковка для игрушек
        li
          a( href="" ) Упаковка для компакт дисков
          
    .col-md-3.col-sm-6
      ul
        li
          a( href="" ) Упаковка для мелочей
        li
          a( href="" ) Упаковка для одежды
        li
          a( href="" ) Упаковка для переезда
        li
          a( href="" ) Упаковка для печатной продукции
          
    .col-md-3.col-sm-6
      ul
        li
          a( href="" ) Упаковка для пиццы
        li
          a( href="" ) Упаковка для постельного белья
        li
          a( href="" ) Упаковка для посуды
        li
          a( href="" ) Почтовые коробки
          
    .col-md-3.col-sm-6
      ul
        li
          a( href="" ) Защитная упаковка
          
  hr
  
  h3 Гофрокартон
  
  .row
    .col-md-3.col-sm-6
      ul
        li
          a( href="" ) Гофрокартон
        li
          a( href="" ) Микрогофрокартон
          
    .col-md-3.col-sm-6
      ul
        li
          a( href="" ) Картон
        li
          a( href="" ) Гофролисты
          
    .col-md-3.col-sm-6
      ul
        li
          a( href="" ) Для детского творчества
        li
          a( href="" ) Изделия из картона
          
  hr
  
  h3 Упаковочные материалы
  
  .row
    .col-md-3.col-sm-6
      ul
        li
          a( href="" ) Упаковочные материалы
        li
          a( href="" ) Наполнители для упаковки
          
    .col-md-3.col-sm-6
      ul
        li
          a( href="" ) Упаковочное оборудование
        li
          a( href="" ) Стрей-пленка
          
    .col-md-3.col-sm-6
      ul
        li
          a( href="" ) Вспомогательные
          
    hr.visible-xs.visible-sm.clearfix
          
    .col-md-3.col-sm-6
      ul
        li
          a.i-important( href="" ) Товары со скидкой
          
  .b-top-submenu__up
    svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 181.42 181.42')
      polyline.cls-1(points='5.34 90.08 91.17 4.25 176.87 89.95')
