@import '../../styl/component-include.styl'

.b-top-menu
  line-height 68px
  font-size 11pt
  float right
  
  a
    color #000
    text-decoration none
    margin-left 24px
    //display none
    white-space nowrap
    
    /*&:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6)
      display inline
    
    @media ( max-width 1199px )
      
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6)
        display none
    
    @media ( max-width 767px )
      
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3)
        display none*/

  &__icon
    display inline-block
    vertical-align middle
    width 16px
    height 16px
    background-repeat no-repeat
    background-position center center
    background-size contain
    margin-left 37px
    cursor pointer
    
.b-top-submenu
  clear both
  text-align right
  line-height 30px
  font-size 11pt
  display none
  margin-bottom 20px
  
  a
    color #000
    text-decoration none
    margin-left 24px
    white-space nowrap
    
    /*&:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6)
      display none
    
    @media ( max-width 1199px )
      
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6)
        display inline
    
    @media ( max-width 767px )
      
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3)
        display inline*/
  