@import '../../styl/component-include.styl'

.b-top-menu
  height 40px
  line-height 40px
  display flex
  justify-content space-between
  font-size 9.5pt
  
  a
    white-space nowrap
    text-shadow 0 0 2px #fff
    
    &,
    &:active,
    &:focus
      color #333
      text-decoration none
      
    &:hover
      color #0086cd
      text-decoration none
          
    @media( max-width 991px )
      
      &:nth-child(n+5)
        display none
      
      &:last-child
        display inline
        
  &__icon
    cursor pointer
      
  &__text
    display inline-block
    margin-right 7px
      
  &__caret
    display inline-block
    vertical-align top
    width 5px
    height 5px
    border-left 1px solid #000
    border-bottom 1px solid #000
    transform( rotate( -45deg ))
    margin-top 17px
