.b-ideas-card( itemscope itemtype="http://schema.org/ImageGallery" )
  
  a.b-ideas-card__img( href="/ideas/detail/" style="background-image: url( '/upload/ideas/1.jpg' );" itemprop="image" )
  
  h3( itemprop="name" ) Дизайн упаковки Creature
  
  p( itemprop="description" ) Дизайнер из Вильнюса Gražina Bočkutė создал интерактивную экологически безопасную упаковку инструментов...
  
  .b-ideas-card__bottom
    
    a( href="/ideas/detail/" ) Читать подробнее
    span 16.08.2017