@import '../../styl/component-include.styl'

.b-ideas
  
  section &
    margin-top -40px
  
  h2
    display inline-block
    vertical-align top
    margin-left 50px
    
    .b-h-sup
      font-size 9.5pt
      margin 0 0 0 12px
      display inline-block
      vertical-align top
      color #585858
      
  .btn-link
    display inline-block
    vertical-align top
    margin 25px 0 0 97px
      
    @media( max-width 767px )
      margin 0
    
  &-card
    background-color #fff
    padding 25px 25px 70px
    position relative
    font-size 18px
    font-weight 300
    min-height 510px
    border 1px solid #e3e3e3
      
    &__img
      display block
      padding-top 67.7%
      background-repeat no-repeat
      background-position center
      background-size cover
      
    h3
      margin-top 14px
      max-height 90px
      overflow hidden
      line-height 1.25
      font-size 24px
      
    p
      color #666666
      margin 11px 0
      max-height 76px
      overflow hidden
      
    &__bottom
      position absolute
      bottom 25px
      left 0
      width 100%
      padding 0 25px
      
      a
        color #3f9fc0
        float left
      
      span
        float right
        
      &:after
        content ''
        clear both
      
  .fotorama__arr
    width 30px
    height 100px
    top 50%
    margin-top -50px
    transition( all 0.3s ease !important )
    
    &--prev
      left 0
      background embedurl( 'img/arrow-left.png' ) no-repeat center center transparent
      background-size 30%
    
    &--next
      right 0
      background embedurl( 'img/arrow-right.png' ) no-repeat center center transparent
      background-size 30%
      
    &:hover
      background-color rgba( 204,204,204,.8)
      
    &:active
      background-color rgba( 204,204,204,.5)
      
  .fotorama__nav-wrap
    display none
    
  .fotorama__html
    padding 0 50px !important