p Коробки пенального типа состоят из&nbsp;двух частей: обечайка и&nbsp;корпус, вставляемый внутрь обечайки вертикально или горизонтально. К&nbsp;ящикам пенального типа относятся внешние обечайки и&nbsp;внутренние корпуса коробок других типов.
p Сборные ящики сшиваются из&nbsp;двух заготовок и&nbsp;образуют обечайку с&nbsp;дополнительными клапанами, крышкой и&nbsp;дном.
p Раздвижные коробки пенального типа изготавливаются традиционными способами&nbsp;&mdash; склейкой клеем или клейкой лентой, прошивкой скобами. Благодаря простоте конструкции и&nbsp;производства эти коробки имеют малую стоимость, что несомненно заинтересует практичных и&nbsp;экономных заказчиков и&nbsp;покупателей.
p Коробки пенального типа поставляются в&nbsp;плоском виде, в&nbsp;пачках.