// start /components/rrequest-form-individual-boxes/

link( rel="stylesheet", href="/components/request-form/style.css" )
script( src="/components/request-form/script.js" )
script( src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js" )



.form-group
  input.form-control( name="phone" type="tel" value="+7(" required )
// end /components/request-form-individual-boxes/