.a-catalog-card
  .card-image
    a(href="")
      img.img-responsive( src="/img/fefco-temp-1.jpg")
    .card-name-block.text-small
      .card-name
        a(href="") Коробки оберточного типа и складные ящики, коробки с крышкой и дном
        span.line-counter &nbsp;(16)
      .card-price
        a.btn.btn-type-2.btn-sm.btn-inline(href="") Подробнее
        
        
    