.col-md-4-flexbox.col-sm-6-flexbox.col-sm-12-flexbox.b-products-set
  
  .b-products-set__body

    h3.text-center dBox "Starter"
    
    hr.i-line-simple
    
    p.text-muted Идеально подходит для разработки вашей первой коробки
    
    ul
      li Консультация эксперта
      li Аудит упаковки
      li Конструирование упаковки
      li Уникальный дизайн
      li Изготовление прототипа
      li Производство
      li Доставка
      
    .b-products-set__button.text-center
      a.btn.btn-default.btn-md( href="" ) Рассчитать

