.row.text-small
  .col-md-6
    .h5 Дополнительные элементы упаковки
    p Размеры упаковочных коробок выбираются с точки зрения рациональной затарки и оптимизации расходов на погрузку, транспортировку, хранение. 
    p При выборе типовой готовой тары учитывайте прочность, жесткость, возможность усиления каркаса, общую высоту и внешние габариты в привязке к погрузке на поддоны. 
    p Базовые параметры и критерии при производстве на заказ:
    ul
      li тип и габариты единичной тары (бутылка, маленькая коробка, дойпак и т.п.);
      li тип продукта (вода газированная и без газа, соки, крупы, мука, продукт без индивидуальной упаковки);
      li условия фасовки (ручная, автомат);
      li условия хранения и перегрузки (на паллетах и без, с повышением и без).
    p Рекомендуем предоставить образцы индивидуальной упаковки для обмера и проектирования гофротары. Размеры картонных коробок и число единиц товара внутри могут варьироваться с учетом веса одного места, требований к реализации продукта.
    p Рекомендуем предоставить образцы индивидуальной упаковки для обмера и проектирования гофротары.
  
  .col-md-6
    .h5 Дополнительные элементы упаковки
    p Размеры упаковочных коробок выбираются с точки зрения рациональной затарки и оптимизации расходов на погрузку, транспортировку, хранение. 
    p При выборе типовой готовой тары учитывайте прочность, жесткость, возможность усиления каркаса, общую высоту и внешние габариты в привязке к погрузке на поддоны. 
    p Базовые параметры и критерии при производстве на заказ:
    ul
      li тип и габариты единичной тары (бутылка, маленькая коробка, дойпак и т.п.);
      li тип продукта (вода газированная и без газа, соки, крупы, мука, продукт без индивидуальной упаковки);
      li условия фасовки (ручная, автомат);
      li условия хранения и перегрузки (на паллетах и без, с повышением и без).
    p Рекомендуем предоставить образцы индивидуальной упаковки для обмера и проектирования гофротары. Размеры картонных коробок и число единиц товара внутри могут варьироваться с учетом веса одного места, требований к реализации продукта.
    p Рекомендуем предоставить образцы индивидуальной упаковки для обмера и проектирования гофротары.