// start /include/construct/advantages/

.catalog-preim-container
  .catalog-preim-item(style="background-image: url(/img/svg/magazin_morda_1.svg);")
    span.text Можем нанести печать на&nbsp;любую конструкцию
  .catalog-preim-item(style="background-image: url(/upload/fefco/fefco_morda_1.svg);")
    span.text Мы&nbsp;адаптируем конструкцию к&nbsp;вашему продукту
  .catalog-preim-item(style="background-image: url(/img/svg/magazin_morda_2.svg);")
    span.text Большой выбор форм и&nbsp;размеров
  .catalog-preim-item(style="background-image: url(/img/svg/magazin_morda_3.svg);")
    span.text Самовывоз сегодня или доставка завтра

// end /include/construct/advantages/