// start /include/construct/advantages/

.row.catalog-advantags
  .col-sm-4
    .catalog-advantags-item(style="background-image: url(/img/catalog_advantags/opt.svg);")
      span.text Возможность купить товар<br>оптом и&nbsp;в&nbsp;розницу
    
  .col-sm-4
    .catalog-advantags-item(style="background-image: url(/img/catalog_advantags/ot1sht.svg);")
      span.text Изготавливаем заказы<br>от&nbsp;1&nbsp;штуки
    
  .col-sm-4
    .catalog-advantags-item(style="background-image: url(/img/catalog_advantags/kachestvo.svg);")
      span.text Высокое качество,<br>низкие цены
    
  .col-sm-4
    .catalog-advantags-item(style="background-image: url(/img/catalog_advantags/proizv.svg);")
      span.text Магазин, склад, офис<br>и&nbsp;производство в&nbsp;5км от&nbsp;Москвы
    
  .col-sm-4
    .catalog-advantags-item(style="background-image: url(/img/catalog_advantags/print.svg);")
      span.text Наносим печать<br>в&nbsp;2&nbsp;цвета
      
  .col-sm-4
    .catalog-advantags-item(style="background-image: url(/img/catalog_advantags/kpngbr.svg);")
      span.text Производство крупногабаритной<br>упаковки
      
  .col-sm-4
    .catalog-advantags-item(style="background-image: url(/img/catalog_advantags/fast.svg);")
      span.text Срочное изготовление<br>на&nbsp;заказот&nbsp;1&nbsp;дня
      
  .col-sm-4
    .catalog-advantags-item(style="background-image: url(/img/catalog_advantags/design.svg);")
      span.text Разрабатываем дизайн<br>и&nbsp;конструкцию
      
  .col-sm-4
    .catalog-advantags-item(style="background-image: url(/img/catalog_advantags/dostavka.svg);")
      span.text Доставляем по&nbsp;Москве,<br>МО&nbsp;и&nbsp;РФ



// end /include/construct/advantages/