
.container-fluid.bg-gray-1
  .section-lg
    .container
      .col-md-3.col-md-offset-1
        .h4 Доставка
        div Доставка по&nbsp;Москве и&nbsp;МО.<br>Минимальная сумма заказа для доставки&nbsp;&mdash; 3&nbsp;000&nbsp;руб.
        
      .col-md-3.col-md-offset-1
        .h4 Оплата
        div Оплатить заказ вы&nbsp;можете: наличными при получении или по&nbsp;счету.
      
      .col-md-3.col-md-offset-1
        .h4 Возврат
        div Возврат осуществляется втечение 14-ти дней со&nbsp;дня продажи.