//  start include servis puth gotovie
.h2.text-center-xs Как заказать упаковку?
.hidden-xs
  hr.i-size-S
  img.img-responsive(src="/img/svg/SP_GOTOVAYA.svg" alt="Сервисный путь - покупка готовой упаковки в наличии или с возможность применения дополнительных опций")
  
.visible-xs
  img.img-responsive(src="/img/svg/SP_GOTOVAYA_XS_PUT1.svg" alt="Сервисный путь - покупка готовой упаковки в наличии")
  hr.i-size-S
  img.img-responsive(src="/img/svg/SP_GOTOVAYA_XS_PUT2.svg" alt="Сервисный путь - покупка готовой упаковки с возможность применения дополнительных опций")

//  end include servis puth gotovie