//  start include servis puth gotovie
.h2.text-center-xs Как заказать упаковку?
.hidden-xs
  hr.i-size-S
  include ../images/svg/SP_GOTOVAYA.svg
  
.visible-xs
  include ../images/svg/SP_GOTOVAYA_XS_PUT1.svg
  hr.i-size-S
  include ../images/svg/SP_GOTOVAYA_XS_PUT2.svg

//  end include servis puth gotovie