//  start include servis puth proizvodstvo
.h2.text-center-xs Как заказать упаковку по&nbsp;своим размерам?
.hidden-xs
  hr.i-size-S
  img.img-responsive(src="/img/svg/SP_PROIZVODSTVO.svg" alt="Сервисный путь - изготовление упаковки под заказ")
  
.visible-xs
  img.img-responsive(src="/img/svg/SP_PROIZVODSTVO_XS_PUT1.svg" alt="Сервисный путь - изготовление упаковки по конструкции из каталога")
  hr.i-size-S
  img.img-responsive(src="/img/svg/SP_PROIZVODSTVO_XS_PUT2.svg" alt="Сервисный путь - изготовление упаковки с разработкой дизайна")
//  end include servis puth proizvodstvo