//  start include servis puth proizvodstvo
.h2.text-center-xs Как заказать упаковку по&nbsp;своим размерам?
.hidden-xs
  hr.i-size-S
  include ../images/svg/SP_PROIZVODSTVO.svg
  
.visible-xs
  include ../images/svg/SP_PROIZVODSTVO_XS_PUT1.svg
  hr.i-size-S
  include ../images/svg/SP_PROIZVODSTVO_XS_PUT2.svg
//  end include servis puth proizvodstvo