extends ../layouts/main.jade

block title
  title Main page | antech

block content
  
  .b-top-panel
    .container
      -var header = "Портфолио"
      include ../modules/top-header/include
      include ../modules/top-menu/include
  
  
  .container.container-fulwidth-xs(style="margin-top: 10px; margin-bottom: 10px;")
    .col-sm-8.col-md-9
      .row.row-xs
        .bn-item.production-baner-1
          .production-baner-1-plashka
            .h2 Производство гофротары
            ul
              li(style="list-style: none;") Мы&nbsp;производим гофротару из&nbsp;2-х, 3-х, 5-ти, 7-ми-слойного гофрокартона и&nbsp;микрогофрокартона белого или бурого (крафт) цветов
              li Наносим многоцветную флексопечать
              li Делаем вставки пластиковых окошек, ручек, деревянных, пластиковых или полимерных внешних и&nbsp;внутренних ложементов
              li Изготавливаем гофротару больших размеров
          
        
    .col-sm-4.col-md-3
      .row.index-col-ord
        .bn-item.production-baner-2
          .ib2-name.h3 Разработаем<br>конструкцию<br>и&nbsp;дизайн
          .ib2-text Уникальная упаковка&nbsp;&mdash;<br>эффективный инструмент<br>для увеличения продаж
          a#razrabotka-link.btn.btn-type-2-sm(href="#razrabotka") Подробнее о&nbsp;разработке
        .bn-item.production-baner-3
          a.play-link(href="#" data-toggle="modal" data-target="#aboutVideo")
            img.play-icon(src="/upload/banner/play_button.svg")
            span 90&nbsp;секунд о&nbsp;производстве
    

  #aboutVideo.modal.modal(tabindex='-1', role='dialog', aria-labelledby='aboutVideoLabel')
    .modal-dialog.modal-lg(role='document')
      .modal-content.text-middle
      
        .close(type='button', data-dismiss='modal', aria-label='Close')
        .modal-body.center
          .embed-responsive.embed-responsive-16by9
            iframe( id="indexVideoPlay" src="https://www.youtube.com/embed/7DBxtut7Mpw?enablejsapi=1&rel=0&autoplay=0" frameborder="0" allowfullscreen )
  
  
  .section
    .container
      .col-md-6
        .row
          .index-preim-item.col-xs-6(style="background-image: url(/img/preimushestva/production/24hour.svg);") Производим упаковку от&nbsp;1&nbsp;дня
          .index-preim-item.col-xs-6(style="background-image: url(/img/preimushestva/production/ot1shtuki.svg);") Делаем заказы от&nbsp;1&nbsp;штуки
      .col-md-6
        .row
          .index-preim-item.col-xs-6(style="background-image: url(/img/preimushestva/production/probnaya_partiya.svg);") Изготавливаем пробную партию
          .index-preim-item.col-xs-6(style="background-image: url(/img/preimushestva/production/big_size.svg);") Делаем упаковку больших размеров

  .container
    hr.gray
  
  
  
  .section.bg-gray
    
    .container
    

      include ../include/serv_puth_proizvodstvo
      

    .container
      include ../components/catalog.section.construct-morda/template
    
      
      
  include ../modules/call-me-block/include
  
  .section
    .container
      h2.text-center-xs Процесс изготовления картонной упаковки
      .row.production-process
        .col-sm-4.col-item(style="background-color: #cadfd4;")
          img.img-responsive(src="/img/production/production-process-01.png")
          #razrabotka.h2 1. Разработка
          h3#razrabotka-block Разработка картонной упаковки
          p Разрабатываем конструкцию и&nbsp;дизайн картонной упаковки с&nbsp;учетом параметров продукта, логистических процессов и&nbsp;маркетинговых задач
          
          h3 Варианты разработки
          ul.marker-red-round
            li Промышленный и&nbsp;испытательный образцы
            li В&nbsp;процессе разработки предоставляем тестовый образец.
            li Для функционального и&nbsp;маркетингового тестирования изготавливаем промышленные образцы и&nbsp;испытательные партии.
        
        .col-sm-4.col-item(style="background-color: #d2dfea;")
          img.img-responsive(src="/img/production/production-process-02.png")
          .h2 2. Изготовление
          h3 Производство и&nbsp;технологии
          p Наше современное оборудование позволяет производить высококачественную гофроупаковку любой сложности и&nbsp;тиража в&nbsp;кратчайшие сроки.
          
          h3 Технологии и возможности
          ul.marker-red-round
            li Просечка, высечка штампом, плоттерная резка без применения штампа изделий из&nbsp;3-х/5-ти/7-ми-слойного гофрокартона с&nbsp;максимальным размером одной заготовки 2000-3500&nbsp;мм
            li Растровая флексопечать на&nbsp;гофрокартоне
            li Многоцветная офсетная печать на&nbsp;плоском картоне с&nbsp;добавлением лакирования, тиснения, конгрева и&nbsp;фольгирования
            li Каширование (приклеивание полиграфического картона к&nbsp;гофрокартону)
            li Вклейка и&nbsp;вставка пластиковых окошек, деревянных, кожаных вставок
            li Склейка, скобирование, сборка
        
        .col-sm-4.col-item(style="background-color: #fafbc9;")
          img.img-responsive(src="/img/production/production-process-03.png")
          .h2 3. Отгрузка
          h3#delivery-block Доставка
          p Доставляем заказы по&nbsp;Москве и&nbsp;МО собственным специализированным транспортом.
          p В&nbsp;регионы доставку осуществляем через транспортные компании.
          
          h3 Отгрузка со&nbsp;склада
          p Осуществляем отгрузку готовой продукции ежедневно, кроме воскресенья, с&nbsp;9:00 до&nbsp;18:0. При самовывозе проконсультируйтесь, пожалуйста, с&nbsp;менеджером относительно особенностей, которыми обладает упаковка из&nbsp;гофрокартона, и&nbsp;которые необходимо учитывать при выборе транспортного средства (гофрокороба имеют малый вес, но&nbsp;большой объем и&nbsp;габариты).
          
          h3#warranty-block Гарантии
          p Мы&nbsp;гарантируем высокое качество продукции, четкие сроки и&nbsp;высокий уровень предоставляемых нами услуг.
      
    
  .section
    .container
      .col-md-6
        .h4 Из чего складывается цена упаковки?
        p
          | Цена коробки зависит от нескольких составляющих: затраты на сырье и затраты на изготовление. Затраты сырья определяются площадью заготовки.
        p
          | Площадь заготовки зависит от выбранной конструкции. Чем сложнее конструкция и больше площадь заготовки тем выше стоимость заготовки. Так же при раскрое заготовок могут образовываться обрезки, которые невозможно исключить из стоимости изделия. Затраты на производство состоят из операций, необходимых для изготовления. Изготовление упаковки включает следующие операции: нарезка листа на заготовки, нанесение печати на заготовку, просечка в заготовке раскроя коробки; склейка и/или скобирование; связка в пачки и палетизация.
        p
          | Каждая операция требует приладки оборудования, поэтому чем больше тираж — тем ниже стоимость упаковки в расчете на одно изделие.
        p Проявите бдительность, если Вам предлагают очень низкую цену!
      .col-md-6
        .h4 Советы по подбору конструкции
        p Для правильного выбора конструкции необходимо знать:
        ul.marker-red-round
          li В каких целях будет использоваться упаковка: транспортировка, продажа с витрины
          li Какой способ загрузки товара: сверху, сбоку, снизу или оборачиванием
          li
            | Вес упаковываемого предмета и внешнюю нагрузку на упаковку в процессе складирования и перевозки
          li
            | Дополнительные необходимые опции упаковки: отверстия для рук, вентиляционные и презентационные окна
          li Требуется ли усилить функции упаковки
          li Нужно ли фиксировать внутри упаковки товар, или отдельные компоненты
        p
          | Для подбора размера нужно измерить габаритные размеры упаковываемого предмета по трем направлениям: длина, ширина, высота (в миллиметрах). В дальнейшем это будут внутренние размеры упаковки. Если товар сыпучий — определите размер упаковки, наиболее подходящий Вам для транспортировки и складирования
       
           
  
  include ../modules/call-me-block/include
      
      
  section.i-gray
    .container
      include ../components/ideas/template
     
  section
    .container
      h2.b-h1.center Мы делали упаковку для:
      hr
      .row
        .col-sm-2.col-xs-4
          a(href='')
            img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
        .col-sm-2.col-xs-4
          a(href='')
            img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
        .col-sm-2.col-xs-4
          a(href='')
            img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
        hr.hidden-sm.visible-xs-block.clearfix
        .col-sm-2.col-xs-4
          a(href='')
            img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
        .col-sm-2.col-xs-4
          a(href='')
            img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
        .col-sm-2.col-xs-4
          a(href='')
            img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
      hr
      .row
        .col-sm-2.col-xs-4
          a(href='')
            img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
        .col-sm-2.col-xs-4
          a(href='')
            img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
        .col-sm-2.col-xs-4
          a(href='')
            img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
        hr.hidden-sm.visible-xs-block.clearfix
        .col-sm-2.col-xs-4
          a(href='')
            img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
        .col-sm-2.col-xs-4
          a(href='')
            img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
        .col-sm-2.col-xs-4
          a(href='')
            img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
      hr
      #clientsAccordion
        a.accordion-toggle.collapsed(data-toggle='collapse', href='#clientsCollapse', data-parent='#clientsAccordion')
        #clientsCollapse.collapse
          .row
            .col-sm-2.col-xs-4
              a(href='')
                img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
            .col-sm-2.col-xs-4
              a(href='')
                img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
            .col-sm-2.col-xs-4
              a(href='')
                img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
            hr.hidden-sm.visible-xs-block.clearfix
            .col-sm-2.col-xs-4
              a(href='')
                img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
            .col-sm-2.col-xs-4
              a(href='')
                img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
            .col-sm-2.col-xs-4
              a(href='')
                img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
          .row
            .col-sm-2.col-xs-4
              a(href='')
                img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
            .col-sm-2.col-xs-4
              a(href='')
                img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
            .col-sm-2.col-xs-4
              a(href='')
                img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
            hr.hidden-sm.visible-xs-block.clearfix
            .col-sm-2.col-xs-4
              a(href='')
                img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
            .col-sm-2.col-xs-4
              a(href='')
                img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
            .col-sm-2.col-xs-4
              a(href='')
                img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
  hr
      
  .section
    .container
      .h3 Портфолио

  
  section
    .container
      include ../components/testimonial/template

  
  section
    .container
      include ../components/team/template
  
  
    //-include ../modules/video-banner/include

                
  section
    .container
      h2.b-h1.center Мы делали упаковку для:
      hr
      
      - var n = 0
        while n < 2
          - n++
          .row
            - var k = 0
              while k < 6
                - k++
                .col-sm-2.col-xs-4
                  a( href="" )
                    img( src="/upload/clients/1.jpg" alt="" ).img-responsive.center-block
                    
                if k==3
                  hr.hidden-sm.visible-xs-block.clearfix
              
          hr
          
      #clientsAccordion      
        a.accordion-toggle.collapsed( data-toggle="collapse" href="#clientsCollapse" data-parent="#clientsAccordion" )
        
        #clientsCollapse.collapse
          - var n = 0
            while n < 2
              - n++
              .row
                - var k = 0
                  while k < 6
                    - k++
                    .col-sm-2.col-xs-4
                      a( href="" )
                        img( src="/upload/clients/1.jpg" alt="" ).img-responsive.center-block
                        
                    if k==3
                      hr.hidden-sm.visible-xs-block.clearfix
              
      hr
      

  .section
    .container
      .h3 Портфолио


  section
    .container
      h2.b-h1.center 3 этапа нашей работы
      
      p.text-muted.text-large.center Нашим заказчикам не о чем беспокоится
      
      include ../modules/menu-list/include4
        
  section.i-gray
    .container#economy
      h2.b-h1.center Экономим время и деньги
      
      hr.i-size-XS
      
      .b-nav-tabs.nav.nav-tabs( role="tablist" )
        .btn-group( role="group" )
          a( href="#page1" aria-controls="page1" role="tab" data-toggle="tab" ).btn.btn-default.btn-menu.active
            span Консультация и выезд эксперта
          a( href="#page2" aria-controls="page2" role="tab" data-toggle="tab" ).btn.btn-default.btn-menu
            span Разработка упаковки
          a( href="#page3" aria-controls="page3" role="tab" data-toggle="tab" ).btn.btn-default.btn-menu
            span 3D-модель и испытательный образец
            
      hr
            
      p.text-muted.text-large.center Воспользуйтесь бесплатно услугой выезда нашего эксперта
  
      hr
      
      include ../modules/checkbox-block/include
      
      hr.i-size-M
                  
      .center
        a.btn.btn-default( href="#" data-toggle="modal" data-target="#callMe" ) Воспользоваться
        
  include ../modules/call-me/include
        
  section.i-gray
    .container
      
      h2.b-h1.center Пакеты услуг
        
      .row
        .col-sm-6.col-sm-offset-3.text-muted.text-large.center Разработка упаковки требует особого внимания, каждая деталь имеет значение. Мы предлагаем Вам комплексные упаковочные  решения
      
      hr
      
      .row-flexbox
        include ../modules/products-set/include1
      
        include ../modules/products-set/include2
      
        include ../modules/products-set/include3
      
        include ../modules/products-set/include2
      
        include ../modules/products-set/include3
      
        include ../modules/products-set/include1
        
        
  section
    .container
      h2.b-h1.center 12 бесплатных цветов
        
      p.text-muted.text-large.center У нас вы можете воспользоваться бесплатными базовыми<br>цветами для нанесения печати
      
      include ../modules/palette/include
        
  section.i-gray.i-gallery-top
    .container
    
      h2.b-h1.center Примеры выполненных заказов
      
      p.text-muted.text-large.center В галерее представлены работы, которые<br>позволят оценить наши возможности.
      
  .b-gallery
      
    include ../modules/gallery/fotorama
    include ../modules/gallery/include
    include ../modules/gallery/mob
  
  section.i-gray.i-gallery-bottom
    .container
      .b-gallery-link.center
        a( href="" ).b-icon
        br
        a( href="" ) Галерея работ

              hr
            section
    .container
      h2.b-h1.center Наши возможности
      
      .b-simple-nav
        // Nav tabs
        ul.nav.nav-tabs(role='tablist')
          li.active(role='presentation')
            a(href='#materials', aria-controls='materials', role='tab', data-toggle='tab') Материалы
          li(role='presentation')
            a(href='#facilities', aria-controls='facilities', role='tab', data-toggle='tab') Возможности
            
        hr
            
//-        // Tab panes
//-        .tab-content
//-          #materials.tab-pane.active(role='tabpanel')
//-            include ../modules/accordion/include
//-            
//-          #facilities.tab-pane(role='tabpanel')
//-            include ../modules/accordion/include2