.col-md-6
  h4 Конструкция коробки
  p Длинные и&nbsp;телескопические коробки из&nbsp;гофрокартона по&nbsp;FEFCO 03хх могут быть:
  ul
    li с&nbsp;усилением по&nbsp;длине, ширине или обоим параметрам;
    li с&nbsp;четырехклапанным и&nbsp;восьмигранным корпусом;
    li с&nbsp;крышкой, без клапанов, со&nbsp;склейкой с&nbsp;внешней стороны;
    li с&nbsp;одной или двумя крышками.
  p Крышка перекрывает дно по&nbsp;высоте. Если производитель вносит изменения в&nbsp;конструкцию, маркировка записывается так: 03хх-х.
  h4 Размеры коробок
  p Длина картонной коробки ограничена размерами заготовки. Возможно изготовление телескопического гофрокороба по&nbsp;размерам заказчика с&nbsp;любым соотношением сторон. Маркировка читается как (Длина)х(Ширина)х(Высота)/(высота крышки)&nbsp;&mdash; (L)х(B)х(H)/(h).
  p Используются для
  ul
    li цветов, горшечных растений;
    li одежды, обуви, текстиля;
    li оборудования, техники и&nbsp;частей;
    li мебели;
    li продуктов в&nbsp;упаковке и&nbsp;без;
    li доставки пиццы;
    li документов, переезда.
  h4 Особенности поставки
  p Поставляются в&nbsp;разобранном виде, сборка вручную. Производятся посредством высечки макета из&nbsp;заготовки. Изготовление на&nbsp;заказ требует разработки шаблона. Чем больше объем заказа&nbsp;&mdash; тем ниже цена. Изготавливаем и&nbsp;продаем от&nbsp;1&nbsp;штуки.

.col-md-6
  h4 Выбор коробки
  p При заказе следует учесть характер и&nbsp;габариты продукции, допустимую массу одной упаковки, необходимость нанесения печати, тип сборки, возможности утилизации. Чтобы сэкономить, рекомендуем:
  ul
    li предоставить нам образцы товара для выбора тары;
    li отдать предпочтение базовой конструкции упаковки;
    li заказывать партии от&nbsp;1000&nbsp;штук.
  p Разрабатываем тестовый и&nbsp;промышленный образец бесплатно. Консультируем по&nbsp;выбору, разрабатываем дизайн с&nbsp;учетом минимизации затрат.
  h4 Преимущества
  p Современное оснащение цехов гарантирует:
  ul
    li изготовление конструкций FEFCO 03хх от&nbsp;1&nbsp;дня;
    li разработку и&nbsp;производство тары с&nbsp;нуля за&nbsp;4-6&nbsp;дней;
    li вставку ручек, окошек, комбинирование типов;
    li отсутствие брака, адекватную стоимость.
  p Изготавливаем тару очень больших размеров. Найдем решение для негабаритных грузов.
  h4 Доставка
  p Самовывоз со&nbsp;склада на&nbsp;производстве в&nbsp;Красногорске пн-сб с&nbsp;9:00 до&nbsp;18:00. Доставка по&nbsp;Москве партий любого объема. В&nbsp;регионы&nbsp;&mdash; через транспортные компании. Расчет объема партии и&nbsp;стоимости доставки предоставляется в&nbsp;виде коммерческого предложения. Отгрузка готовых типоразмеров в&nbsp;день оплаты. Гибкие условия расчета при постоянном сотрудничестве.