// start /components/video-banner/

link( rel="stylesheet", href="/components/video-banner/style.css" )
script( src="/components/video-banner/script.js" )
  
.b-video-banner2
  div( style="background-color: pink;" )
    .container
      .b-video-player2-container
        .b-video-player( data-video-id="7DBxtut7Mpw" )
          
    .b-video-banner2__cover( style="background-image: url( '/template/images/fotorama-video-bg.png' );")
      .b-video-banner2__ill( style="background-image: url( '/template/images/video-banner2-ill.jpg' );" )
      .container
      
        .b-video-button2
          .i-icon
          .b-video-button2__text Смотреть презентацию
          
        .b-h1
          span.b-laquo
          | Если упаковка особенная, то и содержимое становится особенным
          span.b-raquo
        p.b-video-banner__sign
          em Антон Блинов. Основатель компании
      
        .b-video-button2.i-text
          .i-icon
          .b-video-button2__text  Смотреть презентацию

// end /components/video-banner/