
<!-- start /include/fefco/advantages/-->
<div style="background-image: url(/upload/fefco/fefco_morda_1.svg);" class="fefco-preim-item col-sm-4 col-xs-12">Мы&nbsp;адаптируем конструкцию к&nbsp;вашему продукту</div>
<div style="background-image: url(/upload/fefco/fefco_morda_2.svg);" class="fefco-preim-item col-sm-4 col-xs-12">Создадим привлекательное оформление</div>
<div style="background-image: url(/upload/fefco/fefco_morda_3.svg);" class="fefco-preim-item col-sm-4 col-xs-12">Сделаем промышленный образец и&nbsp;пробную партию</div>
<!-- end /include/fefco/advantages/-->