
<!-- start /components/fefco/-->
<link rel="stylesheet" href="/components/fefco/style.css"/>
<script src="/components/fefco/script.js"></script>
<div class="a-fefco">
  <div class="section section-lines-top">
    <div class="row fefco-flex-line">
      <div class="col-md-9">
        <!-- start /include/fefco/description/-->
        <p>FEFCO European Federation of&nbsp;Corrugated Board Manufacturers&nbsp;&mdash; европейская ассоциация производителей продукции из&nbsp;гофрокартона, основана в&nbsp;1952&nbsp;году.</p>
        <p>Просто выбираете конструкцию, мы&nbsp;изготовим.</p>
        <!-- end /include/fefco/description/-->
      </div>
      <div class="col-md-3"><a class="btn btn-type-3">Скачать каталог FEFCO</a>
        <hr class="i-size-S"/>
      </div>
    </div>
    <hr class="gray i-size-S"/>
    <div class="row fefco-preim-container">
      <!-- start /include/fefco/advantages/-->
      <div style="background-image: url(/upload/fefco/fefco_morda_1.svg);" class="fefco-preim-item col-sm-4 col-xs-12">Мы&nbsp;адаптируем конструкцию к&nbsp;вашему продукту</div>
      <div style="background-image: url(/upload/fefco/fefco_morda_2.svg);" class="fefco-preim-item col-sm-4 col-xs-12">Создадим привлекательное оформление</div>
      <div style="background-image: url(/upload/fefco/fefco_morda_3.svg);" class="fefco-preim-item col-sm-4 col-xs-12">Сделаем промышленный образец и&nbsp;пробную партию</div>
      <!-- end /include/fefco/advantages/-->
    </div>
  </div>
  <!-- fefco item greed start-->
  <div class="row section-grid">
    <div class="col-md-6 border-line-bottom-xs">
      <div class="a-fefco-card"><a href="" class="card-image"><img src="/upload/fefco/section-temp-1.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name text-center">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span>
              <div class="card-price">от <b>35,45</b> р</div>
            </div>
          </div></a></div>
    </div>
    <div class="col-md-6 border-line-bottom-xs">
      <div class="a-fefco-card"><a href="" class="card-image"><img src="/upload/fefco/section-temp-2.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name text-center">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span>
              <div class="card-price">от <b>35,45</b> р</div>
            </div>
          </div></a></div>
    </div>
    <div class="col-md-6 border-line-bottom-xs">
      <div class="a-fefco-card"><a href="" class="card-image"><img src="/upload/fefco/section-temp-3.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name text-center">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span>
              <div class="card-price">от <b>35,45</b> р</div>
            </div>
          </div></a></div>
    </div>
    <div class="col-md-6 border-line-bottom-xs">
      <div class="a-fefco-card"><a href="" class="card-image"><img src="/upload/fefco/section-temp-1.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name text-center">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span>
              <div class="card-price">от <b>35,45</b> р</div>
            </div>
          </div></a></div>
    </div>
    <div class="col-md-6 border-line-bottom-xs">
      <div class="a-fefco-card"><a href="" class="card-image"><img src="/upload/fefco/section-temp-2.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name text-center">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span>
              <div class="card-price">от <b>35,45</b> р</div>
            </div>
          </div></a></div>
    </div>
    <div class="col-md-6 border-line-bottom-xs">
      <div class="a-fefco-card"><a href="" class="card-image"><img src="/upload/fefco/section-temp-3.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name text-center">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span>
              <div class="card-price">от <b>35,45</b> р</div>
            </div>
          </div></a></div>
    </div>
    <div class="col-md-6 border-line-bottom-xs">
      <div class="a-fefco-card"><a href="" class="card-image"><img src="/upload/fefco/section-temp-1.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name text-center">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span>
              <div class="card-price">от <b>35,45</b> р</div>
            </div>
          </div></a></div>
    </div>
    <div class="col-md-6 border-line-bottom-xs">
      <div class="a-fefco-card"><a href="" class="card-image"><img src="/upload/fefco/section-temp-2.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name text-center">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span>
              <div class="card-price">от <b>35,45</b> р</div>
            </div>
          </div></a></div>
    </div>
    <div class="col-md-6 border-line-bottom-xs">
      <div class="a-fefco-card"><a href="" class="card-image"><img src="/upload/fefco/section-temp-3.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name text-center">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span>
              <div class="card-price">от <b>35,45</b> р</div>
            </div>
          </div></a></div>
    </div>
    <div class="col-md-6 border-line-bottom-xs">
      <div class="a-fefco-card"><a href="" class="card-image"><img src="/upload/fefco/section-temp-1.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name text-center">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span>
              <div class="card-price">от <b>35,45</b> р</div>
            </div>
          </div></a></div>
    </div>
    <div class="col-md-6 border-line-bottom-xs">
      <div class="a-fefco-card"><a href="" class="card-image"><img src="/upload/fefco/section-temp-2.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name text-center">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span>
              <div class="card-price">от <b>35,45</b> р</div>
            </div>
          </div></a></div>
    </div>
    <div class="col-md-6 border-line-bottom-xs">
      <div class="a-fefco-card"><a href="" class="card-image"><img src="/upload/fefco/section-temp-3.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name text-center">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span>
              <div class="card-price">от <b>35,45</b> р</div>
            </div>
          </div></a></div>
    </div>
    <div class="col-md-6 border-line-bottom-xs">
      <div class="a-fefco-card"><a href="" class="card-image"><img src="/upload/fefco/section-temp-1.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name text-center">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span>
              <div class="card-price">от <b>35,45</b> р</div>
            </div>
          </div></a></div>
    </div>
    <div class="col-md-6 border-line-bottom-xs">
      <div class="a-fefco-card"><a href="" class="card-image"><img src="/upload/fefco/section-temp-2.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name text-center">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span>
              <div class="card-price">от <b>35,45</b> р</div>
            </div>
          </div></a></div>
    </div>
    <div class="col-md-6 border-line-bottom-xs">
      <div class="a-fefco-card"><a href="" class="card-image"><img src="/upload/fefco/section-temp-3.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name text-center">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span>
              <div class="card-price">от <b>35,45</b> р</div>
            </div>
          </div></a></div>
    </div>
    <div class="col-md-6 border-line-bottom-xs">
      <div class="a-fefco-card"><a href="" class="card-image"><img src="/upload/fefco/section-temp-1.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name text-center">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span>
              <div class="card-price">от <b>35,45</b> р</div>
            </div>
          </div></a></div>
    </div>
    <div class="col-md-6 border-line-bottom-xs">
      <div class="a-fefco-card"><a href="" class="card-image"><img src="/upload/fefco/section-temp-2.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name text-center">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span>
              <div class="card-price">от <b>35,45</b> р</div>
            </div>
          </div></a></div>
    </div>
    <div class="col-md-6 border-line-bottom-xs">
      <div class="a-fefco-card"><a href="" class="card-image"><img src="/upload/fefco/section-temp-3.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name text-center">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span>
              <div class="card-price">от <b>35,45</b> р</div>
            </div>
          </div></a></div>
    </div>
    <div class="col-md-6 border-line-bottom-xs">
      <div class="a-fefco-card"><a href="" class="card-image"><img src="/upload/fefco/section-temp-1.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name text-center">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span>
              <div class="card-price">от <b>35,45</b> р</div>
            </div>
          </div></a></div>
    </div>
    <div class="col-md-6 border-line-bottom-xs">
      <div class="a-fefco-card"><a href="" class="card-image"><img src="/upload/fefco/section-temp-2.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name text-center">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span>
              <div class="card-price">от <b>35,45</b> р</div>
            </div>
          </div></a></div>
    </div>
  </div>
  <!-- fefco item greed end-->
</div>
<!-- end /components/fefco/-->