
<!-- start /components/ideas/-->
<link rel="stylesheet" href="/components/fefco/style.css"/>
<script src="/components/fefco/script.js"></script>
<div class="a-fefco">
  <div class="section section-lines-top">
    <div class="row fefco-flex-line">
      <div class="col-md-9">
        <p>FEFCO European Federation of&nbsp;Corrugated Board Manufacturers&nbsp;&mdash; европейская ассоциация производителей продукции из&nbsp;гофрокартона, основана в&nbsp;1952 году Гофрокартона, основана в&nbsp;1952&nbsp;году, объединяет европейских производителей упаковки из&nbsp;гофрокартона, штаб-квартира расположена в&nbsp;Брюсселе.</p>
      </div>
      <div class="col-md-3"><a class="btn btn-type-3">Скачать каталог FEFCO</a></div>
    </div>
  </div>
  <div class="section section-lines-top">
    <div class="row">
      <div class="col-md-6 col-lg-4 border-line-bottom-xs">
        <div class="a-fefco-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" data-image-first="/img/fefco-temp-1.jpg" data-imge-second="/img/fefco-temp-2.jpg" class="img-responsive image-first"/><img src="/img/fefco-temp-2.jpg" data-image-first="/img/fefco-temp-1.jpg" data-imge-second="/img/fefco-temp-2.jpg" class="img-responsive image-second"/>
            <div class="card-name-block">
              <div class="card-code">07xx</div>
              <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
            </div></a></div>
      </div>
      <div class="col-md-6 col-lg-4 border-line-bottom-xs">
        <div class="a-fefco-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" data-image-first="/img/fefco-temp-1.jpg" data-imge-second="/img/fefco-temp-2.jpg" class="img-responsive image-first"/><img src="/img/fefco-temp-2.jpg" data-image-first="/img/fefco-temp-1.jpg" data-imge-second="/img/fefco-temp-2.jpg" class="img-responsive image-second"/>
            <div class="card-name-block">
              <div class="card-code">07xx</div>
              <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
            </div></a></div>
      </div>
      <div class="col-md-6 col-lg-4 border-line-bottom-xs">
        <div class="a-fefco-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" data-image-first="/img/fefco-temp-1.jpg" data-imge-second="/img/fefco-temp-2.jpg" class="img-responsive image-first"/><img src="/img/fefco-temp-2.jpg" data-image-first="/img/fefco-temp-1.jpg" data-imge-second="/img/fefco-temp-2.jpg" class="img-responsive image-second"/>
            <div class="card-name-block">
              <div class="card-code">07xx</div>
              <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
            </div></a></div>
      </div>
      <div class="col-md-6 col-lg-4 border-line-bottom-xs">
        <div class="a-fefco-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" data-image-first="/img/fefco-temp-1.jpg" data-imge-second="/img/fefco-temp-2.jpg" class="img-responsive image-first"/><img src="/img/fefco-temp-2.jpg" data-image-first="/img/fefco-temp-1.jpg" data-imge-second="/img/fefco-temp-2.jpg" class="img-responsive image-second"/>
            <div class="card-name-block">
              <div class="card-code">07xx</div>
              <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
            </div></a></div>
      </div>
      <div class="col-md-6 col-lg-4 border-line-bottom-xs">
        <div class="a-fefco-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" data-image-first="/img/fefco-temp-1.jpg" data-imge-second="/img/fefco-temp-2.jpg" class="img-responsive image-first"/><img src="/img/fefco-temp-2.jpg" data-image-first="/img/fefco-temp-1.jpg" data-imge-second="/img/fefco-temp-2.jpg" class="img-responsive image-second"/>
            <div class="card-name-block">
              <div class="card-code">07xx</div>
              <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
            </div></a></div>
      </div>
      <div class="col-md-6 col-lg-4 border-line-bottom-xs">
        <div class="a-fefco-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" data-image-first="/img/fefco-temp-1.jpg" data-imge-second="/img/fefco-temp-2.jpg" class="img-responsive image-first"/><img src="/img/fefco-temp-2.jpg" data-image-first="/img/fefco-temp-1.jpg" data-imge-second="/img/fefco-temp-2.jpg" class="img-responsive image-second"/>
            <div class="card-name-block">
              <div class="card-code">07xx</div>
              <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
            </div></a></div>
      </div>
    </div>
  </div>
</div>
<!-- end /components/ideas/-->