
<!-- start /components/team/-->
<link rel="stylesheet" href="/components/team/style.css"/>
<script src="/components/team/script.js"></script>
<div class="b-team">
  <h2>Наша команда</h2>
  <hr class="i-size-S"/>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"/>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
  <div data-width="100%" data-height="322" data-loop="true" class="fotorama">
    <div>
      <div class="row">
        <div class="col-sm-4">
          <div itemprop="employee" itemscope="itemscope" itemtype="http://schema.org/Person" class="b-team-card">
            <div style="background-image: url( '/upload/ideas/2.jpg' );" itemprop="image" class="b-team-card__img"></div>
            <h3 itemprop="name">Ирина</h3>
            <p itemprop="jobTitle">Дизайнер</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div itemprop="employee" itemscope="itemscope" itemtype="http://schema.org/Person" class="b-team-card">
            <div style="background-image: url( '/upload/ideas/2.jpg' );" itemprop="image" class="b-team-card__img"></div>
            <h3 itemprop="name">Ирина</h3>
            <p itemprop="jobTitle">Дизайнер</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div itemprop="employee" itemscope="itemscope" itemtype="http://schema.org/Person" class="b-team-card">
            <div style="background-image: url( '/upload/ideas/2.jpg' );" itemprop="image" class="b-team-card__img"></div>
            <h3 itemprop="name">Ирина</h3>
            <p itemprop="jobTitle">Дизайнер</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-sm-4">
          <div itemprop="employee" itemscope="itemscope" itemtype="http://schema.org/Person" class="b-team-card">
            <div style="background-image: url( '/upload/ideas/2.jpg' );" itemprop="image" class="b-team-card__img"></div>
            <h3 itemprop="name">Ирина</h3>
            <p itemprop="jobTitle">Дизайнер</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div itemprop="employee" itemscope="itemscope" itemtype="http://schema.org/Person" class="b-team-card">
            <div style="background-image: url( '/upload/ideas/2.jpg' );" itemprop="image" class="b-team-card__img"></div>
            <h3 itemprop="name">Ирина</h3>
            <p itemprop="jobTitle">Дизайнер</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div itemprop="employee" itemscope="itemscope" itemtype="http://schema.org/Person" class="b-team-card">
            <div style="background-image: url( '/upload/ideas/2.jpg' );" itemprop="image" class="b-team-card__img"></div>
            <h3 itemprop="name">Ирина</h3>
            <p itemprop="jobTitle">Дизайнер</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-sm-4">
          <div itemprop="employee" itemscope="itemscope" itemtype="http://schema.org/Person" class="b-team-card">
            <div style="background-image: url( '/upload/ideas/2.jpg' );" itemprop="image" class="b-team-card__img"></div>
            <h3 itemprop="name">Ирина</h3>
            <p itemprop="jobTitle">Дизайнер</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div itemprop="employee" itemscope="itemscope" itemtype="http://schema.org/Person" class="b-team-card">
            <div style="background-image: url( '/upload/ideas/2.jpg' );" itemprop="image" class="b-team-card__img"></div>
            <h3 itemprop="name">Ирина</h3>
            <p itemprop="jobTitle">Дизайнер</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div itemprop="employee" itemscope="itemscope" itemtype="http://schema.org/Person" class="b-team-card">
            <div style="background-image: url( '/upload/ideas/2.jpg' );" itemprop="image" class="b-team-card__img"></div>
            <h3 itemprop="name">Ирина</h3>
            <p itemprop="jobTitle">Дизайнер</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end /components/team/-->