// start /components/catalog-masonry/

link( rel="stylesheet", href="/components/catalog-masonry/style.css" )
script( src="/components/catalog-masonry/script.js" )

.b-catalog-masonry
  
  .row
    
    .col-sm-6( style="background-image: url( /upload/catalog-masonry/1.png ); background-color: #ffff70;" )
      .b-catalog-masonry__title Четырехклапанные коробки
    .col-md-3.col-sm-6( style="background-image: url( /upload/catalog-masonry/2.png ); background-color: #afe17f;" )
      .b-catalog-masonry__title Самосборные коробки
    .col-md-3.col-sm-6( style="background-image: url( /upload/catalog-masonry/3.png ); background-color: #98ddd3;" )
      .b-catalog-masonry__title Архивные коробки
    
    .col-md-3.col-sm-6( style="background-image: url( /upload/catalog-masonry/4.png ); background-color: #ffac70;" )
      .b-catalog-masonry__title Гофрокартон
    .col-sm-6( style="background-image: url( /upload/catalog-masonry/5.png ); background-color: #ffabab;" )
      .b-catalog-masonry__title Упаковочные материалы
    .col-md-3.col-sm-6( style="background-image: url( /upload/catalog-masonry/6.png ); background-color: #969bcf;" )
      .b-catalog-masonry__title Упаковочные инструменты
    
    .col-md-3.col-sm-6( style="background-image: url( /upload/catalog-masonry/7.png ); background-color: #98ddd3;" )
      .b-catalog-masonry__title Коробки с печатью
    .col-md-3.col-sm-6( style="background-image: url( /upload/catalog-masonry/8.png ); background-color: #ffff70;" )
      .b-catalog-masonry__title Крупногабаритные коробки
    .col-sm-6( style="background-image: url( /upload/catalog-masonry/9.png ); background-color: #afe17f;" )
      .b-catalog-masonry__title Маленькие коробки
      
  .row.b-catalog-masonry__sales
    .col-sm-12 Распродажа

// end /components/catalog-masonry/