
<nav class="left-menu text-small">
  <div class="root-item is-root opened-children"><a href="" style="background-image: url(/img/menu_icon/galya_simbol.svg)" class="link link-icon">Каталог конструкций FEFCO<span class="h-counter">15</span>
      <div class="togleChildrenBloc"></div></a>
    <div class="collapse cildterblock in">
      <ul class="children">
        <li><a href="">02xx Высеченные коробки и 4-хклапанные коробки<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="" class="selected">003xx Коробки телескопического типа или конструкции<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
      </ul>
      <ul id="menuCildBlock-1" class="children collapse sideMenuCollapse">
        <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
      </ul>
      <ul class="children showMoreLink">
        <li><a href="javascript:void()" data-toggle="collapse" data-target="#menuCildBlock-1" aria-expanded="false" aria-controls="menuCildBlock-1">Еще&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a></li>
      </ul>
    </div>
  </div>
  <div class="root-item is-root"><a href="" style="background-image: url(/img/menu_icon/galya_simbol.svg)" class="link link-icon">Каталог конструкций GALIA<span class="h-counter">15</span>
      <div class="togleChildrenBloc"></div></a>
    <div class="collapse cildterblock">
      <ul class="children">
        <li><a href="">02xx Высеченные коробки и 4-хклапанные коробки<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">003xx Коробки телескопического типа или конструкции<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
      </ul>
    </div>
  </div>
  <div class="root-item is-root"><a href="" class="link">Ориганальные конструкции<span class="h-counter">15</span>
      <div class="togleChildrenBloc"></div></a>
    <div class="collapse cildterblock">
      <ul class="children">
        <li><a href="">02xx Высеченные коробки и 4-хклапанные коробки<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">003xx Коробки телескопического типа или конструкции<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
      </ul>
    </div>
  </div>
  <div class="root-item is-root"><a href="" style="background-image: url(/img/menu_icon/galya_simbol.svg)" class="link link-icon">Маркетинговая упаковка<span class="h-counter">15</span>
      <div class="togleChildrenBloc"></div></a>
    <div class="collapse cildterblock">
      <ul class="children">
        <li><a href="">02xx Высеченные коробки и 4-хклапанные коробки<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">003xx Коробки телескопического типа или конструкции<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
      </ul>
    </div>
  </div>
  <div class="root-item"><a href="" style="background-image: url(/img/menu_icon/galya_simbol.svg)" class="link link-icon">Упаковка с печатью</a></div>
  <div class="root-item"><a href="" style="background-image: url(/img/menu_icon/galya_simbol.svg)" class="link link-icon">Разработка упаковки</a></div>
</nav>