// start /components/ideas.detail/

link( rel="stylesheet", href="/components/ideas.detail/style.css" )
script( src="/components/ideas.detail/script.js" )

include ../../modules/gallery/fotorama

.b-ideas-detail

  .fotorama( data-ratio="3/2" data-width="100%" data-loop="true" data-nav="thumbs" data-thumbwidth="179" data-thumbheight="108" data-allowfullscreen="true" )
    img( src="http://www.antech.ru/upload/resize_cache/iblock/343/960_720_0/34394f4e0294abfb154f8397d20cab5d.jpg" alt="" )
    img( src="http://www.antech.ru/upload/resize_cache/iblock/9bb/960_720_0/9bb0340863d257935878b9d55d388c1a.jpg" alt="" )
    img( src="http://www.antech.ru/upload/resize_cache/iblock/222/960_720_0/222782c45eab80b8a0b556389b9ea254.jpg" alt="" )
    img( src="http://www.antech.ru/upload/resize_cache/iblock/242/960_720_0/24217d53fdc579417140e413169adfbe.jpg" alt="" )
    img( src="http://www.antech.ru/upload/resize_cache/iblock/904/960_720_0/9047e43464939744961b5d74c93ee194.jpg" alt="" )
    img( src="http://www.antech.ru/upload/resize_cache/iblock/597/960_720_0/597913235d98ef7fcd6b6c3a6cf3424e.jpg" alt="" )
    img( src="http://www.antech.ru/upload/resize_cache/iblock/2ee/960_720_0/2ee0d779956683ed7666d045a2328989.jpg" alt="" )
    img( src="http://www.antech.ru/upload/resize_cache/iblock/850/960_720_0/8509f9b7c9608d67e21835963f8be240.jpg" alt="" )
    img( src="http://www.antech.ru/upload/resize_cache/iblock/e3c/960_720_0/e3c3425d8584d26305c45300e266ef9c.jpg" alt="" )
    img( src="http://www.antech.ru/upload/resize_cache/iblock/947/960_720_0/94711585829ec26417bec8a64b92b0b8.jpg" alt="" )
    img( src="http://www.antech.ru/upload/resize_cache/iblock/615/960_720_0/615da7f3efdf7dc5a785f24a683a0d56.jpg" alt="" )
    img( src="http://www.antech.ru/upload/resize_cache/iblock/1bc/960_720_0/1bcfcc597cbbdc4d41f6ec16ed8e6688.jpg" alt="" )
    img( src="http://www.antech.ru/upload/resize_cache/iblock/a28/960_720_0/a28e683922aed531e33b7918d8d851a0.jpg" alt="" )
    img( src="http://www.antech.ru/upload/resize_cache/iblock/9bb/960_720_0/9bb0340863d257935878b9d55d388c1a.jpg" alt="" )
    img( src="http://www.antech.ru/upload/resize_cache/iblock/222/960_720_0/222782c45eab80b8a0b556389b9ea254.jpg" alt="" )
    img( src="http://www.antech.ru/upload/resize_cache/iblock/242/960_720_0/24217d53fdc579417140e413169adfbe.jpg" alt="" )
    img( src="http://www.antech.ru/upload/resize_cache/iblock/904/960_720_0/9047e43464939744961b5d74c93ee194.jpg" alt="" )
    img( src="http://www.antech.ru/upload/resize_cache/iblock/597/960_720_0/597913235d98ef7fcd6b6c3a6cf3424e.jpg" alt="" )
    img( src="http://www.antech.ru/upload/resize_cache/iblock/2ee/960_720_0/2ee0d779956683ed7666d045a2328989.jpg" alt="" )
    img( src="http://www.antech.ru/upload/resize_cache/iblock/850/960_720_0/8509f9b7c9608d67e21835963f8be240.jpg" alt="" )
    img( src="http://www.antech.ru/upload/resize_cache/iblock/e3c/960_720_0/e3c3425d8584d26305c45300e266ef9c.jpg" alt="" )
    img( src="http://www.antech.ru/upload/resize_cache/iblock/947/960_720_0/94711585829ec26417bec8a64b92b0b8.jpg" alt="" )
    img( src="http://www.antech.ru/upload/resize_cache/iblock/615/960_720_0/615da7f3efdf7dc5a785f24a683a0d56.jpg" alt="" )
    img( src="http://www.antech.ru/upload/resize_cache/iblock/1bc/960_720_0/1bcfcc597cbbdc4d41f6ec16ed8e6688.jpg" alt="" )
    img( src="http://www.antech.ru/upload/resize_cache/iblock/a28/960_720_0/a28e683922aed531e33b7918d8d851a0.jpg" alt="" )

  hr
  
  .row
    .col-sm-10.col-sm-offset-1
      .text-right
        a(href="") Скачать архивом&nbsp;
          span.glyphicon.glyphicon-save
      hr.i-size-S
      
      p Специалисты из дизайнерской студии Capsule, которая находится в Миннеаполисе, разработали новый дизайн упаковки для термобелья PATAGONIA. Целью дизайнеров было не просто обновить упаковку, но сделать так что бы увеличились розничные продажи, и это им удалось, розничные продажи выросли на 70%!
      
      p Шестигранную форму для коробок придумали дизайнеры Yvon Chouinard и Tom Frost, вдохновением послужила простая шестигранная гайка. Изготавливаются коробки из 100% пригодного к переработке гофрокартона. Кроме того, коробка не требует клея или скрепляющих материалов при сборке, мы называем такие коробки самосборными.
      
      p На коробках нанесен минимум информации, только логотипы PATAGONIA. Вся информация о товаре нанесена на специальные наклейки-бирки, таким образом при смене ассортимента не потребуется замена коробок, достаточно напечатать новые наклейки.

  hr.i-line-simple
  
  .row.b-ideas-detail__buttons.text-center
  
    h5 Хотите заказать разработку собственной упаковки? 
    
    a.btn.btn-default( href="" data-toggle="modal" data-target="#callMe" ) Заказать
    
  hr.i-size-S
      
include ../../modules/call-me/include

// end /components/ideas.detail/