.row-flexbox
  display flex
  flex-wrap wrap
  justify-content space-between
  margin 0 -10px
  
  @media( max-width 767px )
    display block
    
  .col-sm-4,
  .col-sm-8
    float none
  
.col-sm-6-flexbox
  padding 0 10px
  
  @media( min-width 768px )
    width 50%
    margin-bottom 20px
  
.col-md-4-flexbox
  padding 0 10px
  
  @media( min-width 992px )
    width 33.33333%
    margin-bottom 20px
  
.col-sm-12-flexbox
  padding 0 10px
  
  @media( max-width 767px )
    width 100%
    margin-bottom 10px
  
.col-sm-4-flexbox
  width 33.33333333%
  padding 0 10px
  
  @media( min-width 992px )
    width 33.33333%
    margin-bottom 20px
  
.col-sm-8-flexbox
  width 66.66666667%
  padding 0 10px
  
  @media( min-width 992px )
    width 66.66666667%
    margin-bottom 20px
    