@font-face
	font-family 'pragmatica'
	src url('/template/fonts/PFHighwaySansPro-Thin/PFHighwaySansPro-Thin.eot')
	src:
	    url('/template/fonts/PFHighwaySansPro-Thin/PFHighwaySansPro-Thin.eot?#iefix') format('embedded-opentype'),
	    url('/template/fonts/PFHighwaySansPro-Thin/PFHighwaySansPro-Thin.woff') format('woff'),
	    url('/template/fonts/PFHighwaySansPro-Thin/PFHighwaySansPro-Thin.ttf') format('truetype'),
	    url('/template/fonts/PFHighwaySansPro-Thin/PFHighwaySansPro-Thin.svg#PFHighwaySansPro-Thin') format('svg')
	font-weight 100
	font-style normal

@font-face
	font-family 'pragmatica'
	src url('/template/fonts/PFHighwaySansPro-Light/PFHighwaySansPro-Light.eot')
	src:
	    url('/template/fonts/PFHighwaySansPro-Light/PFHighwaySansPro-Light.eot?#iefix') format('embedded-opentype'),
	    url('/template/fonts/PFHighwaySansPro-Light/PFHighwaySansPro-Light.woff') format('woff'),
	    url('/template/fonts/PFHighwaySansPro-Light/PFHighwaySansPro-Light.ttf') format('truetype'),
	    url('/template/fonts/PFHighwaySansPro-Light/PFHighwaySansPro-Light.svg#PFHighwaySansPro-Light') format('svg')
	font-weight 300
	font-style normal

@font-face
	font-family 'pragmatica'
	src url('/template/fonts/PFHighwaySansPro-Regular/PFHighwaySansPro-Regular.eot')
	src:
	    url('/template/fonts/PFHighwaySansPro-Regular/PFHighwaySansPro-Regular.eot?#iefix') format('embedded-opentype'),
	    url('/template/fonts/PFHighwaySansPro-Regular/PFHighwaySansPro-Regular.woff') format('woff'),
	    url('/template/fonts/PFHighwaySansPro-Regular/PFHighwaySansPro-Regular.ttf') format('truetype'),
	    url('/template/fonts/PFHighwaySansPro-Regular/PFHighwaySansPro-Regular.svg#PFHighwaySansPro-Regular') format('svg')
	font-weight 400
	font-style normal
