body
  background #fff
  font-size 18px
  font-family pragmatica, 'Open Sans', sans !important
  font-weight 100
  color $c-dark-grey
  
.i-menu-open

  html&,
  & body
    overflow hidden
    
  /*& body
  
    &,
    .b-header-fixed
      padding-right 17px*/
  
html.i-cart-modal-open
  .modal-backdrop
    background transparent
    
  & body.modal-open
    overflow auto !important
    padding-right 0 !important
    
    .modal
      overflow hidden
      position absolute
      top 90px
      left auto
      bottom auto
      box-shadow 0 0 25px rgba(0,0,0,.1)
      padding-right 0 !important
      
      @media (max-width: 767px)
        border-radius 0
        position fixed
        width 100vw
        height 100vh
        position fixed
        top 0
        left 0
        boxshadow none
        overflow auto
  
a
  color $c-indigo
  text-decoration none
  
  &:hover
    
  &:focus
    outline none
    
  &.ajax-link
    border-bottom 1px dashed
    &:hover,
    &:focus,
    &:active,
    &:focus:active
      text-decoration none
      
  &.underline
    text-decoration underline


p
  margin 0 0 20px
  a
    text-decoration underline
    &.ajax-link
      text-decoration none

button
  border none
  font-family pragmatica, 'Open Sans', sans !important
  
hr
  border-color transparent
  padding 20px 0
  margin 0
  
  &.gray
    border-color $border-gray
    padding 0
  
hr.i-size-XS
  padding 5px 0 !important
  
hr.i-size-S
  padding 11px 0 !important
  
hr.i-size-M
  padding 30px 0 !important
  
hr.i-size-L
  padding 45px 0 !important
  
hr.i-size-XL
  padding 60px 0 !important
  
hr.i-line
  height 1px
  background embedurl( 'img/hr.png' ) no-repeat center center
  background-size contain
  padding 70px 0
  
hr.i-line-simple
  height 1px
  background embedurl( 'img/hr-bg.gif' ) repeat-x center center


.h-counter
  position relative
  font-size 10px
  font-weight 100
  top -1em
  color $c-high-gray

.line-counter
  color $c-high-gray
  font-weight 100

.h-icon
  width 48px
  height 48px
  display inline
  margin-right 20px

h1,
.h1,
.b-h1
  font-weight 400
  margin-top 0
  
  .h-counter
    font-size 14px
    top -1.5em
    
    
h2.b-h1
  margin-bottom 34px
  
h2,
.h2,
.b-h2
  font-weight 400
  
  .h-counter
    font-size 14px
    top -1.5em

h3,
.h3
  font-weight 400
  
  .h-counter
    font-size 14px
    top -1em

h4,
.h4,
.b-h4
  font-weight 600
  
  .h-counter
    font-size 12px
    top -0.8em
  
h5,
.h5,
.b-h5
  font-weight 600
  
  .h-counter
    font-size 12px
    top -0.5em

h6,
.h6
  font-weight 600
  
  .h-counter
    font-size 10px
    top -0.5em

  
.inner-container
  margin 0 auto
        
  @media (min-width: 768px)
    width 645px
  
  @media (min-width: 992px)
    width 645px
  
  @media (min-width: 1200px)
    width 944px
  
.text-xlarge
  font-size 17pt
  
.text-large
  font-size 16pt
  
.text-middle
  font-size 17px

.text-small
  font-size 14px
  
  p
    margin 0 0 10px
  
.text-danger
  color #de1f26
  
.bold
  font-weight 400
  
.bold-l
  font-weight 600

.center
  text-align center
  
.text-muted
  color #666666
  
  
.text-sovet
  padding 30px
  padding-left 100px
  background-color $c-gray-xs
  font-style italic
  margin 10px 0
  
  p
    margin 5px 0
  
.clearfix
  clear both
  float none
  
.btn
  background-color $c-yellow
  border none
  font-weight 600
  text-decoration none
  
  &:hover
    background-color darken( $c-yellow, 5% )
    
  &:focus,
  &:active,
  &:focus:active
    outline none
    
  &.i-inverse
    border 1px solid #ffcd00
    background-color #fff
    line-height 44px
    
    &:hover
      background-color #ffcd00
  
  &-default,
  &-type-1
    padding 0 25px
    font-size 18px
    border-radius 35px
    line-height 46px
    
    .btn-group &
      line-height 58px
      
  &-disabled
    background-color #cccccc
    cursor default
  
    &:hover
      background-color #cccccc
    
  &-sm
    padding 0 20px
    border-radius 35px
    line-height 39px
    
  &-md
    padding 0 30px
    border-radius 28px
    line-height 48px
    
  &-menu
    background-color #fff
    border 1px solid #d8d8d9
  
    &:not(.active)
    
      &:active,
      &:hover
        background-color lighten( #000, 95% )
        border-color #d8d8d9
        box-shadow none
    
    &.active
      &,
      &:hover,
      &:active,
      &:focus
        background-color #d8d8d9
        border-color #d8d8d9
        outline none
        box-shadow none
        
  &-cart
    padding-left 24px
    
    &:before
      content ''
      display inline-block
      vertical-align middle
      width 26px
      height 26px
      background embedurl( 'img/btn-cart.svg' ) no-repeat center !important
      background-size cover
      margin-right 15px
    
  &-reset
    
    &,
    &:hover,
    &:active,
    &:focus
      box-shadow none
      background none
      color #ce312d
      
  &-scheme2
    border 3px solid #319ed6
    background-color transparent
    color #319ed6
    font-weight 400
    
    &:hover
      border 3px solid #319ed6
      box-shadow none
      background rgba( 255,255,255,0.9 )
      color #319ed6
      
    &:active,
    &:focus
      border 3px solid #319ed6 !important
      box-shadow none
      background-color #fff !important
      color #319ed6 !important
  
  &-justify
    width 100%
  
  
  &-type-2
    font-size 18px
    line-height 50px
    border-radius 5px
    color $c-black
    padding 0 20px
    
    &.btn-md,
    &-md
      line-height 40px
      padding 0 10px
      font-size 14px
      color $c-black
    
    &.btn-sm,
    &-sm
      line-height 30px
      padding 0 10px
      font-size 14px
      color $c-black
    

  &-type-3
    border-radius 5px
    font-size 14px
    color $c-wawe
    line-height 38px
    background none
    border-color $c-wawe
    border-width 1px
    border-style solid
    padding 0 14px
    font-weight 400
    &:hover
      background-color $c-grey-2
      color $c-ultramarine
    
    &.btn-md
      line-height 38px
    
    &.btn-sm
      line-height 28px

  &-type-4
    border-radius 5px
    font-size 14px
    color $c-black
    line-height 46px
    background none
    border-color $c-yellow
    border-width 2px
    border-style solid
    padding 0 14px
    font-weight 400
    
    &:hover
      background-color $c-yellow
    
    &.btn-md
      line-height 36px
    
    &.btn-sm
      line-height 26px
      
    &.btn-disabled
      border-color $c-gray-s
      cursor default
      background-color $c-gray-s
    
      
  
  &-type-5
    font-size 18px
    line-height 50px
    border-radius 5px
    color $c-black
    background-color $c-gray-xs
    padding 0 20px
    
    &.btn-md,
    &-md
      line-height 40px
      padding 0 10px
      font-size 14px
    
    &.btn-sm,
    &-sm
      line-height 30px
      padding 0 10px
      font-size 14px
    

      
    
  
section,
.b-section
  padding 40px 0

  &.i-gray
    background-color #f2f2f2
    
  &.i-blue
    background-color #80abb5
    padding-top 0
    
    h2
      margin-top 0
      padding 30px 0
    
    .b-h1
      background-color rgba( 255,255,255,0.11 )
    
  &.i-gradient
    background url( 'images/clients-bg.png' ) no-repeat center top
    background-size contain
  
.b-size
  font-size 17pt
  
.b-price
  font-size 19pt
  
.b-gallery-link,
.b-store-link
  font-size 14pt
  
  .b-icon
    display inline-block
    vertical-align top
    width 40px
    height 40px
    background-size contain
    margin-bottom 13px
    
  a
    color #2799d4
    
    &:hover
      color lighten( #2799d4, 20% )
    
.b-gallery-link .b-icon
    background url( 'images/svg/gallery.svg' ) no-repeat center center
    
.b-store-link .b-icon
    background url( 'images/svg/go_to_shop.svg' ) no-repeat center center
    
.valign-wrapper
  display -webkit-flex
  display -ms-flexbox
  display flex
  -webkit-align-items center
  -ms-flex-align center
  align-items center
  
.valign-wrapper .valign
  display block
  
.valign-center
  text-align center
  vertical-align middle
  
blockquote
  margin 0
  border 0
  
#clientsAccordion .accordion-toggle
  display none
  width 46px
  height 14px
  background embedurl( 'img/clients-toggle.png' ) no-repeat center center
  margin 0 auto
  
  &.collapsed
    display block
  
.nav-tabs
  border none
  text-align center
  
.b-nav-tabs
  text-align center
  
  @media ( max-width 767px )
    margin-right -15px
    margin-left -15px
      
  .btn-group
  
    @media ( max-width 767px )
      width 100%
  
    .btn-default
      font-size 14pt
      font-weight 200
      
      @media (max-width: 991px) and (min-width: 768px)
        font-size 12pt
        line-height 46px
        
        span
          display inline-block
          line-height 46px
          vertical-align middle
    
      @media ( max-width 767px )
        font-size 11pt
        width 33.42%
        white-space normal
        padding 0 10px
        border-radius 0
        
        span
          display inline-block
          line-height 19px
          vertical-align middle
          
      @media (max-width: 991px) and (min-width: 768px)
        padding 0 23px
        
.b-top-panel
  background-color #e8e8e8
  
  &:after
    display table
    content ''
    clear both
  
.b-simple-nav
  
  .nav-tabs
    border-bottom none
    
    > li
      float none
      display inline-block
      margin 0 14px
      
      @media( max-width 767px )
        display block
        margin-bottom 10px

      > a
        margin-right 0
        line-height normal
        border none
        border-bottom 1px solid transparent
        border-radius 0
        color #666666
        padding 0 0 6px
        
        &:hover
          border-color transparent
          background transparent

      &.active > a
      
        &,
        &:hover,
        &:focus
          color #000
          background-color transparent
          border none
          border-bottom 1px solid #ffcc00
          cursor default
          
.btn-link
  display inline-block
  vertical-align top
  line-height 30px
  border 1px solid #52a8c3
  padding 0 19px
  font-size 9.5pt
  border-radius 5px
  background-color #fff
  color #52a8c3
  
  &:hover,
  &:focus,
  &:active
    border 1px solid #3e7d99
    color #3e7d99
    background-color #f8f8f8
    text-decoration none
          
/*@media (min-width: 1138px) {
    .container {
        padding:0 159px;
        min-width: 1138px;
        max-width: 1200px
    }
}

@media (min-width: 1200px) {
    .container {
        padding:0;
        min-width: 882px;
        max-width: 882px;
        width: 882px
    }
}

@media screen and (min-width: 1398px) {
    .container {
        padding:0 258px;
        min-width: 1398px;
        max-width: 1716px;
        width: 100%
    }
}

@media (min-width: 1716px) {
    .container {
        padding:0;
        min-width: 1200px;
        max-width: 1200px;
        width: 1200px
    }
}*/



.row
  &-xs
    @media (max-width: 767px)
      margin-left -15px
      margin-right -15px
  &-sm
    @media (max-width: 991px)
      margin-left -15px
      margin-right -15px
  &-md
    @media (max-width: 1199px)
      margin-left -15px
      margin-right -15px

.container-fulwidth
  &-xs
    @media (max-width: 767px)
      width 100%
      margin-right 0
      margin-left 0
      padding-left 0
      padding-right 0
  &-sm
    @media (max-width: 991px)
      width 100%
      margin-right 0
      margin-left 0
      padding-left 0
      padding-right 0
  &-md
    @media (max-width: 1199px)
      width 100%
      margin-right 0
      margin-left 0
      padding-left 0
      padding-right 0

.text-center
  &-xs
    @media (max-width: 767px)
      text-align center
  &-sm
    @media (max-width: 991px)
      text-align center
  &-md
    @media (max-width: 1199px)
      text-align center


.color-red
  color $c-red

.section
  padding 20px 0
  
  &-lg
    padding 50px 0
  
  &-lines-top
    border-top 1px solid $border-gray

.border-line-bottom
  border-bottom 1px solid $border-gray
  
  &-xs
    @media (max-width: 767px)
      border-bottom 1px solid $border-gray
  &-sm
    @media (max-width: 991px)
      border-bottom 1px solid $border-gray
  &-md
    @media (max-width: 1199px)
      border-bottom 1px solid $border-gray
    
  

.marker-red-round
  list-style-image url(/img/production-baner-list-img.png)
  
.bg-gray-1, .bg-gray-xxs
  background-color $c-gray-xxs
.bg-gray-2, .bg-gray-xs
  background-color $c-gray-xs



.input-wrapper
  input
    padding-right 18px
  
  .input-step-up,
  .input-step-down
    position absolute
    right 2px
    width 15px
    height 15px
    z-index 10
    text-align center
    cursor pointer
    user-select none
    background-position center center
    background-repeat no-repeat
    background-size 8px 8px
    
    &:hover
      background-color $c-gray-s
    
  .input-step-up
    top calc(50% - 17px)
    background-image url(images/svg/add2cart_quant_up.svg)
    
  .input-step-down
    bottom calc(50% - 17px)
    background-image url(images/svg/add2cart_quant_down.svg)

.b-ill-block

  a
    display block

  img
    display block
    width 100%
    margin-bottom 20px
    line-height 1.6
    
  p
    font-size 11pt
    
    a
      display inline
      color #000
      text-decoration none