.i-gallery

  &-top
    padding-bottom 64px
    
    .b-h1
      margin-bottom 27px
      
  &-bottom
    padding-top 70px
    padding-bottom 70px
          
.i-stext
  font-size 15px
  
  h4
    font-size 12pt
    
    b
      font-weight 400