
.i-gallery

  &-top
    padding-top 40px
    padding-bottom 40px
    
    .b-h1
      margin-bottom 27px
      
  &-bottom
    padding-top 70px
    padding-bottom 70px
          
.i-stext
  font-size 15px
  
  h4,
  .b-h4,
  h2
    font-size 12pt
    margin-top 10px
    margin-bottom 10px
    font-weight 400
    
    b
      font-weight 400
      
.i-clients
  
  img
    transition( all 0.5s ease-out )
      
    &:hover
      transform( scale(1.3))
      
  hr.i-line
    background none
    border-bottom 1px solid #e8e8e8


.index-preim-item
  background-repeat no-repeat
  background-position left center
  background-size 70px 70px
  font-weight 600
  font-size 14px
  vertical-align middle
  padding-bottom 10px
  
  @media (min-width: 991px)
    &
      display -webkit-flex
      display flex
      justify-content flex-start
      align-items center
      padding-left 90px
      min-height 70px
      
  @media (max-width: 990px)
    &
      text-align center
      background-position center top
      padding-top 80px

.index-col-ord
  display -webkit-flex
  display flex
  flex-direction colum
  flex-wrap wrap
  margin-left -5px
  
  .bn-item
    width 100%
  
  @media (max-width: 768px)
    &
      flex-direction column-reverse
      margin-left -15px

.index-baner-2
  height 280px
  margin-bottom 10px
  background-color #f6f6f6
  text-align center
  padding 20px
  
  .ib2-name,
  .ib2-text
    margin 0 0 15px
  
  .ib2-text
    font-size 18px
  
  
  .ib2-img
    max-height 150px
    margin 0 auto

.index-baner-3,
.production-baner-3
  a.play-link
    color white
    background-color red
    height 70px
    display block
    display -webkit-flex
    display flex
    justify-content center
    align-items center
    font-size 16px
    font-weight 400
    
    @media (max-width: 768px)
      &
        height 60px
        margin-top 10px
        margin-bottom 10px
    
    &:hover
      text-decoration none
    
    .play-icon
      width 35px
      height 35px
      margin 0 10px

.index-list-preim
  list-style none
  
  @media (min-width: 991px)
    &
      display -webkit-flex
      display flex
      flex-wrap wrap
      align-content space-around
      height calc(100%)
  
  li
    background-image url(/img/index-list-img.png)
    background-position 0 50%
    background-repeat no-repeat
    padding-left 50px
    font-weight 400
    margin-bottom 15px
    line-height 1.1
    
    &:last-of-type
      margin-bottom none
    
  @media (max-width: 990px)
    li
      margin 10px 0
    
    &
      padding-left 0

.flex-container
  display -webkit-flex
  display flex
  justify-content flex-start
  align-items stretch
  flex-wrap wrap
  
  &-nowrap
    flex-wrap nowrap
  
  &-vcenter
    align-items center
    
  
.index-play-btn
  padding-top 90px
  background-image url(/img/index-video-btn-icon.svg)
  background-position center top
  background-repeat no-repeat
  background-size 80px 80px
  display inline-block
  color $c-black
  font-weight 400
  margin 10px 0
  
.index-play-btn-2
  padding 20px 0 20px 50px
  background-image url(/img/index-video-btn-icon.svg)
  background-position left center
  background-repeat no-repeat
  background-size 40px 40px
  display inline-block
  color $c-black
  font-weight 400
  margin 10px 0
  
  
/* for production page */
.production-baner-1
  background-image url(/upload/banner/production-baner-1.jpg)
  background-repeat no-repeat
  background-position center center
  background-size cover
  color $c-white
  padding 30px
  padding-right 15%
  
  @media (max-width: 990px)
    &
      padding 0
  
  .production-baner-1-plashka
    background-color rgba(0, 0, 0, 0.4)
    padding 30px
    
    @media (max-width: 990px)
      &
        padding 10px 30px
  
      
  
  ul
    list-style-image url(/img/production-baner-list-img.png)
    margin 0
    padding 0
    
    li
      margin 10px 0;

.production-baner-2
  margin-bottom 10px
  text-align center
  padding 25px 20px
  background-image url(/upload/banner/production-baner-2.jpg)
  background-repeat no-repeat
  background-position center center
  background-size cover
  color $c-white
  
  .ib2-name,
  .ib2-text
    margin 0 0 15px
  
  .ib2-text
    font-size 18px
  
  
  .ib2-img
    max-height 150px
    margin 0 auto


@media (min-width: 769px)
  .production-baner-1
    height 360px
  
    .production-baner-1-plashka
      height 360px
  
  .production-baner-2
    height 280px


@media (min-width: 990px)
  .production-baner-1
    .production-baner-1-plashka
      height 300px

.servputh
  position relative
  
  .step-icon
    width 90px
    height 90px
    margin-bottom 20px
    
  .dotted-line
    height 0
    border-top 1px dashed
    position absolute
    top 65px

  .step-item
    margin-top 20px
    margin-bottom 20px

.production-process
  
  .col-item
    padding-top 15px
    padding-bottom 15px
  
  @media (min-width: 768px)
    &
      display -webkit-flex
      display flex
      justify-content flex-start
      align-items stretch
      flex-wrap nowrap
      
      .col-item
        margin 0 5px
        
        &:first-of-type
          margin-left 15px
        
        &:last-of-type
          margin-right 15px


.a-catalog-card
  text-align center
  border 1px solid $c-white
  padding 10px
  position relative
  
  
  @media (max-width: 768px)
    &
      height 350px
      
      img
        width 250px
        height 250px
        margin 0 auto

  @media (min-width: 769px)
    &
      height 400px
  
  
  @media (min-width: 992px)
    &
      height 270px
  
  @media (min-width: 1200px)
    &
      height 340px

  
  .card-name-block
    position absolute
    bottom 0
    left 0
    padding 10px
    width 100%
    
    
  
  .card-price
    margin-top 10px
    text-decoration none
    font-weight 400
    color $c-black
    
    .price-val
      margin-right 10px
      color $c-black
      
  
  .card-name
    color $c-black
    
    & a
      color $c-black
    
  &:hover
    border-color $border-gray
  
  .card-image,
  .card-image:hover
    text-decoration none
    
    
    .card-price
      color $c-black
      text-decoration none


.production-items
  
  @media (min-width: 768px)
    
    display -webkit-box
    display -moz-box
    display -ms-flexbox
    display flex
    
    -webkit-flex-wrap wrap
    -moz-flex-wrap wrap
    -ms-flex-wrap wrap
    -o-flex-wrap wrap
    flex-wrap wrap
    
    &::before,
    &::after
      content normal
      
  .production-item
    position relative
    margin-top 2em
    
    .prod-item-cell
      position relative
      border 1px solid $c-gray-s-2
      border-top none
      height 100%
    
    &__text
      padding 0 40px
      position relative
      top -2em
      
      .h3
        margin-top 0
  
    &__image
      position relative
      
      width 100%
      height 0
      padding 37% 0
      top -2em
      
      .alt-img
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-position 0 0
        background-repeat no-repeat
        background-size cover
        opacity 1
        transition-property opacity
        transition-duration 0.5s
        transition-delay 0s
        transition-timing-function linear
      
      .first-img
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-position 0 0
        background-repeat no-repeat
        background-size cover
        
    &:hover
      .production-item__image .alt-img
        opacity 0

.production-process-2
  .red-columm
    background-color #fce5e8
  
  .yellow-columm
    background-color #fef5e6


.about_block_1
  
  @media (min-width: 768px)
    
    display -webkit-box
    display -moz-box
    display -ms-flexbox
    display flex
    
    -webkit-align-items center
    align-items center
    
    &::before,
    &::after
      content normal
  
    .about_block1_text
      margin 0 30px


.page-reviews-block
  background-color $c-grey-3
  
.callback_index2_block
  background-image url(/img/callback_form_index2_gb.jpg)
  background-position center center
  background-repeat no-repeat
  background-size cover

.preim-container-index-2
  .preim-index-2-item
    text-align center
    
    .preim-index-2-item-image
      width 90px
      height 90px
      margin 40px auto
      
      @media (max-width: 768px)
        margin 30px auto 0
      
  