.i-gallery

  &-top
    padding-bottom 64px
    
    .b-h1
      margin-bottom 27px
      
  &-bottom
    padding-top 70px
    padding-bottom 70px
          
.i-stext
  font-size 15px
  
  h4,
  .b-h4,
  h2
    font-size 12pt
    margin-top 10px
    margin-bottom 10px
    font-weight 400
    
    b
      font-weight 400
      
.i-clients
  
  img
    transition( all 0.5s ease-out )
      
    &:hover
      transform( scale(1.3))