$c-yellow = #ffcc00
$c-red = #e31d1a
$c-dark-grey-1 = 585858
$c-dark-grey-2 = 888888
$c-grey-1 = #dadada
$c-grey-2 = #e8e8e8
$c-grey-3 = #f6f6f6
$c-blue-1 = #7992a5
$c-blue-2 = #b2c6d4
$c-blue-3 = #d5e7f3
$c-blue-4 = #e5f3fc
$c-blue-5 = #0c4c79
$c-white = #fff
$c-black = #000



$darker-grey = #1e1e1e
$dark-grey = #262626
$middle-grey = #333
$grey = #666
$light-grey = #999
$lightest-grey = #ccc


$c-wawe = #3f9fc0
$c-ultramarine = #3a7d9b
$c-indigo = #3f9fc0
$c-dark-gray = #333333
$c-dark-grey = #333333
$c-deep-blue = #484b5a
$c-blue-l = #7992a5
$c-blue-m = #b2c6d4
$c-blue-s = #c6d6e0
$c-deep-gray = #585858
$c-high-gray = #888888
$c-gray-s = #dadada
$c-gray-xs = #e8e8e8
$c-gray-xxs = #f6f6f6
$c-green = #9ebe43


$bg-color = $middle-grey
$text-color = $lightest-grey
$brand-color = #a6d713

$grid-gap = 25px

$border-gray = $c-gray-s


$f-bold = 600
