
<!-- start /components/catalog.gallery-add/-->
<link rel="stylesheet" href="/components/catalog.gallery-add/style.css"/>
<script src="/components/catalog.gallery-add/script.js"></script>
<div class="a-catalog-gallery">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"/>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
  <div class="a-catalog-gallery__fotorama">
    <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="a-catalog-card-add"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
        <div class="card-name-block">
          <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
          <div class="card-price">от 15,40 руб</div>
        </div></a></div>
    <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="a-catalog-card-add"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
        <div class="card-name-block">
          <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
          <div class="card-price">от 15,40 руб</div>
        </div></a></div>
    <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="a-catalog-card-add"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
        <div class="card-name-block">
          <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
          <div class="card-price">от 15,40 руб</div>
        </div></a></div>
    <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="a-catalog-card-add"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
        <div class="card-name-block">
          <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
          <div class="card-price">от 15,40 руб</div>
        </div></a></div>
    <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="a-catalog-card-add"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
        <div class="card-name-block">
          <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
          <div class="card-price">от 15,40 руб</div>
        </div></a></div>
    <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="a-catalog-card-add"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
        <div class="card-name-block">
          <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
          <div class="card-price">от 15,40 руб</div>
        </div></a></div>
    <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="a-catalog-card-add"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
        <div class="card-name-block">
          <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
          <div class="card-price">от 15,40 руб</div>
        </div></a></div>
    <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="a-catalog-card-add"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
        <div class="card-name-block">
          <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
          <div class="card-price">от 15,40 руб</div>
        </div></a></div>
    <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="a-catalog-card-add"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
        <div class="card-name-block">
          <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
          <div class="card-price">от 15,40 руб</div>
        </div></a></div>
    <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="a-catalog-card-add"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
        <div class="card-name-block">
          <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
          <div class="card-price">от 15,40 руб</div>
        </div></a></div>
    <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="a-catalog-card-add"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
        <div class="card-name-block">
          <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
          <div class="card-price">от 15,40 руб</div>
        </div></a></div>
  </div>
</div>
<!-- end /components/catalog.gallery-add/-->