extends ../layouts/main.jade

block title
  title GUI | antech

block content
  .container
    h1 Образцы стилей
  
  .container
    h2 Цвета
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #ffcc00;")
      div
        b $c-yellow 
        span (#ffcc00)
    
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #e31d1a;")
      div 
        b $c-red 
        span (#e31d1a)
    
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #9ebe43;")
      div 
        b $c-green 
        span (#9ebe43)
    
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #a6d713;")
      div 
        b $brand-color 
        span (#a6d713)
    
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 48px; border: 1px solid #000; background-color: #ffffff;")
      div 
        b $c-white 
        span (#ffffff)
    
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #000000;")
      div 
        b $c-black 
        span (#000000)
    
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #1e1e1e;")
      div 
        b $darker-grey 
        span (#1e1e1e)
    
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #262626;")
      div 
        b $dark-grey 
        span (#262626)
    
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #333333;")
      div 
        b $middle-grey<br>$c-dark-gray 
        span (#333333)
    
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #585858;")
      div 
        b $c-dark-grey-1<br>$c-deep-gray 
        span (#585858)
    
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #666666;")
      div 
        b $grey 
        span (#666666)
    
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #888888;")
      div 
        b $c-dark-grey-2<br>$c-high-gray 
        span (#888888)
    
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #999999;")
      div 
        b $light-grey 
        span (#999999)
    
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #cccccc;")
      div 
        b $lightest-grey 
        span (#cccccc)
    
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #dadada;")
      div 
        b $c-grey-1<br>$c-gray-s 
        span (#dadada)
        
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #dfdfdf;")
      div 
        b $c-gray-s-2 
        span (#dfdfdf)
    
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #e8e8e8;")
      div 
        b $c-grey-2<br>$c-gray-xs 
        span (#e8e8e8)
    
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #f6f6f6;")
      div 
        b $c-grey-3<br>$c-gray-xxs 
        span (#f6f6f6)
    
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #484b5a;")
      div 
        b $c-deep-blue 
        span (#484b5a)
    
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #0c4c79;")
      div 
        b $c-blue-5 
        span (#0c4c79)
    
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #3a7d9b;")
      div 
        b $c-ultramarine 
        span (#ccc)
    
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #3f9fc0;")
      div 
        b $c-wawe<br>$c-indigo<br>$c-dark-grey 
        span (#3f9fc0)
    
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #7992a5;")
      div 
        b $c-blue-1<br>$c-blue-l 
        span (#7992a5)
    
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #b2c6d4;")
      div 
        b $c-blue-2<br>$c-blue-m 
        span (#b2c6d4)
    
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #c6d6e0;")
      div 
        b $c-blue-s 
        span (#c6d6e0)
    
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #d5e7f3;")
      div 
        b $c-blue-3 
        span (#d5e7f3)
    
    .col-md-2.col-sm-3.col-xs-6
      div(style="width: 100%; height: 50px; background-color: #e5f3fc;")
      div 
        b $c-blue-4 
        span (#e5f3fc)


  .container
    h2 Заголовки
    
    h1 H1 - Пример заголовка
      span.h-counter 1270
    h2 H2 - Пример заголовка
      span.h-counter 1270
    h3 H3 - Пример заголовка
      span.h-counter 1270
    h4 H4 - Пример заголовка
      span.h-counter 1270
    h5 H5 - Пример заголовка
      span.h-counter 1270
    h6 H6 - Пример заголовка
      span.h-counter 1270 
  
  .container
    h1 Текст
    p Специалисты нашей компании разрабатывают и изготавливают упаковку из картона более 15 лет. Колоссальный опыт в этой сфере позволяет нам выполнять любые заказы на производство картонных упаковок независимо от сложности конструкции и объема работ.
    .h4 Полезный совет
    .text-sovet Гофрокороба часто используются не&nbsp;по&nbsp;прямому предназначению. После использования они служат лежанками для домашних животных, домиками для детских игр, а&nbsp;зимой превращаются в&nbsp;ледянки.
    p Специалисты нашей компании разрабатывают и изготавливают упаковку из картона более 15 лет. Колоссальный опыт в этой сфере позволяет нам выполнять любые заказы на производство картонных упаковок независимо от сложности конструкции и объема работ.
    .h4 Мелкий текст
    p.text-small Специалисты нашей компании разрабатывают и изготавливают упаковку из картона более 15 лет. Колоссальный опыт в этой сфере позволяет нам выполнять любые заказы на производство картонных упаковок независимо от сложности конструкции и объема работ.
    p Специалисты нашей компании разрабатывают и изготавливают упаковку из картона более 15 лет. Колоссальный опыт в этой сфере позволяет нам выполнять любые заказы на производство картонных упаковок независимо от сложности конструкции и объема работ.
    
  .container
    h1 Текст
    p Специалисты нашей компании разрабатывают и изготавливают упаковку из картона более 15 лет. Колоссальный опыт в этой сфере позволяет нам выполнять любые заказы на производство картонных упаковок независимо от сложности конструкции и объема работ.
    .text-sovet      
      .h4 Полезный совет
      p Гофрокороба часто используются не&nbsp;по&nbsp;прямому предназначению. После использования они служат лежанками для домашних животных, домиками для детских игр, а&nbsp;зимой превращаются в&nbsp;ледянки.
    p Специалисты нашей компании разрабатывают и изготавливают упаковку из картона более 15 лет. Колоссальный опыт в этой сфере позволяет нам выполнять любые заказы на производство картонных упаковок независимо от сложности конструкции и объема работ.
    .h4 Мелкий текст
    p.text-small Специалисты нашей компании разрабатывают и изготавливают упаковку из картона более 15 лет. Колоссальный опыт в этой сфере позволяет нам выполнять любые заказы на производство картонных упаковок независимо от сложности конструкции и объема работ.
    p Специалисты нашей компании разрабатывают и изготавливают упаковку из картона более 15 лет. Колоссальный опыт в этой сфере позволяет нам выполнять любые заказы на производство картонных упаковок независимо от сложности конструкции и объема работ.

  .container
    h1 Ссылки
    h2 В шапке
    a(href="#") Обычная ссылка
    | &emsp;
    a.ajax-link(href="#") Ajax ссылка 
    
    h2 в тексте
    p Специалисты нашей компании разрабатывают 
      a(href="#") Обычная ссылка
      |  и изготавливают упаковку из картона более 15 лет.
    p Специалисты нашей компании разрабатывают 
      a.ajax-link(href="#") Ajax ссылка
      |  и изготавливают упаковку из картона более 15 лет.
    
    h2 в подвале
    a(href="#") Обычная ссылка 
    | &emsp;
    a.ajax-link(href="#") Ajax ссылка 
    hr
    
  .container
    .col-md-12
      h1 Кнопки
      p Общий класс
      pre .btn
    
    .col-md-3
      h2 Type-1
      p Кнопки по умолчанию
      
      a.btn.btn-default( href="" ) Основной размер
      hr.i-size-S
      pre .btn.btn-default
      hr.i-size-S
      
      a.btn.btn-default.btn-md( href="" ) Средний размер
      hr.i-size-S
      pre .btn.btn-default.btn-md
      hr.i-size-S
      
      a.btn.btn-default.btn-sm( href="" ) Маленький размер
      hr.i-size-S
      pre .btn.btn-default.btn-sm
    
    .col-md-3
      h2 Type-2
      p Кнопки квадратные
      
      a.btn.btn-type-2( href="" ) Основной размер
      hr.i-size-S
      pre .btn.btn-type-2
      hr.i-size-S
      
      a.btn.btn-type-2-md( href="" ) Средний размер
      hr.i-size-S
      pre .btn.btn-type-2-md
      hr.i-size-S
      
      a.btn.btn-type-2-sm( href="" ) Маленький размер
      hr.i-size-S
      pre .btn.btn-type-2-sm
      hr.i-size-S
      
    .col-md-3
      h2 Type-3
      p Кнопки квадратные прозрачные/голубые
      
      a.btn.btn-type-3( href="" ) Основной размер
      hr.i-size-S
      pre .btn.btn-type-3
      hr.i-size-S
      
      a.btn.btn-type-3.btn-md( href="" ) Средний размер
      hr.i-size-S
      pre .btn.btn-type-3.btn-md
      hr.i-size-S
      
      a.btn.btn-type-3.btn-sm( href="" ) Маленький размер
      hr.i-size-S
      pre .btn.btn-type-3.btn-sm
      hr.i-size-S
      
    .col-md-3
      h2 Type-4
      p Кнопки квадратные прозрачные/желтые
      
      a.btn.btn-type-4( href="" ) Основной размер
      hr.i-size-S
      pre .btn.btn-type-4
      hr.i-size-S
      
      a.btn.btn-type-4.btn-md( href="" ) Средний размер
      hr.i-size-S
      pre .btn.btn-type-4.btn-md
      hr.i-size-S
      
      a.btn.btn-type-4.btn-sm( href="" ) Маленький размер
      hr.i-size-S
      pre .btn.btn-type-4.btn-sm
      hr.i-size-S
   
    .col-md-3
      h2 Type-5
      p Кнопки квадратные серые/желтые
      
      a.btn.btn-type-5( href="" ) Основной размер
      hr.i-size-S
      pre .btn.btn-type-5
      hr.i-size-S
      
      a.btn.btn-type-5.btn-md( href="" ) Средний размер
      hr.i-size-S
      pre .btn.btn-type-5.btn-md
      hr.i-size-S
      
      a.btn.btn-type-5.btn-sm( href="" ) Маленький размер
      hr.i-size-S
      pre .btn.btn-type-5.btn-sm
      hr.i-size-S
    
    .col-md-3
      h2 Type-6
      p Кнопки квадратные серые/желтые
      
      a.btn.btn-type-6( href="" ) Основной размер
      hr.i-size-S
      pre .btn.btn-type-6
      hr.i-size-S
      
      a.btn.btn-type-6.btn-md( href="" ) Средний размер
      hr.i-size-S
      pre .btn.btn-type-6.btn-md
      hr.i-size-S
      
      a.btn.btn-type-6.btn-sm( href="" ) Маленький размер
      hr.i-size-S
      pre .btn.btn-type-6.btn-sm
      hr.i-size-S
  
  .container
    .col-md-12
      h2 Формы
    
    .col-md-12
      h3 Поля ввода
    
    .col-md-12
      h3 input type=text (text)
      input.form-control(name="nameExemple" size="4" type="text")
      
    .col-md-12
      h3 input type=text (number)
      input.form-control(name="nameExemple" size="4" type="text" data-inputstep="20" data-inputmin="1" data-inputtype="number")
      
      hr.i-size-S
      pre 
        code.language-html(data-lang="html") 
          span <
          span input
          span  name="nameExemple" size="4" type="text" data-inputtype="number" data-inputstep="20" data-inputmin="1" data-inputmax="" />
      
    .col-md-12
      h3 none
      


  h1.center Изготовление упаковки
  
  .text-large.center.text-muted В галерее представлены работы, которые позволят оценить наши возможности
  
  hr
        
  .row
    .col-sm-6
      h2 Антэк. Изготовление картонных коробок

      p Специалисты нашей компании разрабатывают и изготавливают упаковку из картона более 15 лет. Колоссальный опыт в этой сфере позволяет нам выполнять любые заказы на производство картонных упаковок независимо от сложности конструкции и объема работ.

      p Принцип бережливого производства позволяет не расходовать материал впустую! При этом производственный процесс автоматизирован, а качество продукции проверяется на всех этапах изготовления – от выбора картона до выхода товара в тираж. Благодаря этому наши клиенты получают качественную продукцию точно в срок.

      h3 Антэк. Новые возможности

      p Упаковочная коробка из картона пользуется спросом больше века. Однако сегодня она выполняет не только «упаковочные» функции, но и помогает подчеркнуть индивидуальный стиль компании. Мы поможем воплотить самые смелые маркетинговые идеи и создать уникальную брендовую упаковку!

      h4 Антэк. Новые возможности

      p Упаковочная коробка из картона пользуется спросом больше века. Однако сегодня она выполняет не только «упаковочные» функции, но и помогает подчеркнуть индивидуальный стиль компании. Мы поможем воплотить самые смелые маркетинговые идеи и создать уникальную брендовую упаковку!

    .col-sm-6
      h5 Антэк. Ценность предложения

      p Вы можете заказать изготовление упаковочных коробок «под ключ» – от разработки макета до серийного производства и печати бренда на упаковке. Мы разрабатываем и изготавливаем на заказ коробки любых размеров и форм-факторов.

      p Наши специалисты помогут создать удобную упаковку оптимальной конструкции, отвечающей необходимым параметрам (форма, размер, вес, ценность) и требованиям бережного хранения и транспортировки.

      h6 Антэк. Покоряем вершины вместе

      p Наша миссия – создавать продукт, который приносит практическую пользу и позволяет сохранить экологию Земли. Мы изготавливаем функциональные картонные коробки из экологически чистого картона.

      p Мы создаем не просто удобную упаковку, а изделия нового поколения в Москве. Мы рады, что вместе с вами поэтапно выходим на новый уровень!

      h6.h1 Антэк. Покоряем вершины вместе

      p Наша миссия – создавать продукт, который приносит практическую пользу и позволяет сохранить экологию Земли. Мы изготавливаем функциональные картонные коробки из экологически чистого картона.

      p Мы создаем не просто удобную упаковку, а изделия нового поколения в Москве. Мы рады, что вместе с вами поэтапно выходим на новый уровень!
      
  hr
  