
<!-- start /components/ideas.section/-->
<link rel="stylesheet" href="/components/ideas.section/style.css"/>
<script src="/components/ideas.section/script.js"></script>
<div class="b-ideas-section">
  <h2>Портфолио<span class="b-h-sup">1270</span></h2>
  <hr/>
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div itemscope="itemscope" itemtype="http://schema.org/ImageGallery" class="b-ideas-card"><a href="/ideas/detail/" style="background-image: url( '/upload/ideas/1.jpg' );" itemprop="image" class="b-ideas-card__img"></a>
            <h3 itemprop="name">Коллекционная подарочная упаковка для Monsieur Bojangles </h3>
            <p itemprop="description">Дизайнер из Вильнюса Gražina Bočkutė создал интерактивную экологически безопасную упаковку инструментов Дизайнер из Вильнюса Gražina Bočkutė создал интерактивную экологически безопасную упаковку инструментов...</p>
            <div class="b-ideas-card__bottom"><a href="">Скачать&nbsp;<span class="glyphicon glyphicon-save"></span></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div itemscope="itemscope" itemtype="http://schema.org/ImageGallery" class="b-ideas-card"><a href="/ideas/detail/" style="background-image: url( '/upload/ideas/1.jpg' );" itemprop="image" class="b-ideas-card__img"></a>
            <h3 itemprop="name">Коллекционная подарочная упаковка для Monsieur Bojangles </h3>
            <p itemprop="description">Дизайнер из Вильнюса Gražina Bočkutė создал интерактивную экологически безопасную упаковку инструментов Дизайнер из Вильнюса Gražina Bočkutė создал интерактивную экологически безопасную упаковку инструментов...</p>
            <div class="b-ideas-card__bottom"><a href="">Скачать&nbsp;<span class="glyphicon glyphicon-save"></span></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div itemscope="itemscope" itemtype="http://schema.org/ImageGallery" class="b-ideas-card"><a href="/ideas/detail/" style="background-image: url( '/upload/ideas/1.jpg' );" itemprop="image" class="b-ideas-card__img"></a>
            <h3 itemprop="name">Коллекционная подарочная упаковка для Monsieur Bojangles </h3>
            <p itemprop="description">Дизайнер из Вильнюса Gražina Bočkutė создал интерактивную экологически безопасную упаковку инструментов Дизайнер из Вильнюса Gražina Bočkutė создал интерактивную экологически безопасную упаковку инструментов...</p>
            <div class="b-ideas-card__bottom"><a href="">Скачать&nbsp;<span class="glyphicon glyphicon-save"></span></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div itemscope="itemscope" itemtype="http://schema.org/ImageGallery" class="b-ideas-card"><a href="/ideas/detail/" style="background-image: url( '/upload/ideas/1.jpg' );" itemprop="image" class="b-ideas-card__img"></a>
            <h3 itemprop="name">Коллекционная подарочная упаковка для Monsieur Bojangles </h3>
            <p itemprop="description">Дизайнер из Вильнюса Gražina Bočkutė создал интерактивную экологически безопасную упаковку инструментов Дизайнер из Вильнюса Gražina Bočkutė создал интерактивную экологически безопасную упаковку инструментов...</p>
            <div class="b-ideas-card__bottom"><a href="">Скачать&nbsp;<span class="glyphicon glyphicon-save"></span></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div itemscope="itemscope" itemtype="http://schema.org/ImageGallery" class="b-ideas-card"><a href="/ideas/detail/" style="background-image: url( '/upload/ideas/1.jpg' );" itemprop="image" class="b-ideas-card__img"></a>
            <h3 itemprop="name">Коллекционная подарочная упаковка для Monsieur Bojangles </h3>
            <p itemprop="description">Дизайнер из Вильнюса Gražina Bočkutė создал интерактивную экологически безопасную упаковку инструментов Дизайнер из Вильнюса Gražina Bočkutė создал интерактивную экологически безопасную упаковку инструментов...</p>
            <div class="b-ideas-card__bottom"><a href="">Скачать&nbsp;<span class="glyphicon glyphicon-save"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 hidden-sm hidden-xs">
      <nav class="left-menu text-small">
        <div class="root-item is-root opened-children"><a href="/production/fefco/" class="link">Все идеи<span class="h-counter">154</span></a>
          <div class="togleChildrenBloc"></div>
          <div aria-expanded="true" role="" class="cildterblock collapse in">
            <ul class="children">
              <li class="rootlevel2"><a href="/production/fefco/02-vysechnye-gofrokoroba/">Про изготовление</a>
                <div class="togleChildrenBloc"></div>
                <ul class="children2 collapse in">
                  <li><a href="/production/fefco/02-vysechnye-gofrokoroba/">test1</a></li>
                  <li><a href="/production/fefco/02-vysechnye-gofrokoroba/">test2</a></li>
                  <li><a href="/production/fefco/02-vysechnye-gofrokoroba/">test3</a></li>
                </ul>
              </li>
              <li class="rootlevel2"><a href="/production/fefco/02-vysechnye-gofrokoroba/">Дизайнерские решения</a>
                <div class="togleChildrenBloc"></div>
                <ul class="children2 collapse">
                  <li><a href="/production/fefco/02-vysechnye-gofrokoroba/">test1</a></li>
                  <li><a href="/production/fefco/02-vysechnye-gofrokoroba/">test2</a></li>
                  <li><a href="/production/fefco/02-vysechnye-gofrokoroba/">test3</a></li>
                </ul>
              </li>
              <li><a href="/production/fefco/02-vysechnye-gofrokoroba/">Полезные советы</a></li>
              <li><a href="/production/fefco/02-vysechnye-gofrokoroba/">Лайфхаки</a></li>
              <li><a href="/production/fefco/02-vysechnye-gofrokoroba/">Как выбрать упаковки</a></li>
              <li><a href="/production/fefco/02-vysechnye-gofrokoroba/">Про упаковку в деталях</a></li>
            </ul>
          </div>
        </div>
        <div class="root-item is-root"><a href="/production/galia/" class="link">По видам продукции<span class="h-counter">154</span></a>
          <div class="togleChildrenBloc"></div>
          <div aria-expanded="false" role="" style="height: 15px;" class="cildterblock collapse">
            <ul class="children">
              <li><a href="/production/fefco/02-vysechnye-gofrokoroba/">Про изготовление</a></li>
              <li><a href="/production/fefco/02-vysechnye-gofrokoroba/">Дизайнерские решения</a></li>
              <li><a href="/production/fefco/02-vysechnye-gofrokoroba/">Полезные советы</a></li>
              <li><a href="/production/fefco/02-vysechnye-gofrokoroba/">Лайфхаки</a></li>
              <li><a href="/production/fefco/02-vysechnye-gofrokoroba/">Как выбрать упаковки</a></li>
              <li><a href="/production/fefco/02-vysechnye-gofrokoroba/">Про упаковку в деталях</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<!-- end /components/ideas.section/-->