extends ../layouts/main.jade

block title
  title Main page | antech

block content
  .container
    h1 Помощь, ориентир в мире упаковки
  
  .container
    .row
      .col-md-6
        h2 Правила приемки
        p Правила для урегулирования претензий, могущих возникнуть, по&nbsp;количеству и&nbsp;качеству товара (коробки, упаковка и&nbsp;упаковочные материалы). Требования к&nbsp;товару, претензии по&nbsp;качеству и&nbsp;количеству, приемка товара и&nbsp;т.п.
        p 
          a(href="/help/pravila/kachestvo.pdf") Скачать правила проверки в&nbsp;формате PDF
        p 
          a(href="/help/pravila/poryadokvygruzki.pdf") Инструкция о&nbsp;порядке выгрузки в&nbsp;формате PDF
        p Правила для регулирования процедуры и условий поставки товара: договор-оферта, сроки поставки, доставка и вывоз товара и т.п.
        p
          a( href="/help/pravila/postavka.pdf") Скачать правила поставки в&nbsp;формате PDF
      
      .col-md-6
        h2 Методы испытания коробок
        p Упаковка из&nbsp;гофрокартона имеет ряд отличительных качеств, свойственных только&nbsp;ей. Приобретая или изготавливая такую упаковку следует знать как ее&nbsp;положительные качества, так и&nbsp;слабые стороны.
        p Основные виды испытаний коробок из&nbsp;гофрокартона:
        ul
          li Испытание пустой коробки из&nbsp;гофрокартона&nbsp;на 
            a( href="/help/test-box/compressive-strength.php") сопротивление сжатию
          li Испытание коробки из&nbsp;гофрокартона&nbsp;на 
            a( href="/help/test-box/shock-drop.php") ударопрочность при падении
          li Испытание коробки из&nbsp;гофрокартона&nbsp;на 
            a( href="/help/test-box/resistance-to-vibrations.php") устойчивость к низкочастотным колебаниям
    
    .row
      .col-md-6
        h2 ГОСТ
        
      
      
      .col-md-6
        h2 Достака, полата, гарантии
        p
          a( href="/help/delivery/") Доставка
        p
          a( href="/help/oplata/") Оплата
        p
          a( href="/help/garantii/") Гарантии и возврат
    
      