.a-catalog-card-horisontal
  .row
    .col-md-4
      img.img-responsive( src="/img/fefco-temp-1.jpg")
    .col-md-8
      .h3.card-name Коробки оберточного типа и складные ящики, коробки с крышкой и дном
      .card-text 
        p aus hochwertigen Papieren hergestellt werden platzsparend angeliefert 100% recyclingfähig angegebene Maße sind immer Innenmaße Sonderformate auch in kleineren Mengen möglich sämtliche in diesem Shop befindlichen Kartonagen stammen aus unserer eigenen Produktion! individuell bedruckbar auf Anfrage
      a.card-link(href="") Подробнее
  
  .row
    .h4 Размеры в наличии
    
    include ../../components/catalog.offers-list/template
    