.a-construct-card
  a.card-image(href="")
    img.img-responsive( src="/upload/fefco/section-temp-#{imgItem}.jpg")
    .card-name-block
      .card-code 07xx
      .card-name Коробки оберточного типа и складные ящики, коробки с крышкой и дном
      .card-price
        | от&nbsp;
        b 35,45
        | &nbsp;р
    