// start /components/ideas.section/

link( rel="stylesheet", href="/components/ideas.section/style.css" )
script( src="/components/ideas.section/script.js" )

.b-ideas-section

  h2 Портфолио
    span.b-h-sup 1270
    
  hr
    
  .row
  
    .col-md-9.col-sm-12
      
      .row
        
        .col-lg-4.col-md-6.col-sm-6
          include card
        
        .col-lg-4.col-md-6.col-sm-6
          include card
        
        .col-lg-4.col-md-6.col-sm-6
          include card
        
        .col-lg-4.col-md-6.col-sm-6
          include card
        
        .col-lg-4.col-md-6.col-sm-6
          include card
      
    .col-sm-3.hidden-sm.hidden-xs
      nav.left-menu.text-small
        .root-item.is-root.opened-children
          a.link( href='/production/fefco/' )
            | Все идеи
            span.h-counter 154
          
          .togleChildrenBloc
          .cildterblock.collapse.in(aria-expanded='true', role="")
            ul.children
              li.rootlevel2
                a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) Про изготовление
                .togleChildrenBloc
                ul.children2.collapse.in
                  li
                    a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) test1
                  li
                    a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) test2
                  li
                    a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) test3
              li.rootlevel2
                a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) Дизайнерские решения
                .togleChildrenBloc
                ul.children2.collapse
                  li
                    a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) test1
                  li
                    a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) test2
                  li
                    a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) test3
              li
                a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) Полезные советы
              li
                a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) Лайфхаки
              li
                a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) Как выбрать упаковки
              li
                a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) Про упаковку в деталях
                
        .root-item.is-root
          a.link( href='/production/galia/' )
            | По видам продукции
            span.h-counter 154
          
          .togleChildrenBloc
          .cildterblock.collapse(aria-expanded='false', role="", style='height: 15px;')
            ul.children
              li
                a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) Про изготовление
              li
                a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) Дизайнерские решения
              li
                a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) Полезные советы
              li
                a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) Лайфхаки
              li
                a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) Как выбрать упаковки
              li
                a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) Про упаковку в деталях

// end /components/ideas.section/