// start /include/construct/advantages/

.construct-preim-container
  .construct-preim-item(style="background-image: url(/upload/fefco/fefco_morda_1.svg);")
    span.text Мы&nbsp;адаптируем конструкцию к&nbsp;вашему продукту
  .construct-preim-item(style="background-image: url(/upload/fefco/fefco_morda_2.svg);")
    span.text Создадим привлекательное оформление
  .construct-preim-item(style="background-image: url(/upload/fefco/fefco_morda_3.svg);")
    span.text Сделаем промышленный образец и&nbsp;пробную партию

// end /include/construct/advantages/