.a-construct-indes-card
  a.card-image(href="")
    img( src="/img/fefco-temp-1.jpg" alt="" width="200" height="200")
  .card-name-block
    a.card-name(href="") Крупногабаритные 
      span.line-counter.text-small (16&nbsp;вариантов)
    