// start /components/construct/

link( rel="stylesheet", href="/components/construct/style.css" )
script( src="/components/construct/script.js" )


    
  
.a-construct
  .section
    .row.first-line
      .col-md-1.col-sm-1.col-xs-2
        img.h-icon(src="/upload/fefco/fefco_morda_1.svg")
      .col-md-8.col-sm-11.col-xs-10
        h1.h3 02 - Высеченные коробки и 4-хклапанные коробки
          span.h-counter 1270
      .col-md-3.hidden-sm.hidden-xs
        a.btn.btn-type-3 Скачать каталог FEFCO
    
  .section.section-lines-top
    
    .row.construct-flex-line
      
      .col-md-8
        include description
      
      .col-md-4
        include advantages
      
    hr.gray
  
  // construct item greed start
  .row.section-grid
    - var imgItem = 1;
    - for (var i=0; i < 10; i++)
      .col-md-6.border-line-bottom-xs
        include card_section
      - imgItem++
      - if (imgItem > 3)
        - imgItem = 1;
    
  // construct item greed end

  .row.text-center

    include ../../include/pagination
          
      
    
  // include file add text start
  hr.i-size-S
  hr.gray
  .section
    include addtextfile
  hr.gray
  // include file add text end

// end /components/construct/