.row.b-menu-list
  .col-sm-3.col-xs-6.center
    span.b-ul-icon
      span
        img( src="/upload/1.svg" )
    p.text-muted.text-middle Приедем<br>и проконсультируем
  
  .col-sm-3.col-xs-6.center
    span.b-ul-icon
      span
        img( src="/upload/1.svg" )
    p.text-muted.text-middle Проведем<br>анализ рынка
    
  hr.visible-xs-block.clearfix
  
  .col-sm-3.col-xs-6.center
    span.b-ul-icon
      span.i-6
    p.text-muted.text-middle Разработаем<br>дизайн и конструкцию
  
  .col-sm-3.col-xs-6.center
    span.b-ul-icon
      span
        img( src="/upload/1.svg" )
    p.text-muted.text-middle Изготовим<br>3D-модель и прототип
