.row.b-menu-list
  .col-sm-4.center
    span.b-ul-icon
      span.i-4
    p
      b Гарантированные сроки
    p.text-muted.text-middle Изготовим и отгрузим заказ точно в срок
    
  hr.visible-xs-block
  
  .col-sm-4.center
    span.b-ul-icon
      span.i-5
    p
      b Высокое качество продукции
    p.text-muted.text-middle Используем только высококачественное сырье
    
  hr.visible-xs-block
  
  .col-sm-4.center
    span.b-ul-icon
      span.i-6
    p
      b Внимательное обслуживание
    p.text-muted.text-middle Отвечаем быстро. Помогаем сразу. Находим лучшее решение.