.row.b-menu-list
  .col-sm-4.center
    span.b-ul-icon
      span.i-1
    p
      b Приезжаем<br>и консультируем
    
  hr.visible-xs-block
  
  .col-sm-4.center
    span.b-ul-icon
      span.i-2
    p
      b Разрабатываем дизайн<br>и конструкцию 
    
  hr.visible-xs-block
  
  .col-sm-4.center
    span.b-ul-icon
      span.i-3
    p
      b Изготавливаем 3D-модель<br>и пробный образец