.row.b-menu-list
  .col-sm-4.center
    span.b-ul-icon
      span.i-4
    p
      b Лучшая цена
    p.text-muted.text-middle Вы получаете лучшее качество<br>по оптимальной цене
    
  hr.visible-xs-block
  
  .col-sm-4.center
    span.b-ul-icon
      span.i-5
    p
      b Шоурум
    p.text-muted.text-middle Посмотреть, испытать и выбрать<br>всего в  2км от МКАД
    
  hr.visible-xs-block
  
  .col-sm-4.center
    span.b-ul-icon
      span.i-6
    p
      b Быстрая доставка
    p.text-muted.text-middle Доставляем по Москве<br>и области