.row.b-menu-list
  .col-sm-4.center
    span.b-ul-icon
      span.i-7
    p
      b 1. Разработка
    p.text-muted.text-middle Разработаем конструкцию и дизайн с учетом ваших пожеланий и технических требований
    
  hr.visible-xs-block
  
  .col-sm-4.center
    span.b-ul-icon
      span.i-8
    p
      b 2. Производство
    p.text-muted.text-middle Изготовим упаковку от 3 до 5 дней любого размера, формы и нанесем печать.
    
  hr.visible-xs-block
  
  .col-sm-4.center
    span.b-ul-icon
      span.i-9
    p
      b 3. Отгрузка
    p.text-muted.text-middle Мы можем доставить заказ по Москве и МО. Или отгрузить с нашего склада.