.row.b-menu-list
  .col-sm-4.center
    span.b-ul-icon
      span.i-10
    p.text-middle Обращаетесь удобным вам способом:<br>звоните <b>8 800 555-55-70</b><br>или <a href="">закажите звонок</a>
    
  hr.visible-xs-block
  
  .col-sm-4.center
    span.b-ul-icon
      span.i-11
    p.text-middle Затем вы ставите нам задачу<br>в удобном для вас<br>формате
    
  hr.visible-xs-block
  
  .col-sm-4.center
    span.b-ul-icon
      span.i-12
    p.text-middle Далее все необходимые<br>работы осуществляем<br>мы