.row.b-menu-list
  .col-sm-4.center
    span.b-ul-icon
      span.i-6
    p
      b Доставка
    p.text-muted.text-middle Удобная доставка по Москве<br>и Московской области
    
  hr.visible-xs-block
  
  .col-sm-4.center
    span.b-ul-icon
      span.i-4
    p
      b Оплата
    p.text-muted.text-middle Оплата наличными при<br>получение или по счету.
    
  hr.visible-xs-block
  
  .col-sm-4.center
    span.b-ul-icon
      span.i-7
    p
      b Возврат
    p.text-muted.text-middle Возврат осуществляется в течение 14 дней с момента покупки.