@import '../../styl/component-include.styl'

.b-ul-icon
  width 142px
  height 142px
  background url( 'images/ul-bg.png' ) no-repeat center center
  display inline-block
  vertical-align top
  margin-bottom 25px
  transform translateY( 100px )
  transition( all 1s ease)
  opacity 0
  
  .i-animate &
    transform translateY(0)
    opacity 1
  
  @media ( max-width 767px )
    margin-bottom 15px
  
  span
    width 142px
    height 142px
    display inline-block
    vertical-align top
  
  .i-1
    background embedurl( 'img/ul-1.png' ) no-repeat center center
  
  .i-2
    background embedurl( 'img/ul-2.png' ) no-repeat center center
  
  .i-3
    background embedurl( 'img/ul-3.png' ) no-repeat center center
  
  .i-4
    background embedurl( 'img/ul-4.png' ) no-repeat center center
  
  .i-5
    background embedurl( 'img/ul-5.png' ) no-repeat center center
  
  .i-6
    background embedurl( 'img/ul-6.png' ) no-repeat center center
  
  .i-7
    background embedurl( 'img/ul-7.png' ) no-repeat center center
  
  .i-8
    background embedurl( 'img/ul-8.png' ) no-repeat center center
  
  .i-9
    background embedurl( 'img/ul-9.png' ) no-repeat center center
  
  .i-10
    background embedurl( 'img/ul-10.png' ) no-repeat center center
  
  .i-11
    background embedurl( 'img/ul-11.png' ) no-repeat center center
  
  .i-12
    background embedurl( 'img/ul-12.png' ) no-repeat center center

    
.b-menu-list
  margin 86px 0
  
  &:last-child
    margin-bottom 0
  
  p
    b
      font-weight 400
      font-size 14pt
      
    &:last-child
      margin-bottom 0
      
    &.text-middle
      b
        font-size 17px
        
      a
        color #018ef1