@import '../../styl/component-include.styl'

.b-ul-icon
  width auto
  height auto
  display inline-block
  vertical-align top
  transform translateY( 100px )
  transition( all 1s ease)
  opacity 0
  
  .i-animate &
    transform translateY(0)
    opacity 1
  
  @media ( max-width 767px )
    margin-bottom 15px
  
  span
    width 70px
    height 70px
    display inline-block
    vertical-align top
    
    svg
      width 100%
      height auto
      
  span[ class*='i-' ]
    width 142px
    height 142px
  
  .i-1
    background url( 'images/menu-list/consult.png' ) no-repeat center center
  
  .i-2
    background url( 'images/menu-list/design.png' ) no-repeat center center
  
  .i-3
    background url( 'images/menu-list/3d.png' ) no-repeat center center
  
  .i-4
    background url( 'images/menu-list/price.png' ) no-repeat center center
  
  .i-5
    background url( 'images/menu-list/showroom.png' ) no-repeat center center
  
  .i-6
    background url( 'images/menu-list/delivery.png' ) no-repeat center center
  
  .i-7
    background url( 'images/menu-list/dev.png' ) no-repeat center center
  
  .i-8
    background url( 'images/menu-list/otgruzka.png' ) no-repeat center center
  
  .i-9
    background url( 'images/menu-list/prod.png' ) no-repeat center center
  
  .i-10
    background url( 'images/menu-list/task.png' ) no-repeat center center
  
  .i-11
    background url( 'images/menu-list/tel.png' ) no-repeat center center
  
  .i-12
    background url( 'images/menu-list/work.png' ) no-repeat center center
  
  .i-13
    background url( 'images/menu-list/1.png' ) no-repeat center center

    
.b-menu-list
  padding 40px 0
  
  p
    
    b
      font-weight 400
      font-size 14pt
      
    &:last-child
      margin-bottom 0
      
    &.text-middle
      font-size 15pt
      line-height normal
      
      @media( max-width 767px )
        font-size 10.5pt
      
      b
        font-size 17px
        
      a
        color #018ef1