
<!-- start /components/video-banner/-->
<link rel="stylesheet" href="/components/video-banner/style.css"/>
<script src="/components/video-banner/script.js"></script>
<div class="b-video-banner2">
  <div style="background-color: pink;">
    <div class="container">
      <div class="b-video-player2-container">
        <div data-video-id="7DBxtut7Mpw" class="b-video-player"></div>
      </div>
    </div>
    <div style="background-image: url( '/template/images/fotorama-video-bg.png' );" class="b-video-banner2__cover">
      <div style="background-image: url( '/template/images/video-banner2-ill.jpg' );" class="b-video-banner2__ill"></div>
      <div class="container">
        <div class="b-video-button2">
          <div class="i-icon"></div>
          <div class="b-video-button2__text">Смотреть презентацию</div>
        </div>
        <div class="b-h1"><span class="b-laquo"></span>Если упаковка особенная, то и содержимое становится особенным<span class="b-raquo"></span></div>
        <p class="b-video-banner__sign"><em>Антон Блинов. Основатель компании</em></p>
        <div class="b-video-button2 i-text">
          <div class="i-icon"></div>
          <div class="b-video-button2__text"> Смотреть презентацию</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end /components/video-banner/-->