
<div id="slide-1" data-ytvideo="7DBxtut7Mpw" data-videoid="videoBigupack" data-videoautoplay="true" class="item item-slide-4">
  <div class="video-container">
    <video loop="loop" preload="none" poster="/upload/banner/preload_image_ploter_antech1.png" muted="muted" class="video-bg">
      <source src="/upload/banner/ploter_antech2.mp4" type="video/mp4"/>
    </video>
    <div style="background-image: url(/upload/banner/preload_image_ploter_antech1.png);" class="mobile-bg"></div>
    <div class="shadow-bg"></div>
  </div>
  <div class="baner-content text-center-xs">
    <h1 class="bn-h1">Производство упаковки из гофрокантона</h1><a href="#" data-toggle="modal" data-target="#aboutVideo"><span class="play-link"><img src="/upload/banner/play_button.svg" alt="play" class="play-icon"/></span></a><a href="#" data-toggle="modal" data-target="#aboutVideo"><span class="bn-text">Посмотреть презентацию</span></a>
  </div>
  <div data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Приезжайте к нам в офис и мы бесплатно изготовим прототип для Вас!" data-original-title="" title="" class="present_teaser popover_teaser"><a href="#" data-toggle="modal" data-target="#callMe"><img src="/upload/banner/baner_obrazec_present.png" alt="Образце в подарок каждому приехавшему на встречу в офис" class="img-responsive"/></a></div>
</div>