
<!-- start /components/banner-transition/-->
<link rel="stylesheet" href="/components/banner-carousel/style.css"/>
<script src="/components/banner-carousel/script.js"></script>
<link rel="stylesheet" href="/components/banner-carousel/index-carousel.css"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.min.js"></script>
<div class="index-baner-1">
  <div data-width="100%" data-arrows="true" data-loop="true" data-autoplay="0" data-swipe="true" data-click="false" class="firstbanerfotorama">
    <div id="slide-6" data-ytvideo="-ULvQq7CR58" data-videoid="videoBigupack" data-videoautoplay="true" class="item item-slide-6">
      <div class="row baner-plashka">
        <div class="col-sm-7 col-md-7 red-bg">
          <div class="col-sm-6 col-md-6 col-lg-7 col-sm-offset-1">
            <div class="baner-header h">Мы&nbsp;изготавливаем<br>крупногабаритную упаковку</div>
          </div>
          <div class="col-sm-12 clearfix-sep"></div>
          <div class="col-sm-6 col-md-6 col-lg-8 col-sm-offset-1"><span data-toggle="modal" data-target="#videoBigupack" class="baner-video-start"><span class="baner-video-start-icon">Посмотреть<br>видеопрезентацию</span></span></div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-3 col-lg-offset-1 cb-baner-colum add_cb_form">
          <div class="callback-form-plashka">
            <div class="b-call-me-form">
              <div class="b-call-me-form__form">
                <div class="text-large">
                   
                  Позвоним<br class="hidden-xs"/>&nbsp;за&nbsp;<b class="text-red">20</b>&nbsp;секунд
                </div>
                <div style="display: none;" class="text-large">Позвоним завтра</div>
                <div style="display: none;">Позвоним в удобное время<br/>ровно в
                  <select name="HOUR" class="select">
                    <option value="9">9</option>
                    <option value="10" selected="">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                  </select> 
                  :
                   
                  <select name="MINUTE" class="select">
                    <option value="00">00</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45  </option>
                  </select>
                </div>
                <form action="/json/call-me.json" method="GET">
                  <div class="form-group">
                    <input name="phone" type="text" placeholder="Введите Ваш телефон" required="required" class="form-control input-phone"/>
                    <button type="submit" class="btn btn-type-2-md">Жду звонка!</button>
                  </div>
                </form>
              </div>
              <div data-num="20" class="b-call-me-form__counter"></div>
              <div class="b-call-me-form__feedback">
                <h2>Был ли наш специалист полезен?</h2>
                <hr class="i-size-S"/>
                <form action="/json/call-me.json" method="GET">
                  <div class="form-group b-call-me__smiles">
                    <label>
                      <input type="radio" name="mark" value="1"/><span></span>
                    </label>
                    <label>
                      <input type="radio" name="mark" value="2"/><span></span>
                    </label>
                    <label>
                      <input type="radio" name="mark" value="3"/><span></span>
                    </label>
                  </div>
                  <div class="form-group">
                    <textarea rows="10" cols="10" name="message" class="form-control"></textarea>
                  </div>
                  <button type="submit" required="required" class="btn btn-default">Оценить</button><a href="">Мне не перезвонили</a>
                </form>
              </div>
              <div class="b-call-me-form__thankyou">
                <h2>Благодарим за Вашу оценку</h2>
              </div>
              <div class="b-call-me-form__once-more">
                <h2>Приносим свои извинения</h2>
                <hr class="i-size-S"/>
                <p>Возможно, произошел технический сбой.</p>
                <hr class="i-size-S"/><a href="" class="btn btn-default">Еще раз!</a>
                <hr class="i-size-S"/>
                <p>Или вы можете позвонить нам по телефону<br><b>8 495 287-45-70</b></p>
              </div>
              <div class="b-call-me-form__callback">
                <div>
                  <h2>Ваша заявка принята!</h2>
                  <p class="text-large">
                    Мы перезвоним Вам в первый рабочий день в
                     <span id="callMeHour"></span>:<span id="callMeMinute"></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="slide-1" data-ytvideo="7DBxtut7Mpw" data-videoid="videoBigupack" data-videoautoplay="true" class="item item-slide-4">
      <div class="video-container">
        <video loop="loop" preload="none" poster="/upload/banner/preload_image_ploter_antech1.png" muted="muted" class="video-bg">
          <source src="/upload/banner/ploter_antech2.mp4" type="video/mp4"/>
        </video>
        <div style="background-image: url(/upload/banner/preload_image_ploter_antech1.png);" class="mobile-bg"></div>
        <div class="shadow-bg"></div>
      </div>
      <div class="baner-content text-center-xs">
        <h1 class="bn-h1">Производство упаковки из гофрокантона</h1><a href="#" data-toggle="modal" data-target="#aboutVideo"><span class="play-link"><img src="/upload/banner/play_button.svg" alt="play" class="play-icon"/></span></a><a href="#" data-toggle="modal" data-target="#aboutVideo"><span class="bn-text">Посмотреть презентацию</span></a>
      </div>
      <div data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Приезжайте к нам в офис и мы бесплатно изготовим прототип для Вас!" data-original-title="" title="" class="present_teaser popover_teaser"><a href="#" data-toggle="modal" data-target="#callMe"><img src="/upload/banner/baner_obrazec_present.png" alt="Образце в подарок каждому приехавшему на встречу в офис" class="img-responsive"/></a></div>
    </div>
    <div id="slide-2" class="item item-slide-3">
      <div class="baner-content text-center-xs"><img src="/upload/banner/ny18_headtext1.jpg" alt="Пора!" class="header-text"/>
        <div class="text-first">Мы&nbsp;предлагаем Вам <br class="visible-lg">готовые решения для упаковки <br class="visible-lg">новогодних подарков!</div><a href="/catalog/novogodnyaya-podarochnaya-upakovka/"><span class="btn btn-type-1">Выбрать</span></a>
      </div>
    </div>
    <div id="slide-4" style="background-image: url(/upload/banner/index-baner-1.jpg)" class="item item-slide-2">
      <div class="h1 bn-h1">Изготовим коробки<br>на&nbsp;заказ</div>
      <div class="h3 bn-text">Заказать индивидуальную<br>упаковку очень просто!</div><a href="/production/" class="btn btn-default">Подробнее о производстве</a>
    </div>
    <div id="slide-3" class="item item-slide-1">
      <div class="white-plashka">
        <div class="h2">Добро пожаловать в&nbsp;Антэк!</div>
        <div class="h4">Мы&nbsp;производители упаковки из&nbsp;гофрокартона.</div>
        <hr/>
        <div class="bn-text">У&nbsp;нас вы&nbsp;можете <a href="/production/">сделать заказ</a> на&nbsp;изготовление индивидуальной упаковки или <a href="/catalog/">купить</a> типовые картонные коробки.</div>
      </div>
    </div>
    <div id="slide-5" class="item item-slide-5">
      <div class="baner-content text-center-xs">
        <h1 class="b-header1">Новогодняя подарочная упаковка</h1>
      </div>
    </div>
  </div>
</div>
<!-- end /components/banner-transition/-->