extends ../../layouts/main.jade

block title
  title Portfolio Detail | Antech

block content
  
  .b-top-panel
    .container
      -var header = "Портфолио"
      include ../../modules/top-header/include
      
  .container
    include ../../modules/breadcrumbs/portfolio
    
    hr
  
  hr.i-size-S
  
  .container
    
    h1 Упаковка для комплектов сока The Juice Cleanse
  
    .row
    
      .col-sm-9
    
        include ../../components/ideas.detail/template
        
        
      .col-sm-3
      
        .hidden-sm.hidden-xs
        
          nav.left-menu.text-small
            .root-item.is-root.opened-children
              a.link( href='/production/fefco/' )
                | Все идеи
                span.h-counter 154
                .togleChildrenBloc
              .cildterblock.collapse.in( aria-expanded='false', role="" )
                ul.children
                  li
                    a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) Про изготовление
                  li
                    a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) Дизайнерские решения
                  li
                    a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) Полезные советы
                  li
                    a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) Лайфхаки
                  li
                    a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) Как выбрать упаковки
                  li
                    a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) Про упаковку в деталях
                    
            .root-item.is-root
              a.link( href='/production/galia/' )
                | По видам продукции
                span.h-counter 154
                .togleChildrenBloc
              .cildterblock.collapse(aria-expanded='false', role="", style='height: 15px;')
                ul.children
                  li
                    a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) Про изготовление
                  li
                    a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) Дизайнерские решения
                  li
                    a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) Полезные советы
                  li
                    a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) Лайфхаки
                  li
                    a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) Как выбрать упаковки
                  li
                    a( href='/production/fefco/02-vysechnye-gofrokoroba/' ) Про упаковку в деталях
                    
          hr
        
        .b-next-idea.b-ill-block
          h5 Следующая идея
          a( href="" )
            img.b-image( src="/upload/ideas/8.jpg" )
          p Упаковка комплектов для приготовления The Irish Coffee
      
    hr.i-line-simple.i-size-M
    
    .row
      
      .col-sm-3.b-ill-block
        a( href="" )
          img( src="/upload/ideas/4.jpg" )
        p Новогодняя подарочная упаковка Kandang
        
      hr.visible-xs-block
      
      .col-sm-3.b-ill-block
        a( href="" )
          img( src="/upload/ideas/5.jpg" )
        p Упаковка для мыла из оливкового масла Cool soap
        
      hr.visible-xs-block
      
      .col-sm-3.b-ill-block
        a( href="" )
          img( src="/upload/ideas/6.jpg" )
        p Новогодняя подарочная упаковка Kandang 
        
      hr.visible-xs-block
      
      .col-sm-3.b-ill-block
        a( href="" )
          img( src="/upload/ideas/7.jpg" )
        p Упаковка комплектов для приготовления The Irish Coffee