doctype html
html( lang="ru" )
  head
    block title
      title antech
      
    include includes/meta.jade
    include includes/styles.jade
    include includes/scripts.jade
    
  body
    include includes/header.jade
    
    block content
      .content
        h1 antech
    
    include includes/footer.jade
