
<!-- start include/items_grid-->

<div class="item-grid">
  <div class="fotorama-tabs-usage">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="card-item">
        <div class="a-catalog-card">
          <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
            <div class="card-name-block text-small">
              <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
              <div class="card-price"><a href="" class="btn btn-type-2 btn-sm btn-inline">Подробнее</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="card-item">
        <div class="a-catalog-card">
          <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
            <div class="card-name-block text-small">
              <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
              <div class="card-price"><a href="" class="btn btn-type-2 btn-sm btn-inline">Подробнее</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="card-item">
        <div class="a-catalog-card">
          <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
            <div class="card-name-block text-small">
              <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
              <div class="card-price"><a href="" class="btn btn-type-2 btn-sm btn-inline">Подробнее</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="card-item">
        <div class="a-catalog-card">
          <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
            <div class="card-name-block text-small">
              <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
              <div class="card-price"><a href="" class="btn btn-type-2 btn-sm btn-inline">Подробнее</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="card-item">
        <div class="a-catalog-card">
          <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
            <div class="card-name-block text-small">
              <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
              <div class="card-price"><a href="" class="btn btn-type-2 btn-sm btn-inline">Подробнее</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="card-item">
        <div class="a-catalog-card">
          <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
            <div class="card-name-block text-small">
              <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
              <div class="card-price"><a href="" class="btn btn-type-2 btn-sm btn-inline">Подробнее</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="card-item">
        <div class="a-catalog-card">
          <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
            <div class="card-name-block text-small">
              <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
              <div class="card-price"><a href="" class="btn btn-type-2 btn-sm btn-inline">Подробнее</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="card-item">
        <div class="a-catalog-card">
          <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
            <div class="card-name-block text-small">
              <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
              <div class="card-price"><a href="" class="btn btn-type-2 btn-sm btn-inline">Подробнее</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="card-item">
        <div class="a-catalog-card">
          <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
            <div class="card-name-block text-small">
              <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
              <div class="card-price"><a href="" class="btn btn-type-2 btn-sm btn-inline">Подробнее</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="card-item">
        <div class="a-catalog-card">
          <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
            <div class="card-name-block text-small">
              <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
              <div class="card-price"><a href="" class="btn btn-type-2 btn-sm btn-inline">Подробнее</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="card-item">
        <div class="a-catalog-card">
          <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
            <div class="card-name-block text-small">
              <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
              <div class="card-price"><a href="" class="btn btn-type-2 btn-sm btn-inline">Подробнее</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="card-item">
        <div class="a-catalog-card">
          <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
            <div class="card-name-block text-small">
              <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
              <div class="card-price"><a href="" class="btn btn-type-2 btn-sm btn-inline">Подробнее</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="card-item">
        <div class="a-catalog-card">
          <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
            <div class="card-name-block text-small">
              <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
              <div class="card-price"><a href="" class="btn btn-type-2 btn-sm btn-inline">Подробнее</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="card-item">
        <div class="a-catalog-card">
          <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
            <div class="card-name-block text-small">
              <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
              <div class="card-price"><a href="" class="btn btn-type-2 btn-sm btn-inline">Подробнее</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="card-item">
        <div class="a-catalog-card">
          <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
            <div class="card-name-block text-small">
              <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
              <div class="card-price"><a href="" class="btn btn-type-2 btn-sm btn-inline">Подробнее</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="card-item">
        <div class="a-catalog-card">
          <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
            <div class="card-name-block text-small">
              <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
              <div class="card-price"><a href="" class="btn btn-type-2 btn-sm btn-inline">Подробнее</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="card-item">
        <div class="a-catalog-card">
          <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
            <div class="card-name-block text-small">
              <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
              <div class="card-price"><a href="" class="btn btn-type-2 btn-sm btn-inline">Подробнее</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="card-item">
        <div class="a-catalog-card">
          <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
            <div class="card-name-block text-small">
              <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
              <div class="card-price"><a href="" class="btn btn-type-2 btn-sm btn-inline">Подробнее</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="card-item">
        <div class="a-catalog-card">
          <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
            <div class="card-name-block text-small">
              <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
              <div class="card-price"><a href="" class="btn btn-type-2 btn-sm btn-inline">Подробнее</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="card-item">
        <div class="a-catalog-card">
          <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
            <div class="card-name-block text-small">
              <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
              <div class="card-price"><a href="" class="btn btn-type-2 btn-sm btn-inline">Подробнее</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end include/items_grid-->