
<!-- start include/items_grid-->

<div class="row item-grid">
  <div data-width="100%" data-ratio="8/9" data-minwidth="300" data-maxwidth="1000" data-minheight="350" data-maxheight="100%" class="fotorama-tabs">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
      <div class="a-catalog-card">
        <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
          <div class="card-name-block text-small">
            <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
            <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
      <div class="a-catalog-card">
        <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
          <div class="card-name-block text-small">
            <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
            <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
      <div class="a-catalog-card">
        <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
          <div class="card-name-block text-small">
            <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
            <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
      <div class="a-catalog-card">
        <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
          <div class="card-name-block text-small">
            <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
            <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
      <div class="a-catalog-card">
        <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
          <div class="card-name-block text-small">
            <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
            <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
      <div class="a-catalog-card">
        <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
          <div class="card-name-block text-small">
            <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
            <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
      <div class="a-catalog-card">
        <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
          <div class="card-name-block text-small">
            <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
            <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
      <div class="a-catalog-card add-card"><a href="" class="btn btn-type-2">Показать все</a></div>
    </div>
  </div>
</div>
<!-- end include/items_grid-->