
<!-- start /components/catalog.section.construct-morda/-->
<link rel="stylesheet" href="/components/catalog.section.catalog-top-index-tab/style.css"/>
<script src="/components/catalog.section.catalog-top-index-tab/script.js"></script>
<link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"/>
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
<div class="row catalog-top-index-tab">
  <div class="col-md-12">
    <div class="h2">Выберите упаковку</div>
  </div>
  <div class="col-md-12">
    
    <div class="row">
      <div role="tablist" class="nav nav-tabs">
        <div class="col-md-4">
          <div role="group" class="btn-group btn-group-justified btn-group-justify"><a id="subtabTab" href="#const-page2" aria-controls="const-page1" role="tab" data-toggle="tab" data-tabtoglemode="first" class="ttab btn btn-tabs active"><span>По типу</span></a><a href="#const-page1" aria-controls="const-page2" role="tab" data-toggle="tab" data-tabtoglemode="second" class="ttab btn btn-tabs"><span>По применению</span></a></div>
        </div>
        <div class="col-md-8">
          <div class="from-form-block"><a href="#const-page2" aria-controls="const-page2" role="tab" data-toggle="tab" class="ttab active"><span>Картонные коробки</span></a><a href="#const-page3" aria-controls="const-page3" role="tab" data-toggle="tab" class="ttab"><span>Гофроупаковка</span></a><a href="#const-page4" aria-controls="const-page4" role="tab" data-toggle="tab" class="ttab"><span>Гофролисты</span></a><a href="#const-page5" aria-controls="const-page5" role="tab" data-toggle="tab" class="ttab"><span>Упаковочные материалы</span></a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <hr class="i-size-S"/>
  <div class="col-md-12 tab-content">
    <div id="const-page1" role="tabpanel" class="tab-pane">
      <div>Вкладка 1</div>
      <!-- start include/items_grid-->
      
      <div class="row item-grid">
        <div data-width="100%" data-ratio="8/9" data-minwidth="300" data-maxwidth="1000" data-minheight="350" data-maxheight="100%" class="fotorama-tabs">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card add-card"><a href="" class="btn btn-type-2">Показать все</a></div>
          </div>
        </div>
      </div>
      <!-- end include/items_grid-->
    </div>
    <div id="const-page2" role="tabpanel" class="tab-pane active">
      <div>Вкладка 2</div>
      <!-- start include/items_grid-->
      
      <div class="row item-grid">
        <div data-width="100%" data-ratio="8/9" data-minwidth="300" data-maxwidth="1000" data-minheight="350" data-maxheight="100%" class="fotorama-tabs">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card add-card"><a href="" class="btn btn-type-2">Показать все</a></div>
          </div>
        </div>
      </div>
      <!-- end include/items_grid-->
    </div>
    <div id="const-page3" role="tabpanel" class="tab-pane">
      <div>Вкладка 3</div>
      <!-- start include/items_grid-->
      
      <div class="row item-grid">
        <div data-width="100%" data-ratio="8/9" data-minwidth="300" data-maxwidth="1000" data-minheight="350" data-maxheight="100%" class="fotorama-tabs">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card add-card"><a href="" class="btn btn-type-2">Показать все</a></div>
          </div>
        </div>
      </div>
      <!-- end include/items_grid-->
    </div>
    <div id="const-page4" role="tabpanel" class="tab-pane">
      <div>Вкладка 4</div>
      <!-- start include/items_grid-->
      
      <div class="row item-grid">
        <div data-width="100%" data-ratio="8/9" data-minwidth="300" data-maxwidth="1000" data-minheight="350" data-maxheight="100%" class="fotorama-tabs">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card add-card"><a href="" class="btn btn-type-2">Показать все</a></div>
          </div>
        </div>
      </div>
      <!-- end include/items_grid-->
    </div>
    <div id="const-page5" role="tabpanel" class="tab-pane">
      <div>Вкладка 5</div>
      <!-- start include/items_grid-->
      
      <div class="row item-grid">
        <div data-width="100%" data-ratio="8/9" data-minwidth="300" data-maxwidth="1000" data-minheight="350" data-maxheight="100%" class="fotorama-tabs">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card add-card"><a href="" class="btn btn-type-2">Показать все</a></div>
          </div>
        </div>
      </div>
      <!-- end include/items_grid-->
    </div>
    <div id="const-page6" role="tabpanel" class="tab-pane">
      <div>Вкладка 6</div>
      <!-- start include/items_grid-->
      
      <div class="row item-grid">
        <div data-width="100%" data-ratio="8/9" data-minwidth="300" data-maxwidth="1000" data-minheight="350" data-maxheight="100%" class="fotorama-tabs">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card">
              <div class="card-image"><a href=""><img src="/img/fefco-temp-1.jpg" class="img-responsive"/></a>
                <div class="card-name-block text-small">
                  <div class="card-name"><a href="">Коробки оберточного типа и складные ящики, коробки с крышкой и дном</a><span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price"><span class="price-val">от 9,28 руб.</span><a href="" class="btn btn-type-2 btn-sm btn-inline">Купить</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-item">
            <div class="a-catalog-card add-card"><a href="" class="btn btn-type-2">Показать все</a></div>
          </div>
        </div>
      </div>
      <!-- end include/items_grid-->
    </div>
  </div>
</div>
<!-- end /components/catalog.section.construct-morda/-->