.fotorama( data-width="100%" data-ratio="1100/500" data-arrows="false" )

  div
    .b-comments__img
      img( src="/upload/comments.png" )
    h3 Степанов Олег Николаевич
    p.text-middle Генеральный Директор ООО”Техамаш”
    
    hr.i-size-L
    
    blockquote С компанией “Антэк” мы работаем с 2000 года. Большой путь мы проделали вместе с ними. И мы убеждены - они отличные ребята!
    
  div
    .b-comments__img
      img( src="/upload/comments.png" )
    h3 Степанов Олег Николаевич
    p.text-middle Генеральный Директор ООО”Техамаш”
    
    hr.i-size-L
    
    blockquote С компанией “Антэк” мы работаем с 2000 года. Большой путь мы проделали вместе с ними. И мы убеждены - они отличные ребята!
