.fotorama.hidden-xs( data-width="100%" data-ratio="1300/669" data-arrows="false" )
  div
    .row
      .col-sm-7
        .b-gallery-picture( style="background-image: url(/upload/gallery/1.jpg);")
          strong Dazzle
      .col-sm-5
        .b-gallery-picture( style="background-image: url(/upload/gallery/2.jpg);")
          strong UfeelGood
        .b-gallery-picture( style="background-image: url(/upload/gallery/3.jpg);")
          strong CHEF
  div
    .row
      .col-sm-7
        .b-gallery-picture( style="background-image: url(/upload/gallery/1.jpg);")
          strong Dazzle
      .col-sm-5
        .b-gallery-picture( style="background-image: url(/upload/gallery/2.jpg);")
          strong UfeelGood
        .b-gallery-picture( style="background-image: url(/upload/gallery/3.jpg);")
          strong CHEF