.fotorama.visible-xs-block.i-mob( data-width="100%" data-ratio="422/380" data-arrows="false" )
  div
    .b-gallery-picture( style="background-image: url(/upload/gallery/1.jpg);")
      strong Dazzle
  div
    .b-gallery-picture( style="background-image: url(/upload/gallery/2.jpg);")
      strong UfeelGood
  div
    .b-gallery-picture( style="background-image: url(/upload/gallery/3.jpg);")
      strong CHEF
  div
    .b-gallery-picture( style="background-image: url(/upload/gallery/1.jpg);")
      strong Dazzle
  div
    .b-gallery-picture( style="background-image: url(/upload/gallery/2.jpg);")
      strong UfeelGood
  div
    .b-gallery-picture( style="background-image: url(/upload/gallery/3.jpg);")
      strong CHEF