.fotorama( data-width="100%" data-ratio="290/420" data-arrows="true" data-loop="true" data-swipe="true" )
  div
    .center
    
      a( href="" )
        img( src="/upload/products/#{j}.jpg" alt="" ).img-responsive.center-block
      
      p.b-size 1000 x 500 x 500
      p от 
        b.b-price 46,91
        | руб
      p
        a.btn.btn-default.btn-sm.btn-disabled( href="" ) В корзине
        
  div
    .center.b-products-list
    
      a( href="" )
        img( src="/upload/products/#{j}.jpg" alt="" ).img-responsive.center-block
      
      p.b-size 1000 x 500 x 500
      p от 
        b.b-price 46,91
        | руб
      p
        a.btn.btn-default.btn-sm( href="/json/add2cart.json?id=456" ) В корзину
        
  div
    .center.b-products-list
    
      a( href="" )
        img( src="/upload/products/#{j}.jpg" alt="" ).img-responsive.center-block
      
      p.b-size 1000 x 500 x 500
      p от 
        b.b-price 46,91
        | руб
      p
        a.btn.btn-default.btn-sm( href="/json/add2cart.json?id=456" ) В корзину