h2.h3 Картонная упаковка от&nbsp;профессионалов на&nbsp;заказ
p Коробка из&nbsp;картона была, есть и&nbsp;будет наиболее популярной тарой для большинства промышленных и&nbsp;продуктовых товаров. Ее&nbsp;выбирают по&nbsp;многим причинам:
ul
  li Легкость. Картон имеет небольшой вес и&nbsp;не&nbsp;утяжеляет груз.
  li Прочность. Материал устойчив к&nbsp;разрывам, истиранию и&nbsp;деформациям.
  li Экологичность. На&nbsp;100% безопасен, химически инертен и&nbsp;безвреден для человека.
  li Доступность. Низкая цена по&nbsp;сравнению с&nbsp;пластиком, деревом и&nbsp;другими материалами.
p Специалисты Антэк готовы разработать уникальный дизайн коробов из&nbsp;гофрокартона для продукции мелких и&nbsp;крупных размеров: сувениров, обуви, посуды, продуктов, техники, оборудования и&nbsp;т.д.
p Чтобы усилить прочность и&nbsp;повысить удобство упаковки, мы&nbsp;используем дополнительные элементы: 
ul
  li Фиксаторы, которые не&nbsp;дают стенкам смещаться.
  li Уголки и&nbsp;уплотнители&nbsp;&mdash; они стабилизируют конструкцию.
  li Ручки и&nbsp;держатели&nbsp;&mdash; для комфортного переноса. 
  li Внутренние перегородки и&nbsp;амортизаторы&nbsp;&mdash; защищают груз от&nbsp;повреждений.
p Мы&nbsp;создаем коробки, которые имеют широкое применение:
ul
  li Доставка к&nbsp;конечному потребителю.
  li Внутренняя перевозка на&nbsp;предприятии (между цехами и&nbsp;складами).
  li Промежуточное хранение и&nbsp;складирование в&nbsp;магазинах.
p Если вы&nbsp;хотите, чтобы упаковка стала эффективным инструментом рекламы, тогда наши дизайнеры предложат нестандартные идеи оформления. С&nbsp;помощью широкоформатной технологии печати мы&nbsp;нанесем на&nbsp;картон фирменные логотипы, рекламную информацию и&nbsp;яркие изображения, которые привлекут внимание покупателей.
p Кроме обычных упаковочных коробов мы&nbsp;производим модели оберточного типа, которые часто применяются в&nbsp;мебельной промышленности. Они выполняются из&nbsp;плотного гофрокартона и&nbsp;используются для хранения плоских изделий.

h2.h3 Наши гарантии
ol
  li Качество. Строго контролируется на&nbsp;каждом этапе производства, поэтому брак и&nbsp;не&nbsp;кондиция исключаются. 
  li Сроки. На&nbsp;выполнение заказа уходит в&nbsp;среднем 3-5&nbsp;дней. Однако наше оборудование позволяет нам ускорить процесс при крайней необходимости. 
  li Сервис. Индивидуальный дизайн-проект, выезд эксперта к&nbsp;заказчику, изготовление пробной партии, выполнение заказа от&nbsp;1&nbsp;штуки&nbsp;&mdash; все для комфорта наших клиентов.
  li Оплата. У&nbsp;нас принимаются любые формы оплаты&nbsp;&mdash; наличные, банковский перевод или безналичный расчет. 
  li Доставка. В&nbsp;пределах Москвы заказ доставляется собственным грузовым транспортом, для заказчиков из&nbsp;других городов&nbsp;РФ мы&nbsp;предлагаем доставку любой&nbsp;ТК.