.a-catalog-card
  a.card-image(href="")
    img.img-responsive( src="/img/fefco-temp-1.jpg")
    .card-name-block
      .card-name Коробки оберточного типа и складные ящики, коробки с крышкой и дном
        span.line-counter &nbsp;(16)
      .card-price
        span.price-val от 15,40 руб
        a(href="").btn.btn-type-2.btn-sm Купить
  