// start /include/construct/description/

p Размеры упаковочных коробок выбираются с&nbsp;точки зрения рациональной затарки и&nbsp;оптимизации расходов на&nbsp;погрузку, транспортировку, хранение. 
p При выборе типовой готовой тары учитывайте прочность, жесткость, возможность усиления каркаса, общую высоту и&nbsp;внешние габариты в&nbsp;привязке к&nbsp;погрузке на&nbsp;поддоны. 
p Базовые параметры и&nbsp;критерии при производстве на&nbsp;заказ: тип и&nbsp;габариты единичной тары (бутылка, маленькая коробка, дойпак и&nbsp;т.п.);
      
// end /include/construct/description/