
<!-- start /components/banner-transition/-->
<link rel="stylesheet" href="/components/banner-transition/style.css"/>
<script src="/components/banner-transition/script.js"></script>
<div class="b-banner-transition i-0 i-text-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="b-banner-transition__text">
          <div class="b-h1">
            <div class="i-1">
              <div class="b-h1-typing">Сделаем упаковку</div>
              <div class="b-h1-show">любых форм и размеров</div>
            </div>
          </div>
          <div class="b-banner-transition__img-xs visible-xs"><img src="/upload/banner/1.jpg" class="i-1"/></div>
          <p class="hidden-xs">Мы изготавливаем упаковку высокого качества и любой сложности</p>
          <div class="b-banner-transition__button"><a href="" class="btn btn-default">Заказать<span class="hidden-xs"> изготовление</span></a></div>
        </div>
      </div>
      <div class="col-sm-5 col-sm-offset-1 hidden-xs">
        <div class="b-banner-transition__img"><img src="/upload/banner/1.jpg" class="i-1"/></div>
      </div>
    </div>
  </div>
</div>
<!-- end /components/banner-transition/-->