
<!-- start include/items_grid-->

<div class="row item-grid hidden-xs">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="a-construct-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive image-first"/><img src="/img/fefco-temp-2.jpg" class="img-responsive image-second"/>
        <div class="card-name-block">
          <div class="card-code">07xx</div>
          <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
        </div></a></div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="a-construct-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive image-first"/><img src="/img/fefco-temp-2.jpg" class="img-responsive image-second"/>
        <div class="card-name-block">
          <div class="card-code">07xx</div>
          <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
        </div></a></div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="a-construct-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive image-first"/><img src="/img/fefco-temp-2.jpg" class="img-responsive image-second"/>
        <div class="card-name-block">
          <div class="card-code">07xx</div>
          <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
        </div></a></div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="a-construct-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive image-first"/><img src="/img/fefco-temp-2.jpg" class="img-responsive image-second"/>
        <div class="card-name-block">
          <div class="card-code">07xx</div>
          <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
        </div></a></div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="a-construct-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive image-first"/><img src="/img/fefco-temp-2.jpg" class="img-responsive image-second"/>
        <div class="card-name-block">
          <div class="card-code">07xx</div>
          <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
        </div></a></div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="a-construct-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive image-first"/><img src="/img/fefco-temp-2.jpg" class="img-responsive image-second"/>
        <div class="card-name-block">
          <div class="card-code">07xx</div>
          <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
        </div></a></div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 border-line-bottom-xs">
    <div class="a-construct-card add-card"><a href="" class="card-image"> <img src="/img/construction_mord_download_sym.png" class="img-responsive"/>
        <div class="card-name-block"><span>Скачать каталог FEFCO</span></div></a></div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="a-construct-card add-card"><a href="" class="card-image"><img src="/img/construction_mord_more_sym.png" class="img-responsive"/>
        <div class="card-name-block">Посмотреть все конструкции</div></a></div>
  </div>
</div>
<div class="row visible-xs">
  <div data-ratio="1" data-width="100%" class="fotorama-tabs">
    <div class="col-xs-12">
      <div class="a-construct-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive image-first"/><img src="/img/fefco-temp-2.jpg" class="img-responsive image-second"/>
          <div class="card-name-block">
            <div class="card-code">07xx</div>
            <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
          </div></a></div>
    </div>
    <div class="col-xs-12">
      <div class="a-construct-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive image-first"/><img src="/img/fefco-temp-2.jpg" class="img-responsive image-second"/>
          <div class="card-name-block">
            <div class="card-code">07xx</div>
            <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
          </div></a></div>
    </div>
    <div class="col-xs-12">
      <div class="a-construct-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive image-first"/><img src="/img/fefco-temp-2.jpg" class="img-responsive image-second"/>
          <div class="card-name-block">
            <div class="card-code">07xx</div>
            <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
          </div></a></div>
    </div>
    <div class="col-xs-12">
      <div class="a-construct-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive image-first"/><img src="/img/fefco-temp-2.jpg" class="img-responsive image-second"/>
          <div class="card-name-block">
            <div class="card-code">07xx</div>
            <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
          </div></a></div>
    </div>
    <div class="col-xs-12">
      <div class="a-construct-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive image-first"/><img src="/img/fefco-temp-2.jpg" class="img-responsive image-second"/>
          <div class="card-name-block">
            <div class="card-code">07xx</div>
            <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
          </div></a></div>
    </div>
    <div class="col-xs-12">
      <div class="a-construct-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive image-first"/><img src="/img/fefco-temp-2.jpg" class="img-responsive image-second"/>
          <div class="card-name-block">
            <div class="card-code">07xx</div>
            <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
          </div></a></div>
    </div>
    <div class="col-xs-12">
      <div class="a-construct-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive image-first"/><img src="/img/fefco-temp-2.jpg" class="img-responsive image-second"/>
          <div class="card-name-block">
            <div class="card-code">07xx</div>
            <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
          </div></a></div>
    </div>
    <div class="col-xs-12">
      <div class="a-construct-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive image-first"/><img src="/img/fefco-temp-2.jpg" class="img-responsive image-second"/>
          <div class="card-name-block">
            <div class="card-code">07xx</div>
            <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
          </div></a></div>
    </div>
    <div class="col-xs-12">
      <div class="a-construct-card add-card"><a href="" class="card-image"><img src="/img/construction_mord_more_sym.png" class="img-responsive"/>
          <div class="card-name-block">Посмотреть все конструкции</div></a></div>
    </div>
  </div>
</div>
<!-- end include/items_grid-->