// start /components/catalog.gallery/

link( rel="stylesheet", href="/components/catalog.gallery/style.css" )
script( src="/components/catalog.gallery/script.js" )

.b-catalog-gallery

  include ../../modules/gallery/fotorama
  
  h2.b-h1.text-center Нужны готовые коробки?
  
  .b-catalog-gallery__fotorama
  
    include ../../modules/catalog-card/include
    include ../../modules/catalog-card/include
    include ../../modules/catalog-card/include
    include ../../modules/catalog-card/include
    include ../../modules/catalog-card/include
    include ../../modules/catalog-card/include
    include ../../modules/catalog-card/include
    include ../../modules/catalog-card/include
    include ../../modules/catalog-card/include
    
  .b-catalog-gallery__button
    
    a.btn.btn-default.btn-scheme2.btn-md( href="" ) Перейти в магазин
    
// end /components/catalog.gallery/