// start /components/catalog.gallery-add/

link( rel="stylesheet", href="/components/catalog.gallery-add/style.css" )
script( src="/components/catalog.gallery-add/script.js" )

.a-catalog-gallery

  include ../../modules/gallery/fotorama
  
  .a-catalog-gallery__fotorama
  
    include card
    include card
    include card
    include card
    include card
    include card
    include card
    include card
    include card
    include card
    include card
    
// end /components/catalog.gallery-add/