// start /components/gallery-banner/

link( rel="stylesheet", href="/components/gallery-banner/style.css" )
script( src="/components/gallery-banner/script.js" )

.b-gallery-banner
  link( href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet" )
  script( src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js" )

  .fotorama( data-width="100%" data-height="735" data-arrows="false" data-loop="true" data-autoplay="3000" data-swipe="true" )
    div
      .b-video-banner2
        div( style="background-color: pink;" )
          .container
            .b-video-player2-container
              .b-video-player( data-video-id="ViT3V_pIyTk" )
                
          .b-video-banner2__cover( style="background-image: url( '/template/images/fotorama-video-bg.png' );")
            .b-video-banner2__ill( style="background-image: url( '/template/images/video-banner2-ill.jpg' );" )
            .container
            
              .b-video-button2
                .i-icon
                .b-video-button2__text Смотреть презентацию
                
              .b-h1
                span.b-laquo
                | Если упаковка особенная, то и содержимое становится особенным
                span.b-raquo
              p.b-video-banner__sign
                em Антон Блинов. Основатель компании
            
              .b-video-button2.i-text
                .i-icon
                .b-video-button2__text  Смотреть презентацию
                
    div
      .b-video-banner2
        div( style="background-color: pink;" )
          .container
            .b-video-player2-container
              .b-video-player( data-video-id="oUXzCaC0ZY8" )
                
          .b-video-banner2__cover( style="background-image: url( '/template/images/fotorama-video-bg.png' );")
            .b-video-banner2__ill( style="background-image: url( '/template/images/video-banner2-ill.jpg' );" )
            .container
            
              .b-video-button2
                .i-icon
                .b-video-button2__text Смотреть презентацию
                
              .b-h1
                span.b-laquo
                | Если упаковка особенная, то и содержимое становится особенным
                span.b-raquo
              p.b-video-banner__sign
                em Антон Блинов. Основатель компании
            
              .b-video-button2.i-text
                .i-icon
                .b-video-button2__text  Смотреть презентацию

// end /components/gallery-banner/