.b-testimonial-card( itemscope itemtype="http://schema.org/Comment" )
  
  img.b-testimonial-card__img( src="/upload/ideas/3.jpg" itemprop="image" alt="" )
  
  h3( itemprop="creator" ) Владимир, компания "Отекс"
  
  p( itemprop="text" ) Драйв от реализации задуманного Внимательное обслуживание к пути реализации задуманного...