@import '../../styl/component-include.styl'

.b-testimonial
  
  h2
    display inline-block
    vertical-align top
    
    .b-h-sup
      font-size 9.5pt
      margin 8px 0 0 12px
      display inline-block
      vertical-align top
      color #585858
      
  .btn-link
    display inline-block
    vertical-align top
    margin 31px 0 0 97px
      
    @media( max-width 767px )
      margin 0
    
  &-card
    background-color #fff
    padding 15px
    position relative
    font-size 9.5pt
    font-weight 300
    min-height 310px
      
    &__img
      display block
      width 100px
      height 100px
      border-radius 51%
      margin 0 auto 50px
      
    h3
      font-size 20px
      font-weight 400
      margin 0 0 30px
      max-height 80px
      overflow hidden
      line-height 1.25
      
    p
      font-size 18px
      color #666666
      margin 11px 0
      max-height 130px
      overflow hidden
      
  .fotorama__arr
    width 50px
    height 50px
    top 50%
    margin-top -25px
    transition( all 0.3s ease !important )
    background url( '/template/images/svg/arrow-gallery.svg' ) no-repeat center center transparent
    background-size cover
    
    &--prev
      left 0
    
    &--next
      right 0
      transform( rotate( 180deg ) !important)
      
    &:hover
      background-image url( '/template/images/svg/arrow-gallery-active.svg' )
      
      
    &:active
      opacity 0.8
      
  .fotorama__nav-wrap
    display none
    
  .fotorama__html
    padding 0 60px !important
    
  .fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus)
    transform( rotate( 180deg ) !important)