.a-catalog-card-horisontal
  .row
    
    .col-md-3.col-xs-3.image-colum
      .items-fotorama.fotorama-sm
        a.fotos( href="/img/fefco-temp-1.jpg" data-thumb="1_thumb.jpg" )
        a.fotos( href="/img/fefco-temp-2.jpg" data-thumb="1_thumb.jpg" )
        a.fotos( href="/img/fefco-temp-1.jpg" data-thumb="1_thumb.jpg" )
        a.fotos( href="/img/fefco-temp-2.jpg" data-thumb="1_thumb.jpg" )
    .col-md-6.col-sm-9.col-xs-9
      a.card-name(href="#") Самосборные коробки с ушками типа “самолет”
      .offers-count (21 вариант размеров)
      .card-text.hidden-xs 
        p Самосборныее упаковочные коробки из трехслойного гофрокартона — безусловно, самая популярная модель картонных коробок.<br>...
    
    
    .clearfix.visible-xs.visible-sm
    
    .col-md-3.col-sm-12.link-block
      .row
        .col-xs-6.col-sm-6.col-md-12
          .minprice
            span.text-xs От&nbsp;&nbsp;
            span.price-val-rub 3&nbsp;210
            span.price-val-cop 87
            span.glyphicon.glyphicon-ruble
            span.text-xs &nbsp;за шт.
      
        .col-xs-6.col-sm-6.col-md-12
          .link
            button.btn.btn-type-6.btn-md.togle-offers-block Выбрать размер
            
            .offers-count-dop.hidden-xs.hidden-sm (21 вариант размеров)
      
    .col-xs-12.offers-list-on-form
      include ../../components/catalog.offers-list/template
    