p FEFCO объединяет более 200 производителей картонной гофротары и&nbsp;разработала универсальный классификатор, разделяющий все виды готовой гофротары на&nbsp;несколько основных типов. Компания Антэк осуществляет производство гофротары в&nbsp;Москве в&nbsp;и&nbsp;Московской области по&nbsp;каталогу FEFCO и&nbsp;предлагает коробки жесткого типа всех модификаций.
p У&nbsp;нас вы&nbsp;можете заказать необходимые размеры транспортной и&nbsp;торговой тары по&nbsp;FEFCO 06хх:
ul
  li с&nbsp;откидной крышкой;
  li с&nbsp;четырехклапанной крышкой;
  li с&nbsp;двухклапанной крышкой;
  li с&nbsp;восьмиклапанной крышкой;
  li с&nbsp;торцевой крышкой.
p Обращаем внимание, тип исполнения крышки, габариты и&nbsp;порядок сшивания упаковки определяется стандартом и&nbsp;подбирается под нужды заказчика или изготавливается на&nbsp;заказ по&nbsp;индивидуальным параметрам.