
<!-- start /components/catalog.detail/-->
<link rel="stylesheet" href="/components/catalog.detail/style.css"/>
<script src="/components/catalog.detail/script.js"></script>
<div itemscope="itemscope" itemtype="http://schema.org/Product" class="b-catalog-detail">
  <h1 itemprop="name" class="text-center">Четырехклапанная коробка 550х350х350</h1>
  <div class="row">
    <div class="col-sm-6">
      <div data-nav="thumbs" data-allowfullscreen="native" data-ratio="1" data-width="100%" data-loop="true" data-thumbwidth="102" data-thumbheight="66" class="fotorama"><img src="http://s.fotorama.io/1.jpg"/><img src="http://s.fotorama.io/2.jpg"/><img src="http://s.fotorama.io/3.jpg"/><img src="http://s.fotorama.io/4.jpg"/></div>
    </div>
    <hr class="i-size-M visible-xs"/>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-6"><span class="text-muted">Артикул:</span> 
          UT533
        </div>
        <div class="col-xs-6 text-right"><a href="" title="Добавить в избранное" class="b-fav-icon">
            <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
              <title>favorite</title>
              <path d="M22.71,15.46s9.8-11.4,16.87-2.93C50.24,25.3,22.71,38.89,22.71,38.89"></path>
              <path d="M22.71,15.46s-9.8-11.4-16.87-2.93C-4.82,25.3,22.71,38.89,22.71,38.89"></path>
            </svg></a><a href="" title="Сравнить" class="b-compare-icon">
            <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
              <title>compare</title>
              <line x1="4" y1="6.19" x2="22.25" y2="6.19"></line>
              <line x1="4" y1="18.44" x2="22.25" y2="18.44"></line>
              <line x1="4.25" y1="29.3" x2="40.25" y2="29.3"></line>
              <line x1="4.25" y1="40.3" x2="40.25" y2="40.3"></line>
              <line x1="34.33" y1="6.88" x2="34.33" y2="20.19"></line>
              <line x1="40.99" y1="13.53" x2="27.67" y2="13.53"></line>
            </svg></a></div>
      </div>
      <hr class="i-size-S"/>
      <p itemprop="description">Картонная коробка продуктовая, гофрокартон бурый трехслойный, Т-24 В, (упаковка 10 шт) (Внешние размеры).</p>
      <hr class="i-size-S"/>
      <h5>Цена за коробку зависит от  объема заказа</h5>
      <hr class="i-size-XS"/>
      <div itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer" class="row b-catalog-detail__price-block">
        <div class="col-xs-4">
          <div class="text-center text-muted">
            от
             <i>500</i> 
            шт.
          </div>
          <div class="b-catalog-detail__price"><i>40.02</i> 
            руб
          </div>
          <div class="text-center">- 4 %</div>
        </div>
        <div class="col-xs-4">
          <div class="text-center text-muted">
            от
             <i>1000</i> 
            шт.
          </div>
          <div class="b-catalog-detail__price"><i>38.35</i> 
            руб
          </div>
          <div class="text-center">- 8 %</div>
        </div>
        <div class="col-xs-4">
          <div class="text-center text-muted">
            от
             <i>1</i> 
            шт.
          </div>
          <div class="b-catalog-detail__price i-active"><i itemprop="price" content="46.39">46.39</i> <span itemprop="priceCurrency" content="RUB">руб</span></div>
        </div>
      </div>
      <hr class="i-size-S"/>
      <div class="row">
        <div class="col-sm-6 b-catalog-detail__available">
          Доступно:
           <b>2 502</b> 
          шт
        </div>
        <div class="col-sm-6 text-right">
          <div class="b-catalog-detail__sum"><i>46.39</i> 
            руб
          </div>
        </div>
      </div>
      <hr class="i-size-S"/>
      <div class="row">
        <div class="col-sm-6">
          <div class="quantity_input_container">
            <input type="text" name="QUANTITY" value="13" data-stepquantity="13" data-unitvalue="" class="default_style quantity_input input_product_quantity"/>
            <div class="up_quantity_btn">+</div>
            <div class="down_quantity_btn">-</div>
          </div>
        </div>
        <div class="col-sm-6 text-right"><a href="/include/ajax/add2cart_new.php" class="btn btn-default btn-cart">В корзину</a></div>
      </div>
      <hr class="i-size-S"/>
      <div class="b-catalog-detail__note"><span>*</span> 
        Коробки отпускаются в пачках по 13 шт.
      </div>
    </div>
  </div>
</div>
<!-- end /components/catalog.detail/-->