.col-md-6
  h2.h3 Какие виды упаковок мы&nbsp;производим
  p Сельскохозяйственная продукция относится к&nbsp;скоропортящейся, поэтому вопросу упаковки уделяется усиленное внимание.
  ul
    li Лотки и&nbsp;коробки должны хорошо вентилироваться и&nbsp;пропускать достаточно воздуха.
    li Стенки не&nbsp;должны деформироваться и&nbsp;смещаться, иначе нежные продукты повредятся и&nbsp;начнут портиться.
    li Уплотненное дно и&nbsp;углы, удобные перегородки, специальные прорези и&nbsp;окошки&nbsp;&mdash; важные составляющие правильной тары.
  p Компания Антэк занимается изготовлением гофроящиков уже 15&nbsp;лет, и&nbsp;за&nbsp;это время наши специалисты успели наработать богатый практический опыт в&nbsp;создании оптимальных упаковочных конструкций. В&nbsp;нашем каталоге представлены:
  ol
    li Ящики самосборного типа&nbsp;&mdash; классическое производство банановых коробок для фасовки поштучно. Имеют сплошное дно и&nbsp;зафиксированные клапанами торцевые стенки.
    li Лотки с&nbsp;усиленной конструкцией, жесткими клапанами на&nbsp;углах (они пришиваются или клеятся к&nbsp;бокам).
    li Гофрокоробки с&nbsp;дном на&nbsp;4-х клапанах, клееные или предполагающие самостоятельную сборку.
  p Если среди предлагаемого ассортимента заказчик не&nbsp;находит подходящий под его нужды вариант, наши дизайнеры разработают индивидуальный проект, с&nbsp;учетом его пожеланий и&nbsp;особенностей товара.

.col-md-6
  h2.h3 Какие преимущества мы&nbsp;гарантируем нашим клиентам
  ul
    li Высокое качество. Оно контролируется на&nbsp;каждом этапе производственного цикла, поэтому риски появления брака сводятся к&nbsp;минимуму. Перед отправкой покупателю мы&nbsp;досконально проверяем партию готовых изделий, а&nbsp;если вы&nbsp;обнаружите бракованные единицы&nbsp;&mdash; проведем быструю замену.
    li Минимальные сроки. На&nbsp;выполнение заказа уходит в&nbsp;среднем 3-5 дней&nbsp;&mdash; в&nbsp;зависимости от&nbsp;загруженности оборудования, объемов и&nbsp;сложности заказанных моделей. При крайней необходимости мы&nbsp;можем ускорить производство. 
    li Широкий спектр услуг. Выезд эксперта для проведения замеров и&nbsp;обсуждения организационных вопросов, индивидуальный дизайн-проект, изготовление пробной партии, выполнение заказа от&nbsp;одной штуки.
    li Удобные способы оплаты. У&nbsp;нас принимаются любые формы оплаты&nbsp;&mdash; наличные, банковский перевод или безналичный расчет&nbsp;&mdash; как будет удобно нашим клиентам. 
Доставка. В&nbsp;пределах Москвы заказ доставляется собственным грузовым транспортом, для заказчиков из&nbsp;других городов&nbsp;РФ мы&nbsp;предлагаем доставку любой транспортной компанией.