section.i-gray.i-float-blocks
  .row
    #statistics-item1.col-xs-6.col-sm-3.col-sm-offset-2.center
      .text-large 16 лет
      | на рынке упаковки
    #statistics-item2.col-xs-6.col-sm-3.col-sm-offset-2.center
      .text-large 10
      | специализированых<br>выставок
  hr
  .row
    #statistics-item3.col-sm-3.center
      .text-large 700 000
      | постоянных клиентов
    #statistics-item4.hidden-xs.col-sm-3.col-sm-offset-3.center
      .text-large 700 000
      | постоянных клиентов
  hr
  .row
    #statistics-item5.col-xs-6.col-sm-3.col-sm-offset-5.center
      .text-large 12
      | сертификатов<br>и наград
    #statistics-item6.col-xs-6.col-sm-3.col-sm-offset-1.center
      .text-large 700 000
      | постоянных клиентов
  hr
  .row
    #statistics-item7.col-sm-3.col-sm-offset-2.center
      .text-large 1 000 000 
      | выполненных заказов
  .row
    #statistics-item8.col-xs-6.col-sm-3.center
      .text-large 12
      | сертификатов<br>и наград
    #statistics-item9.col-xs-6.col-sm-3.col-sm-offset-5.center
      .text-large 100  
      | заказов в день
  .row
    #statistics-item10.col-sm-3.col-sm-offset-9.center
      .text-large 16 лет
      | на рынке упаковки