section.i-gray.i-float-blocks

  .center
    .text-large 16 лет
    | на рынке упаковки
  .center
    .text-large 10
    | специализированых<br>выставок
  .center
    .text-large 700 000
    | постоянных клиентов
  .center
    .text-large 12
    | сертификатов<br>и наград
  .center
    .text-large 1 000 000 
    | выполненных заказов
  .center
    .text-large 100  
    | заказов в день