@import '../../styl/component-include.styl'

.i-float-blocks
  color #666666
  font-size 18pt
  overflow hidden
  padding-top 40%
  position relative
  line-height 28px
    
  @media ( max-width 767px )
    font-size 11pt
    
  .center
    position absolute
    top 0
    left 0
    width 243px
    height 112px

  .text-large
    white-space nowrap
    font-size 40pt
    font-weight 100
    color #42515e
    line-height normal
    margin-bottom -12px
    
    @media ( max-width 767px )
      font-size 18pt
    
  .row
    margin -50px 0 0
    
    @media ( max-width 1024px )
      margin -80px 0 0
    
  @media ( max-width 767px )
    text-align center
    font-weight 100
    
    
random(min,max)
  return floor(math(0, 'random')*(max - min + 1) + min)
  
.i-float-blocks .center:nth-child(1)
  animation anim-1 20s infinite linear;
  //transform: translate3d( 10%, 10%, 0);
  margin 7% 0 0 20%
  
.i-float-blocks .center:nth-child(2)
  animation anim-2 22s infinite linear;
  //transform: translate3d( 50%, 50%, 0);
  margin 20% 0 0 10%
  
.i-float-blocks .center:nth-child(3)
  animation anim-3 21s infinite linear;
  //transform: translate3d( 100%, 100%, 0);
  margin 35% 0 0 30%
  
.i-float-blocks .center:nth-child(4)
  animation anim-4 22s infinite linear;
  //transform: translate3d( 140%, 140%, 0);
  margin 10% 0 0 80%
  
.i-float-blocks .center:nth-child(5)
  animation anim-5 20s infinite linear;
  //transform: translate3d( 200%, 200%, 0);
  margin 15% 0 0 50%
  
.i-float-blocks .center:nth-child(6)
  animation anim-6 23s infinite linear;
  //transform: translate3d( 260%, 260%, 0);
  margin 30% 0 0 70%

@keyframes anim-1 {
  50% {margin: 40% 0 0 55%; opacity:(random(0,50)/100)%;}
  60% {margin: 15% 0 0 87%;}
  80% {margin: 0% 0 0 50%;}
  100% {margin: 7% 0 0 20%;}
}
@keyframes anim-2 {
  15% {margin: 10% 0 0 0%; opacity:(random(0,50)/100)%;}
  50% {margin: 0% 0 0 60%;}
  70% {margin: 30% 0 0 87%;}
  100% {margin: 20% 0 0 10%;}
}
@keyframes anim-3 {
  25% {margin: 25% 0 0 0%; opacity:(random(0,50)/100)%;}
  60% {margin: 0% 0 0 20%;}
  90% {margin: 40% 0 0 50%;}
  100% {margin: 35% 0 0 30%;}
}
@keyframes anim-4 {
  15% {margin: 30% 0 0 87%; opacity:(random(0,50)/100)%;}
  25% {margin: 40% 0 0 70%;}
  65% {margin: 0% 0 0 40%;}
  80% {margin: 40% 0 0 60%;}
  100% {margin: 10% 0 0 80%;}
}
@keyframes anim-5 {
  22% {margin: 0% 0 0 70%; opacity:(random(0,50)/100)%;}
  34% {margin: 20% 0 0 87%;}
  55% {margin: 40% 0 0 25%;}
  75% {margin: 15% 0 0 0%;}
  100% {margin: 15% 0 0 50%;}
}
@keyframes anim-6 {
  30% {margin: 0% 0 0 20%; opacity:(random(0,50)/100)%;}
  55% {margin: 0% 0 0 55%;}
  70% {margin: 40% 0 0 10%;}
  100% {margin: 30% 0 0 70%;}
}