// start /include/fefco/advantages/

.fefco-preim-item.col-sm-4.col-xs-12(style="background-image: url(/upload/fefco/fefco_morda_1.svg);") Мы&nbsp;адаптируем конструкцию к&nbsp;вашему продукту
.fefco-preim-item.col-sm-4.col-xs-12(style="background-image: url(/upload/fefco/fefco_morda_2.svg);") Создадим привлекательное оформление
.fefco-preim-item.col-sm-4.col-xs-12(style="background-image: url(/upload/fefco/fefco_morda_3.svg);") Сделаем промышленный образец и&nbsp;пробную партию

// end /include/fefco/advantages/