.a-fefco-card
  a.card-image(href="")
    img.img-responsive.image-first( src="/img/fefco-temp-1.jpg" data-image-first="/img/fefco-temp-1.jpg" data-imge-second="/img/fefco-temp-2.jpg")
    img.img-responsive.image-second( src="/img/fefco-temp-2.jpg" data-image-first="/img/fefco-temp-1.jpg" data-imge-second="/img/fefco-temp-2.jpg")
  .card-name-block
    .card-code 07xx
    .card-name Коробки оберточного типа и складные ящики, коробки с крышкой и дном
      span.line-counter &nbsp;(16)
    