.a-fefco-card
  a.card-image(href="")
    img.img-responsive( src="/upload/fefco/section-temp-#{imgItem}.jpg")
    .card-name-block
      .card-name.text-center Коробки оберточного типа и складные ящики, коробки с крышкой и дном
        span.line-counter &nbsp;(16)
        .card-price
          | от 
          b 35,45
          |  р
    