// start /include/fefco/description/

p FEFCO European Federation of&nbsp;Corrugated Board Manufacturers&nbsp;&mdash; европейская ассоциация производителей продукции из&nbsp;гофрокартона, основана в&nbsp;1952&nbsp;году.
p Просто выбираете конструкцию, мы&nbsp;изготовим.
      
// end /include/fefco/description/