.section.section-lines-top
  .row.fefco-flex-line
    .col-md-9
      p FEFCO European Federation of&nbsp;Corrugated Board Manufacturers&nbsp;&mdash; европейская ассоциация производителей продукции из&nbsp;гофрокартона, основана в&nbsp;1952&nbsp;году.
      p Просто выбираете конструкцию, мы&nbsp;изготовим.
    .col-md-3
      a.btn.btn-type-3 Скачать каталог FEFCO
      hr.i-size-S
  hr.gray.i-size-S
  .row.fefco-preim-container
    .fefco-preim-item.col-sm-4.col-xs-12(style="background-image: url(/upload/fefco/fefco_morda_1.svg);") Мы&nbsp;адаптируем конструкцию к&nbsp;вашему продукту
    .fefco-preim-item.col-sm-4.col-xs-12(style="background-image: url(/upload/fefco/fefco_morda_2.svg);") Создадим привлекательное оформление
    .fefco-preim-item.col-sm-4.col-xs-12(style="background-image: url(/upload/fefco/fefco_morda_3.svg);") Сделаем промышленный образец и&nbsp;пробную партию