// start /components/fefco/

link( rel="stylesheet", href="/components/fefco/style.css" )
script( src="/components/fefco/script.js" )

.a-fefco
  
  .section.section-lines-top
    .row.fefco-flex-line
      .col-md-9
        include description
      .col-md-3
        a.btn.btn-type-3 Скачать каталог FEFCO
        hr.i-size-S
      
    hr.gray.i-size-S
    .row.fefco-preim-container
      include advantages
  
  // fefco item greed start
  .row.section-grid
    - var imgItem = 1;
    - for (var i=0; i < 20; i++)
      .col-md-6.border-line-bottom-xs
        include card_section
      - imgItem++
      - if (imgItem > 3)
        - imgItem = 1;
    
  // fefco item greed end

// end /components/fefco/