// start /components/fefco/

link( rel="stylesheet", href="/components/fefco/style.css" )
script( src="/components/fefco/script.js" )

.a-fefco
  // include iblock description start
  include description
  // include iblock description end
  
  // fefco item greed start
  .row
    
    .col-md-6.col-lg-4.border-line-bottom-xs
      include card
    
    .col-md-6.col-lg-4.border-line-bottom-xs
      include card
    
    .col-md-6.col-lg-4.border-line-bottom-xs
      include card
    
    .col-md-6.col-lg-4.border-line-bottom-xs
      include card
    
    .col-md-6.col-lg-4.border-line-bottom-xs
      include card
    
    .col-md-6.col-lg-4.border-line-bottom-xs
      include card
  // fefco item greed end

// end /components/fefco/