
<!-- start /components/catalog.detail/-->
<link rel="stylesheet" href="/components/catalog.detail-product/style.css"/>
<script src="/components/catalog.detail-product/script.js"></script>
<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="//yastatic.net/share2/share.js"></script>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="hidden-sm hidden-xs">
        <nav class="left-menu text-small">
          <div class="root-item is-root opened-children"><a href="" style="background-image: url(/img/menu_icon/galya_simbol.svg)" class="link link-icon">Каталог конструкций FEFCO<span class="h-counter">15</span>
              <div class="togleChildrenBloc"></div></a>
            <div class="collapse cildterblock in">
              <ul class="children">
                <li><a href="">02xx Высеченные коробки и 4-хклапанные коробки<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="selected">003xx Коробки телескопического типа или конструкции<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
              </ul>
              <ul id="menuCildBlock-1" class="children collapse sideMenuCollapse">
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
              </ul>
              <ul class="children showMoreLink">
                <li><a href="javascript:void()" data-toggle="collapse" data-target="#menuCildBlock-1" aria-expanded="false" aria-controls="menuCildBlock-1">Еще&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="root-item is-root"><a href="" style="background-image: url(/img/menu_icon/galya_simbol.svg)" class="link link-icon">Каталог конструкций GALIA<span class="h-counter">15</span>
              <div class="togleChildrenBloc"></div></a>
            <div class="collapse cildterblock">
              <ul class="children">
                <li><a href="">02xx Высеченные коробки и 4-хклапанные коробки<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">003xx Коробки телескопического типа или конструкции<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
              </ul>
            </div>
          </div>
          <div class="root-item is-root"><a href="" class="link">Ориганальные конструкции<span class="h-counter">15</span>
              <div class="togleChildrenBloc"></div></a>
            <div class="collapse cildterblock">
              <ul class="children">
                <li><a href="">02xx Высеченные коробки и 4-хклапанные коробки<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">003xx Коробки телескопического типа или конструкции<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
              </ul>
            </div>
          </div>
          <div class="root-item is-root"><a href="" style="background-image: url(/img/menu_icon/galya_simbol.svg)" class="link link-icon">Маркетинговая упаковка<span class="h-counter">15</span>
              <div class="togleChildrenBloc"></div></a>
            <div class="collapse cildterblock">
              <ul class="children">
                <li><a href="">02xx Высеченные коробки и 4-хклапанные коробки<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">003xx Коробки телескопического типа или конструкции<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
              </ul>
            </div>
          </div>
          <div class="root-item"><a href="" style="background-image: url(/img/menu_icon/galya_simbol.svg)" class="link link-icon">Упаковка с печатью</a></div>
          <div class="root-item"><a href="" style="background-image: url(/img/menu_icon/galya_simbol.svg)" class="link link-icon">Разработка упаковки</a></div>
        </nav>
        <!-- start /components/catalog.sections-left-menu-filter/-->
        <link rel="stylesheet" href="/components/catalog.sections-left-menu/style.css"/>
        <script src="/components/catalog.sections-left-menu/script.js"></script>
        <div class="catalog-chpu text-small">
          <div class="root-item is-root opened-children">
            <div class="link">По применению<span class="line-counter">&nbsp;(15)</span>
              <div class="togleChildrenBloc"></div>
            </div>
            <div id="catalog_chpu_list" class="cildterblock">
              <input placeholder="Найти" class="search form-control"/>
              <ul class="children itemList list">
                <li><a href="" class="name">Для овощей<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="name">Для переезда<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="name">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="name">Для хранения<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="name">Для дома<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="name">Для гаража<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="name">Для еще чео нибудь<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="name">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="name">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="name">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="name">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="name">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="name">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
              </ul>
              <ul style="display: none;" class="children showMoreLink">
                <li><a href="javascript:void(0)">Еще&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="root-item is-root opened-children">
            <div class="link">По функционалу<span class="line-counter">&nbsp;(15)</span>
              <div class="togleChildrenBloc"></div>
            </div>
            <div class="collapse cildterblock">
              <ul class="children">
                <li><a href="">С окошком<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">С ручками<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">С печатью<span class="line-counter">&nbsp;(15)</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end /components/catalog.sections-left-menu-filter/-->
      </div>
    </div>
    <div class="col-md-9">
      <div itemscope="itemscope" itemtype="http://schema.org/Product" class="a-catalog-product">
        <form name="add_to_cart_offers_id_0012" method="POST" actions="/json/add2cart.json" class="offers_item_add2cart">
          <div class="row a-catalog-product-head helvetica-font">
            <div class="col-sm-8">
              <h1 itemprop="name">Четырехклапанная коробка 550х350х350 мм, Т-24 бурый</h1>
            </div>
            <hr class="i-size-XS visible-xs"/>
            <div class="col-sm-4">
              <select name="OTHER_PRODUCTS" id="product_select" class="form-control">
                <option value="">выбрать другой вариант</option>
                <option value="/url_1/">Размер 1</option>
                <option value="/url_2/">Размер 2</option>
                <option value="/url_3/">Размер 3</option>
              </select>
            </div>
          </div>
          <div class="row first-line">
            <div class="col-sm-6 relative">
              <div data-allowfullscreen="native" data-ratio="1" data-width="100%" data-loop="true" data-thumbwidth="80" data-thumbheight="80" class="fotorama-catalog-multicard">
                <div data-thumb="http://s.fotorama.io/1.jpg" class="fotorama_item">
                  <div class="fotorama_item-content"><img src="http://s.fotorama.io/1.jpg" alt="" class="img-responsive"/></div>
                </div>
                <div data-thumb="http://s.fotorama.io/2.jpg" class="fotorama_item">
                  <div class="fotorama_item-content">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe src="https://www.youtube.com/embed/kZJnWg6Ma8g" frameborder="0" allowfullscreen="allowfullscreen" class="embed-responsive-item"></iframe>
                    </div>
                  </div>
                </div>
                <div data-thumb="http://s.fotorama.io/3.jpg" class="fotorama_item">
                  <div class="fotorama_item-content"><img src="http://s.fotorama.io/3.jpg" alt="" class="img-responsive"/></div>
                </div>
                <div data-thumb="http://s.fotorama.io/4.jpg" class="fotorama_item">
                  <div class="fotorama_item-content"><img src="http://s.fotorama.io/4.jpg" alt="" class="img-responsive"/></div>
                </div>
                <div data-thumb="http://s.fotorama.io/5.jpg" class="fotorama_item">
                  <div class="fotorama_item-content"><img src="http://s.fotorama.io/5.jpg" alt="" class="img-responsive"/></div>
                </div>
                <div data-thumb="http://s.fotorama.io/1.jpg" class="fotorama_item">
                  <div class="fotorama_item-content"><img src="http://s.fotorama.io/1.jpg" alt="" class="img-responsive"/></div>
                </div>
                <div data-thumb="http://s.fotorama.io/2.jpg" class="fotorama_item">
                  <div class="fotorama_item-content"><img src="http://s.fotorama.io/2.jpg" alt="" class="img-responsive"/></div>
                </div>
              </div>
              <div class="icon-bar">
                <div class="left-bar"><span class="bar-icons icon-sales"></span><span class="bar-icons icon-new"></span><span class="bar-icons icon-hit"></span></div>
                <div class="right-bar"><a href="javascript:void(0)" id="add2favorites" class="bar-icons icon-favorites"><span class="icon-hover"></span></a><a href="javascript:void(0)" id="add2compare" class="bar-icons icon-compare"><span class="icon-hover"></span></a></div>
              </div>
            </div>
            <div class="col-sm-6 price-colum">
              <div class="row helvetica-font">
                <div class="col-xs-4 text-small">Art.&nbsp;UT533</div>
                <div class="col-xs-8 text-right"><span class="icon-star selected"></span><span class="icon-star selected"></span><span class="icon-star selected"></span><span class="icon-star"></span><span class="icon-star"></span><span>&emsp;</span><i><a href="javascript:void(0)" class="text-small reviewslink">Отзывы (27)</a></i></div>
              </div>
              <div class="row helvetica-font">
                <div class="order-price-default price-range-block">
                  <div data-setquantity="10" class="col-xs-4 price-range-item price-range-item-1 selected">
                    <div class="price-range-name">до&nbsp;499&nbsp;шт.</div>
                    <div class="price-range-value"><b>2&nbsp;741,90&nbsp;</b><span class="rub hidden-xs">руб.</span><span class="rub visivle-xs">р.</span></div>
                  </div>
                  <div data-setquantity="500" class="col-xs-4 price-range-item price-range-item-2">
                    <div class="price-range-name">до&nbsp;999&nbsp;шт.</div>
                    <div class="price-range-value"><b>2&nbsp;741,90&nbsp;</b><span class="rub hidden-xs">руб.</span><span class="rub visivle-xs">р.</span></div>
                  </div>
                  <div data-setquantity="1000" class="col-xs-4 price-range-item price-range-item-3">
                    <div class="price-range-name">>1000&nbsp;шт.</div>
                    <div class="price-range-value"><b>2&nbsp;741,90&nbsp;</b><span class="rub hidden-xs">руб.</span><span class="rub visivle-xs">р.</span></div>
                    <div class="price-range-value-old">1&nbsp;234,56&nbsp;руб.</div>
                  </div>
                </div>
                <div class="order-price-print hidden">Цена будет рассчитана после оформления предзаказа</div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <label>
                    <input type="checkbox" name="ADD_PRINT" data-defaultval="N" class="add-pring-chb"/>&nbsp;<span class="text-small">Нанесение печати</span>
                  </label><span data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Есть возможность нанести печать на готовые коробки." class="icon-info-gray popover_teaser"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-5">
                  <div class="add-quantity-info">Кратно: 10<span class="hidden-xs">&nbsp;шт.</span></div>
                </div>
                <div class="col-xs-7 text-small text-right"><span class="param-name">В&nbsp;наличии:&nbsp;</span><span class="param-val">1005&nbsp;шт.</span></div>
                <div class="clearfix"></div>
                <div class="col-xs-6 input-quantity-block">
                  <input name="quantity" size="4" data-container="body" data-toggle="popover" data-placement="top" data-trigger="manual" data-content="Товар продается кратно 20 шт." type="text" data-inputtype="number" data-inputstep="20" data-inputmin="" data-inputmax="" value="" data-oncart="" data-freequantity="100" data-quantityrangeone="1" data-quantityrangetwo="500" data-quantityrangetre="1000" placeholder="по 10 шт" class="form-control add-to-cart-input-quantity"/><span class="measure hidden-xs">шт.</span>
                </div>
                <div class="col-xs-6">
                  <button name="submit" type="submit" value="Y" class="btn add-to-order-btn mode-cart">Добавить<br>к&nbsp;заказу</button>
                </div>
                <div class="col-xs-12">
                  <hr class="i-size-XS"/>
                </div>
                <div class="col-xs-12 text-right text-center-xs"><a href="javascript:void(0)" id="buy1click">Купить в 1 клик</a></div>
              </div>
              <hr class="i-size-XS visible-xs"/>
              <div class="row order-individual-block">
                <div class="col-xs-12 text-center-xs order-individual-block-flex"><a href="javascript:void(0)" id="btn2ordercustom-link" class="btn btn-type-6 btn-md"> <span>Заказать </span><span class="hidden-xs">конструкцию </span><span>по своим размерам</span></a></div>
                <div class="col-xs-12 visible-xs">
                  <hr class="i-size-XS"/>
                </div>
                <div class="col-xs-12 text-right text-center-xs sharebtn-line">
                  <div data-services="vkontakte,facebook,odnoklassniki,gplus" class="ya-share2"></div>
                </div>
              </div>
            </div>
          </div>
          <div id="secondline-block" class="row second-line">
            <ul role="tablist" class="nav nav-pills">
              <li role="presentation" class="active"><a href="#features" aria-controls="features" role="tab" data-toggle="tab">ХАРАКТЕРИСТИКИ</a></li>
              <li role="presentation"><a href="#video" aria-controls="video" role="tab" data-toggle="tab">ВИДЕО&nbsp;<span class="text-muted text-middle">(2)</span></a></li>
              <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">ОТЗЫВЫ&nbsp;<span class="text-muted text-middle">(19)</span></a></li>
              <li role="presentation" class="icon-tab icon-return"><a href="#warranty" aria-controls="warranty" role="tab" data-toggle="tab">Возврат</a></li>
              <li role="presentation" class="icon-tab icon-payment"><a href="#payment" aria-controls="payment" role="tab" data-toggle="tab">Оплата</a></li>
              <li role="presentation" class="icon-tab icon-delivery"><a href="#delivery" aria-controls="delivery" role="tab" data-toggle="tab">Доставка</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" id="features" class="tab-pane active">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-xs-6"><span class="text-muted">Параметр 0:</span></div>
                      <div class="col-xs-6">Значение 0</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-xs-6"><span class="text-muted">Параметр 1:</span></div>
                      <div class="col-xs-6">Значение 1</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-xs-6"><span class="text-muted">Параметр 2:</span></div>
                      <div class="col-xs-6">Значение 2</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-xs-6"><span class="text-muted">Параметр 3:</span></div>
                      <div class="col-xs-6">Значение 3</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-xs-6"><span class="text-muted">Параметр 4:</span></div>
                      <div class="col-xs-6">Значение 4</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-xs-6"><span class="text-muted">Параметр 5:</span></div>
                      <div class="col-xs-6">Значение 5</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-xs-6"><span class="text-muted">Параметр 6:</span></div>
                      <div class="col-xs-6">Значение 6</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-xs-6"><span class="text-muted">Параметр 7:</span></div>
                      <div class="col-xs-6">Значение 7</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-xs-6"><span class="text-muted">Параметр 8:</span></div>
                      <div class="col-xs-6">Значение 8</div>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="h4">Описание</div>
                    <div itemprop="description" class="desctiption-content"> 
                      <p>Как собирать, как заклеивать, какие инструкменты и дополнительные материалы применяются для сборки</p>
                      <p>Как учитывать рмзмеры</p>
                      <p>Различные способы фиксации предметов внутри упаковки</p>
                      <p>Размеры упаковочных коробок выбираются с точки зрения рациональной затарки и оптимизации расходов на погрузку, транспортировку, хранение. </p>
                      <p>При выборе типовой готовой тары учитывайте прочность, жесткость, возможность усиления каркаса, общую высоту и внешние габариты в привязке к погрузке на поддоны. </p>
                      <p>Базовые параметры и критерии при производстве на заказ:</p>
                      <p>При выборе типовой готовой тары учитывайте прочность, жесткость, возможность усиления каркаса, общую высоту и внешние габариты в привязке к погрузке на поддоны. </p>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="download-files">
                      <div class="h4">Скачать инструкцию по сборке:</div><a href=""> </a>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" id="video" class="tab-pane">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe src="https://www.youtube.com/embed/kZJnWg6Ma8g" frameborder="0" allowfullscreen="allowfullscreen" class="embed-responsive-item"></iframe>
                </div>
              </div>
              <div role="tabpanel" id="reviews" class="tab-pane"><span>отзывы</span></div>
              <div role="tabpanel" id="delivery" class="tab-pane"><span>доставка</span></div>
              <div role="tabpanel" id="payment" class="tab-pane"><span>варианты оплаты</span></div>
              <div role="tabpanel" id="warranty" class="tab-pane"><span>Возврат и гарантии</span></div>
            </div>
          </div>
        </form>
      </div>
      <div class="section">
        <!-- start /include/construct/advantages/-->
        <div class="row catalog-advantags">
          <div class="col-sm-4">
            <div style="background-image: url(/img/catalog_advantags/opt.svg);" class="catalog-advantags-item"><span class="text">Возможность купить товар<br>оптом и&nbsp;в&nbsp;розницу</span></div>
          </div>
          <div class="col-sm-4">
            <div style="background-image: url(/img/catalog_advantags/ot1sht.svg);" class="catalog-advantags-item"><span class="text">Изготавливаем заказы<br>от&nbsp;1&nbsp;штуки</span></div>
          </div>
          <div class="col-sm-4">
            <div style="background-image: url(/img/catalog_advantags/kachestvo.svg);" class="catalog-advantags-item"><span class="text">Высокое качество,<br>низкие цены</span></div>
          </div>
          <div class="col-sm-4">
            <div style="background-image: url(/img/catalog_advantags/proizv.svg);" class="catalog-advantags-item"><span class="text">Магазин, склад, офис<br>и&nbsp;производство в&nbsp;5км от&nbsp;Москвы</span></div>
          </div>
          <div class="col-sm-4">
            <div style="background-image: url(/img/catalog_advantags/print.svg);" class="catalog-advantags-item"><span class="text">Наносим печать<br>в&nbsp;2&nbsp;цвета</span></div>
          </div>
          <div class="col-sm-4">
            <div style="background-image: url(/img/catalog_advantags/kpngbr.svg);" class="catalog-advantags-item"><span class="text">Производство крупногабаритной<br>упаковки</span></div>
          </div>
          <div class="col-sm-4">
            <div style="background-image: url(/img/catalog_advantags/fast.svg);" class="catalog-advantags-item"><span class="text">Срочное изготовление<br>на&nbsp;заказот&nbsp;1&nbsp;дня</span></div>
          </div>
          <div class="col-sm-4">
            <div style="background-image: url(/img/catalog_advantags/design.svg);" class="catalog-advantags-item"><span class="text">Разрабатываем дизайн<br>и&nbsp;конструкцию</span></div>
          </div>
          <div class="col-sm-4">
            <div style="background-image: url(/img/catalog_advantags/dostavka.svg);" class="catalog-advantags-item"><span class="text">Доставляем по&nbsp;Москве,<br>МО&nbsp;и&nbsp;РФ</span></div>
          </div>
        </div>
        <!-- end /include/construct/advantages/-->
      </div>
      <div class="row line_yellow">
        <div class="h3">Закажите эту конструкцию по своим размерам!</div>
      </div>
      <div id="btn2ordercustom-block" class="bg-white">
        <!-- start /components/catalog.offers-list/-->
        <link rel="stylesheet" href="/components/iblock-element-add.new_order_position/style.css"/>
        <script src="/components/iblock-element-add.new_order_position/script.js"></script>
        <div class="order-position-add">
          <div class="row text-small table-header flex-header hidden-xs">
            <div class="col-sm-4 flex-header-cont">
              <div class="row flex-header-row">
                <div class="col-xs-4 flex-header-item"> Длина, мм</div>
                <div class="col-xs-4 flex-header-item"> Ширина, мм</div>
                <div class="col-xs-4 flex-header-item"> Высота, мм</div>
              </div>
            </div>
            <div class="col-sm-4 flex-header-cont">
              <div class="row flex-header-row">
                <div class="col-xs-9 flex-header-item">Картон</div>
                <div class="col-xs-3 flex-header-item">
                  <div class="text-center">Печать
                    <div data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Есть возможность нанести печать на упаковку. Подробное согласование будет проводить менеджер после оформления заказа." class="text-center help_icon_round popover_teaser"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 flex-header-cont">
              <div class="row flex-header-row">
                <div class="col-xs-12 flex-header-item">
                  <div class="item-button-head">Количество</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-block">
            <form name="ADD_ORDERING_POSITION" action="/json/add-ordering-position.json" method="POST" class="add_new_ordering_position">
              <div class="row text-small table-body">
                <div class="col-xs-12 flex-header-cont visible-xs table-header">
                  <div class="row flex-header-row">
                    <div class="col-xs-4 flex-header-item">Длина, мм</div>
                    <div class="col-xs-4 flex-header-item">Ширина, мм</div>
                    <div class="col-xs-4 flex-header-item">Высота, мм</div>
                  </div>
                </div>
                <div class="col-sm-4 col-xs-12 flex-header-cont">
                  <div class="row flex-header-row">
                    <div class="col-xs-4 flex-header-item">
                      <div class="form-group">
                        <input type="text" name="SIZE_L" size="4" data-validation="NUMBER_MM" data-helpnaame="Длина" class="form-control required_input"/>
                      </div>
                    </div>
                    <div class="col-xs-4 flex-header-item">
                      <div class="form-group">
                        <input type="text" name="SIZE_W" size="4" data-validation="NUMBER_MM" data-helpnaame="Ширина" class="form-control required_input"/>
                      </div>
                    </div>
                    <div class="col-xs-4 flex-header-item">
                      <div class="form-group">
                        <input type="text" name="SIZE_H" size="4" data-validation="NUMBER_MM" data-helpnaame="Высота" class="form-control required_input"/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 flex-header-cont visible-xs table-header">
                  <div class="row flex-header-row">
                    <div class="col-xs-9 flex-header-item">Картон</div>
                    <div class="col-xs-3 flex-header-item">Печать</div>
                  </div>
                </div>
                <div class="col-sm-4 col-xs-12 flex-header-cont">
                  <div class="row flex-header-row">
                    <div class="col-xs-9 flex-header-item">
                      <div class="form-group">
                        <select name="CARTON" data-helpnaame="Картон" class="form-control required_input">
                          <option value="" selected="selected">Выбрать картон</option>
                          <optgroup label="Микрогофрокартон"></optgroup>
                          <option value="1">Белый-Белый микрогофрокартон (МГК)</option>
                          <option value="2">Белый-Бурый микрогофрокартон (МГК)</option>
                          <option value="3">Бурый-Бурый микрогофрокартон (МГК)</option>
                          <optgroup label="Трехслойный"></optgroup>
                          <option value="4">Белый-Белый трехслойный (Т-24)</option>
                          <option value="5">Белый-Бурый трехслойный (Т-23)</option>
                          <option value="6">Бурый-Бурый трехслойный (Т-24)</option>
                          <optgroup label="Пятислойный"></optgroup>
                          <option value="7">Белый-Бурый пятислойный (П-32)</option>
                          <option value="8">Бурый-Бурый пятислойный (П-32)</option>
                          <optgroup label="Семислойный"></optgroup>
                          <option value="9">Бурый-Бурый семислойный (С)</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-xs-3 flex-header-item">
                      <div class="form-group">
                        <input type="checkbox" name="ADD_PRINT"/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 flex-header-cont visible-xs table-header">
                  <div class="row flex-header-row">
                    <div class="col-xs-12 flex-header-item">
                      <div class="item-button-head">Количество</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-xs-12 flex-header-cont">
                  <div class="row flex-header-row">
                    <div class="col-xs-6 flex-header-item">
                      <div class="form-group">
                        <input name="quantity" size="4" type="text" data-validation="NUMBER_INT" data-helpnaame="Количество" class="form-control add-to-cart-input-quantity required_input"/>
                      </div>
                    </div>
                    <div class="col-xs-6 flex-header-item">
                      <div class="form-group">
                        <button name="submit" type="submit" value="Y" class="btn add-to-order-btn">Добавить<br>к заказу</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div style="padding: 20px;" class="add-position-sucess-maessage bg-success text-small hidden">
                <p>Позиция успешно добавлена в список заказа!</p>
                <p>
                   
                  Возможно Вам захочется <a href="#" class="ajax-link add-new-form-ordering-position">добавить еще размеры</a> этой же формы или выбрать другую форму.
                </p>
                <p>
                   
                  Или можно <a href="">перейти к оформлению заказа</a>
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div style="padding: 20px;" class="add-position-erroe-maessage bg-danger text-small hidden">Пример сообщения об ошибке</div>
            </div>
          </div>
        </div>
        <!-- end /components/catalog.offers-list/-->
      </div>
      <div class="row bg-white">
        <div class="h3">Рекомендуемые товары</div>
        <!-- start /components/catalog.gallery-add/-->
        <link rel="stylesheet" href="/components/catalog.gallery-add/style.css"/>
        <script src="/components/catalog.gallery-add/script.js"></script>
        <div class="a-catalog-gallery">
          <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"/>
          <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
          <div class="a-catalog-gallery__fotorama">
            <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="a-catalog-card-add"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                <div class="card-name-block">
                  <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price">от 15,40 руб</div>
                </div></a></div>
            <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="a-catalog-card-add"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                <div class="card-name-block">
                  <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price">от 15,40 руб</div>
                </div></a></div>
            <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="a-catalog-card-add"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                <div class="card-name-block">
                  <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price">от 15,40 руб</div>
                </div></a></div>
            <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="a-catalog-card-add"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                <div class="card-name-block">
                  <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price">от 15,40 руб</div>
                </div></a></div>
            <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="a-catalog-card-add"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                <div class="card-name-block">
                  <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price">от 15,40 руб</div>
                </div></a></div>
            <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="a-catalog-card-add"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                <div class="card-name-block">
                  <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price">от 15,40 руб</div>
                </div></a></div>
            <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="a-catalog-card-add"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                <div class="card-name-block">
                  <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price">от 15,40 руб</div>
                </div></a></div>
            <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="a-catalog-card-add"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                <div class="card-name-block">
                  <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price">от 15,40 руб</div>
                </div></a></div>
            <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="a-catalog-card-add"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                <div class="card-name-block">
                  <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price">от 15,40 руб</div>
                </div></a></div>
            <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="a-catalog-card-add"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                <div class="card-name-block">
                  <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price">от 15,40 руб</div>
                </div></a></div>
            <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="a-catalog-card-add"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                <div class="card-name-block">
                  <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
                  <div class="card-price">от 15,40 руб</div>
                </div></a></div>
          </div>
        </div>
        <!-- end /components/catalog.gallery-add/-->
      </div>
    </div>
  </div>
</div>
<!-- end /components/catalog.detail/-->