// start /components/banner-transition/

link( rel="stylesheet", href="/components/banner-transition/style.css" )
script( src="/components/banner-transition/script.js" )

.b-banner-transition.i-1
  .container
    .row
      .col-sm-5
        .b-banner-transition__text
        
          .b-h1
          
            .i-1
              .b-h1-typing Создадим
              .b-h1-show упаковку мечты
        
            .i-2
              .b-h1-typing Разработаем
              .b-h1-show smart-дизайн
          
            .i-3
              .b-h1-typing Создадим
              .b-h1-show 3D-модель
          
            .i-4
              .b-h1-typing Сделаем
              .b-h1-show прототип
          
            .i-5
              .b-h1-typing Изготовим
              .b-h1-show пробную партию
          
          .b-banner-transition__img-xs.visible-xs
            img.i-1( src="/upload/banner/1.png" )
            img.i-2( src="/upload/banner/2.png" )
            img.i-3( src="/upload/banner/3.png" )
            img.i-4( src="/upload/banner/4.png" )
            img.i-5( src="/upload/banner/5.png" )
          
          p Создавая совершенную упаковку, мы предлагаем безграничные возможности роста.<br>Начните создание упаковки в один клик!
          
          .b-banner-transition__button
            a.btn.btn-default( href="" ) Перейти<span class="hidden-xs"> к созданию упаковки</span>
          
      .col-sm-5.col-sm-offset-1.hidden-xs
        .b-banner-transition__img
          img.i-1( src="/upload/banner/1.png" )
          img.i-2( src="/upload/banner/2.png" )
          img.i-3( src="/upload/banner/3.png" )
          img.i-4( src="/upload/banner/4.png" )
          img.i-5( src="/upload/banner/5.png" )

// end /components/banner-transition/