// start /components/catalog.offers-list/

link( rel="stylesheet", href="/components/catalog.offers-list/style.css" )
script( src="/components/catalog.offers-list/script.js" )


.offers-block
    
  .row.offers-header.bg-gray-xs.hidden-xs
    .col-sm-1.header-cell Арт
      span.hidden-sm икул
    .col-sm-2.header-cell Внутренние размеры,<br>(Д) х (Ш) х (В) мм
    .col-sm-1.header-cell Картон
    .col-sm-3.header-cell Цена/шт при тираже, руб
    .col-sm-1.header-cell Наличие
    .col-sm-1.header-cell.flex-wrap 
      .hidden-lg Печать
      .visible-lg Нанесение печати
      .help_icon_round.popover_teaser( data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Есть возможность нанести печать на готовые коробки." ) ?
    .col-sm-3.header-cell Количество
  
  
  - for (var i=0; i < 5; i++)
    
    form.offers_item_add2cart(name="add_to_cart_offers_id_#{i}" method="POST" actions="/json/add2cart.json")
      .row.offers-item
        
        .col-sm-1.col-xs-12.item-cell.item-cell-articul
          b.visible-xs-inline Артикул
          span &nbsp;0200
        
        b.col-xs-5.item-cell.visible-xs Внутренние размеры, мм<br>(Д) х (Ш) х (В)
        .col-sm-2.col-xs-7.item-cell 
          a(href="") 750 х 500 х 500
        
        .clearfix.visible-xs
        
        b.col-xs-5.item-cell.visible-xs Картон
        .col-sm-1.col-xs-7.item-cell Т-24
        
        .clearfix.visible-xs
        
        b.col-xs-5.item-cell.visible-xs Цена/шт при тираже, руб
        .col-sm-3.col-xs-7.item-cell
          .row
            .col-sm-4.col-xs-12
              .row
                .col-sm-12.col-xs-6.quantity-step-name
                  span.visible-xs-inline до&nbsp;
                  | 500
                  span.visible-xs-inline &nbsp;шт
                .col-sm-12.col-xs-6 99,10
            .col-sm-4.col-xs-12
              .row
                .col-sm-12.col-xs-6.quantity-step-name 
                  span.visible-xs-inline до&nbsp;
                  | 1000
                  span.visible-xs-inline &nbsp;шт
                .col-sm-12.col-xs-6 99,10
            .col-sm-4.col-xs-12
              .row
                .col-sm-12.col-xs-6.quantity-step-name >1000
                  span.visible-xs-inline &nbsp;шт
                .col-sm-12.col-xs-6 99,10
        
        .col-sm-1.cur-quantity-indikator
        
        .clearfix.visible-xs
        
        b.col-xs-5.item-cell.visible-xs Наличие
        .col-sm-1.col-xs-7.item-cell.preorder_popower( data-container="body" data-toggle="popover" data-placement="top" data-trigger="manual" data-content="В данный момент на складе 100 единиц товара. Сделайте предзаказ и мы изготовим нужное количество." ) 100
          span.visible-xs-inline &nbsp;шт
        
        .clearfix.visible-xs
        
        .col-sm-1.hidden-xs
          input.add-pring-chb( type="checkbox" name="addprint_double")
        
        .col-sm-3.col-xs-12.item-cell 
          .row.add-to-cart-cell-vcenter
            .col-xs-4.visible-xs
              .checkbox
                label
                  input.add-pring-chb( type="checkbox" name="addprint")
                  | Печать
            
            .col-sm-12.col-xs-8.add-to-cart-cell-vcenter
              
              input.form-control.add-to-cart-input-quantity(name="quantity" size="4" data-container="body" data-toggle="popover" data-placement="top" data-trigger="manual" data-content="Товар продается кратно 20 шт." type="text" data-inputtype="number" data-inputstep="100" data-inputmin="1" data-inputmax="" value="" data-freequantity="100" data-quantityrangeone="1" data-quantityrangetwo="500" data-quantityrangetre="1000")
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
              | &nbsp;
=======
              
              | &nbsp;
              
>>>>>>> master
=======
              
              &nbsp;
              
>>>>>>> parent of 9f990d5... Add new component for "constructions top"
=======
              
              &nbsp;
              
>>>>>>> parent of 9f990d5... Add new component for "constructions top"
              input(name="submit" type="submit" value="В корзину" ).btn.btn-type-4.submit-btn
  
//-.section
//-  pre#jsmessage
  
// end /components/catalog.offers-list/