.detail_photo_slider
  .detail_photo_slides_container
    img#detail_zoom_image(src='//www.antech.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/8a8/360_3600_140cd750bba9870f18aada2478b24840a/8a814cabfd59461f4016b52cf8bf265f.jpg?148148131250970', itemprop='image', data-zoom-image='/upload/iblock/8a8/8a814cabfd59461f4016b52cf8bf265f.jpg', alt='', width='360', height='360')
  .slider_pagination_block.endfloat
    #photo_swich_block.photo_swich_block
      #detail_photo_swich_block_scroll.detail_photo_swich_block_scroll(style='width: 2040px; padding: 0; margin: 0;')
        a.elevatezoom-gallery.photo_swich_item.current(href='#', data-image='/upload/resize_cache/iblock/8a8/360_3600_140cd750bba9870f18aada2478b24840a/8a814cabfd59461f4016b52cf8bf265f.jpg', data-zoom-image='/upload/iblock/8a8/8a814cabfd59461f4016b52cf8bf265f.jpg')
          img(src='//www.antech.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/8a8/80_80_140cd750bba9870f18aada2478b24840a/8a814cabfd59461f4016b52cf8bf265f.jpg?14814813123614', border='0', alt='', width='80', height='80')
        a.elevatezoom-gallery.photo_swich_item(href='#', data-image='/upload/resize_cache/iblock/b27/360_3600_140cd750bba9870f18aada2478b24840a/b27d0660657a4becd3c15745bdd08f8a.jpg', data-zoom-image='/upload/iblock/b27/b27d0660657a4becd3c15745bdd08f8a.jpg')
          img(src='//www.antech.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/b27/80_80_140cd750bba9870f18aada2478b24840a/b27d0660657a4becd3c15745bdd08f8a.jpg?14814813124289', border='0', alt='', width='80', height='80')
        a.elevatezoom-gallery.photo_swich_item(href='#', data-image='/upload/resize_cache/iblock/9ea/360_3600_140cd750bba9870f18aada2478b24840a/9ea1f67e7b91291004de468b191f5f20.jpg', data-zoom-image='/upload/iblock/9ea/9ea1f67e7b91291004de468b191f5f20.jpg')
          img(src='//www.antech.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/9ea/80_80_140cd750bba9870f18aada2478b24840a/9ea1f67e7b91291004de468b191f5f20.jpg?14814813122771', border='0', alt='', width='80', height='80')
        a.elevatezoom-gallery.photo_swich_item(href='#', data-image='/upload/resize_cache/iblock/165/360_3600_140cd750bba9870f18aada2478b24840a/1651d676d5a1848a24a28c8b2486e0a5.jpg', data-zoom-image='/upload/iblock/165/1651d676d5a1848a24a28c8b2486e0a5.jpg')
          img(src='//www.antech.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/165/80_80_140cd750bba9870f18aada2478b24840a/1651d676d5a1848a24a28c8b2486e0a5.jpg?14814813122637', border='0', alt='', width='80', height='80')
        a.elevatezoom-gallery.photo_swich_item(href='#', data-image='/upload/resize_cache/iblock/eb4/360_3600_140cd750bba9870f18aada2478b24840a/eb478c90b430cf6a8a259dabd0ccf9f4.jpg', data-zoom-image='/upload/iblock/eb4/eb478c90b430cf6a8a259dabd0ccf9f4.jpg')
          img(src='//www.antech.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/eb4/80_80_140cd750bba9870f18aada2478b24840a/eb478c90b430cf6a8a259dabd0ccf9f4.jpg?14814813123494', border='0', alt='', width='80', height='80')
        a.elevatezoom-gallery.photo_swich_item(href='#', data-image='/upload/resize_cache/iblock/c75/360_3600_140cd750bba9870f18aada2478b24840a/c755baba6e20c8a355d7189f1d4ed0bd.jpg', data-zoom-image='/upload/iblock/c75/c755baba6e20c8a355d7189f1d4ed0bd.jpg')
          img(src='//www.antech.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/c75/80_80_140cd750bba9870f18aada2478b24840a/c755baba6e20c8a355d7189f1d4ed0bd.jpg?14814813123950', border='0', alt='', width='80', height='80')
        a.elevatezoom-gallery.photo_swich_item(href='#', data-image='/upload/resize_cache/iblock/b3a/360_3600_140cd750bba9870f18aada2478b24840a/b3a3f17c5b42801c52807c3586fcc895.jpg', data-zoom-image='/upload/iblock/b3a/b3a3f17c5b42801c52807c3586fcc895.jpg')
          img(src='//www.antech.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/b3a/80_80_140cd750bba9870f18aada2478b24840a/b3a3f17c5b42801c52807c3586fcc895.jpg?14814813123526', border='0', alt='', width='80', height='80')
        a.elevatezoom-gallery.photo_swich_item(href='#', data-image='/upload/resize_cache/iblock/7fc/360_3600_140cd750bba9870f18aada2478b24840a/7fc8831de76734f90e32a7e8e0eaaca4.jpg', data-zoom-image='/upload/iblock/7fc/7fc8831de76734f90e32a7e8e0eaaca4.jpg')
          img(src='//www.antech.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/7fc/80_80_140cd750bba9870f18aada2478b24840a/7fc8831de76734f90e32a7e8e0eaaca4.jpg?14814813123576', border='0', alt='', width='80', height='80')
        a.elevatezoom-gallery.photo_swich_item(href='#', data-image='/upload/resize_cache/iblock/ded/360_3600_140cd750bba9870f18aada2478b24840a/ded9ea4d3c6f9613ca802efd41437f57.jpg', data-zoom-image='/upload/iblock/ded/ded9ea4d3c6f9613ca802efd41437f57.jpg')
          img(src='//www.antech.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/ded/80_80_140cd750bba9870f18aada2478b24840a/ded9ea4d3c6f9613ca802efd41437f57.jpg?14814813123968', border='0', alt='', width='80', height='80')
        a.elevatezoom-gallery.photo_swich_item(href='#', data-image='/upload/resize_cache/iblock/809/360_3600_140cd750bba9870f18aada2478b24840a/809bd9c1937233b03095dbb4269999c0.jpg', data-zoom-image='/upload/iblock/809/809bd9c1937233b03095dbb4269999c0.jpg')
          img(src='//www.antech.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/809/80_80_140cd750bba9870f18aada2478b24840a/809bd9c1937233b03095dbb4269999c0.jpg?14814813133158', border='0', alt='', width='80', height='80')
        a.elevatezoom-gallery.photo_swich_item(href='#', data-image='/upload/resize_cache/iblock/d51/360_3600_140cd750bba9870f18aada2478b24840a/d51351af8e1561825fff954d7756b2d0.jpg', data-zoom-image='/upload/iblock/d51/d51351af8e1561825fff954d7756b2d0.jpg')
          img(src='//www.antech.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/d51/80_80_140cd750bba9870f18aada2478b24840a/d51351af8e1561825fff954d7756b2d0.jpg?14814813133659', border='0', alt='', width='80', height='80')
        a.elevatezoom-gallery.photo_swich_item(href='#', data-image='/upload/resize_cache/iblock/353/360_3600_140cd750bba9870f18aada2478b24840a/3538b4b8e72e7db0e2ff97846b78243b.jpg', data-zoom-image='/upload/iblock/353/3538b4b8e72e7db0e2ff97846b78243b.jpg')
          img(src='//www.antech.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/353/80_80_140cd750bba9870f18aada2478b24840a/3538b4b8e72e7db0e2ff97846b78243b.jpg?14814813133503', border='0', alt='', width='80', height='80')
        a.elevatezoom-gallery.photo_swich_item(href='#', data-image='/upload/resize_cache/iblock/074/360_3600_140cd750bba9870f18aada2478b24840a/074cbc6f01ccdbbb9ca71bb5b2d5ccc1.jpg', data-zoom-image='/upload/iblock/074/074cbc6f01ccdbbb9ca71bb5b2d5ccc1.jpg')
          img(src='//www.antech.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/074/80_80_140cd750bba9870f18aada2478b24840a/074cbc6f01ccdbbb9ca71bb5b2d5ccc1.jpg?14814813133221', border='0', alt='', width='80', height='80')
        a.elevatezoom-gallery.photo_swich_item(href='#', data-image='/upload/resize_cache/iblock/fbe/360_3600_140cd750bba9870f18aada2478b24840a/fbe1b12786d158365ad2cbe61e356fc7.jpg', data-zoom-image='/upload/iblock/fbe/fbe1b12786d158365ad2cbe61e356fc7.jpg')
          img(src='//www.antech.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/fbe/80_80_140cd750bba9870f18aada2478b24840a/fbe1b12786d158365ad2cbe61e356fc7.jpg?14814813133331', border='0', alt='', width='80', height='80')
        a.elevatezoom-gallery.photo_swich_item(href='#', data-image='/upload/resize_cache/iblock/7ff/360_3600_140cd750bba9870f18aada2478b24840a/7ffa4aef994a69850d15a1118c925477.jpg', data-zoom-image='/upload/iblock/7ff/7ffa4aef994a69850d15a1118c925477.jpg')
          img(src='//www.antech.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/7ff/80_80_140cd750bba9870f18aada2478b24840a/7ffa4aef994a69850d15a1118c925477.jpg?14814813133558', border='0', alt='', width='80', height='80')
        a.elevatezoom-gallery.photo_swich_item(href='#', data-image='/upload/resize_cache/iblock/69d/360_3600_140cd750bba9870f18aada2478b24840a/69db95459f1f02f49d3efbee1788fc14.jpg', data-zoom-image='/upload/iblock/69d/69db95459f1f02f49d3efbee1788fc14.jpg')
          img(src='//www.antech.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/69d/80_80_140cd750bba9870f18aada2478b24840a/69db95459f1f02f49d3efbee1788fc14.jpg?14814813133073', border='0', alt='', width='80', height='80')
        a.elevatezoom-gallery.photo_swich_item(href='#', data-image='/upload/resize_cache/iblock/2ab/360_3600_140cd750bba9870f18aada2478b24840a/2ab046e7087f8eef30c35e1b009ee175.jpg', data-zoom-image='/upload/iblock/2ab/2ab046e7087f8eef30c35e1b009ee175.jpg')
          img(src='//www.antech.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/2ab/80_80_140cd750bba9870f18aada2478b24840a/2ab046e7087f8eef30c35e1b009ee175.jpg?14814813132952', border='0', alt='', width='80', height='80')
    .photo_swich_items_scroll_btn
      .left_scroll
      .right_scroll
  .favorite_block
    a#asd_fav_38538.asd_fav_simple(href='javascript:void(0)', data-skey='83d5ddcef96f020d663aad02364c4047')
