@import '../../styl/component-include.styl'

.a-catalog-detail
  .price-val
    color $c-black
    margin-right 10px
    font-weight 400
    
  .catalog-preim-container
    
    .catalog-preim-item
      background-repeat no-repeat
      background-position left center
      background-size 48px 48px
      font-weight 600
      font-size 14px
      padding-left 70px
      min-height 60px
      display -webkit-flex
      display flex
      justify-content flex-start
      align-items center
      
  @media ( min-width 768px )
    .catalog-preim-container
      display -webkit-flex
      display flex
      justify-content space-between
      align-items center

      .catalog-preim-item
        margin 10px 0
        width 25%
        
  .first-line
    
    @media ( min-width 768px )
      display -webkit-flex
      display flex
      align-items stretch
    
      .description-block
        padding-bottom 90px
      
        .action-block
          position absolute
          bottom 0
          margin 0 auto
          left 0
          right 0
      
      



.b-catalog-detail
  text-align left
  
  h1
    font-size 24pt
  
  &__price-block
    font-size 16pt
    
    @media( max-width 991px )
      font-size 10.5pt
    
    i
      font-style normal
      
    .row
      margin 0 -5px
      
    .col-xs-4
      padding 0 5px
      
  &__available
    margin-top 15px
  
    @media( max-width 767px )
      text-align center
  
  &__price
    background-color #f7f7f7
    font-size 14pt
    font-weight bold
    text-align center
    line-height 68px
    border 1px solid #f2f2f2
    
    @media( max-width 991px )
      font-size 10.5pt
    
    &.i-active
      border 2px solid #ffcc00
      line-height 66px
      
  &__sum
    font-weight bold
    font-size 22pt
  
    @media( max-width 767px )
      text-align center
      
    i
      font-style normal
      
  &__note
    font-size 10pt
    font-weight 400
    
    span
      color #e10000
      
  .btn-cart
  
    @media( min-width 768px ) and ( max-width 991px )
      padding 0 23px 0 55px
      background-position 20px center
  
    @media( max-width 767px ) and ( min-width 451px )
      display block
      margin-top 10px
      background-position 35% center
  
    @media( max-width 450px )
      display block
      margin-top 10px
      background-position 25% center
      
  //@import 'quantity.styl'
  
  .quantity_input_container
    padding 0
    width auto
    position relative
  
  .input_product_quantity
    border 2px solid #ffcc00
    height 60px
    margin 0 70px
    border-radius 8px
    display block
    width calc( 100% - 140px )
    text-align center
    
    @media( max-width 991px ) and ( min-width 768px )
      width calc( 100% - 70px )
      margin 0 35px
    
    @media( max-width 767px )
      width calc( 100% - 140px )
      margin 0 70px
    
    &:focus
      outline 0
  
  .up_quantity_btn,
  .down_quantity_btn
    width 60px
    height 60px
    background #fff
    padding 0
    border none
    line-height 60px
    border-radius 8px
    font-size 20pt
    font-weight bold
    float none
    position absolute
    top 0
    left 0
    text-align center
    
    @media( max-width 991px ) and ( min-width 768px )
      width 30px
    
    @media( max-width 767px )
      width 60px
    
    &:hover,
    &:active
      background-color #f7f7f7
      
  .up_quantity_btn
    right 0
    left initial
      
.b-catalog-detail

  .fotorama__nav__frame
    opacity 0.5
    
    &.fotorama__active
      opacity 1

  .fotorama__thumb-border
    border 1px solid #4299e7 !important
    
  .fotorama__stage
    margin-bottom 2px !important
    
  .fotorama__thumb
    border 1px solid #d8d8d8 !important
    width 100px !important
    height 64px !important
    
  .fotorama__nav:after,
  .fotorama__nav:before,
  .fotorama__stage:after,
  .fotorama__stage:before
    display none !important
    
  .fotorama__nav-wrap
    
    @media ( max-width 767px )
      display none !important
      
  .fotorama__arr
    width 71px !important
    height 71px !important
    margin-top -36px !important
    
    &--prev
      background embedurl( 'img/arrow-left-grey.svg' ) center center !important
    
    &--next
      background embedurl( 'img/arrow-right-grey.svg' ) center center !important
      
  .fotorama__fullscreen-icon

    @media ( min-width 768px )
      display none !important

    @media ( max-width 767px )
      display block !important
        