.row.b-palette
  .col-sm-8.col-sm-offset-2
  
    .row
      .col-sm-3.col-xs-6
        span.b-palette-color( style="background-color: #c53830;" )
        p.text-large
          b Красный
        p.text-muted.text-middle Pantone solide uncoated<br>RED 032 U
        
      .col-sm-3.col-xs-6
        span.b-palette-color( style="background-color: #104d95;" )
        p.text-large
          b Синий
        p.text-muted.text-middle Pantone solide uncoated<br>Rflex Blue U
        
      hr.i-size-S.visible-xs-block.clearfix
        
      .col-sm-3.col-xs-6
        span.b-palette-color( style="background-color: #ffe727;" )
        p.text-large
          b Желтый
        p.text-muted.text-middle Pantone solide uncoated<br>Yellow U
        
      .col-sm-3.col-xs-6
        span.b-palette-color( style="background-color: #ee6b33;" )
        p.text-large
          b Оранжевый
        p.text-muted.text-middle Pantone solide uncoated<br>Orange 021 U
  
    .row
      .col-sm-3.col-xs-6
        span.b-palette-color( style="background-color: #c4db32;" )
        p.text-large
          b Салатовый
        p.text-muted.text-middle Pantone solide uncoated<br>RED 032 U
        
      .col-sm-3.col-xs-6
        span.b-palette-color( style="background-color: #5fb2e4;" )
        p.text-large
          b Голубой
        p.text-muted.text-middle Pantone solide uncoated<br>Rflex Blue U
        
      hr.i-size-S.visible-xs-block.clearfix
        
      .col-sm-3.col-xs-6
        span.b-palette-color( style="background-color: #267836;" )
        p.text-large
          b Зеленый
        p.text-muted.text-middle Pantone solide uncoated<br>Yellow U
        
      .col-sm-3.col-xs-6
        span.b-palette-color( style="background-color: #ad52b1;" )
        p.text-large
          b Лиловый
        p.text-muted.text-middle Pantone solide uncoated<br>Orange 021 U
  
    .row
      .col-sm-3.col-xs-6
        span.b-palette-color( style="background-color: #2a271b;" )
        p.text-large
          b Черный
        p.text-muted.text-middle Pantone solide uncoated<br>RED 032 U
        
      .col-sm-3.col-xs-6
        span.b-palette-color( style="background-color: #fff; border: 1px solid #ddd;" )
        p.text-large
          b Белый
        p.text-muted.text-middle Pantone solide uncoated<br>Rflex Blue U
        
      hr.i-size-S.visible-xs-block.clearfix
        
      .col-sm-3.col-xs-6
        span.b-palette-color( style="background-color: #000000;" )
        p.text-large
          b Коричневый
        p.text-muted.text-middle Pantone solide uncoated<br>Yellow U
        
      .col-sm-3.col-xs-6
        span.b-palette-color( style="background-color: #7159ad;" )
        p.text-large
          b Фиолетовый
        p.text-muted.text-middle Pantone solide uncoated<br>Orange 021 U