
<!-- start /components/catalog.section.top/-->
<link rel="stylesheet" href="/components/catalog.section.top/style.css"/>
<script src="/components/catalog.section.top/script.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/css/bootstrap-slider.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/bootstrap-slider.min.js"></script>
<link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"/>
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
<div class="container">
  <div class="row">
    <div style="padding-left: 0;" class="col-md-3">
      <div class="hidden-sm hidden-xs">
        <nav class="left-menu text-small">
          <div class="root-item is-root opened-children"><a href="" style="background-image: url(/img/menu_icon/galya_simbol.svg)" class="link link-icon">Каталог конструкций FEFCO<span class="h-counter">15</span>
              <div class="togleChildrenBloc"></div></a>
            <div class="collapse cildterblock in">
              <ul class="children">
                <li><a href="">02xx Высеченные коробки и 4-хклапанные коробки<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="selected">003xx Коробки телескопического типа или конструкции<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
              </ul>
              <ul id="menuCildBlock-1" class="children collapse sideMenuCollapse">
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
              </ul>
              <ul class="children showMoreLink">
                <li><a href="javascript:void()" data-toggle="collapse" data-target="#menuCildBlock-1" aria-expanded="false" aria-controls="menuCildBlock-1">Еще&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="root-item is-root"><a href="" style="background-image: url(/img/menu_icon/galya_simbol.svg)" class="link link-icon">Каталог конструкций GALIA<span class="h-counter">15</span>
              <div class="togleChildrenBloc"></div></a>
            <div class="collapse cildterblock">
              <ul class="children">
                <li><a href="">02xx Высеченные коробки и 4-хклапанные коробки<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">003xx Коробки телескопического типа или конструкции<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
              </ul>
            </div>
          </div>
          <div class="root-item is-root"><a href="" class="link">Ориганальные конструкции<span class="h-counter">15</span>
              <div class="togleChildrenBloc"></div></a>
            <div class="collapse cildterblock">
              <ul class="children">
                <li><a href="">02xx Высеченные коробки и 4-хклапанные коробки<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">003xx Коробки телескопического типа или конструкции<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
              </ul>
            </div>
          </div>
          <div class="root-item is-root"><a href="" style="background-image: url(/img/menu_icon/galya_simbol.svg)" class="link link-icon">Маркетинговая упаковка<span class="h-counter">15</span>
              <div class="togleChildrenBloc"></div></a>
            <div class="collapse cildterblock">
              <ul class="children">
                <li><a href="">02xx Высеченные коробки и 4-хклапанные коробки<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">003xx Коробки телескопического типа или конструкции<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
              </ul>
            </div>
          </div>
          <div class="root-item"><a href="" style="background-image: url(/img/menu_icon/galya_simbol.svg)" class="link link-icon">Упаковка с печатью</a></div>
          <div class="root-item"><a href="" style="background-image: url(/img/menu_icon/galya_simbol.svg)" class="link link-icon">Разработка упаковки</a></div>
        </nav>
        <!-- start /components/catalog.sections-left-menu-filter/-->
        <link rel="stylesheet" href="/components/catalog.sections-left-menu/style.css"/>
        <script src="/components/catalog.sections-left-menu/script.js"></script>
        <div class="catalog-chpu text-small">
          <div class="root-item is-root opened-children">
            <div class="link">По применению<span class="line-counter">&nbsp;(15)</span>
              <div class="togleChildrenBloc"></div>
            </div>
            <div id="catalog_chpu_list" class="cildterblock">
              <input placeholder="Найти" class="search form-control"/>
              <ul class="children itemList list">
                <li><a href="" class="name">Для овощей<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="name">Для переезда<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="name">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="name">Для хранения<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="name">Для дома<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="name">Для гаража<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="name">Для еще чео нибудь<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="name">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="name">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="name">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="name">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="name">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="name">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
              </ul>
              <ul style="display: none;" class="children showMoreLink">
                <li><a href="javascript:void(0)">Еще&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="root-item is-root opened-children">
            <div class="link">По функционалу<span class="line-counter">&nbsp;(15)</span>
              <div class="togleChildrenBloc"></div>
            </div>
            <div class="collapse cildterblock">
              <ul class="children">
                <li><a href="">С окошком<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">С ручками<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">С печатью<span class="line-counter">&nbsp;(15)</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end /components/catalog.sections-left-menu-filter/-->
      </div>
    </div>
    <div class="col-md-9">
      <div class="a-catalog-top">
        <div class="section">
          <div class="row first-line">
            <div class="col-md-1 col-sm-1 col-xs-2"><img src="/img/svg/gotovaya_ico.svg" class="h-icon"/></div>
            <div class="col-lg-6 col-md-5 col-sm-11 col-xs-10">
              <h1>Каталог упаковки<span class="h-counter">1270</span></h1>
            </div>
            <div class="col-lg-5 col-md-6 hidden-sm hidden-xs"><a class="btn btn-type-2 btn-md btn-justify">Заказать упаковку по своим размерам</a></div>
          </div>
        </div>
        <div class="section">
          <!-- start /include/construct/advantages/-->
          <div class="catalog-preim-container">
            <div style="background-image: url(/img/svg/magazin_morda_1.svg);" class="catalog-preim-item"><span class="text">Можем нанести печать на&nbsp;любую конструкцию</span></div>
            <div style="background-image: url(/upload/fefco/fefco_morda_1.svg);" class="catalog-preim-item"><span class="text">Мы&nbsp;адаптируем конструкцию к&nbsp;вашему продукту</span></div>
            <div style="background-image: url(/img/svg/magazin_morda_2.svg);" class="catalog-preim-item"><span class="text">Большой выбор форм и&nbsp;размеров</span></div>
            <div style="background-image: url(/img/svg/magazin_morda_3.svg);" class="catalog-preim-item"><span class="text">Самовывоз сегодня или доставка завтра</span></div>
          </div>
          <!-- end /include/construct/advantages/-->
        </div>
        <div class="size-filter">
          <div class="row">
            <div class="col-md-4 text-center"><span id="sfLstart">0</span>
              <input id="sfL" name="sfL" type="text" value="" data-slider-min="0" data-slider-max="3000" data-slider-step="1" data-slider-value="[0,3000]" class="input-slider"/><span id="sfLend">3000</span>
              <div><b>Длина&nbsp;</b><span>(мм)</span></div>
            </div>
            <div class="col-md-4 text-center"><span id="sfWstart">0</span>
              <input id="sfW" name="sfW" type="text" value="" data-slider-min="0" data-slider-max="3000" data-slider-step="1" data-slider-value="[0,3000]" class="input-slider"/><span id="sfWend">3000</span>
              <div><b>Ширина&nbsp;</b><span>(мм)</span></div>
            </div>
            <div class="col-md-4 text-center"><span id="sfHstart">0</span>
              <input id="sfH" name="sfH" type="text" value="" data-slider-min="0" data-slider-max="3000" data-slider-step="1" data-slider-value="[0,3000]" class="input-slider"/><span id="sfHend">3000</span>
              <div><b>Высота&nbsp;</b><span>(мм)</span></div>
            </div>
          </div>
          <hr class="i-size-S"/>
          <div class="row">
            <div class="col-md-10"><a href="" class="btn btn-type-1">Большие</a><a href="" class="btn btn-type-1">Маленькие</a><a href="javascript:void(0)">Сбросить фильтр</a></div>
            <div class="col-md-2"><span>Вид</span><a href="" class="glyphicon glyphicon-th-large section-view-mode-item active"></a><a href="" class="glyphicon glyphicon-th-list section-view-mode-item"></a></div>
          </div>
        </div>
        <div class="cat-section">
          <div class="h2-line"><img src="/img/svg/gotovaya_ico.svg" class="h2-icon"/>
            <h2>Картонные коробки<span class="h-counter">1270</span></h2>
          </div>
          <!-- start include/items_grid-->
          
          <div class="row item-grid text-small">
            <div data-width="100%" data-minwidth="300" data-maxwidth="1000" data-height="350" class="fotorama-section-top">
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-item">
                <div class="a-catalog-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                    <div class="card-name-block">
                      <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
                      <div class="card-price"><span class="price-val">от 15,40 руб</span><a href="" class="btn btn-type-2 btn-sm">Купить</a></div>
                    </div></a></div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-item">
                <div class="a-catalog-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                    <div class="card-name-block">
                      <div class="card-name">Коробки оберточного типа<span class="line-counter">&nbsp;(16)</span></div>
                      <div class="card-price"><span class="price-val">от 15,40 руб</span><a href="" class="btn btn-type-2 btn-sm">Купить</a></div>
                    </div></a></div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-item">
                <div class="a-catalog-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                    <div class="card-name-block">
                      <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
                      <div class="card-price"><span class="price-val">от 15,40 руб</span><a href="" class="btn btn-type-2 btn-sm">Купить</a></div>
                    </div></a></div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-item">
                <div class="a-catalog-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                    <div class="card-name-block">
                      <div class="card-name">Коробки оберточного типа<span class="line-counter">&nbsp;(16)</span></div>
                      <div class="card-price"><span class="price-val">от 15,40 руб</span><a href="" class="btn btn-type-2 btn-sm">Купить</a></div>
                    </div></a></div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-item">
                <div class="a-catalog-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                    <div class="card-name-block">
                      <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
                      <div class="card-price"><span class="price-val">от 15,40 руб</span><a href="" class="btn btn-type-2 btn-sm">Купить</a></div>
                    </div></a></div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-item">
                <div class="a-catalog-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                    <div class="card-name-block">
                      <div class="card-name">Коробки оберточного типа<span class="line-counter">&nbsp;(16)</span></div>
                      <div class="card-price"><span class="price-val">от 15,40 руб</span><a href="" class="btn btn-type-2 btn-sm">Купить</a></div>
                    </div></a></div>
              </div>
              <div class="col-xs-12 visible-xs">
                <div class="a-catalog-card add-card"><a href="" class="card-image"><img src="/img/construction_mord_more_sym.png" class="img-responsive"/>
                    <div class="card-name-block">Посмотреть все конструкции</div></a></div>
              </div>
            </div>
            <div class="section hidden-xs clearfix">
              <div class="col-xs-12"><a href="" class="btn btn-type-5 btn-md btn-justify">Показать все</a></div>
            </div>
          </div>
          <!-- end include/items_grid-->
        </div>
        <div class="cat-section">
          <div class="h2-line"><img src="/img/svg/gotovaya_ico.svg" class="h2-icon"/>
            <h2>Гофроупаковка<span class="h-counter">1270</span></h2>
          </div>
          <!-- start include/items_grid-->
          
          <div class="row item-grid text-small">
            <div data-width="100%" data-minwidth="300" data-maxwidth="1000" data-height="350" class="fotorama-section-top">
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-item">
                <div class="a-catalog-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                    <div class="card-name-block">
                      <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
                      <div class="card-price"><span class="price-val">от 15,40 руб</span><a href="" class="btn btn-type-2 btn-sm">Купить</a></div>
                    </div></a></div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-item">
                <div class="a-catalog-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                    <div class="card-name-block">
                      <div class="card-name">Коробки оберточного типа<span class="line-counter">&nbsp;(16)</span></div>
                      <div class="card-price"><span class="price-val">от 15,40 руб</span><a href="" class="btn btn-type-2 btn-sm">Купить</a></div>
                    </div></a></div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-item">
                <div class="a-catalog-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                    <div class="card-name-block">
                      <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
                      <div class="card-price"><span class="price-val">от 15,40 руб</span><a href="" class="btn btn-type-2 btn-sm">Купить</a></div>
                    </div></a></div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-item">
                <div class="a-catalog-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                    <div class="card-name-block">
                      <div class="card-name">Коробки оберточного типа<span class="line-counter">&nbsp;(16)</span></div>
                      <div class="card-price"><span class="price-val">от 15,40 руб</span><a href="" class="btn btn-type-2 btn-sm">Купить</a></div>
                    </div></a></div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-item">
                <div class="a-catalog-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                    <div class="card-name-block">
                      <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
                      <div class="card-price"><span class="price-val">от 15,40 руб</span><a href="" class="btn btn-type-2 btn-sm">Купить</a></div>
                    </div></a></div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-item">
                <div class="a-catalog-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                    <div class="card-name-block">
                      <div class="card-name">Коробки оберточного типа<span class="line-counter">&nbsp;(16)</span></div>
                      <div class="card-price"><span class="price-val">от 15,40 руб</span><a href="" class="btn btn-type-2 btn-sm">Купить</a></div>
                    </div></a></div>
              </div>
              <div class="col-xs-12 visible-xs">
                <div class="a-catalog-card add-card"><a href="" class="card-image"><img src="/img/construction_mord_more_sym.png" class="img-responsive"/>
                    <div class="card-name-block">Посмотреть все конструкции</div></a></div>
              </div>
            </div>
            <div class="section hidden-xs clearfix">
              <div class="col-xs-12"><a href="" class="btn btn-type-5 btn-md btn-justify">Показать все</a></div>
            </div>
          </div>
          <!-- end include/items_grid-->
        </div>
        <div class="cat-section">
          <div class="h2-line"><img src="/img/svg/gotovaya_ico.svg" class="h2-icon"/>
            <h2>Упаковочные материалы<span class="h-counter">1270</span></h2>
          </div>
          <!-- start include/items_grid-->
          
          <div class="row item-grid text-small">
            <div data-width="100%" data-minwidth="300" data-maxwidth="1000" data-height="350" class="fotorama-section-top">
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-item">
                <div class="a-catalog-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                    <div class="card-name-block">
                      <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
                      <div class="card-price"><span class="price-val">от 15,40 руб</span><a href="" class="btn btn-type-2 btn-sm">Купить</a></div>
                    </div></a></div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-item">
                <div class="a-catalog-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                    <div class="card-name-block">
                      <div class="card-name">Коробки оберточного типа<span class="line-counter">&nbsp;(16)</span></div>
                      <div class="card-price"><span class="price-val">от 15,40 руб</span><a href="" class="btn btn-type-2 btn-sm">Купить</a></div>
                    </div></a></div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-item">
                <div class="a-catalog-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                    <div class="card-name-block">
                      <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
                      <div class="card-price"><span class="price-val">от 15,40 руб</span><a href="" class="btn btn-type-2 btn-sm">Купить</a></div>
                    </div></a></div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-item">
                <div class="a-catalog-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                    <div class="card-name-block">
                      <div class="card-name">Коробки оберточного типа<span class="line-counter">&nbsp;(16)</span></div>
                      <div class="card-price"><span class="price-val">от 15,40 руб</span><a href="" class="btn btn-type-2 btn-sm">Купить</a></div>
                    </div></a></div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-item">
                <div class="a-catalog-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                    <div class="card-name-block">
                      <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
                      <div class="card-price"><span class="price-val">от 15,40 руб</span><a href="" class="btn btn-type-2 btn-sm">Купить</a></div>
                    </div></a></div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-item">
                <div class="a-catalog-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
                    <div class="card-name-block">
                      <div class="card-name">Коробки оберточного типа<span class="line-counter">&nbsp;(16)</span></div>
                      <div class="card-price"><span class="price-val">от 15,40 руб</span><a href="" class="btn btn-type-2 btn-sm">Купить</a></div>
                    </div></a></div>
              </div>
              <div class="col-xs-12 visible-xs">
                <div class="a-catalog-card add-card"><a href="" class="card-image"><img src="/img/construction_mord_more_sym.png" class="img-responsive"/>
                    <div class="card-name-block">Посмотреть все конструкции</div></a></div>
              </div>
            </div>
            <div class="section hidden-xs clearfix">
              <div class="col-xs-12"><a href="" class="btn btn-type-5 btn-md btn-justify">Показать все</a></div>
            </div>
          </div>
          <!-- end include/items_grid-->
        </div>
        <!-- include file add text start-->
        <hr class="i-size-S"/>
        <hr class="gray"/>
        <div class="section">
          <div class="row text-small">
            <div class="col-md-6">
              <div class="h5">Дополнительные элементы упаковки</div>
              <p>Размеры упаковочных коробок выбираются с точки зрения рациональной затарки и оптимизации расходов на погрузку, транспортировку, хранение. </p>
              <p>При выборе типовой готовой тары учитывайте прочность, жесткость, возможность усиления каркаса, общую высоту и внешние габариты в привязке к погрузке на поддоны. </p>
              <p>Базовые параметры и критерии при производстве на заказ:</p>
              <ul>
                <li>тип и габариты единичной тары (бутылка, маленькая коробка, дойпак и т.п.);</li>
                <li>тип продукта (вода газированная и без газа, соки, крупы, мука, продукт без индивидуальной упаковки);</li>
                <li>условия фасовки (ручная, автомат);</li>
                <li>условия хранения и перегрузки (на паллетах и без, с повышением и без).</li>
              </ul>
              <p>Рекомендуем предоставить образцы индивидуальной упаковки для обмера и проектирования гофротары. Размеры картонных коробок и число единиц товара внутри могут варьироваться с учетом веса одного места, требований к реализации продукта.</p>
              <p>Рекомендуем предоставить образцы индивидуальной упаковки для обмера и проектирования гофротары.</p>
            </div>
            <div class="col-md-6">
              <div class="h5">Дополнительные элементы упаковки</div>
              <p>Размеры упаковочных коробок выбираются с точки зрения рациональной затарки и оптимизации расходов на погрузку, транспортировку, хранение. </p>
              <p>При выборе типовой готовой тары учитывайте прочность, жесткость, возможность усиления каркаса, общую высоту и внешние габариты в привязке к погрузке на поддоны. </p>
              <p>Базовые параметры и критерии при производстве на заказ:</p>
              <ul>
                <li>тип и габариты единичной тары (бутылка, маленькая коробка, дойпак и т.п.);</li>
                <li>тип продукта (вода газированная и без газа, соки, крупы, мука, продукт без индивидуальной упаковки);</li>
                <li>условия фасовки (ручная, автомат);</li>
                <li>условия хранения и перегрузки (на паллетах и без, с повышением и без).</li>
              </ul>
              <p>Рекомендуем предоставить образцы индивидуальной упаковки для обмера и проектирования гофротары. Размеры картонных коробок и число единиц товара внутри могут варьироваться с учетом веса одного места, требований к реализации продукта.</p>
              <p>Рекомендуем предоставить образцы индивидуальной упаковки для обмера и проектирования гофротары.</p>
            </div>
          </div>
        </div>
        <hr class="gray"/>
        <!-- include file add text end-->
        
        
        
        
        
        
        
      </div>
    </div>
  </div>
</div>
<!-- end /components/catalog.section.top/-->