extends ../../layouts/main.jade

block title
  title Catalog detail | antech

block content
  
  .b-top-panel
    .container
      -var header = "Картонные коробки"
      include ../../modules/top-header/include
      include ../../modules/top-menu/catalog  
      
  .container
    include ../../modules/breadcrumbs/catalog 
    
    hr
    
    include ../../components/catalog.detail-product/template
    
    
  .container
    .col-md-9.col-md-offset-3
      .h3 Закажите эту конструкцию по своим размерам!
      include ../../components/iblock-element-add.new_order_position/template
    
  
  .container
    .col-md-9.col-md-offset-3
      hr.i-size-S.hidden-xs
      hr.i-size-XS.visible-xs
      include ../../include/advantages_catalog
      hr.i-size-S.hidden-xs
      hr.i-size-XS.visible-xs
  
  .container
    .col-md-9.col-md-offset-3
      .row
        .col-md-6
          h2.h3 Полезные соверы по работе с этой конструкцией (Текст размером 1000 знаков)
          p Как собирать, как заклеивать, какие инструкменты и дополнительные материалы применяются для сборки
          p Как учитывать рмзмеры
          p Различные способы фиксации предметов внутри упаковки
          p Размеры упаковочных коробок выбираются с точки зрения рациональной затарки и оптимизации расходов на погрузку, транспортировку, хранение. 
          p При выборе типовой готовой тары учитывайте прочность, жесткость, возможность усиления каркаса, общую высоту и внешние габариты в привязке к погрузке на поддоны. 
          p Базовые параметры и критерии при производстве на заказ:
          p При выборе типовой готовой тары учитывайте прочность, жесткость, возможность усиления каркаса, общую высоту и внешние габариты в привязке к погрузке на поддоны. 
          
      
        .col-md-6
          h2.h3 Варианты использования
          p Данный товар может применять для:
          ul
            li
              a(href="") Для применения ...
            li
              a(href="") Для применения ...
            li
              a(href="") Для применения ...
            li
              a(href="") Для применения ...
            li
              a(href="") Для применения ...
            li
              a(href="") Для применения ...
            li
              a(href="") Для применения ...
            li
              a(href="") Для применения ...
            li
              a(href="") Для применения ...
            li
              a(href="") Для применения ...
            li
              a(href="") Для применения ...
            li
              a(href="") Для применения ...
          
          .h3 Видеоинструкция по сборке
          
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item( src="https://www.youtube.com/embed/kZJnWg6Ma8g" frameborder="0" allowfullscreen)
    
  
  hr.i-size-S
  
  .container
    hr.gray
    include ../../include/serv_puth_gotovye
    hr.i-size-S
    
  include ../../include/garantii
    
  include ../../modules/call-me-block/include
  
  .container
    include ../../components/ideas/template
    hr.i-size-S
    
    
  
          