extends ../../layouts/main.jade

block title
  title Catalog detail | antech

block content
  
  .b-top-panel
    .container
      -var header = "Картонные коробки"
      include ../../modules/top-header/include
      include ../../modules/top-menu/catalog  
      
  .container
    include ../../modules/breadcrumbs/catalog 
    
  include ../../components/catalog.detail-product/template
    
  
  .container
    hr.gray
    include ../../include/serv_puth_gotovye
    hr.i-size-S
    
  include ../../include/garantii
    
  include ../../modules/call-me-block/include
  
  .container
    include ../../components/ideas/template
    hr.i-size-S
    
    
  
          