.b-team-card( itemprop="employee" itemscope itemtype="http://schema.org/Person" )
  
  .b-team-card__img( style="background-image: url( '/upload/ideas/2.jpg' );" itemprop="image" )
  
  h3( itemprop="name" ) Ирина
  
  p( itemprop="jobTitle" ) Дизайнер