.b-testimonial-card( itemscope itemtype="http://schema.org/Comment" )
  
  img.b-testimonial-card__img( src="/upload/ideas/1.jpg" itemprop="image" alt="" )
  
  h3( itemprop="creator" ) Ирина
  
  p( itemprop="text" ) Дизайнер