.b-team-card( itemscope itemtype="http://schema.org/Comment" )
  
  .b-team-card__img( style="background-image: url( '/upload/ideas/2.jpg' );" itemprop="image" )
  
  h3( itemprop="creator" ) Ирина
  
  p( itemprop="text" ) Дизайнер