<article>
  <div class="col-md-4 col-sm-6">
    <div class="b-catalog-card">
      <div data-original="/upload/catalog-card/1.jpg" class="b-catalog-card__image"></div>
      <div class="b-catalog-card__text">
        <div class="b-catalog-card__title"><a href="">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
        <div class="b-catalog-card__price">
          от
           <b class="b-price">46,91</b>руб
        </div>
        <hr class="i-size-M i-line-simple"><a href="ajax-request-url" class="btn btn-default btn-md btn-cart">В корзину</a>
        <div class="b-catalog-card__icons"><a href="" class="b-fav-icon"></a><a href="" class="b-compare-icon"></a></div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="b-catalog-card">
      <div data-original="/upload/catalog-card/1.jpg" class="b-catalog-card__image"></div>
      <div class="b-catalog-card__text">
        <div class="b-catalog-card__title"><a href="">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
        <div class="b-catalog-card__price">
          от
           <b class="b-price">46,91</b>руб
        </div>
        <hr class="i-size-M i-line-simple"><a href="ajax-request-url" class="btn btn-default btn-md btn-cart">В корзину</a>
        <div class="b-catalog-card__icons"><a href="" class="b-fav-icon"></a><a href="" class="b-compare-icon"></a></div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="b-catalog-card">
      <div data-original="/upload/catalog-card/1.jpg" class="b-catalog-card__image"></div>
      <div class="b-catalog-card__text">
        <div class="b-catalog-card__title"><a href="">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
        <div class="b-catalog-card__price">
          от
           <b class="b-price">46,91</b>руб
        </div>
        <hr class="i-size-M i-line-simple"><a href="ajax-request-url" class="btn btn-default btn-md btn-cart">В корзину</a>
        <div class="b-catalog-card__icons"><a href="" class="b-fav-icon"></a><a href="" class="b-compare-icon"></a></div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="b-catalog-card">
      <div data-original="/upload/catalog-card/1.jpg" class="b-catalog-card__image"></div>
      <div class="b-catalog-card__text">
        <div class="b-catalog-card__title"><a href="">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
        <div class="b-catalog-card__price">
          от
           <b class="b-price">46,91</b>руб
        </div>
        <hr class="i-size-M i-line-simple"><a href="ajax-request-url" class="btn btn-default btn-md btn-cart">В корзину</a>
        <div class="b-catalog-card__icons"><a href="" class="b-fav-icon"></a><a href="" class="b-compare-icon"></a></div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="b-catalog-card">
      <div data-original="/upload/catalog-card/1.jpg" class="b-catalog-card__image"></div>
      <div class="b-catalog-card__text">
        <div class="b-catalog-card__title"><a href="">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
        <div class="b-catalog-card__price">
          от
           <b class="b-price">46,91</b>руб
        </div>
        <hr class="i-size-M i-line-simple"><a href="ajax-request-url" class="btn btn-default btn-md btn-cart">В корзину</a>
        <div class="b-catalog-card__icons"><a href="" class="b-fav-icon"></a><a href="" class="b-compare-icon"></a></div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="b-catalog-card">
      <div data-original="/upload/catalog-card/1.jpg" class="b-catalog-card__image"></div>
      <div class="b-catalog-card__text">
        <div class="b-catalog-card__title"><a href="">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
        <div class="b-catalog-card__price">
          от
           <b class="b-price">46,91</b>руб
        </div>
        <hr class="i-size-M i-line-simple"><a href="ajax-request-url" class="btn btn-default btn-md btn-cart">В корзину</a>
        <div class="b-catalog-card__icons"><a href="" class="b-fav-icon"></a><a href="" class="b-compare-icon"></a></div>
      </div>
    </div>
  </div>
</article>

<div data-page="2" data-ajax="/components/catalog.section/load.html" class="b-catalog-section__load">
  <i>Показать ещё</i>
  <b>Загрузка</b>
</div>
