extends ../../layouts/main.jade

block title
  title Catalog section | antech

block content
  
  .b-top-panel
    .container
      -var header = "Картонные коробки"
      include ../../modules/top-header/include
      include ../../modules/top-menu/catalog   
    
  include ../../components/catalog.section/template
    
  .container
    include ../../modules/menu-list/include6
    
  hr.i-size-L
    
  section.b-request-form.i-gradient
    .container
      include ../../components/request-form/template
  
  section.i-gray.i-stext
    .container
        
      .row
        .col-sm-6
          h4
            b Антэк. Изготовление картонных коробок

          p Специалисты нашей компании разрабатывают и изготавливают упаковку из картона более 15 лет. Колоссальный опыт в этой сфере позволяет нам выполнять любые заказы на производство картонных упаковок независимо от сложности конструкции и объема работ.

          p Принцип бережливого производства позволяет не расходовать материал впустую! При этом производственный процесс автоматизирован, а качество продукции проверяется на всех этапах изготовления – от выбора картона до выхода товара в тираж. Благодаря этому наши клиенты получают качественную продукцию точно в срок.

          h4
            b  Антэк. Новые возможности

          p Упаковочная коробка из картона пользуется спросом больше века. Однако сегодня она выполняет не только «упаковочные» функции, но и помогает подчеркнуть индивидуальный стиль компании. Мы поможем воплотить самые смелые маркетинговые идеи и создать уникальную брендовую упаковку!

          h4
            b  Антэк. Новые возможности

          p Упаковочная коробка из картона пользуется спросом больше века. Однако сегодня она выполняет не только «упаковочные» функции, но и помогает подчеркнуть индивидуальный стиль компании. Мы поможем воплотить самые смелые маркетинговые идеи и создать уникальную брендовую упаковку!

        .col-sm-6
          h4
            b  Антэк. Ценность предложения

          p Вы можете заказать изготовление упаковочных коробок «под ключ» – от разработки макета до серийного производства и печати бренда на упаковке. Мы разрабатываем и изготавливаем на заказ коробки любых размеров и форм-факторов.

          p Наши специалисты помогут создать удобную упаковку оптимальной конструкции, отвечающей необходимым параметрам (форма, размер, вес, ценность) и требованиям бережного хранения и транспортировки.

          h4
            b  Антэк. Покоряем вершины вместе

          p Наша миссия – создавать продукт, который приносит практическую пользу и позволяет сохранить экологию Земли. Мы изготавливаем функциональные картонные коробки из экологически чистого картона.

          p Мы создаем не просто удобную упаковку, а изделия нового поколения в Москве. Мы рады, что вместе с вами поэтапно выходим на новый уровень!

          h4
            b  Антэк. Покоряем вершины вместе

          p Наша миссия – создавать продукт, который приносит практическую пользу и позволяет сохранить экологию Земли. Мы изготавливаем функциональные картонные коробки из экологически чистого картона.

          p Мы создаем не просто удобную упаковку, а изделия нового поколения в Москве. Мы рады, что вместе с вами поэтапно выходим на новый уровень!
          