// start /components/products-list/

link( rel="stylesheet", href="/components/products-list/style.css" )
script( src="/components/products-list/script.js" )

.b-products-list
  
  .b-products-list__nav.nav.nav-tabs( role="tablist" )
    .btn-group( role="group" )
      a( href="#boxes" aria-controls="boxes" role="tab" data-toggle="tab" ).btn.btn-default.btn-menu.active
        span Картонные коробки
      a( href="#gofro" aria-controls="gofro" role="tab" data-toggle="tab" ).btn.btn-default.btn-menu
        span Гофрокартон
      a( href="#pack" aria-controls="pack" role="tab" data-toggle="tab" ).btn.btn-default.btn-menu
        span Упаковочные материалы
        
  hr.i-size-M

  .tab-content
    #boxes.tab-pane.active( div role="tabpanel" )
      include ../../modules/gallery/product-list-md
        
      .b-products-list__load( data-page="2" data-ajax="/components/products-list/load.html" )
        i Показать ещё
        b Загрузка
      
    #gofro.tab-pane( div role="tabpanel" )
      include ../../modules/gallery/product-list-md
        
      .b-products-list__load( data-page="2" data-ajax="/components/products-list/load.html" )
        i Показать ещё
        b Загрузка
                
    #pack.tab-pane( div role="tabpanel" )
      include ../../modules/gallery/product-list-md
        
      .b-products-list__load( data-page="2" data-ajax="/components/products-list/load.html" )
        i Показать ещё
        b Загрузка

// end /components/products-list/