.col-md-6
  h2.h3 Наши упаковки&nbsp;&mdash; простое решение сложных задач
  p Крупногабаритными считаются предметы, у&nbsp;которых хотя&nbsp;бы одна сторона превышает 50&nbsp;см. Это могут быть:
  ul
    li Строительные конструкции.
    li Металлическое сырье, запчасти.
    li Спортивный инвентарь.
    li Бытовая техника, оборудование.
    li Мебель и&nbsp;другие вещи.
  p Мы&nbsp;производим короба и&nbsp;ящики из&nbsp;картона, который многие десятилетия является выбором &#8470;&nbsp;1&nbsp;в индустрии упаковочной продукции. Этот материал мало весит и&nbsp;не&nbsp;утяжеляет конструкцию, достаточно прочный на&nbsp;разрыв и&nbsp;легко поддается обработке. Картон безопасен для экологии и&nbsp;человека, может использоваться повторно и&nbsp;не&nbsp;нуждается в&nbsp;дорогостоящей технологии утилизации. 
  p Из&nbsp;картонного сырья можно сделать короба любой формы и&nbsp;размеров, а&nbsp;цена будет невысокой по&nbsp;сравнению с&nbsp;пластиковыми или деревянными аналогами. На&nbsp;поверхность мы&nbsp;можем нанести информационный текст, логотип компании или фирменные символы.
  p В&nbsp;нашей таре можно перевозить крупные товары автотранспортом, поездом, самолетом. Если она создается под заказ&nbsp;&mdash; учитывается вес, габариты и&nbsp;особенности формы каждого груза. Для стандартных товаров можно подобрать уже готовые модели коробок из&nbsp;нашего каталога.

.col-md-6
  h2.h3 Как мы&nbsp;повышаем надежность
  p Большие размеры груза требуют повышенного внимания к&nbsp;прочности тары. Чтобы повысить показатели устойчивости и&nbsp;безопасности, наши конструкторы используют:
  ul
    li Специальные фиксаторы, которые не&nbsp;дают стенкам коробок деформироваться.
    li Уплотненные уголки, вкладыши, опоры и&nbsp;усилители днища.
    li Внутренние перегородки, решетки, амортизаторы.
  p Дизайн можно дополнить прорубными отверстиями, откидными или съемными крышками, переносками, ручками. Если есть малейшие сомнения, наши эксперты готовы выехать к&nbsp;заказчику, провести детальные замеры и&nbsp;предложить оптимальный вариант дизайна.
  p Для оформления заказа вам нужно позвонить нам по&nbsp;телефону или заполнить простую форму на&nbsp;сайте&nbsp;&mdash; наши консультанты ответят на&nbsp;все вопросы и&nbsp;помогут разобраться в&nbsp;тонкостях правильного выбора упаковочной тары.
  p Качество упаковочной продукции строго контролируется на&nbsp;каждом этапе, поэтому за&nbsp;сохранность своих товаров и&nbsp;вещей наши заказчики могут не&nbsp;переживать. Заказ выполняется за&nbsp;1-5 дней&nbsp;&mdash; в&nbsp;зависимости от&nbsp;сложности и&nbsp;объемов. У&nbsp;нас всегда можно заказать пробную партию или поштучные экземпляры, забрать готовую продукцию самовывозом или оформить доставку любой&nbsp;ТК.