
<!-- start /components/catalog.sections-left-menu-filter/-->
<link rel="stylesheet" href="/components/catalog.sections-left-menu/style.css"/>
<script src="/components/catalog.sections-left-menu/script.js"></script>
<div class="catalog-chpu text-small">
  <div class="root-item is-root opened-children">
    <div class="link">По применению<span class="line-counter">&nbsp;(15)</span>
      <div class="togleChildrenBloc"></div>
    </div>
    <div id="catalog_chpu_list" class="cildterblock">
      <input placeholder="Найти" class="search form-control"/>
      <ul class="children itemList list">
        <li><a href="" class="name">Для овощей<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="" class="name">Для переезда<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="" class="name">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="" class="name">Для хранения<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="" class="name">Для дома<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="" class="name">Для гаража<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="" class="name">Для еще чео нибудь<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="" class="name">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="" class="name">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="" class="name">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="" class="name">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="" class="name">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="" class="name">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
      </ul>
      <ul style="display: none;" class="children showMoreLink">
        <li><a href="javascript:void(0)">Еще&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a></li>
      </ul>
    </div>
  </div>
  <div class="root-item is-root opened-children">
    <div class="link">По функционалу<span class="line-counter">&nbsp;(15)</span>
      <div class="togleChildrenBloc"></div>
    </div>
    <div class="collapse cildterblock">
      <ul class="children">
        <li><a href="">С окошком<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">С ручками<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">С печатью<span class="line-counter">&nbsp;(15)</span></a></li>
      </ul>
    </div>
  </div>
</div>
<!-- end /components/catalog.sections-left-menu-filter/-->