
<!-- start /components/catalog.sections-left-menu-filter/-->
<link rel="stylesheet" href="/components/catalog.sections-left-menu/style.css"/>
<script src="/components/catalog.sections-left-menu/script.js"></script>
<div class="catalog-chpu text-small">
  <div class="root-item is-root opened-children">
    <div class="link">По применению<span class="line-counter">&nbsp;(15)</span>
      <div class="togleChildrenBloc"></div>
    </div>
    <div class="collapse cildterblock in">
      <ul class="children">
        <li><a href="">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
      </ul>
      <ul id="filterCildBlock-1" class="children collapse sideMenuCollapse">
        <li><a href="">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
      </ul>
      <ul class="children showMoreLink">
        <li><a href="javascript:void()" data-toggle="collapse" data-target="#filterCildBlock-1" aria-expanded="false" aria-controls="menuCildBlock-1">Еще&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a></li>
      </ul>
    </div>
  </div>
  <div class="root-item is-root opened-children">
    <div class="link">По функционалу<span class="line-counter">&nbsp;(15)</span>
      <div class="togleChildrenBloc"></div>
    </div>
    <div class="collapse cildterblock">
      <ul class="children">
        <li><a href="">С окошком<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">С ручками<span class="line-counter">&nbsp;(15)</span></a></li>
        <li><a href="">С печатью<span class="line-counter">&nbsp;(15)</span></a></li>
      </ul>
    </div>
  </div>
</div>
<!-- end /components/catalog.sections-left-menu-filter/-->