extends ../../layouts/main.jade

block title
  title Portfolio | Antech

block content
  
  .b-top-panel
    .container
      -var header = "Портфолио"
      include ../../modules/top-header/include
      include ../../modules/top-menu/include
      
  .container
    include ../../modules/breadcrumbs/portfolio
    
    hr
    
    h1.text-center Наши работы
    
    include ../../modules/page-menu/include
  
  hr.i-size-S
  
  .container
    
    include ../../components/portfolio/template
    
  section.b-request-form
    .container
      include ../../components/request-form/template