a.b-fav-icon( href="" title="Добавить в избранное" )
  svg(id='Слой_1', data-name='Слой 1', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 45.35 45.35')
    title favorite
    path(d='M22.71,15.46s9.8-11.4,16.87-2.93C50.24,25.3,22.71,38.89,22.71,38.89')
    path(d='M22.71,15.46s-9.8-11.4-16.87-2.93C-4.82,25.3,22.71,38.89,22.71,38.89')