@import '../../styl/component-include.styl'

.b-fav-icon
  display inline-block
  width 32px
  height 32px
  
  path
    fill none
    stroke #999
    stroke-linecap round
    stroke-linejoin round
    stroke-width 2px
  
  &:hover,
  &.i-active
  
    path
      stroke #eb212e