.col-md-12
  h2.h3 Гофроупаковка в&nbsp;наличии и&nbsp;на&nbsp;заказ
  p В&nbsp;каталоге представлена гофроупаковка, которую вы&nbsp;можете заказать и&nbsp;получить с&nbsp;доставкой на&nbsp;ваш завод или склад уже завтра. Предлагаем купить оптом упаковку для продуктов, фармацевтики, спиртосодержащей продукции, оборудования, бытовой техники, игрушек, а&nbsp;также коробки для переезда, архивные боксы, короба для хранения. 
  p При выборе учитывайте:
  ul
    li тип и&nbsp;назначение вашей продукции, требования к&nbsp;весу одного места;
    li способ погрузки, высоту повышения при хранении, дальность доставки;
    li затраты на&nbsp;упаковку, тип расфасовочной линии, метод загрузки;
    li необходимость усиления, использования амортизаторов, подложки, уголка и&nbsp;др.;
    li размеры и&nbsp;цвет наносимого изображения, наличие матрицы для печати.
  p Во&nbsp;избежание ошибок рекомендуем предоставить образцы штучной упаковки (бутылки, коробки, пакеты с&nbsp;заполнением содержимым) для расчета веса, удобства погрузки, удельной жесткости, габаритов коробок.
  p Для нестандартных товаров предлагаем разработку на&nbsp;заказ и&nbsp;быстрое изготовление необходимой партии с&nbsp;выдачей тестового образца для тестирования.
  
  h2.h3 Наши преимущества
  ul
    li неограниченные возможности, собственное производство в&nbsp;г. Москва, исполнение заказа в&nbsp;срок от&nbsp;1&nbsp;дня;
    li цены от&nbsp;производителя, минимальная стоимость за&nbsp;счет верного выбора технологии изготовления и&nbsp;концепции фасовки;
    li экологическая безопасность и&nbsp;простая утилизация продукции;
    li продажа партиями от&nbsp;1&nbsp;штуки.
  p При производстве используются пластиковые, деревянные, кожаные элементы для стилизации и&nbsp;расширения функционала (ручки, окошки, подставки), а&nbsp;также разные методы нанесение печати, включая растровую флексопечать, многоцветную офсетную полиграфию, фольгирование, лакирование, тиснение и&nbsp;др. 
  p Цена стандартной тары указана в&nbsp;каталоге. При заказе нетиповых форматов поставщик предоставляет обоснование стоимости одновременно с&nbsp;дизайном и&nbsp;макетом. Выпуск партии осуществляется после подписания договора и&nbsp;одобрения тестового образца.