// start /components/catalog.detail/

link( rel="stylesheet", href="/components/catalog.detail-product/style.css" )
script( src="/components/catalog.detail-product/script.js" )




.container
  .row
    .col-md-3
      .hidden-sm.hidden-xs
        include ../../modules/left-menu/include
        include ../../components/catalog.sections-left-menu/template
        
    .col-md-9

      .a-catalog-detail( itemscope itemtype="http://schema.org/Product" )
        h1.h2( itemprop="name" ) Четырехклапанная коробка 550х350х350
        .row.first-line
          .col-sm-6
            .fotorama-catalog-multicard( data-nav="thumbs" data-allowfullscreen="native" data-ratio="1" data-width="100%" data-loop="true" data-thumbwidth="102" data-thumbheight="66" )
              img.multicardImage( itemprop="image" src="http://s.fotorama.io/1.jpg" )
              img.multicardImage( itemprop="image" src="http://s.fotorama.io/2.jpg" )
              img.multicardImage( itemprop="image" src="http://s.fotorama.io/3.jpg" )
              img.multicardImage( itemprop="image" src="http://s.fotorama.io/4.jpg" )
      
          .col-sm-6.description-block
            .row
              .col-xs-6
                span.text-muted Артикул:
                | 
                | UT533
            - for (var p=0; p<7; p++)
              .row
                .col-xs-6 Параметр #{p}:
                .col-xs-6
                  span.text-muted Значение #{p}
            
            hr.i-size-S
            
            .text-small
              p( itemprop="description" ) Картонная коробка продуктовая, гофрокартон бурый трехслойный, Т-24 В, (упаковка 10 шт) (Внешние размеры).
            
              
        
          
        .row( id="offersItems-block")
          .h3 Размеры в наличии
          include ../../components/catalog.offers-list/template
        
          //-.h3 Зказать упаковку по своим размерам
          //-include ../../components/request-form-individual-boxes/template
        
        


// end /components/catalog.detail/