.col-md-6
  h2.h3 Как мы&nbsp;производим упаковки с&nbsp;печатью на&nbsp;заказ
  h3.h4 1. Материал. 
  p Используется гофрокартон, который отличается повышенной прочностью, устойчивостью к&nbsp;износу и&nbsp;механическим повреждениям, долговечностью и&nbsp;бюджетной ценой. На&nbsp;поверхность картона легко наносится краска, могут печататься рисунки, символы, тексты любого цвета и&nbsp;размера. В&nbsp;соответствии с&nbsp;весом и&nbsp;конструктивными особенностями изделий можем предложить толстый высокопрочный или микрокартон.
  
  h3.h4 2. Конструкция. 
  p Наше оборудование позволяет производить упаковочную тару в&nbsp;широком диапазоне размеров, форм и&nbsp;конфигураций. С&nbsp;учетом особенностей груза и&nbsp;пожеланий заказчика мы&nbsp;используем дополнительные ребра жесткости, уплотнители, решетки и&nbsp;другие элементы, которые увеличивают прочность всей конструкции.
  
  h3.h4 3. Дизайн.
  p Креативные дизайнеры компании любят экспериментировать и&nbsp;всегда готовы отойти от&nbsp;стандартов и&nbsp;распространенных клише. Они разработают дизайнерское решение, которое на&nbsp;100% подойдет для вашей продукции, учтут все нюансы товара и&nbsp;философию бренда.
  
  h3.h4 4. Печать.
  p Мы&nbsp;применяем широкоформатную технологию, при которой логотипы, маркировки и&nbsp;изображения могут быть одноцветными или полноцветными.
  
  h3.h4 5. Сроки исполнения заказа.
  p Изготовление индивидуального заказа занимает 3-5&nbsp;дней. Чтобы исключить любые недоразумения, уточнить параметры будущей упаковки и&nbsp;повысить эффективность работы, наши эксперты готовы выехать к&nbsp;клиенту в&nbsp;любое удобное время.
  
.col-md-6
  h2.h3 Что получают наши клиенты
  p Мы&nbsp;понимаем, что достойному товару необходимо соответствующее оформление, поэтому будем рады сделать для вас упаковку, которая:
  ul
    li Привлечет внимание покупателей и&nbsp;станет дополнительной рекламой
    li Будет максимально удобной и&nbsp;безопасной для перевозки и&nbsp;хранения
    li Обеспечит сохранность груза и&nbsp;защитит от&nbsp;внешних воздействий
    li Подчеркнет стиль бренда и&nbsp;сделает его узнаваемым
    li Станет выгодной по&nbsp;стоимости
  p Обратитесь к&nbsp;профессионалам своего дела, и&nbsp;получите не&nbsp;только качественную упаковку для своего товара, но&nbsp;и&nbsp;эффективный инструмент продвижения на&nbsp;рынке.