.b-about-block

  .container
  
    .row-flexbox
    
      .col-sm-6
        .b-h1 Бренд Антэк
        p Мы команда, которая стреимтся вместе с вами к созданию совершенной упаковки.
        p Наполнение идеями и внимательное сопровождение на пути создания совершенной упаковки, которая радует сердца.
        p Драйв от реализации задуманного. Внимательное обслуживание к пути реализации задуманного. Проводники к реализации задуманного. Внимательный сопровождение на пути к цели. Наполнение идеями. Забота теплота поддержка открытость свершение мечты расширение возможностей.
        
      .col-sm-6( style="background-image: url( '/upload/about.jpg' );" )
        img.visible-xs( src="/upload/about.jpg" )