@import '../../styl/component-include.styl'

.b-about-block
  background embedurl( 'img/bg.gif' ) repeat-y
  background-size contain

  .b-h1
    margin-bottom 0
    line-height 1.4
    
  .col-sm-4
    background-color #efefef
    padding-top 20px
    padding-bottom 20px
    
  .col-sm-8
    background-color #000
    text-align center
    vertical-align bottom
    
    img
      max-width 100%
