@import '../../styl/component-include.styl'

.b-about-block
  background embedurl( 'img/bg.gif' ) repeat-y
  background-size contain
  
  @media( max-width 767px )
    background #efefef
    

  .b-h1
    margin-bottom 0
    line-height 1.4
    
  .col-sm-4
    background-color #efefef
    padding-top 20px
    padding-bottom 20px
    
  .col-sm-8
    background-color #000
    background-repeat no-repeat
    background-position bottom center
    text-align center
    vertical-align bottom
    
    @media( max-width 767px )
      background-size cover
      display none
