
<div itemscope="itemscope" itemtype="http://schema.org/ImageGallery" class="b-ideas-card"><a href="/ideas/detail/" style="background-image: url( '/upload/ideas/1.jpg' );" itemprop="image" class="b-ideas-card__img"></a>
  <h3 itemprop="name">Дизайн упаковки Creature</h3>
  <p itemprop="description">Дизайнер из Вильнюса Gražina Bočkutė создал интерактивную экологически безопасную упаковку инструментов...</p>
  <div class="b-ideas-card__bottom"><a href="/ideas/detail/">Читать подробнее</a><span>16.08.2017</span></div>
</div>