
<!-- start include/items_grid-->

<div itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/AggregateOffer" class="row cat-section-grid">
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 a-catalog-card-cell">
    <div data-url="/123/" class="items-fotorama fotorama-sm"><a href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a></div>
    <div class="card-text"><a href="#" class="card-name">Самосборные коробки с ушками типа “самолет”</a>
      <div class="offers-count">(21 вариант размеров)</div>
    </div>
    <div class="minprice"><span class="text-xs">От&nbsp;&nbsp;</span><span class="price-val-rub">3&nbsp;210,</span><span class="price-val-cop">87</span><span class="glyphicon glyphicon-ruble"></span><span class="text-xs">&nbsp;за шт.</span></div>
    <div class="link">
      <button data-url="#" class="btn btn-type-6 btn-md togle-offers-block">Выбрать размер</button>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 a-catalog-card-cell">
    <div data-url="/123/" class="items-fotorama fotorama-sm"><a href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a></div>
    <div class="card-text"><a href="#" class="card-name">Самосборные коробки</a>
      <div class="offers-count">(21 вариант размеров)</div>
    </div>
    <div class="minprice"><span class="text-xs">От&nbsp;&nbsp;</span><span class="price-val-rub">3&nbsp;210,</span><span class="price-val-cop">87</span><span class="glyphicon glyphicon-ruble"></span><span class="text-xs">&nbsp;за шт.</span></div>
    <div class="link">
      <button data-url="#" class="btn btn-type-6 btn-md togle-offers-block">Выбрать размер</button>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 a-catalog-card-cell">
    <div data-url="/123/" class="items-fotorama fotorama-sm"><a href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a></div>
    <div class="card-text"><a href="#" class="card-name">Самосборные коробки с ушками типа “самолет”</a>
      <div class="offers-count">(21 вариант размеров)</div>
    </div>
    <div class="minprice"><span class="text-xs">От&nbsp;&nbsp;</span><span class="price-val-rub">3&nbsp;210,</span><span class="price-val-cop">87</span><span class="glyphicon glyphicon-ruble"></span><span class="text-xs">&nbsp;за шт.</span></div>
    <div class="link">
      <button data-url="#" class="btn btn-type-6 btn-md togle-offers-block">Выбрать размер</button>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 a-catalog-card-cell">
    <div data-url="/123/" class="items-fotorama fotorama-sm"><a href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a></div>
    <div class="card-text"><a href="#" class="card-name">Самосборные коробки</a>
      <div class="offers-count">(21 вариант размеров)</div>
    </div>
    <div class="minprice"><span class="text-xs">От&nbsp;&nbsp;</span><span class="price-val-rub">3&nbsp;210,</span><span class="price-val-cop">87</span><span class="glyphicon glyphicon-ruble"></span><span class="text-xs">&nbsp;за шт.</span></div>
    <div class="link">
      <button data-url="#" class="btn btn-type-6 btn-md togle-offers-block">Выбрать размер</button>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 a-catalog-card-cell">
    <div data-url="/123/" class="items-fotorama fotorama-sm"><a href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a></div>
    <div class="card-text"><a href="#" class="card-name">Самосборные коробки с ушками типа “самолет”</a>
      <div class="offers-count">(21 вариант размеров)</div>
    </div>
    <div class="minprice"><span class="text-xs">От&nbsp;&nbsp;</span><span class="price-val-rub">3&nbsp;210,</span><span class="price-val-cop">87</span><span class="glyphicon glyphicon-ruble"></span><span class="text-xs">&nbsp;за шт.</span></div>
    <div class="link">
      <button data-url="#" class="btn btn-type-6 btn-md togle-offers-block">Выбрать размер</button>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 a-catalog-card-cell">
    <div data-url="/123/" class="items-fotorama fotorama-sm"><a href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a></div>
    <div class="card-text"><a href="#" class="card-name">Самосборные коробки</a>
      <div class="offers-count">(21 вариант размеров)</div>
    </div>
    <div class="minprice"><span class="text-xs">От&nbsp;&nbsp;</span><span class="price-val-rub">3&nbsp;210,</span><span class="price-val-cop">87</span><span class="glyphicon glyphicon-ruble"></span><span class="text-xs">&nbsp;за шт.</span></div>
    <div class="link">
      <button data-url="#" class="btn btn-type-6 btn-md togle-offers-block">Выбрать размер</button>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 a-catalog-card-cell">
    <div data-url="/123/" class="items-fotorama fotorama-sm"><a href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a></div>
    <div class="card-text"><a href="#" class="card-name">Самосборные коробки с ушками типа “самолет”</a>
      <div class="offers-count">(21 вариант размеров)</div>
    </div>
    <div class="minprice"><span class="text-xs">От&nbsp;&nbsp;</span><span class="price-val-rub">3&nbsp;210,</span><span class="price-val-cop">87</span><span class="glyphicon glyphicon-ruble"></span><span class="text-xs">&nbsp;за шт.</span></div>
    <div class="link">
      <button data-url="#" class="btn btn-type-6 btn-md togle-offers-block">Выбрать размер</button>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 a-catalog-card-cell">
    <div data-url="/123/" class="items-fotorama fotorama-sm"><a href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a></div>
    <div class="card-text"><a href="#" class="card-name">Самосборные коробки</a>
      <div class="offers-count">(21 вариант размеров)</div>
    </div>
    <div class="minprice"><span class="text-xs">От&nbsp;&nbsp;</span><span class="price-val-rub">3&nbsp;210,</span><span class="price-val-cop">87</span><span class="glyphicon glyphicon-ruble"></span><span class="text-xs">&nbsp;за шт.</span></div>
    <div class="link">
      <button data-url="#" class="btn btn-type-6 btn-md togle-offers-block">Выбрать размер</button>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 a-catalog-card-cell">
    <div data-url="/123/" class="items-fotorama fotorama-sm"><a href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a></div>
    <div class="card-text"><a href="#" class="card-name">Самосборные коробки с ушками типа “самолет”</a>
      <div class="offers-count">(21 вариант размеров)</div>
    </div>
    <div class="minprice"><span class="text-xs">От&nbsp;&nbsp;</span><span class="price-val-rub">3&nbsp;210,</span><span class="price-val-cop">87</span><span class="glyphicon glyphicon-ruble"></span><span class="text-xs">&nbsp;за шт.</span></div>
    <div class="link">
      <button data-url="#" class="btn btn-type-6 btn-md togle-offers-block">Выбрать размер</button>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 a-catalog-card-cell">
    <div data-url="/123/" class="items-fotorama fotorama-sm"><a href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a></div>
    <div class="card-text"><a href="#" class="card-name">Самосборные коробки</a>
      <div class="offers-count">(21 вариант размеров)</div>
    </div>
    <div class="minprice"><span class="text-xs">От&nbsp;&nbsp;</span><span class="price-val-rub">3&nbsp;210,</span><span class="price-val-cop">87</span><span class="glyphicon glyphicon-ruble"></span><span class="text-xs">&nbsp;за шт.</span></div>
    <div class="link">
      <button data-url="#" class="btn btn-type-6 btn-md togle-offers-block">Выбрать размер</button>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 a-catalog-card-cell">
    <div data-url="/123/" class="items-fotorama fotorama-sm"><a href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a></div>
    <div class="card-text"><a href="#" class="card-name">Самосборные коробки с ушками типа “самолет”</a>
      <div class="offers-count">(21 вариант размеров)</div>
    </div>
    <div class="minprice"><span class="text-xs">От&nbsp;&nbsp;</span><span class="price-val-rub">3&nbsp;210,</span><span class="price-val-cop">87</span><span class="glyphicon glyphicon-ruble"></span><span class="text-xs">&nbsp;за шт.</span></div>
    <div class="link">
      <button data-url="#" class="btn btn-type-6 btn-md togle-offers-block">Выбрать размер</button>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 a-catalog-card-cell">
    <div data-url="/123/" class="items-fotorama fotorama-sm"><a href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a><a href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" class="fotos"></a></div>
    <div class="card-text"><a href="#" class="card-name">Самосборные коробки</a>
      <div class="offers-count">(21 вариант размеров)</div>
    </div>
    <div class="minprice"><span class="text-xs">От&nbsp;&nbsp;</span><span class="price-val-rub">3&nbsp;210,</span><span class="price-val-cop">87</span><span class="glyphicon glyphicon-ruble"></span><span class="text-xs">&nbsp;за шт.</span></div>
    <div class="link">
      <button data-url="#" class="btn btn-type-6 btn-md togle-offers-block">Выбрать размер</button>
    </div>
  </div>
</div>
<!-- end include/items_grid-->