
<!-- start /components/catalog.gallery/-->
<link rel="stylesheet" href="/components/catalog.gallery/style.css"/>
<script src="/components/catalog.gallery/script.js"></script>
<div class="b-catalog-gallery">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"/>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
  <h2 class="b-h1 text-center">Самосборные коробки</h2>
  <div class="b-catalog-gallery__fotorama">
    <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="b-catalog-card">
      <div data-original="/upload/catalog-card/1.jpg" class="b-catalog-card__image"></div>
      <div class="b-catalog-card__text">
        <div class="b-catalog-card__title"><a href="" itemprop="name">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
        <div class="b-catalog-card__price">
          от
           <b class="b-price">46,91</b>руб
        </div>
        <hr class="i-size-M i-line-simple"/><a href="ajax-request-url" class="btn btn-default btn-md btn-cart">В корзину</a>
        <div class="b-catalog-card__icons"><a href="" title="Добавить в избранное" class="b-fav-icon">
            <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
              <title>favorite</title>
              <path d="M22.71,15.46s9.8-11.4,16.87-2.93C50.24,25.3,22.71,38.89,22.71,38.89"></path>
              <path d="M22.71,15.46s-9.8-11.4-16.87-2.93C-4.82,25.3,22.71,38.89,22.71,38.89"></path>
            </svg></a><a href="" title="Сравнить" class="b-compare-icon">
            <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
              <title>compare</title>
              <line x1="4" y1="6.19" x2="22.25" y2="6.19"></line>
              <line x1="4" y1="18.44" x2="22.25" y2="18.44"></line>
              <line x1="4.25" y1="29.3" x2="40.25" y2="29.3"></line>
              <line x1="4.25" y1="40.3" x2="40.25" y2="40.3"></line>
              <line x1="34.33" y1="6.88" x2="34.33" y2="20.19"></line>
              <line x1="40.99" y1="13.53" x2="27.67" y2="13.53"></line>
            </svg></a></div>
      </div>
    </div>
    <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="b-catalog-card">
      <div data-original="/upload/catalog-card/1.jpg" class="b-catalog-card__image"></div>
      <div class="b-catalog-card__text">
        <div class="b-catalog-card__title"><a href="" itemprop="name">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
        <div class="b-catalog-card__price">
          от
           <b class="b-price">46,91</b>руб
        </div>
        <hr class="i-size-M i-line-simple"/><a href="ajax-request-url" class="btn btn-default btn-md btn-cart">В корзину</a>
        <div class="b-catalog-card__icons"><a href="" title="Добавить в избранное" class="b-fav-icon">
            <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
              <title>favorite</title>
              <path d="M22.71,15.46s9.8-11.4,16.87-2.93C50.24,25.3,22.71,38.89,22.71,38.89"></path>
              <path d="M22.71,15.46s-9.8-11.4-16.87-2.93C-4.82,25.3,22.71,38.89,22.71,38.89"></path>
            </svg></a><a href="" title="Сравнить" class="b-compare-icon">
            <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
              <title>compare</title>
              <line x1="4" y1="6.19" x2="22.25" y2="6.19"></line>
              <line x1="4" y1="18.44" x2="22.25" y2="18.44"></line>
              <line x1="4.25" y1="29.3" x2="40.25" y2="29.3"></line>
              <line x1="4.25" y1="40.3" x2="40.25" y2="40.3"></line>
              <line x1="34.33" y1="6.88" x2="34.33" y2="20.19"></line>
              <line x1="40.99" y1="13.53" x2="27.67" y2="13.53"></line>
            </svg></a></div>
      </div>
    </div>
    <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="b-catalog-card">
      <div data-original="/upload/catalog-card/1.jpg" class="b-catalog-card__image"></div>
      <div class="b-catalog-card__text">
        <div class="b-catalog-card__title"><a href="" itemprop="name">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
        <div class="b-catalog-card__price">
          от
           <b class="b-price">46,91</b>руб
        </div>
        <hr class="i-size-M i-line-simple"/><a href="ajax-request-url" class="btn btn-default btn-md btn-cart">В корзину</a>
        <div class="b-catalog-card__icons"><a href="" title="Добавить в избранное" class="b-fav-icon">
            <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
              <title>favorite</title>
              <path d="M22.71,15.46s9.8-11.4,16.87-2.93C50.24,25.3,22.71,38.89,22.71,38.89"></path>
              <path d="M22.71,15.46s-9.8-11.4-16.87-2.93C-4.82,25.3,22.71,38.89,22.71,38.89"></path>
            </svg></a><a href="" title="Сравнить" class="b-compare-icon">
            <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
              <title>compare</title>
              <line x1="4" y1="6.19" x2="22.25" y2="6.19"></line>
              <line x1="4" y1="18.44" x2="22.25" y2="18.44"></line>
              <line x1="4.25" y1="29.3" x2="40.25" y2="29.3"></line>
              <line x1="4.25" y1="40.3" x2="40.25" y2="40.3"></line>
              <line x1="34.33" y1="6.88" x2="34.33" y2="20.19"></line>
              <line x1="40.99" y1="13.53" x2="27.67" y2="13.53"></line>
            </svg></a></div>
      </div>
    </div>
    <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="b-catalog-card">
      <div data-original="/upload/catalog-card/1.jpg" class="b-catalog-card__image"></div>
      <div class="b-catalog-card__text">
        <div class="b-catalog-card__title"><a href="" itemprop="name">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
        <div class="b-catalog-card__price">
          от
           <b class="b-price">46,91</b>руб
        </div>
        <hr class="i-size-M i-line-simple"/><a href="ajax-request-url" class="btn btn-default btn-md btn-cart">В корзину</a>
        <div class="b-catalog-card__icons"><a href="" title="Добавить в избранное" class="b-fav-icon">
            <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
              <title>favorite</title>
              <path d="M22.71,15.46s9.8-11.4,16.87-2.93C50.24,25.3,22.71,38.89,22.71,38.89"></path>
              <path d="M22.71,15.46s-9.8-11.4-16.87-2.93C-4.82,25.3,22.71,38.89,22.71,38.89"></path>
            </svg></a><a href="" title="Сравнить" class="b-compare-icon">
            <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
              <title>compare</title>
              <line x1="4" y1="6.19" x2="22.25" y2="6.19"></line>
              <line x1="4" y1="18.44" x2="22.25" y2="18.44"></line>
              <line x1="4.25" y1="29.3" x2="40.25" y2="29.3"></line>
              <line x1="4.25" y1="40.3" x2="40.25" y2="40.3"></line>
              <line x1="34.33" y1="6.88" x2="34.33" y2="20.19"></line>
              <line x1="40.99" y1="13.53" x2="27.67" y2="13.53"></line>
            </svg></a></div>
      </div>
    </div>
    <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="b-catalog-card">
      <div data-original="/upload/catalog-card/1.jpg" class="b-catalog-card__image"></div>
      <div class="b-catalog-card__text">
        <div class="b-catalog-card__title"><a href="" itemprop="name">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
        <div class="b-catalog-card__price">
          от
           <b class="b-price">46,91</b>руб
        </div>
        <hr class="i-size-M i-line-simple"/><a href="ajax-request-url" class="btn btn-default btn-md btn-cart">В корзину</a>
        <div class="b-catalog-card__icons"><a href="" title="Добавить в избранное" class="b-fav-icon">
            <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
              <title>favorite</title>
              <path d="M22.71,15.46s9.8-11.4,16.87-2.93C50.24,25.3,22.71,38.89,22.71,38.89"></path>
              <path d="M22.71,15.46s-9.8-11.4-16.87-2.93C-4.82,25.3,22.71,38.89,22.71,38.89"></path>
            </svg></a><a href="" title="Сравнить" class="b-compare-icon">
            <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
              <title>compare</title>
              <line x1="4" y1="6.19" x2="22.25" y2="6.19"></line>
              <line x1="4" y1="18.44" x2="22.25" y2="18.44"></line>
              <line x1="4.25" y1="29.3" x2="40.25" y2="29.3"></line>
              <line x1="4.25" y1="40.3" x2="40.25" y2="40.3"></line>
              <line x1="34.33" y1="6.88" x2="34.33" y2="20.19"></line>
              <line x1="40.99" y1="13.53" x2="27.67" y2="13.53"></line>
            </svg></a></div>
      </div>
    </div>
    <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="b-catalog-card">
      <div data-original="/upload/catalog-card/1.jpg" class="b-catalog-card__image"></div>
      <div class="b-catalog-card__text">
        <div class="b-catalog-card__title"><a href="" itemprop="name">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
        <div class="b-catalog-card__price">
          от
           <b class="b-price">46,91</b>руб
        </div>
        <hr class="i-size-M i-line-simple"/><a href="ajax-request-url" class="btn btn-default btn-md btn-cart">В корзину</a>
        <div class="b-catalog-card__icons"><a href="" title="Добавить в избранное" class="b-fav-icon">
            <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
              <title>favorite</title>
              <path d="M22.71,15.46s9.8-11.4,16.87-2.93C50.24,25.3,22.71,38.89,22.71,38.89"></path>
              <path d="M22.71,15.46s-9.8-11.4-16.87-2.93C-4.82,25.3,22.71,38.89,22.71,38.89"></path>
            </svg></a><a href="" title="Сравнить" class="b-compare-icon">
            <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
              <title>compare</title>
              <line x1="4" y1="6.19" x2="22.25" y2="6.19"></line>
              <line x1="4" y1="18.44" x2="22.25" y2="18.44"></line>
              <line x1="4.25" y1="29.3" x2="40.25" y2="29.3"></line>
              <line x1="4.25" y1="40.3" x2="40.25" y2="40.3"></line>
              <line x1="34.33" y1="6.88" x2="34.33" y2="20.19"></line>
              <line x1="40.99" y1="13.53" x2="27.67" y2="13.53"></line>
            </svg></a></div>
      </div>
    </div>
    <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="b-catalog-card">
      <div data-original="/upload/catalog-card/1.jpg" class="b-catalog-card__image"></div>
      <div class="b-catalog-card__text">
        <div class="b-catalog-card__title"><a href="" itemprop="name">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
        <div class="b-catalog-card__price">
          от
           <b class="b-price">46,91</b>руб
        </div>
        <hr class="i-size-M i-line-simple"/><a href="ajax-request-url" class="btn btn-default btn-md btn-cart">В корзину</a>
        <div class="b-catalog-card__icons"><a href="" title="Добавить в избранное" class="b-fav-icon">
            <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
              <title>favorite</title>
              <path d="M22.71,15.46s9.8-11.4,16.87-2.93C50.24,25.3,22.71,38.89,22.71,38.89"></path>
              <path d="M22.71,15.46s-9.8-11.4-16.87-2.93C-4.82,25.3,22.71,38.89,22.71,38.89"></path>
            </svg></a><a href="" title="Сравнить" class="b-compare-icon">
            <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
              <title>compare</title>
              <line x1="4" y1="6.19" x2="22.25" y2="6.19"></line>
              <line x1="4" y1="18.44" x2="22.25" y2="18.44"></line>
              <line x1="4.25" y1="29.3" x2="40.25" y2="29.3"></line>
              <line x1="4.25" y1="40.3" x2="40.25" y2="40.3"></line>
              <line x1="34.33" y1="6.88" x2="34.33" y2="20.19"></line>
              <line x1="40.99" y1="13.53" x2="27.67" y2="13.53"></line>
            </svg></a></div>
      </div>
    </div>
    <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="b-catalog-card">
      <div data-original="/upload/catalog-card/1.jpg" class="b-catalog-card__image"></div>
      <div class="b-catalog-card__text">
        <div class="b-catalog-card__title"><a href="" itemprop="name">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
        <div class="b-catalog-card__price">
          от
           <b class="b-price">46,91</b>руб
        </div>
        <hr class="i-size-M i-line-simple"/><a href="ajax-request-url" class="btn btn-default btn-md btn-cart">В корзину</a>
        <div class="b-catalog-card__icons"><a href="" title="Добавить в избранное" class="b-fav-icon">
            <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
              <title>favorite</title>
              <path d="M22.71,15.46s9.8-11.4,16.87-2.93C50.24,25.3,22.71,38.89,22.71,38.89"></path>
              <path d="M22.71,15.46s-9.8-11.4-16.87-2.93C-4.82,25.3,22.71,38.89,22.71,38.89"></path>
            </svg></a><a href="" title="Сравнить" class="b-compare-icon">
            <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
              <title>compare</title>
              <line x1="4" y1="6.19" x2="22.25" y2="6.19"></line>
              <line x1="4" y1="18.44" x2="22.25" y2="18.44"></line>
              <line x1="4.25" y1="29.3" x2="40.25" y2="29.3"></line>
              <line x1="4.25" y1="40.3" x2="40.25" y2="40.3"></line>
              <line x1="34.33" y1="6.88" x2="34.33" y2="20.19"></line>
              <line x1="40.99" y1="13.53" x2="27.67" y2="13.53"></line>
            </svg></a></div>
      </div>
    </div>
    <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="b-catalog-card">
      <div data-original="/upload/catalog-card/1.jpg" class="b-catalog-card__image"></div>
      <div class="b-catalog-card__text">
        <div class="b-catalog-card__title"><a href="" itemprop="name">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
        <div class="b-catalog-card__price">
          от
           <b class="b-price">46,91</b>руб
        </div>
        <hr class="i-size-M i-line-simple"/><a href="ajax-request-url" class="btn btn-default btn-md btn-cart">В корзину</a>
        <div class="b-catalog-card__icons"><a href="" title="Добавить в избранное" class="b-fav-icon">
            <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
              <title>favorite</title>
              <path d="M22.71,15.46s9.8-11.4,16.87-2.93C50.24,25.3,22.71,38.89,22.71,38.89"></path>
              <path d="M22.71,15.46s-9.8-11.4-16.87-2.93C-4.82,25.3,22.71,38.89,22.71,38.89"></path>
            </svg></a><a href="" title="Сравнить" class="b-compare-icon">
            <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
              <title>compare</title>
              <line x1="4" y1="6.19" x2="22.25" y2="6.19"></line>
              <line x1="4" y1="18.44" x2="22.25" y2="18.44"></line>
              <line x1="4.25" y1="29.3" x2="40.25" y2="29.3"></line>
              <line x1="4.25" y1="40.3" x2="40.25" y2="40.3"></line>
              <line x1="34.33" y1="6.88" x2="34.33" y2="20.19"></line>
              <line x1="40.99" y1="13.53" x2="27.67" y2="13.53"></line>
            </svg></a></div>
      </div>
    </div>
  </div>
</div>
<!-- end /components/catalog.gallery/-->