.b-catalog-card
  .b-catalog-card__image( style="background-image: url( '/upload/catalog-card/1.jpg' );" )
  .b-catalog-card__text
    .b-catalog-card__title
      a( href="" ) 1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) 
    .b-catalog-card__price от
      | 
      b.b-price 46,91
      | руб
      
    hr.i-size-M.i-line-simple
      
    a.btn.btn-default.btn-md.btn-cart( href="" ) В корзину
    
    a.b-compare-icon( href="" )
    
    a.b-fav-icon( href="" )