@import '../../styl/component-include.styl'

.b-catalog-card
  background #fff
  transition( all 0.5s ease )
  margin-bottom 18px
  
  &:hover
    box-shadow 0 0 35px rgba( 0,0,0,0.1 )
    
  &__image
    background-position center center
    background-repeat no-repeat
    background-size cover
    padding-top 100%
    
  &__text
    padding 23px 30px 30px
    
  &__title
    margin-bottom 7px
    text-overflow ellipsis
    overflow hidden
    
    a
      white-space nowrap
    
      &,
      &:hover,
      &:focus,
      &:active
        color #319ed6
        
  .btn-cart
    
    @media( max-width 1199px )
      width 100%
      display block
      
      &:before
        margin-right 10%
      
  &__icons
    float right
    
    @media( max-width 1199px )
      float none
      text-align center
        
  .b-compare-icon
    margin 9px 0 0 20px
    
    @media( max-width 1199px )
      margin 13px 10px 0
    
  .b-fav-icon
    margin-top 10px
    
    @media( max-width 1199px )
      margin 12px 10px 0
    
  hr
    margin-top -16px !important