.b-info-banner
  .row
    .col-sm-3
      img( src="/upload/banner/2.jpg" alt="" )
      
    .col-sm-9
      h2 Изготовление упаковки с печатью
      
      p Площадь заготовки зависит от выбранной конструкции. Чем сложнее конструкция и больше площадь заготовки тем выше стоимость заготовки. Так же при раскрое заготовок могут образовываться обрезки, которые невозможно исключить из стоимости изделия. Затраты на производство бумажных пакетов и коробок состоят из операций, необходимых для изготовления. Коробка из гофрокартона изготавливается путем следующих операций: нарезка листа на заготовки, нанесение печати на заготовку, просечка в заготовке раскроя коробки; склейка и/или скобирование; связка в пачки и палетизация.