.row
  .col-sm-6
    .b-breadcrumbs
      a( href="" ) Главная
      | 
      span.b-breadcrumbs__sep /
      | 
      span Картонные коробки
  
  .col-sm-6.text-right.b-price-list
    // Warning! Лёша, обрати, пожалуйста, внимание, тут должно вызываться модальное окно с функционалом на сервере, как на antech.ru
    a( href="#" ) Получить прайс-лист
