.row
  .col-sm-8
    .b-breadcrumbs
      a( href="" ) Главная
      | 
      span.b-breadcrumbs__sep /
      | 
      span Картонные коробки
      | 
      span.b-breadcrumbs__sep /
      | 
      span 220 (Д) х 320 (Ш) х 100 (В) Коробка картонная из гофрированного картона для транспортировки больших грузов
  
  .col-sm-4.text-right.b-price-list
    // Warning! Лёша, обрати, пожалуйста, внимание, тут должно вызываться модальное окно с функционалом на сервере, как на antech.ru
    a( href="#" ) Получить прайс-лист
