@import '../../styl/component-include.styl'

.b-breadcrumbs
  background-color #e4e3e3
  line-height 68px
  font-size 11pt
  
  a
    color #9c9e9f
    
  span
    color #000
    text-transform uppercase