@import '../../styl/component-include.styl'

.b-breadcrumbs
  line-height 68px
  font-size 14px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  
  a
    color #a2a2a2 
    
    &:hover
      text-decoration underline
    
  span
    color #000
    
  a span
    color #a2a2a2
    
  @media ( max-width 767px )
    display none
    
.b-price-list
  line-height 68px
  font-size 11pt
  
  @media ( max-width 767px )
    text-align left
    line-height 28px
    display none