@import '../../styl/component-include.styl'

.b-breadcrumbs
  line-height 68px
  font-size 11pt
  float left
  
  a
    color #9c9e9f
    
  span
    color #000
    text-transform uppercase
    
  a span
    color #9c9e9f
    text-transform none