
<!-- start /components/request-form/-->
<link rel="stylesheet" href="/components/request-form/style.css"/>
<script src="/components/request-form/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<div class="b-request-form__message b-h2 center"></div>
<div class="b-request-form__success center">
  <div class="b-h2">Мы перезвоним вам<br>за <b>20</b> секунд!</div>
  <hr/>
  <button class="btn btn-default">Отправить снова</button>
</div>
<div class="b-request-form__error center">
  <p id="requestFormError">При отправлении формы возникла ошибка</p>
  <button class="btn btn-default">Отправить снова</button>
</div>
<div class="b-request-form__form">
  <h2 class="b-h1 center">Остались вопросы?</h2>
  <form action="/json/call-me.json" method="GET">
    <p class="text-large text-muted">Введите Ваш номер телефона и мы перезвоним Вам за <b>20 </b>секунд!</p>
    <div class="text-large">Мы позвоним в удобное рабочее время<br/>ровно в
      <select name="HOUR" class="select">
        <option value="9">9</option>
        <option value="10" selected="">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
      </select> 
      :
       
      <select name="MINUTE" class="select">
        <option value="00">00</option>
        <option value="15">15</option>
        <option value="30">30</option>
        <option value="45">45</option>
      </select>
    </div>
    <hr/>
    <div class="form-group">
      <input name="phone" type="tel" value="+7(" required="required" class="form-control"/>
    </div>
    <hr/>
    <div class="center">
      <button type="submit" class="btn btn-default">Жду звонка!</button>
    </div>
    <div class="i-small">Нажимая на кнопку «Жду звонка», вы даете согласие на обработку своих персональных данных.<br/><a href="">Пользовательское соглашение</a>.</div>
  </form>
</div>
<div data-num="20" class="b-request-form__counter"></div>
<div class="b-request-form__error"></div>
<div class="b-request-form__feedback">
  <h2>Был ли наш специалист полезен?</h2>
  <hr class="i-size-S"/>
  <form action="/json/call-me.json" method="GET">
    <div class="form-group b-request-form__smiles">
      <label>
        <input type="radio" name="mark" value="1"/><span></span>
      </label>
      <label>
        <input type="radio" name="mark" value="2"/><span></span>
      </label>
      <label>
        <input type="radio" name="mark" value="3"/><span></span>
      </label>
    </div>
    <div class="form-group">
      <textarea rows="10" cols="10" name="message" class="form-control"></textarea>
    </div>
    <button type="submit" required="required" class="btn btn-default">Оценить</button><a href="">Мне не перезвонили</a>
  </form>
</div>
<div class="b-request-form__thankyou">
  <h2>Благодарим за Вашу оценку</h2>
</div>
<div class="b-request-form__once-more">
  <h2>Приносим свои извинения</h2>
  <hr class="i-size-S"/>
  <p>Возможно, произошел технический сбой.</p>
  <hr class="i-size-S"/><a href="" class="btn btn-default">Еще раз!</a>
  <hr class="i-size-S"/>
  <p>Или вы можете позвонить нам по телефону<br><b>8 495 287-45-70</b></p>
</div>
<div class="b-request-form__callback">
  <div>
    <h2>Ваша заявка принята!</h2>
    <p class="text-large">
      Мы перезвоним Вам в первый рабочий день в
       <span id="requestHour"></span>:<span id="requestMinute"></span>
    </p>
  </div>
</div>
<!-- end /components/request-form/-->