.col-md-6
  h2.h3 Секреты создания наших коробок
  ol
    li Материал. Мы&nbsp;используем экологически чистое целлюлозное сырье&nbsp;&mdash; картон и&nbsp;бумагу, которые не&nbsp;выделяют токсинов, безвредны для организма человека и&nbsp;природы, обеспечивают надежную защиту изделий. Картонные коробки легкие и&nbsp;прочные, могут использоваться повторно и&nbsp;не&nbsp;требуют специальной утилизации. 
    li Размеры. Они могут быть любыми&nbsp;&mdash; от&nbsp;самых маленьких для упаковки пирожных, до&nbsp;больших для многоярусных тортов и&nbsp;караваев. Чтобы исключить ошибки и&nbsp;недоразумения, наш эксперт может приехать к&nbsp;клиенту и&nbsp;провести собственные замеры продукции. Услуга позволит гарантировать достаточную вместительность готовой упаковочной продукции.
    li Дизайн. Мы&nbsp;любим творчески подходить к&nbsp;оформлению наших коробок (многие выбирают нас именно по&nbsp;этой причине). Предлагаем сделать одноцветную и&nbsp;полноцветную печать, нанести на&nbsp;картон логотип, фирменные знаки, рекламную информацию, красочные изображения&nbsp;&mdash; все, чтобы ваш товар выделялся на&nbsp;общем фоне.
    li Конструкция. Модели дополняются специальными смотровыми окошками из&nbsp;прозрачного пластика&nbsp;&mdash; теперь нет необходимости распаковывать обертку, чтобы увидеть содержимое. Мы&nbsp;добавим ручки или сделаем прорези для удобной переноски в&nbsp;руках.
    
.col-md-6
  h2.h3 Как легко и&nbsp;быстро сделать заказ
  ul
    li Заказать изготовление упаковки из&nbsp;гофрокартона можно на&nbsp;нашем официальном сайте или по&nbsp;телефону. Наши специалисты помогут выбрать наиболее подходящую модель из&nbsp;нашего каталога и&nbsp;подробно расскажут о&nbsp;возможностях создания индивидуального эскиза тары.
    li Наши конструкторы разработают фирменный дизайн для ваших товаров с&nbsp;учетом нестандартных форм и&nbsp;размеров. Изготовить можно пробную партию, чтобы оценить результат.
    li Выполняем заказы от&nbsp;одной штуки, мелкие, средние и&nbsp;крупные объемы&nbsp;&mdash; по&nbsp;оптовым ценам.
    li Производство заказа занимает от&nbsp;3&nbsp;до&nbsp;5&nbsp;дней&nbsp;&mdash; здесь учитываются объемы, сложность, загруженность нашего оборудования. Если нужно срочно&nbsp;&mdash; всегда готовы найти компромисс. 
    li Гарантируем безупречное качество. Наши технологи следят за&nbsp;каждым этапом работ, а&nbsp;перед отгрузкой все партии проходят контроль. Если будет обнаружен брак, мы&nbsp;сразу проводим замену. 
    li Принимаем оплату любым способом&nbsp;&mdash; наличные, банковский перевод или безналичный расчет.
    li Доставка проводится собственным грузовым транспортом по&nbsp;Москве или самовывозом. Для заказчиков из&nbsp;других городов и&nbsp;регионов&nbsp;РФ мы&nbsp;предлагаем отправку транспортными компаниями.