.col-md-6
  .h4 Преимущества
  p Упаковочная тара по&nbsp;каталогу GALIA позволяет улучшить логистику, снизить затраты на&nbsp;доставку за&nbsp;счет отказа от&nbsp;деревянной обрешетки. Используется для упаковки непродовольственных товаров и&nbsp;пищевых продуктов, доставки запчастей, консервов, одежды, техники. Ее&nbsp;плюсы:
  ul
    li многофункциональность;
    li разнообразие типоразмеров;
    li многоразовое использование.
  p Гибридные складные и&nbsp;готовые картонные коробки можно изготовить по&nbsp;вашим размерам. При разработке конструкции учитывается вес товара, способ погрузки, транспортировки, условия хранения. Возможно нанесение маркировки, логотипов, сведений о&nbsp;компании.

.col-md-6
  .h4 Наш ассортимент
  ul
    li готовые паллетные боксы с&nbsp;высокими бортами и&nbsp;закрылками для повышения жесткости;
    li заниженная 3g&nbsp;упаковка с&nbsp;двойным внутренним пространством для тяжелых грузов;
    li плоские 4g&nbsp;коробки большого размера с&nbsp;внутренней обечайкой;
    li готовые жесткие короба разного объема с&nbsp;поддоном и&nbsp;крышкой.
  
  .h4 Производство и&nbsp;доставка
  p Заказать короба по&nbsp;каталогу GALIA можно через интернет- магазин тары и&nbsp;упаковки или в&nbsp;офисе в&nbsp;Красногорске. Изготовление типовых коробок&nbsp;&mdash; от&nbsp;1&nbsp;дня, производство под заказ&nbsp;&mdash; 1-7 дней в&nbsp;зависимости от&nbsp;объема партии. Тестовый образец&nbsp;&mdash; бесплатно.
  p Доставка в&nbsp;г. Москва, по&nbsp;области, в&nbsp;регионы. Возможен самовывоз в&nbsp;день оплаты.