footer.b-footer

  //-include ../../modules/float-hint/include
  
  .container
    .row
      .col-sm-8.b-footer__phone
        .text-xlarge 8 800 555 55 70 
          span.text-muted.text-middle.hidden-xs (для бесплатных звонков по России)
          span.text-muted.text-middle.visible-xs-block для звонков по России
          
      .col-sm-4
        .b-networks
          a( href="" taget="_blank" title="Facebook" ).b-network-item.i-facebook
            span
          a( href="" taget="_blank" title="Youtube" ).b-network-item.i-youtube
            span
          a( href="" taget="_blank" title="Instagram" ).b-network-item.i-instagram
            span
          a( href="" taget="_blank" title="Vkontakte" ).b-network-item.i-vkontakte
            span
          
    
  .container
    include ../../include/footer_menu
  
  hr.i-size-XS
  .container
    .rov
      .col-sm-6(style="margin-left: -15px;").text-center-xs
        span Варианты оплаты:
        img( src="/img/payment_icons/visa-xs.png" style="margin-left: 10px;")
        img( src="/img/payment_icons/mastercard-xs.png" style="margin-left: 10px;")
      .col-sm-6
        .b-copyright(style="margin-top: 10px;") &copy; &laquo;Антэк&raquo; 2010-2015 г. Производство упаковки
    
include ../../components/search-title/template