.col-md-6
  h2.h3 Наши картонные упаковки: в&nbsp;чем секрет их&nbsp;успеха
  p Для производства упаковочной продукции мы&nbsp;используем гофрокартон, который обладает высокой устойчивостью к&nbsp;деформациям и&nbsp;повреждениям. Этот материал имеет небольшой вес, легко поддается обработке и&nbsp;на&nbsp;100% безопасен для организма человека. В&nbsp;зависимости от&nbsp;размеров, веса и&nbsp;особенностей товара мы&nbsp;выбираем микрокартон или более утолщенный материал повышенной прочности.
  p Наши упаковки из&nbsp;картона имеют несколько плюсов:
  ul
    li Индивидуальные размеры и&nbsp;форма. Если заказчику не&nbsp;подходят наши готовые варианты из&nbsp;каталога, мы&nbsp;готовы разработать уникальную модель, с&nbsp;учетом особенностей товара, его габаритов и&nbsp;фирменного стиля.
    li Оригинальный дизайн. Коробки и&nbsp;ящики можно дополнить прорубными отверстиями, перфорацией, внутренними перегородками, амортизаторами, крышками, ручками, переносками и&nbsp;другими элементами, которые сделают использование наиболее удобным.
    li Внешний вид. На&nbsp;картон можно нанести одноцветные или полноцветные изображения, рекламные тексты, логотипы&nbsp;&mdash; технология флексопечати не&nbsp;ограничивает фантазию.
    li Экологичность. Мы&nbsp;используем бумагу и&nbsp;картон, которые при прямом контакте с&nbsp;продуктами питания не&nbsp;оказывают на&nbsp;них никакого влияния. Это безвредные чистые материалы, не&nbsp;требующие специальной утилизации.
    li Качество. Оно контролируется на&nbsp;каждом этапе производственного процесса, а&nbsp;в&nbsp;случае обнаружения брака, проводится моментальная замена некондиционной продукции

.col-md-6
  h2.h3 Какие еще изделия из&nbsp;картона мы&nbsp;создаем
  ol
    li Картонные товары для детского творчества&nbsp;&mdash; кукольные домики, конструкторы, развивающие игрушки.
    li Изделия для оформления праздников&nbsp;&mdash; декорации, элементы украшений зала.
    li Мебель&nbsp;&mdash; красивые короба для хранения вещей, органайзеры, самосборные сидения (например, для концертов на&nbsp;открытом воздухе).
  p Картон универсален, может использоваться для создания множества практичных и&nbsp;полезных вещей. Вам просто нужно рассказать нашим специалистам-конструкторам о&nbsp;своих задумках, а&nbsp;мы&nbsp;постараемся воплотить их&nbsp;в&nbsp;жизнь.
  p У&nbsp;нас можно заказать пробную партию или один экземпляр, чтобы оценить качество и&nbsp;дизайн. Принимаются любые формы оплаты (наличные, банковский перевод или безналичный расчет), а&nbsp;забрать готовый заказ можно самовывозом или доставкой транспортными компаниями. По&nbsp;Москве мы&nbsp;проводим доставку собственным грузовым транспортом.