extends ../../layouts/main.jade

block title
  title Catalog section | antech

block content
  
  .container
    include ../../modules/breadcrumbs/catalog
    
  include ../../components/catalog.section/template
  
  .container
    include ../../include/serv_puth_gotovye
    hr.i-size-S
  
  include ../../include/garantii
  
  include ../../modules/call-me-block/include
  
  .container
    include ../../components/ideas/template
    hr.i-size-S
          