
<!-- start /components/banner-transition/-->
<link rel="stylesheet" href="/components/banner-second-sl/style.css"/>
<script src="/components/banner-second-sl/script.js"></script>
<div class="banner-second-sl">
  <div id="slide-1" style="background-image: url(/upload/banner/banner_8march-bg.jpg); background-repeat: no-repeat; background-position: 50% 0; background-size: cover; cursor: pointer; max-height: 140px;" onclick="window.location.href = '/catalog/'" class="item item-slide-1">
    <div class="row baner-content">
      <div style="text-align: right;" class="col-sm-5 col-xs-8"><img src="/upload/banner/banner_8march_02.png" style="max-height: 140px; margin-left: auto;" class="img-responsive"/></div>
      <div style="text-align: center;" class="col-sm-2 col-xs-4"><img src="/upload/banner/banner_8march_03.png" style="max-height: 140px; margin: auto;" class="img-responsive"/></div>
      <div style="text-align: left;" class="col-sm-5 hidden-xs"><img src="/upload/banner/banner_8march_04.png" style="max-height: 140px; margin-right: auto;" class="img-responsive"/></div>
    </div>
  </div>
</div>
<!-- end /components/banner-transition/-->