.col-md-6
  h2.h3 Как мы&nbsp;производим гофроупаковку?
  ol
    li Необходимо определиться с&nbsp;основными параметрами будущей тары, а&nbsp;для этого нужно предоставить нашим разработчикам подробную информацию:
      ul
        li Какой товар будет упаковываться?
        li Каковы требования к&nbsp;условиям его хранения?
        li Сколько весит само изделие? 
        li Его точные габаритные размеры.
    li С&nbsp;учетом полученных данных конструкторы разрабатывают оптимальный дизайн будущей упаковки. Она может содержать:
      ul
        li Прорубные отверстия
        li Внутренние перегородки
        li Решетки и&nbsp;амортизаторы
        li Специальные крышки и&nbsp;переноски
        li Перфорацию и&nbsp;другие элементы
      p Если возникают вопросы или требуются уточнения, заказчик может предоставить экземпляр товара или пригласить нашего эксперта на&nbsp;объект, чтобы провести детальные замеры.
    li Создается индивидуальный дизайн, в&nbsp;котором учитываются пожелания и&nbsp;требования заказчика, а&nbsp;также особенности товара и&nbsp;фирменный стиль. Наши дизайнеры строго следят за&nbsp;современными тенденциями, поэтому предложат стильный и&nbsp;эффективный с&nbsp;точки зрения маркетинга вариант.
    li Готовый макет согласовывается с&nbsp;заказчиком и&nbsp;отправляется в&nbsp;производство. Мы&nbsp;выполняем заказы больших и&nbsp;малых объемов:
      ul
        li Единичные экземпляры для частных заказчиков.
        li Мелкие и&nbsp;средние партий для небольших фирм и&nbsp;предпринимателей.
        li Крупнооптовые для промышленных заводов, фабрик и&nbsp;предприятий-гигантов.

.col-md-6
  h2.h3 Как оформить заказ
  p Заказать изготовление упаковочной тары из&nbsp;гофрокартона можно на&nbsp;нашем официальном сайте или по&nbsp;телефону. Мы&nbsp;рекомендуем прислушаться к&nbsp;советам наших специалистов, которые помогут избежать распространенных ошибок. Это ускорит выполнение заказа и&nbsp;гарантирует отличный результат.
  p В&nbsp;зависимости от&nbsp;объемов заказанной партии срок ожидания составит 3-5&nbsp;дней. При необходимости можно изготовить простые четырехклапанные коробки без печати за&nbsp;сутки.
  p У&nbsp;нас принимаются любые формы оплаты (наличные, банковский перевод или безналичный расчет). Доставка проводится в&nbsp;пределах Москвы собственным грузовым транспортом, для заказчиков из&nbsp;других городов&nbsp;РФ мы&nbsp;предлагаем доставку любой транспортной компанией.
  p Перед отправкой вся продукция проходит строгий контроль качества, что сводит случаи брака к&nbsp;минимуму. Если вы&nbsp;обнаружите бракованные изделия&nbsp;&mdash; мы&nbsp;быстро заменим их&nbsp;на&nbsp;кондиционный товар.
  p Не&nbsp;ждите от&nbsp;нас банальных решений и&nbsp;стандартных вариантов&nbsp;&mdash; мы&nbsp;любим творить и&nbsp;удивлять новыми, совершенно необычными идеями оформления упаковки.