
<!-- start /components/products-list/-->
<link rel="stylesheet" href="/components/products-list/style.css"/>
<script src="/components/products-list/script.js"></script>
<div class="b-products-list">
  <div role="tablist" class="b-products-list__nav nav nav-tabs">
    <div role="group" class="btn-group"><a href="#boxes" aria-controls="boxes" role="tab" data-toggle="tab" class="btn btn-default btn-menu active"><span>Картонные коробки</span></a><a href="#gofro" aria-controls="gofro" role="tab" data-toggle="tab" class="btn btn-default btn-menu"><span>Гофрокартон</span></a><a href="#pack" aria-controls="pack" role="tab" data-toggle="tab" class="btn btn-default btn-menu"><span>Упаковочные материалы</span></a></div>
  </div>
  <div class="tab-content">
    <div id="boxes" div="div" role="tabpanel" class="tab-pane active">
      <div class="visible-md-block visible-lg-block">
        <div data-width="100%" data-ratio="940/859" data-arrows="true" data-loop="true" data-swipe="false" class="fotorama">
          <div>
            <div class="row">
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/1.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/2.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/3.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/1.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/2.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/3.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
            </div>
          </div>
          <div>
            <div class="row b-products-list">
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/3.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
            </div>
            <div class="row b-products-list">
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/3.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
            </div>
          </div>
          <div>
            <div class="row b-products-list">
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/3.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
            </div>
            <div class="row b-products-list">
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/3.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="visible-sm-block">
        <div data-width="100%" data-ratio="720/962" data-arrows="true" data-loop="true" data-swipe="false" class="fotorama">
          <div>
            <div class="row">
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/1.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/1.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
            </div>
          </div>
          <div>
            <div class="row b-products-list">
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/1.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
            </div>
            <div class="row b-products-list">
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/1.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
            </div>
          </div>
          <div>
            <div class="row b-products-list">
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/1.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
            </div>
            <div class="row b-products-list">
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/1.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="visible-xs-block">
        <div data-width="100%" data-ratio="290/420" data-arrows="true" data-loop="true" data-swipe="true" class="fotorama">
          <div>
            <div class="center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
            </div>
          </div>
          <div>
            <div class="center b-products-list"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
            </div>
          </div>
          <div>
            <div class="center b-products-list"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="gofro" div="div" role="tabpanel" class="tab-pane">
      <div class="visible-md-block visible-lg-block">
        <div data-width="100%" data-ratio="940/859" data-arrows="true" data-loop="true" data-swipe="false" class="fotorama">
          <div>
            <div class="row">
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/1.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/2.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/3.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/1.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/2.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/3.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
            </div>
          </div>
          <div>
            <div class="row b-products-list">
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/3.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
            </div>
            <div class="row b-products-list">
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/3.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
            </div>
          </div>
          <div>
            <div class="row b-products-list">
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/3.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
            </div>
            <div class="row b-products-list">
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/3.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="visible-sm-block">
        <div data-width="100%" data-ratio="720/962" data-arrows="true" data-loop="true" data-swipe="false" class="fotorama">
          <div>
            <div class="row">
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/1.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/1.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
            </div>
          </div>
          <div>
            <div class="row b-products-list">
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/1.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
            </div>
            <div class="row b-products-list">
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/1.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
            </div>
          </div>
          <div>
            <div class="row b-products-list">
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/1.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
            </div>
            <div class="row b-products-list">
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/1.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="visible-xs-block">
        <div data-width="100%" data-ratio="290/420" data-arrows="true" data-loop="true" data-swipe="true" class="fotorama">
          <div>
            <div class="center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
            </div>
          </div>
          <div>
            <div class="center b-products-list"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
            </div>
          </div>
          <div>
            <div class="center b-products-list"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="pack" div="div" role="tabpanel" class="tab-pane">
      <div class="visible-md-block visible-lg-block">
        <div data-width="100%" data-ratio="940/859" data-arrows="true" data-loop="true" data-swipe="false" class="fotorama">
          <div>
            <div class="row">
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/1.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/2.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/3.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/1.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/2.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/3.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
            </div>
          </div>
          <div>
            <div class="row b-products-list">
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/3.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
            </div>
            <div class="row b-products-list">
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/3.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
            </div>
          </div>
          <div>
            <div class="row b-products-list">
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/3.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
            </div>
            <div class="row b-products-list">
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
              <div class="col-sm-4 center"><a href=""><img src="/upload/products/3.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="visible-sm-block">
        <div data-width="100%" data-ratio="720/962" data-arrows="true" data-loop="true" data-swipe="false" class="fotorama">
          <div>
            <div class="row">
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/1.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/1.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
              </div>
            </div>
          </div>
          <div>
            <div class="row b-products-list">
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/1.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
            </div>
            <div class="row b-products-list">
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/1.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
            </div>
          </div>
          <div>
            <div class="row b-products-list">
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/1.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
            </div>
            <div class="row b-products-list">
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/1.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
              <div class="col-sm-6 center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
                <p class="b-size">1000 x 500 x 500</p>
                <p>от <b class="b-price">46,91</b>руб</p>
                <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="visible-xs-block">
        <div data-width="100%" data-ratio="290/420" data-arrows="true" data-loop="true" data-swipe="true" class="fotorama">
          <div>
            <div class="center"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
            </div>
          </div>
          <div>
            <div class="center b-products-list"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
            </div>
          </div>
          <div>
            <div class="center b-products-list"><a href=""><img src="/upload/products/2.jpg" alt="" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="/json/add2cart.json?id=456" class="btn btn-default btn-sm">В корзину</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end /components/products-list/-->