
<!-- start /components/products-list/-->
<link rel="stylesheet" href="/components/products-list/style.css"/>
<script src="/components/products-list/script.js"></script>
<div class="b-products-list">
  <div role="tablist" class="b-products-list__nav nav nav-tabs">
    <div role="group" class="btn-group"><a href="#boxes" aria-controls="boxes" role="tab" data-toggle="tab" class="btn btn-default btn-menu active"><span>Картонные коробки</span></a><a href="#gofro" aria-controls="gofro" role="tab" data-toggle="tab" class="btn btn-default btn-menu"><span>Гофрокартон</span></a><a href="#pack" aria-controls="pack" role="tab" data-toggle="tab" class="btn btn-default btn-menu"><span>Упаковочные материалы</span></a></div>
  </div>
  <hr class="i-size-M"/>
  <div class="tab-content">
    <div id="boxes" div="div" role="tabpanel" class="tab-pane active">
      <div class="b-products-list__wrapper">
        <div class="row">
          <div class="col-sm-4">
            <div class="b-products-list__item center"><a href=""><img src="/upload/products/1.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="b-products-list__item center"><a href=""><img src="/upload/products/2.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="b-products-list__item center"><a href=""><img src="/upload/products/3.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
            </div>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-sm-4">
            <div class="b-products-list__item center"><a href=""><img src="/upload/products/1.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="b-products-list__item center"><a href=""><img src="/upload/products/2.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="b-products-list__item center"><a href=""><img src="/upload/products/3.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
            </div>
          </div>
        </div>
        <hr/>
      </div>
      <div data-page="2" data-ajax="/components/products-list/load.html" class="b-products-list__load"><i>Показать ещё</i><b>Загрузка</b></div>
    </div>
    <div id="gofro" div="div" role="tabpanel" class="tab-pane">
      <div class="b-products-list__wrapper">
        <div class="row">
          <div class="col-sm-4">
            <div class="b-products-list__item center"><a href=""><img src="/upload/products/1.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="b-products-list__item center"><a href=""><img src="/upload/products/2.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="b-products-list__item center"><a href=""><img src="/upload/products/3.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
            </div>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-sm-4">
            <div class="b-products-list__item center"><a href=""><img src="/upload/products/1.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="b-products-list__item center"><a href=""><img src="/upload/products/2.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="b-products-list__item center"><a href=""><img src="/upload/products/3.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
            </div>
          </div>
        </div>
        <hr/>
      </div>
      <div data-page="2" data-ajax="/components/products-list/load.html" class="b-products-list__load"><i>Показать ещё</i><b>Загрузка</b></div>
    </div>
    <div id="pack" div="div" role="tabpanel" class="tab-pane">
      <div class="b-products-list__wrapper">
        <div class="row">
          <div class="col-sm-4">
            <div class="b-products-list__item center"><a href=""><img src="/upload/products/1.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="b-products-list__item center"><a href=""><img src="/upload/products/2.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="b-products-list__item center"><a href=""><img src="/upload/products/3.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
            </div>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-sm-4">
            <div class="b-products-list__item center"><a href=""><img src="/upload/products/1.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="b-products-list__item center"><a href=""><img src="/upload/products/2.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="b-products-list__item center"><a href=""><img src="/upload/products/3.jpg" alt="" data-big-image="/upload/products/2.jpg" class="img-responsive center-block"/></a>
              <p class="b-size">1000 x 500 x 500</p>
              <p>от <b class="b-price">46,91</b>руб</p>
              <p><a href="" class="btn btn-default btn-sm btn-disabled">В корзине</a></p>
            </div>
          </div>
        </div>
        <hr/>
      </div>
      <div data-page="2" data-ajax="/components/products-list/load.html" class="b-products-list__load"><i>Показать ещё</i><b>Загрузка</b></div>
    </div>
  </div>
</div>
<!-- end /components/products-list/-->