// start /components/catalog.sections-left-menu-filter/

link( rel="stylesheet", href="/components/catalog.sections-left-menu/style.css" )
script( src="/components/catalog.sections-left-menu/script.js" )

.catalog-chpu.text-small
  .root-item.is-root.opened-children
    .link По применению
      span.line-counter &nbsp;(15)
      .togleChildrenBloc
    .collapse.cildterblock.in
      ul.children
        li
          a( href="" ) Примененеие ....
            span.line-counter &nbsp;(15)
        li
          a( href="" ) Примененеие ....
            span.line-counter &nbsp;(15)
        li
          a( href="" ) Примененеие ....
            span.line-counter &nbsp;(15)
      ul#filterCildBlock-1.children.collapse.sideMenuCollapse
        li
          a( href="" ) Примененеие ....
            span.line-counter &nbsp;(15)
        li
          a( href="" ) Примененеие ....
            span.line-counter &nbsp;(15)
        li
          a( href="" ) Примененеие ....
            span.line-counter &nbsp;(15)
      ul.children.showMoreLink
        li
          a( href="javascript:void()" data-toggle="collapse" data-target="#filterCildBlock-1" aria-expanded="false" aria-controls="menuCildBlock-1") Еще&nbsp;
            span.glyphicon.glyphicon-menu-down
  .root-item.is-root.opened-children
    .link По функционалу
      span.line-counter &nbsp;(15)
      .togleChildrenBloc
    .collapse.cildterblock
      ul.children
        li
          a( href="" ) С окошком
            span.line-counter &nbsp;(15)
        li
          a( href="" ) С ручками
            span.line-counter &nbsp;(15)
        li
          a( href="" ) С печатью
            span.line-counter &nbsp;(15)
    
// end /components/catalog.sections-left-menu-filter/