// start /components/catalog.sections-left-menu-filter/

link( rel="stylesheet", href="/components/catalog.sections-left-menu/style.css" )
script( src="/components/catalog.sections-left-menu/script.js" )

.catalog-chpu.text-small
  .root-item.is-root.opened-children
    .link По применению
      span.line-counter &nbsp;(15)
      .togleChildrenBloc
    .cildterblock(id="catalog_chpu_list")
      
      input.search.form-control( placeholder="Найти" )
      
      ul.children.itemList.list
        li
          a( href="" ).name Для овощей
            span.line-counter &nbsp;(15)
        li
          a( href="" ).name Для переезда
            span.line-counter &nbsp;(15)
        li
          a( href="" ).name Примененеие ....
            span.line-counter &nbsp;(15)
        li
          a( href="" ).name Для хранения
            span.line-counter &nbsp;(15)
        li
          a( href="" ).name Для дома
            span.line-counter &nbsp;(15)
        li
          a( href="" ).name Для гаража
            span.line-counter &nbsp;(15)
        li
          a( href="" ).name Для еще чео нибудь
            span.line-counter &nbsp;(15)
        li
          a( href="" ).name Примененеие ....
            span.line-counter &nbsp;(15)
        li
          a( href="" ).name Примененеие ....
            span.line-counter &nbsp;(15)
        li
          a( href="" ).name Примененеие ....
            span.line-counter &nbsp;(15)
        li
          a( href="" ).name Примененеие ....
            span.line-counter &nbsp;(15)
        li
          a( href="" ).name Примененеие ....
            span.line-counter &nbsp;(15)
        li
          a( href="" ).name Примененеие ....
            span.line-counter &nbsp;(15)
      ul.children.showMoreLink(style="display: none;")
        li
          a( href="javascript:void(0)") Еще&nbsp;
            span.glyphicon.glyphicon-menu-down
            
  .root-item.is-root.opened-children
    .link По функционалу
      span.line-counter &nbsp;(15)
      .togleChildrenBloc
    .collapse.cildterblock
      ul.children
        li
          a( href="" ) С окошком
            span.line-counter &nbsp;(15)
        li
          a( href="" ) С ручками
            span.line-counter &nbsp;(15)
        li
          a( href="" ) С печатью
            span.line-counter &nbsp;(15)
  

    
// end /components/catalog.sections-left-menu-filter/