
<!-- start /components/catalog.detail/-->
<link rel="stylesheet" href="/components/catalog.detail/style.css"/>
<script src="/components/catalog.detail/script.js"></script>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="hidden-sm hidden-xs">
        <nav class="left-menu text-small">
          <div class="root-item is-root opened-children"><a href="" style="background-image: url(/img/menu_icon/galya_simbol.svg)" class="link link-icon">Каталог конструкций FEFCO<span class="h-counter">15</span>
              <div class="togleChildrenBloc"></div></a>
            <div class="collapse cildterblock in">
              <ul class="children">
                <li><a href="">02xx Высеченные коробки и 4-хклапанные коробки<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="" class="selected">003xx Коробки телескопического типа или конструкции<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
              </ul>
              <ul id="menuCildBlock-1" class="children collapse sideMenuCollapse">
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
              </ul>
              <ul class="children showMoreLink">
                <li><a href="javascript:void()" data-toggle="collapse" data-target="#menuCildBlock-1" aria-expanded="false" aria-controls="menuCildBlock-1">Еще&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="root-item is-root"><a href="" style="background-image: url(/img/menu_icon/galya_simbol.svg)" class="link link-icon">Каталог конструкций GALIA<span class="h-counter">15</span>
              <div class="togleChildrenBloc"></div></a>
            <div class="collapse cildterblock">
              <ul class="children">
                <li><a href="">02xx Высеченные коробки и 4-хклапанные коробки<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">003xx Коробки телескопического типа или конструкции<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
              </ul>
            </div>
          </div>
          <div class="root-item is-root"><a href="" class="link">Ориганальные конструкции<span class="h-counter">15</span>
              <div class="togleChildrenBloc"></div></a>
            <div class="collapse cildterblock">
              <ul class="children">
                <li><a href="">02xx Высеченные коробки и 4-хклапанные коробки<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">003xx Коробки телескопического типа или конструкции<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
              </ul>
            </div>
          </div>
          <div class="root-item is-root"><a href="" style="background-image: url(/img/menu_icon/galya_simbol.svg)" class="link link-icon">Маркетинговая упаковка<span class="h-counter">15</span>
              <div class="togleChildrenBloc"></div></a>
            <div class="collapse cildterblock">
              <ul class="children">
                <li><a href="">02xx Высеченные коробки и 4-хклапанные коробки<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">003xx Коробки телескопического типа или конструкции<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">004xx Раздвижные коробки пенашльного типа и сборные ящики<span class="line-counter">&nbsp;(15)</span></a></li>
              </ul>
            </div>
          </div>
          <div class="root-item"><a href="" style="background-image: url(/img/menu_icon/galya_simbol.svg)" class="link link-icon">Упаковка с печатью</a></div>
          <div class="root-item"><a href="" style="background-image: url(/img/menu_icon/galya_simbol.svg)" class="link link-icon">Разработка упаковки</a></div>
        </nav>
        <!-- start /components/catalog.sections-left-menu-filter/-->
        <link rel="stylesheet" href="/components/catalog.sections-left-menu/style.css"/>
        <script src="/components/catalog.sections-left-menu/script.js"></script>
        <div class="catalog-chpu text-small">
          <div class="root-item is-root opened-children">
            <div class="link">По применению<span class="line-counter">&nbsp;(15)</span>
              <div class="togleChildrenBloc"></div>
            </div>
            <div class="collapse cildterblock in">
              <ul class="children">
                <li><a href="">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
              </ul>
              <ul id="filterCildBlock-1" class="children collapse sideMenuCollapse">
                <li><a href="">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">Примененеие ....<span class="line-counter">&nbsp;(15)</span></a></li>
              </ul>
              <ul class="children showMoreLink">
                <li><a href="javascript:void()" data-toggle="collapse" data-target="#filterCildBlock-1" aria-expanded="false" aria-controls="menuCildBlock-1">Еще&nbsp;<span class="glyphicon glyphicon-menu-down"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="root-item is-root opened-children">
            <div class="link">По функционалу<span class="line-counter">&nbsp;(15)</span>
              <div class="togleChildrenBloc"></div>
            </div>
            <div class="collapse cildterblock">
              <ul class="children">
                <li><a href="">С окошком<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">С ручками<span class="line-counter">&nbsp;(15)</span></a></li>
                <li><a href="">С печатью<span class="line-counter">&nbsp;(15)</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end /components/catalog.sections-left-menu-filter/-->
      </div>
    </div>
    <div class="col-md-9">
      <div itemscope="itemscope" itemtype="http://schema.org/Product" class="a-catalog-detail">
        <h1 itemprop="name" class="h2">Четырехклапанная коробка 550х350х350</h1>
        <div class="row first-line">
          <div class="col-sm-6">
            <div data-nav="thumbs" data-allowfullscreen="native" data-ratio="1" data-width="100%" data-loop="true" data-thumbwidth="102" data-thumbheight="66" class="fotorama-catalog-multicard"><img itemprop="image" src="http://s.fotorama.io/1.jpg" class="multicardImage"/><img itemprop="image" src="http://s.fotorama.io/2.jpg" class="multicardImage"/><img itemprop="image" src="http://s.fotorama.io/3.jpg" class="multicardImage"/><img itemprop="image" src="http://s.fotorama.io/4.jpg" class="multicardImage"/></div>
          </div>
          <div class="col-sm-6 description-block">
            <div class="row">
              <div class="col-xs-6"><span class="text-muted">Артикул:</span> 
                UT533
              </div>
              <div class="col-xs-6 text-right"><a href="" title="Добавить в избранное" class="b-fav-icon">
                  <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
                    <title>favorite</title>
                    <path d="M22.71,15.46s9.8-11.4,16.87-2.93C50.24,25.3,22.71,38.89,22.71,38.89"></path>
                    <path d="M22.71,15.46s-9.8-11.4-16.87-2.93C-4.82,25.3,22.71,38.89,22.71,38.89"></path>
                  </svg></a>
              </div>
            </div>
            <hr class="i-size-S"/>
            <div class="text-small">
              <p itemprop="description">Картонная коробка продуктовая, гофрокартон бурый трехслойный, Т-24 В, (упаковка 10 шт) (Внешние размеры).</p>
            </div>
            <hr class="i-size-S"/>
            <div class="action-block text-center"><span class="price-val">от 15,40 руб</span>
              <meta itemprop="lowPrice" content="7150.00"/>
              <meta itemprop="priceCurrency" content="RUB"/>
              <link itemprop="availability" href="http://schema.org/InStock"/><a href="#offersItems-block" id="offersItems-link" class="btn btn-type-2 btn-md">Выбрать размер</a>
              <hr class="i-size-XS"/><a href="javascript:void(0)" data-toggle="modal" data-target="#callMe" class="ajax-link">Заказать изготовление</a>
            </div>
          </div>
        </div>
        <div class="row">
          <hr class="i-size-S hidden-xs"/>
          <hr class="i-size-XS visible-xs"/>
          <!-- start /include/construct/advantages/-->
          <div class="catalog-preim-container">
            <div style="background-image: url(/img/svg/magazin_morda_1.svg);" class="catalog-preim-item"><span class="text">Можем нанести печать на&nbsp;любую конструкцию</span></div>
            <div style="background-image: url(/upload/fefco/fefco_morda_1.svg);" class="catalog-preim-item"><span class="text">Мы&nbsp;адаптируем конструкцию к&nbsp;вашему продукту</span></div>
            <div style="background-image: url(/img/svg/magazin_morda_2.svg);" class="catalog-preim-item"><span class="text">Большой выбор форм и&nbsp;размеров</span></div>
            <div style="background-image: url(/img/svg/magazin_morda_3.svg);" class="catalog-preim-item"><span class="text">Самовывоз сегодня или доставка завтра</span></div>
          </div>
          <!-- end /include/construct/advantages/-->
          <hr class="i-size-S hidden-xs"/>
          <hr class="i-size-XS visible-xs"/>
        </div>
        <div id="offersItems-block" class="row">
          <div class="h3">Размеры в наличии</div>
          <!-- start /components/catalog.offers-list/-->
          <link rel="stylesheet" href="/components/catalog.offers-list/style.css"/>
          <script src="/components/catalog.offers-list/script.js"></script>
          <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"/>
          <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
          <div class="offers-block">
            <div class="row offers-header bg-gray-xs hidden-xs">
              <div class="col-sm-1 header-cell">Арт<span class="hidden-sm">икул</span></div>
              <div class="col-sm-2 header-cell">Внутренние размеры,<br>(Д) х (Ш) х (В) мм</div>
              <div class="col-sm-1 header-cell">Картон</div>
              <div class="col-sm-3 header-cell">Цена/шт при тираже, руб</div>
              <div class="col-sm-1 header-cell">Наличие</div>
              <div class="col-sm-1 header-cell flex-wrap">
                <div class="hidden-lg">Печать</div>
                <div class="visible-lg">Нанесение печати</div>
                <div data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Есть возможность нанести печать на готовые коробки." class="help_icon_round popover_teaser">?</div>
              </div>
              <div class="col-sm-3 header-cell">
                <div>Количество<br><span class="text-red">*</span><span class="text-help">&nbsp;продается в пачках</span></div>
              </div>
            </div>
            <form name="add_to_cart_offers_id_0" method="POST" actions="/json/add2cart.json" class="offers_item_add2cart">
              <div class="row offers-item">
                <div class="col-sm-1 col-xs-12 item-cell item-cell-articul"><b class="visible-xs-inline">Артикул</b><span>&nbsp;0200</span></div><b class="col-xs-5 item-cell visible-xs">Внутренние размеры, мм<br>(Д) х (Ш) х (В)</b>
                <div class="col-sm-2 col-xs-7 item-cell"> <a href="" class="underline">750 х 500 х 500</a></div>
                <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">Картон</b>
                <div class="col-sm-1 col-xs-7 item-cell">Т-24</div>
                <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">Цена/шт при тираже, руб</b>
                <div class="col-sm-3 col-xs-7 item-cell">
                  <div class="row order-price-default">
                    <div class="col-sm-4 col-xs-12">
                      <div class="row">
                        <div class="col-sm-12 col-xs-6 quantity-step-name"><span>до&nbsp;500</span><span class="visible-xs-inline">&nbsp;шт</span></div>
                        <div class="col-sm-12 col-xs-6 bold-l">99,10</div>
                      </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                      <div class="row">
                        <div class="col-sm-12 col-xs-6 quantity-step-name"> <span>до&nbsp;1000</span><span class="visible-xs-inline">&nbsp;шт</span></div>
                        <div class="col-sm-12 col-xs-6 bold-l">99,10</div>
                      </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                      <div class="row">
                        <div class="col-sm-12 col-xs-6 quantity-step-name">>1000<span class="visible-xs-inline">&nbsp;шт</span></div>
                        <div class="col-sm-12 col-xs-6 bold-l">99,10</div>
                      </div>
                    </div>
                  </div>
                  <div class="order-price-print">Цена будет рассчитана после оформления предзаказа</div>
                </div>
                <div class="col-sm-1 cur-quantity-indikator"></div>
                <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">В наличии</b>
                <div data-container="body" data-toggle="popover" data-placement="top" data-trigger="manual" data-content="В данный момент на складе 100 единиц товара. Сделайте предзаказ и мы изготовим нужное количество." class="col-sm-1 col-xs-7 item-cell preorder_popower">100<span class="visible-xs-inline">&nbsp;шт</span></div>
                <div class="clearfix visible-xs"></div>
                <div class="col-sm-1 hidden-xs">
                  <input type="checkbox" name="addprint_double" class="add-pring-chb"/>
                </div>
                <div class="col-sm-3 col-xs-12 item-cell"> 
                  <div class="row add-to-cart-cell-vcenter">
                    <div class="col-xs-3 visible-xs">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="addprint" class="add-pring-chb"/>Печать
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-12 col-xs-9 add-to-cart-cell-vcenter">
                      <input type="hidden" name="OFFERS_ID" value="123123"/>
                      <input type="hidden" name="MODE" value="ADD&gt;"/>
                      <input type="hidden" name="BID" value="2345678"/>
                      <input name="quantity" size="4" data-container="body" data-toggle="popover" data-placement="top" data-trigger="manual" data-content="Товар продается кратно 20 шт." type="text" data-inputtype="number" data-inputstep="100" data-inputmin="1" data-inputmax="" value="" data-oncart="" data-freequantity="100" data-quantityrangeone="1" data-quantityrangetwo="500" data-quantityrangetre="1000" placeholder="по 10 шт" class="form-control add-to-cart-input-quantity"/>&nbsp;
                      <button name="submit" type="submit" value="Y" class="btn add-to-order-btn mode-cart">Добавить<br>к заказу</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <form name="add_to_cart_offers_id_1" method="POST" actions="/json/add2cart.json" class="offers_item_add2cart">
              <div class="row offers-item">
                <div class="col-sm-1 col-xs-12 item-cell item-cell-articul"><b class="visible-xs-inline">Артикул</b><span>&nbsp;0200</span></div><b class="col-xs-5 item-cell visible-xs">Внутренние размеры, мм<br>(Д) х (Ш) х (В)</b>
                <div class="col-sm-2 col-xs-7 item-cell"> <a href="" class="underline">750 х 500 х 500</a></div>
                <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">Картон</b>
                <div class="col-sm-1 col-xs-7 item-cell">Т-24</div>
                <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">Цена/шт при тираже, руб</b>
                <div class="col-sm-3 col-xs-7 item-cell">
                  <div class="row order-price-default">
                    <div class="col-sm-4 col-xs-12">
                      <div class="row">
                        <div class="col-sm-12 col-xs-6 quantity-step-name"><span>до&nbsp;500</span><span class="visible-xs-inline">&nbsp;шт</span></div>
                        <div class="col-sm-12 col-xs-6 bold-l">99,10</div>
                      </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                      <div class="row">
                        <div class="col-sm-12 col-xs-6 quantity-step-name"> <span>до&nbsp;1000</span><span class="visible-xs-inline">&nbsp;шт</span></div>
                        <div class="col-sm-12 col-xs-6 bold-l">99,10</div>
                      </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                      <div class="row">
                        <div class="col-sm-12 col-xs-6 quantity-step-name">>1000<span class="visible-xs-inline">&nbsp;шт</span></div>
                        <div class="col-sm-12 col-xs-6 bold-l">99,10</div>
                      </div>
                    </div>
                  </div>
                  <div class="order-price-print">Цена будет рассчитана после оформления предзаказа</div>
                </div>
                <div class="col-sm-1 cur-quantity-indikator"></div>
                <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">В наличии</b>
                <div data-container="body" data-toggle="popover" data-placement="top" data-trigger="manual" data-content="В данный момент на складе 100 единиц товара. Сделайте предзаказ и мы изготовим нужное количество." class="col-sm-1 col-xs-7 item-cell preorder_popower">100<span class="visible-xs-inline">&nbsp;шт</span></div>
                <div class="clearfix visible-xs"></div>
                <div class="col-sm-1 hidden-xs">
                  <input type="checkbox" name="addprint_double" class="add-pring-chb"/>
                </div>
                <div class="col-sm-3 col-xs-12 item-cell"> 
                  <div class="row add-to-cart-cell-vcenter">
                    <div class="col-xs-3 visible-xs">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="addprint" class="add-pring-chb"/>Печать
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-12 col-xs-9 add-to-cart-cell-vcenter">
                      <input type="hidden" name="OFFERS_ID" value="123123"/>
                      <input type="hidden" name="MODE" value="ADD&gt;"/>
                      <input type="hidden" name="BID" value="2345678"/>
                      <input name="quantity" size="4" data-container="body" data-toggle="popover" data-placement="top" data-trigger="manual" data-content="Товар продается кратно 20 шт." type="text" data-inputtype="number" data-inputstep="100" data-inputmin="1" data-inputmax="" value="" data-oncart="" data-freequantity="100" data-quantityrangeone="1" data-quantityrangetwo="500" data-quantityrangetre="1000" placeholder="по 10 шт" class="form-control add-to-cart-input-quantity"/>&nbsp;
                      <button name="submit" type="submit" value="Y" class="btn add-to-order-btn mode-cart">Добавить<br>к заказу</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <form name="add_to_cart_offers_id_2" method="POST" actions="/json/add2cart.json" class="offers_item_add2cart">
              <div class="row offers-item">
                <div class="col-sm-1 col-xs-12 item-cell item-cell-articul"><b class="visible-xs-inline">Артикул</b><span>&nbsp;0200</span></div><b class="col-xs-5 item-cell visible-xs">Внутренние размеры, мм<br>(Д) х (Ш) х (В)</b>
                <div class="col-sm-2 col-xs-7 item-cell"> <a href="" class="underline">750 х 500 х 500</a></div>
                <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">Картон</b>
                <div class="col-sm-1 col-xs-7 item-cell">Т-24</div>
                <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">Цена/шт при тираже, руб</b>
                <div class="col-sm-3 col-xs-7 item-cell">
                  <div class="row order-price-default">
                    <div class="col-sm-4 col-xs-12">
                      <div class="row">
                        <div class="col-sm-12 col-xs-6 quantity-step-name"><span>до&nbsp;500</span><span class="visible-xs-inline">&nbsp;шт</span></div>
                        <div class="col-sm-12 col-xs-6 bold-l">99,10</div>
                      </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                      <div class="row">
                        <div class="col-sm-12 col-xs-6 quantity-step-name"> <span>до&nbsp;1000</span><span class="visible-xs-inline">&nbsp;шт</span></div>
                        <div class="col-sm-12 col-xs-6 bold-l">99,10</div>
                      </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                      <div class="row">
                        <div class="col-sm-12 col-xs-6 quantity-step-name">>1000<span class="visible-xs-inline">&nbsp;шт</span></div>
                        <div class="col-sm-12 col-xs-6 bold-l">99,10</div>
                      </div>
                    </div>
                  </div>
                  <div class="order-price-print">Цена будет рассчитана после оформления предзаказа</div>
                </div>
                <div class="col-sm-1 cur-quantity-indikator"></div>
                <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">В наличии</b>
                <div data-container="body" data-toggle="popover" data-placement="top" data-trigger="manual" data-content="В данный момент на складе 100 единиц товара. Сделайте предзаказ и мы изготовим нужное количество." class="col-sm-1 col-xs-7 item-cell preorder_popower">100<span class="visible-xs-inline">&nbsp;шт</span></div>
                <div class="clearfix visible-xs"></div>
                <div class="col-sm-1 hidden-xs">
                  <input type="checkbox" name="addprint_double" class="add-pring-chb"/>
                </div>
                <div class="col-sm-3 col-xs-12 item-cell"> 
                  <div class="row add-to-cart-cell-vcenter">
                    <div class="col-xs-3 visible-xs">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="addprint" class="add-pring-chb"/>Печать
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-12 col-xs-9 add-to-cart-cell-vcenter">
                      <input type="hidden" name="OFFERS_ID" value="123123"/>
                      <input type="hidden" name="MODE" value="ADD&gt;"/>
                      <input type="hidden" name="BID" value="2345678"/>
                      <input name="quantity" size="4" data-container="body" data-toggle="popover" data-placement="top" data-trigger="manual" data-content="Товар продается кратно 20 шт." type="text" data-inputtype="number" data-inputstep="100" data-inputmin="1" data-inputmax="" value="" data-oncart="" data-freequantity="100" data-quantityrangeone="1" data-quantityrangetwo="500" data-quantityrangetre="1000" placeholder="по 10 шт" class="form-control add-to-cart-input-quantity"/>&nbsp;
                      <button name="submit" type="submit" value="Y" class="btn add-to-order-btn mode-cart">Добавить<br>к заказу</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <form name="add_to_cart_offers_id_3" method="POST" actions="/json/add2cart.json" class="offers_item_add2cart">
              <div class="row offers-item">
                <div class="col-sm-1 col-xs-12 item-cell item-cell-articul"><b class="visible-xs-inline">Артикул</b><span>&nbsp;0200</span></div><b class="col-xs-5 item-cell visible-xs">Внутренние размеры, мм<br>(Д) х (Ш) х (В)</b>
                <div class="col-sm-2 col-xs-7 item-cell"> <a href="" class="underline">750 х 500 х 500</a></div>
                <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">Картон</b>
                <div class="col-sm-1 col-xs-7 item-cell">Т-24</div>
                <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">Цена/шт при тираже, руб</b>
                <div class="col-sm-3 col-xs-7 item-cell">
                  <div class="row order-price-default">
                    <div class="col-sm-4 col-xs-12">
                      <div class="row">
                        <div class="col-sm-12 col-xs-6 quantity-step-name"><span>до&nbsp;500</span><span class="visible-xs-inline">&nbsp;шт</span></div>
                        <div class="col-sm-12 col-xs-6 bold-l">99,10</div>
                      </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                      <div class="row">
                        <div class="col-sm-12 col-xs-6 quantity-step-name"> <span>до&nbsp;1000</span><span class="visible-xs-inline">&nbsp;шт</span></div>
                        <div class="col-sm-12 col-xs-6 bold-l">99,10</div>
                      </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                      <div class="row">
                        <div class="col-sm-12 col-xs-6 quantity-step-name">>1000<span class="visible-xs-inline">&nbsp;шт</span></div>
                        <div class="col-sm-12 col-xs-6 bold-l">99,10</div>
                      </div>
                    </div>
                  </div>
                  <div class="order-price-print">Цена будет рассчитана после оформления предзаказа</div>
                </div>
                <div class="col-sm-1 cur-quantity-indikator"></div>
                <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">В наличии</b>
                <div data-container="body" data-toggle="popover" data-placement="top" data-trigger="manual" data-content="В данный момент на складе 100 единиц товара. Сделайте предзаказ и мы изготовим нужное количество." class="col-sm-1 col-xs-7 item-cell preorder_popower">100<span class="visible-xs-inline">&nbsp;шт</span></div>
                <div class="clearfix visible-xs"></div>
                <div class="col-sm-1 hidden-xs">
                  <input type="checkbox" name="addprint_double" class="add-pring-chb"/>
                </div>
                <div class="col-sm-3 col-xs-12 item-cell"> 
                  <div class="row add-to-cart-cell-vcenter">
                    <div class="col-xs-3 visible-xs">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="addprint" class="add-pring-chb"/>Печать
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-12 col-xs-9 add-to-cart-cell-vcenter">
                      <input type="hidden" name="OFFERS_ID" value="123123"/>
                      <input type="hidden" name="MODE" value="ADD&gt;"/>
                      <input type="hidden" name="BID" value="2345678"/>
                      <input name="quantity" size="4" data-container="body" data-toggle="popover" data-placement="top" data-trigger="manual" data-content="Товар продается кратно 20 шт." type="text" data-inputtype="number" data-inputstep="100" data-inputmin="1" data-inputmax="" value="" data-oncart="" data-freequantity="100" data-quantityrangeone="1" data-quantityrangetwo="500" data-quantityrangetre="1000" placeholder="по 10 шт" class="form-control add-to-cart-input-quantity"/>&nbsp;
                      <button name="submit" type="submit" value="Y" class="btn add-to-order-btn mode-cart">Добавить<br>к заказу</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <form name="add_to_cart_offers_id_4" method="POST" actions="/json/add2cart.json" class="offers_item_add2cart">
              <div class="row offers-item">
                <div class="col-sm-1 col-xs-12 item-cell item-cell-articul"><b class="visible-xs-inline">Артикул</b><span>&nbsp;0200</span></div><b class="col-xs-5 item-cell visible-xs">Внутренние размеры, мм<br>(Д) х (Ш) х (В)</b>
                <div class="col-sm-2 col-xs-7 item-cell"> <a href="" class="underline">750 х 500 х 500</a></div>
                <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">Картон</b>
                <div class="col-sm-1 col-xs-7 item-cell">Т-24</div>
                <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">Цена/шт при тираже, руб</b>
                <div class="col-sm-3 col-xs-7 item-cell">
                  <div class="row order-price-default">
                    <div class="col-sm-4 col-xs-12">
                      <div class="row">
                        <div class="col-sm-12 col-xs-6 quantity-step-name"><span>до&nbsp;500</span><span class="visible-xs-inline">&nbsp;шт</span></div>
                        <div class="col-sm-12 col-xs-6 bold-l">99,10</div>
                      </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                      <div class="row">
                        <div class="col-sm-12 col-xs-6 quantity-step-name"> <span>до&nbsp;1000</span><span class="visible-xs-inline">&nbsp;шт</span></div>
                        <div class="col-sm-12 col-xs-6 bold-l">99,10</div>
                      </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                      <div class="row">
                        <div class="col-sm-12 col-xs-6 quantity-step-name">>1000<span class="visible-xs-inline">&nbsp;шт</span></div>
                        <div class="col-sm-12 col-xs-6 bold-l">99,10</div>
                      </div>
                    </div>
                  </div>
                  <div class="order-price-print">Цена будет рассчитана после оформления предзаказа</div>
                </div>
                <div class="col-sm-1 cur-quantity-indikator"></div>
                <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">В наличии</b>
                <div data-container="body" data-toggle="popover" data-placement="top" data-trigger="manual" data-content="В данный момент на складе 100 единиц товара. Сделайте предзаказ и мы изготовим нужное количество." class="col-sm-1 col-xs-7 item-cell preorder_popower">100<span class="visible-xs-inline">&nbsp;шт</span></div>
                <div class="clearfix visible-xs"></div>
                <div class="col-sm-1 hidden-xs">
                  <input type="checkbox" name="addprint_double" class="add-pring-chb"/>
                </div>
                <div class="col-sm-3 col-xs-12 item-cell"> 
                  <div class="row add-to-cart-cell-vcenter">
                    <div class="col-xs-3 visible-xs">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="addprint" class="add-pring-chb"/>Печать
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-12 col-xs-9 add-to-cart-cell-vcenter">
                      <input type="hidden" name="OFFERS_ID" value="123123"/>
                      <input type="hidden" name="MODE" value="ADD&gt;"/>
                      <input type="hidden" name="BID" value="2345678"/>
                      <input name="quantity" size="4" data-container="body" data-toggle="popover" data-placement="top" data-trigger="manual" data-content="Товар продается кратно 20 шт." type="text" data-inputtype="number" data-inputstep="100" data-inputmin="1" data-inputmax="" value="" data-oncart="" data-freequantity="100" data-quantityrangeone="1" data-quantityrangetwo="500" data-quantityrangetre="1000" placeholder="по 10 шт" class="form-control add-to-cart-input-quantity"/>&nbsp;
                      <button name="submit" type="submit" value="Y" class="btn add-to-order-btn mode-cart">Добавить<br>к заказу</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- end /components/catalog.offers-list/-->
          
          
          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end /components/catalog.detail/-->