
<!-- start /include/construct/advantages/-->
<div class="construct-preim-container">
  <div style="background-image: url(/upload/fefco/fefco_morda_1.svg);" class="construct-preim-item"><span class="text">Мы&nbsp;адаптируем конструкцию к&nbsp;вашему продукту</span></div>
  <div style="background-image: url(/upload/fefco/fefco_morda_2.svg);" class="construct-preim-item"><span class="text">Создадим привлекательное оформление</span></div>
  <div style="background-image: url(/upload/fefco/fefco_morda_3.svg);" class="construct-preim-item"><span class="text">Сделаем промышленный образец и&nbsp;пробную партию</span></div>
</div>
<!-- end /include/construct/advantages/-->