
<div class="a-construct-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" data-image-first="/img/fefco-temp-1.jpg" data-imge-second="/img/fefco-temp-2.jpg" class="img-responsive image-first"/><img src="/img/fefco-temp-2.jpg" data-image-first="/img/fefco-temp-1.jpg" data-imge-second="/img/fefco-temp-2.jpg" class="img-responsive image-second"/>
    <div class="card-name-block">
      <div class="card-code">07xx</div>
      <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
    </div></a></div>