
<!-- start /components/construct/-->
<link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"/>
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
<link rel="stylesheet" href="/components/construct/style.css"/>
<script src="/components/construct/script.js"></script>
<div class="a-construct">
  <div class="section">
    <div class="row first-line">
      <div class="col-md-1 col-sm-1 col-xs-2"><img src="/upload/fefco/fefco_morda_1.svg" class="h-icon"/></div>
      <div class="col-md-8 col-sm-11 col-xs-10">
        <h1 class="h3">0200 - Коробка четырехклапанная со стыкующимися внешними клапанами</h1>
      </div>
      <div class="col-md-3 hidden-sm hidden-xs"><a class="btn btn-type-3">Скачать каталог FEFCO</a></div>
    </div>
  </div>
  <hr class="gray"/>
  <div class="section">
    <div class="row">
      <div class="col-md-7">
        <div data-nav="thumbs" data-allowfullscreen="native" data-ratio="1" data-width="100%" data-loop="true" data-thumbwidth="102" data-thumbheight="66" class="fotorama"><img src="http://s.fotorama.io/1.jpg"/><img src="http://s.fotorama.io/2.jpg"/><img src="http://s.fotorama.io/3.jpg"/><img src="http://s.fotorama.io/4.jpg"/><img src="http://s.fotorama.io/1.jpg"/><img src="http://s.fotorama.io/2.jpg"/><img src="http://s.fotorama.io/3.jpg"/><img src="http://s.fotorama.io/4.jpg"/></div>
      </div>
      <div class="col-md-5">
        <p> <b>Art&nbsp;0200</b></p>
        <p>Описание конструкции и для чего может применяться данная конструкция.</p>
        <p>lotted-type boxes или высеченные коробки. Высеченные (высечные) коробки изготавливаются (высекаются) из одного листа гофрокартона, и склеиваются клеем или клейкой лентой, или прошиваются металлическими скобами по боковому, соединительному клапану.</p>
        <p class="text-small">Цена от&nbsp;<b>40,56</b>&nbsp;руб.</p>
        <div><a href="" data-scrollto="#callback-block" class="btn btn-default scrollto">Заказать изготовление</a></div>
      </div>
    </div>
  </div>
  <hr class="gray"/>
  <div class="section">
    <div class="h3">Размеры в наличии</div>
    <!-- start /components/catalog.offers-list/-->
    <link rel="stylesheet" href="/components/catalog.offers-list/style.css"/>
    <script src="/components/catalog.offers-list/script.js"></script>
    <div class="offers-block">
      <div class="row offers-header bg-gray-xs hidden-xs">
        <div class="col-sm-1 header-cell">Арт<span class="hidden-sm">икул</span></div>
        <div class="col-sm-3 header-cell">Внутренние размеры,<br>(Д) х (Ш) х (В) мм</div>
        <div class="col-sm-1 header-cell">Картон</div>
        <div class="col-sm-3 header-cell">Цена/шт при тираже, руб</div>
        <div class="col-sm-1 header-cell">Наличие</div>
        <div class="col-sm-1 header-cell flex-wrap hidden">
          <div class="hidden-lg">Печать</div>
          <div class="visible-lg">Нанесение печати</div>
          <div data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Есть возможность нанести печать на готовые коробки." class="help_icon_round popover_teaser">?</div>
        </div>
        <div class="col-sm-3 header-cell">Количество</div>
      </div>
      <form name="add_to_cart_offers_id_0" method="POST" actions="/json/add2cart.json" class="offers_item_add2cart">
        <div class="row offers-item">
          <div class="col-sm-1 col-xs-12 item-cell item-cell-articul"><b class="visible-xs-inline">Артикул</b><span>&nbsp;0200</span></div><b class="col-xs-5 item-cell visible-xs">Внутренние размеры, мм<br>(Д) х (Ш) х (В)</b>
          <div class="col-sm-3 col-xs-7 item-cell"> <a href="" class="underline">750 х 500 х 500</a></div>
          <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">Картон</b>
          <div class="col-sm-1 col-xs-7 item-cell">Т-24</div>
          <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">Цена/шт при тираже, руб</b>
          <div class="col-sm-3 col-xs-7 item-cell">
            <div class="row">
              <div class="col-sm-4 col-xs-12">
                <div class="row">
                  <div class="col-sm-12 col-xs-6 quantity-step-name"><span class="visible-xs-inline">до&nbsp;</span>500<span class="visible-xs-inline">&nbsp;шт</span></div>
                  <div class="col-sm-12 col-xs-6">99,10</div>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12">
                <div class="row">
                  <div class="col-sm-12 col-xs-6 quantity-step-name"> <span class="visible-xs-inline">до&nbsp;</span>1000<span class="visible-xs-inline">&nbsp;шт</span></div>
                  <div class="col-sm-12 col-xs-6">99,10</div>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12">
                <div class="row">
                  <div class="col-sm-12 col-xs-6 quantity-step-name">>1000<span class="visible-xs-inline">&nbsp;шт</span></div>
                  <div class="col-sm-12 col-xs-6">99,10</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-1 cur-quantity-indikator"></div>
          <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">В наличии</b>
          <div data-container="body" data-toggle="popover" data-placement="top" data-trigger="manual" data-content="В данный момент на складе 100 единиц товара. Сделайте предзаказ и мы изготовим нужное количество." class="col-sm-1 col-xs-7 item-cell preorder_popower">100<span class="visible-xs-inline">&nbsp;шт</span></div>
          <div class="clearfix visible-xs"></div>
          <div class="col-sm-1 hidden-xs hidden">
            <input type="checkbox" name="addprint_double" class="add-pring-chb"/>
          </div>
          <div class="col-sm-3 col-xs-12 item-cell"> 
            <div class="row add-to-cart-cell-vcenter">
              <div class="col-xs-4 hidden">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="addprint" class="add-pring-chb"/>Печать
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-xs-12 add-to-cart-cell-vcenter">
                <input type="hidden" name="OFFERS_ID" value="123123"/>
                <input type="hidden" name="MODE" value="ADD&gt;"/>
                <input type="hidden" name="BID" value="2345678"/>
                <input name="quantity" size="4" data-container="body" data-toggle="popover" data-placement="top" data-trigger="manual" data-content="Товар продается кратно 20 шт." type="text" data-inputtype="number" data-inputstep="100" data-inputmin="1" data-inputmax="" value="" data-oncart="" data-freequantity="100" data-quantityrangeone="1" data-quantityrangetwo="500" data-quantityrangetre="1000" class="form-control add-to-cart-input-quantity"/>
                <input name="submit" type="submit" value="В корзину" class="btn btn-type-4 submit-btn"/>
              </div>
            </div>
          </div>
        </div>
      </form>
      <form name="add_to_cart_offers_id_1" method="POST" actions="/json/add2cart.json" class="offers_item_add2cart">
        <div class="row offers-item">
          <div class="col-sm-1 col-xs-12 item-cell item-cell-articul"><b class="visible-xs-inline">Артикул</b><span>&nbsp;0200</span></div><b class="col-xs-5 item-cell visible-xs">Внутренние размеры, мм<br>(Д) х (Ш) х (В)</b>
          <div class="col-sm-3 col-xs-7 item-cell"> <a href="" class="underline">750 х 500 х 500</a></div>
          <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">Картон</b>
          <div class="col-sm-1 col-xs-7 item-cell">Т-24</div>
          <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">Цена/шт при тираже, руб</b>
          <div class="col-sm-3 col-xs-7 item-cell">
            <div class="row">
              <div class="col-sm-4 col-xs-12">
                <div class="row">
                  <div class="col-sm-12 col-xs-6 quantity-step-name"><span class="visible-xs-inline">до&nbsp;</span>500<span class="visible-xs-inline">&nbsp;шт</span></div>
                  <div class="col-sm-12 col-xs-6">99,10</div>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12">
                <div class="row">
                  <div class="col-sm-12 col-xs-6 quantity-step-name"> <span class="visible-xs-inline">до&nbsp;</span>1000<span class="visible-xs-inline">&nbsp;шт</span></div>
                  <div class="col-sm-12 col-xs-6">99,10</div>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12">
                <div class="row">
                  <div class="col-sm-12 col-xs-6 quantity-step-name">>1000<span class="visible-xs-inline">&nbsp;шт</span></div>
                  <div class="col-sm-12 col-xs-6">99,10</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-1 cur-quantity-indikator"></div>
          <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">В наличии</b>
          <div data-container="body" data-toggle="popover" data-placement="top" data-trigger="manual" data-content="В данный момент на складе 100 единиц товара. Сделайте предзаказ и мы изготовим нужное количество." class="col-sm-1 col-xs-7 item-cell preorder_popower">100<span class="visible-xs-inline">&nbsp;шт</span></div>
          <div class="clearfix visible-xs"></div>
          <div class="col-sm-1 hidden-xs hidden">
            <input type="checkbox" name="addprint_double" class="add-pring-chb"/>
          </div>
          <div class="col-sm-3 col-xs-12 item-cell"> 
            <div class="row add-to-cart-cell-vcenter">
              <div class="col-xs-4 hidden">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="addprint" class="add-pring-chb"/>Печать
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-xs-12 add-to-cart-cell-vcenter">
                <input type="hidden" name="OFFERS_ID" value="123123"/>
                <input type="hidden" name="MODE" value="ADD&gt;"/>
                <input type="hidden" name="BID" value="2345678"/>
                <input name="quantity" size="4" data-container="body" data-toggle="popover" data-placement="top" data-trigger="manual" data-content="Товар продается кратно 20 шт." type="text" data-inputtype="number" data-inputstep="100" data-inputmin="1" data-inputmax="" value="" data-oncart="" data-freequantity="100" data-quantityrangeone="1" data-quantityrangetwo="500" data-quantityrangetre="1000" class="form-control add-to-cart-input-quantity"/>
                <input name="submit" type="submit" value="В корзину" class="btn btn-type-4 submit-btn"/>
              </div>
            </div>
          </div>
        </div>
      </form>
      <form name="add_to_cart_offers_id_2" method="POST" actions="/json/add2cart.json" class="offers_item_add2cart">
        <div class="row offers-item">
          <div class="col-sm-1 col-xs-12 item-cell item-cell-articul"><b class="visible-xs-inline">Артикул</b><span>&nbsp;0200</span></div><b class="col-xs-5 item-cell visible-xs">Внутренние размеры, мм<br>(Д) х (Ш) х (В)</b>
          <div class="col-sm-3 col-xs-7 item-cell"> <a href="" class="underline">750 х 500 х 500</a></div>
          <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">Картон</b>
          <div class="col-sm-1 col-xs-7 item-cell">Т-24</div>
          <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">Цена/шт при тираже, руб</b>
          <div class="col-sm-3 col-xs-7 item-cell">
            <div class="row">
              <div class="col-sm-4 col-xs-12">
                <div class="row">
                  <div class="col-sm-12 col-xs-6 quantity-step-name"><span class="visible-xs-inline">до&nbsp;</span>500<span class="visible-xs-inline">&nbsp;шт</span></div>
                  <div class="col-sm-12 col-xs-6">99,10</div>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12">
                <div class="row">
                  <div class="col-sm-12 col-xs-6 quantity-step-name"> <span class="visible-xs-inline">до&nbsp;</span>1000<span class="visible-xs-inline">&nbsp;шт</span></div>
                  <div class="col-sm-12 col-xs-6">99,10</div>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12">
                <div class="row">
                  <div class="col-sm-12 col-xs-6 quantity-step-name">>1000<span class="visible-xs-inline">&nbsp;шт</span></div>
                  <div class="col-sm-12 col-xs-6">99,10</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-1 cur-quantity-indikator"></div>
          <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">В наличии</b>
          <div data-container="body" data-toggle="popover" data-placement="top" data-trigger="manual" data-content="В данный момент на складе 100 единиц товара. Сделайте предзаказ и мы изготовим нужное количество." class="col-sm-1 col-xs-7 item-cell preorder_popower">100<span class="visible-xs-inline">&nbsp;шт</span></div>
          <div class="clearfix visible-xs"></div>
          <div class="col-sm-1 hidden-xs hidden">
            <input type="checkbox" name="addprint_double" class="add-pring-chb"/>
          </div>
          <div class="col-sm-3 col-xs-12 item-cell"> 
            <div class="row add-to-cart-cell-vcenter">
              <div class="col-xs-4 hidden">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="addprint" class="add-pring-chb"/>Печать
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-xs-12 add-to-cart-cell-vcenter">
                <input type="hidden" name="OFFERS_ID" value="123123"/>
                <input type="hidden" name="MODE" value="ADD&gt;"/>
                <input type="hidden" name="BID" value="2345678"/>
                <input name="quantity" size="4" data-container="body" data-toggle="popover" data-placement="top" data-trigger="manual" data-content="Товар продается кратно 20 шт." type="text" data-inputtype="number" data-inputstep="100" data-inputmin="1" data-inputmax="" value="" data-oncart="" data-freequantity="100" data-quantityrangeone="1" data-quantityrangetwo="500" data-quantityrangetre="1000" class="form-control add-to-cart-input-quantity"/>
                <input name="submit" type="submit" value="В корзину" class="btn btn-type-4 submit-btn"/>
              </div>
            </div>
          </div>
        </div>
      </form>
      <form name="add_to_cart_offers_id_3" method="POST" actions="/json/add2cart.json" class="offers_item_add2cart">
        <div class="row offers-item">
          <div class="col-sm-1 col-xs-12 item-cell item-cell-articul"><b class="visible-xs-inline">Артикул</b><span>&nbsp;0200</span></div><b class="col-xs-5 item-cell visible-xs">Внутренние размеры, мм<br>(Д) х (Ш) х (В)</b>
          <div class="col-sm-3 col-xs-7 item-cell"> <a href="" class="underline">750 х 500 х 500</a></div>
          <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">Картон</b>
          <div class="col-sm-1 col-xs-7 item-cell">Т-24</div>
          <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">Цена/шт при тираже, руб</b>
          <div class="col-sm-3 col-xs-7 item-cell">
            <div class="row">
              <div class="col-sm-4 col-xs-12">
                <div class="row">
                  <div class="col-sm-12 col-xs-6 quantity-step-name"><span class="visible-xs-inline">до&nbsp;</span>500<span class="visible-xs-inline">&nbsp;шт</span></div>
                  <div class="col-sm-12 col-xs-6">99,10</div>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12">
                <div class="row">
                  <div class="col-sm-12 col-xs-6 quantity-step-name"> <span class="visible-xs-inline">до&nbsp;</span>1000<span class="visible-xs-inline">&nbsp;шт</span></div>
                  <div class="col-sm-12 col-xs-6">99,10</div>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12">
                <div class="row">
                  <div class="col-sm-12 col-xs-6 quantity-step-name">>1000<span class="visible-xs-inline">&nbsp;шт</span></div>
                  <div class="col-sm-12 col-xs-6">99,10</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-1 cur-quantity-indikator"></div>
          <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">В наличии</b>
          <div data-container="body" data-toggle="popover" data-placement="top" data-trigger="manual" data-content="В данный момент на складе 100 единиц товара. Сделайте предзаказ и мы изготовим нужное количество." class="col-sm-1 col-xs-7 item-cell preorder_popower">100<span class="visible-xs-inline">&nbsp;шт</span></div>
          <div class="clearfix visible-xs"></div>
          <div class="col-sm-1 hidden-xs hidden">
            <input type="checkbox" name="addprint_double" class="add-pring-chb"/>
          </div>
          <div class="col-sm-3 col-xs-12 item-cell"> 
            <div class="row add-to-cart-cell-vcenter">
              <div class="col-xs-4 hidden">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="addprint" class="add-pring-chb"/>Печать
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-xs-12 add-to-cart-cell-vcenter">
                <input type="hidden" name="OFFERS_ID" value="123123"/>
                <input type="hidden" name="MODE" value="ADD&gt;"/>
                <input type="hidden" name="BID" value="2345678"/>
                <input name="quantity" size="4" data-container="body" data-toggle="popover" data-placement="top" data-trigger="manual" data-content="Товар продается кратно 20 шт." type="text" data-inputtype="number" data-inputstep="100" data-inputmin="1" data-inputmax="" value="" data-oncart="" data-freequantity="100" data-quantityrangeone="1" data-quantityrangetwo="500" data-quantityrangetre="1000" class="form-control add-to-cart-input-quantity"/>
                <input name="submit" type="submit" value="В корзину" class="btn btn-type-4 submit-btn"/>
              </div>
            </div>
          </div>
        </div>
      </form>
      <form name="add_to_cart_offers_id_4" method="POST" actions="/json/add2cart.json" class="offers_item_add2cart">
        <div class="row offers-item">
          <div class="col-sm-1 col-xs-12 item-cell item-cell-articul"><b class="visible-xs-inline">Артикул</b><span>&nbsp;0200</span></div><b class="col-xs-5 item-cell visible-xs">Внутренние размеры, мм<br>(Д) х (Ш) х (В)</b>
          <div class="col-sm-3 col-xs-7 item-cell"> <a href="" class="underline">750 х 500 х 500</a></div>
          <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">Картон</b>
          <div class="col-sm-1 col-xs-7 item-cell">Т-24</div>
          <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">Цена/шт при тираже, руб</b>
          <div class="col-sm-3 col-xs-7 item-cell">
            <div class="row">
              <div class="col-sm-4 col-xs-12">
                <div class="row">
                  <div class="col-sm-12 col-xs-6 quantity-step-name"><span class="visible-xs-inline">до&nbsp;</span>500<span class="visible-xs-inline">&nbsp;шт</span></div>
                  <div class="col-sm-12 col-xs-6">99,10</div>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12">
                <div class="row">
                  <div class="col-sm-12 col-xs-6 quantity-step-name"> <span class="visible-xs-inline">до&nbsp;</span>1000<span class="visible-xs-inline">&nbsp;шт</span></div>
                  <div class="col-sm-12 col-xs-6">99,10</div>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12">
                <div class="row">
                  <div class="col-sm-12 col-xs-6 quantity-step-name">>1000<span class="visible-xs-inline">&nbsp;шт</span></div>
                  <div class="col-sm-12 col-xs-6">99,10</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-1 cur-quantity-indikator"></div>
          <div class="clearfix visible-xs"></div><b class="col-xs-5 item-cell visible-xs">В наличии</b>
          <div data-container="body" data-toggle="popover" data-placement="top" data-trigger="manual" data-content="В данный момент на складе 100 единиц товара. Сделайте предзаказ и мы изготовим нужное количество." class="col-sm-1 col-xs-7 item-cell preorder_popower">100<span class="visible-xs-inline">&nbsp;шт</span></div>
          <div class="clearfix visible-xs"></div>
          <div class="col-sm-1 hidden-xs hidden">
            <input type="checkbox" name="addprint_double" class="add-pring-chb"/>
          </div>
          <div class="col-sm-3 col-xs-12 item-cell"> 
            <div class="row add-to-cart-cell-vcenter">
              <div class="col-xs-4 hidden">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="addprint" class="add-pring-chb"/>Печать
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-xs-12 add-to-cart-cell-vcenter">
                <input type="hidden" name="OFFERS_ID" value="123123"/>
                <input type="hidden" name="MODE" value="ADD&gt;"/>
                <input type="hidden" name="BID" value="2345678"/>
                <input name="quantity" size="4" data-container="body" data-toggle="popover" data-placement="top" data-trigger="manual" data-content="Товар продается кратно 20 шт." type="text" data-inputtype="number" data-inputstep="100" data-inputmin="1" data-inputmax="" value="" data-oncart="" data-freequantity="100" data-quantityrangeone="1" data-quantityrangetwo="500" data-quantityrangetre="1000" class="form-control add-to-cart-input-quantity"/>
                <input name="submit" type="submit" value="В корзину" class="btn btn-type-4 submit-btn"/>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- end /components/catalog.offers-list/-->
  </div>
</div>
<!-- end /components/construct/-->