nav.left-menu.text-small
  .root-item.is-root.opened-children
    a.link.link-icon(href="" style="background-image: url(/img/menu_icon/galya_simbol.svg)") Каталог конструкций FEFCO
      span.h-counter 15
      .togleChildrenBloc
    .collapse.cildterblock.in
      ul.children
        li
          a( href="" ) 02xx Высеченные коробки и 4-хклапанные коробки
            span.line-counter &nbsp;(15)
        li
          a.selected( href="" ) 003xx Коробки телескопического типа или конструкции
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
      ul#menuCildBlock-1.children.collapse.sideMenuCollapse
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
      ul.children.showMoreLink
        li
          a( href="javascript:void()" data-toggle="collapse" data-target="#menuCildBlock-1" aria-expanded="false" aria-controls="menuCildBlock-1") Еще&nbsp;
            span.glyphicon.glyphicon-menu-down
    
  .root-item.is-root
    a.link.link-icon(href="" style="background-image: url(/img/menu_icon/galya_simbol.svg)") Каталог конструкций GALIA
      span.h-counter 15
      .togleChildrenBloc
    .collapse.cildterblock
      ul.children
        li
          a( href="" ) 02xx Высеченные коробки и 4-хклапанные коробки
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 003xx Коробки телескопического типа или конструкции
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
      
  .root-item.is-root
    a.link(href="") Ориганальные конструкции
      span.h-counter 15
      .togleChildrenBloc
    .collapse.cildterblock
      ul.children
        li
          a( href="" ) 02xx Высеченные коробки и 4-хклапанные коробки
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 003xx Коробки телескопического типа или конструкции
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
      
  .root-item.is-root
    a.link.link-icon(href="" style="background-image: url(/img/menu_icon/galya_simbol.svg)") Маркетинговая упаковка
      span.h-counter 15
      .togleChildrenBloc
    .collapse.cildterblock
      ul.children
        li
          a( href="" ) 02xx Высеченные коробки и 4-хклапанные коробки
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 003xx Коробки телескопического типа или конструкции
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
      
  .root-item
    a.link.link-icon(href="" style="background-image: url(/img/menu_icon/galya_simbol.svg)") Упаковка с печатью
    
  .root-item
    a.link.link-icon(href="" style="background-image: url(/img/menu_icon/galya_simbol.svg)") Разработка упаковки