@import '../../styl/component-include.styl'

.left-menu
  
  .root-item
    border 1px solid $border-gray
    border-radius 5px
    margin-bottom 5px
    background-color $c-white
    position relative
    
    .link
      position relative
      padding 15px 25px 15px 15px
      font-weight 400
      color $c-black
      display block
      
      &-icon
        padding 15px 25px 15px 50px
        background-position 10px center
        background-size 30px 30px
        background-repeat no-repeat
      
      &:hover
        background-color $c-gray-xxs
    
    .togleChildrenBloc
      position absolute
      top calc(0.5em + 5px)
      padding 15px
      right 0
      width 16px
      height 16px
      font-size 10px
      line-height 10px
      background-image url(images/arrow_menu.svg)
      background-position center center
      background-repeat no-repeat
      background-size 8px 8px
      cursor pointer
      transform rotate(0)
        
    &.opened-children
      .togleChildrenBloc
        transform rotate(180deg)
      
    
    a
      text-decoration none
    
    ul
      margin 0
      padding 0
      list-style none
      
    .cildterblock
      border-top 1px solid $border-gray
      padding 7px 15px
      
      
      
    .children
      list-style none
      margin-left 0
      padding-left 0
      margin-bottom 0
      
      .togleChildrenBloc
        top 1px
        right -15px
      
      
      li
        padding 7px 0
        padding-left 15px
        margin 0
        
        .glyphicon
          font-size 0.6em
        
        a
          color $c-deep-gray
          
          &:hover,
          &.selected
            color $c-black
    
    li.rootlevel2
      position relative

  