.a-construct-card
  a.card-image(href="")
    img.image-first( src="/img/fefco-temp-1.jpg")
    img.image-second( src="/img/fefco-temp-2.jpg")
  .card-name-block
    .card-code 07xx
    a.card-name(href="") Коробки оберточного типа и складные ящики, коробки с крышкой и дном
      span.line-counter &nbsp;(16)
    