// start /components/banner-transition/

link( rel="stylesheet", href="/components/banner-transition/style.css" )
script( src="/components/banner-transition/script.js" )

.b-banner-transition.i-0.i-text-0
  .container
    .row
      .col-sm-5
        .b-banner-transition__text
        
          .b-h1
          
            .i-1
              .b-h1-typing Сделаем упаковку
              .b-h1-show любых форм и размеров
          
          .b-banner-transition__img-xs.visible-xs
            img.i-1( src="/upload/banner/1.jpg" )
          
          p.hidden-xs Мы изготавливаем упаковку высокого качества и любой сложности
          
          .b-banner-transition__button
            a.btn.btn-default( href="" ) Заказать<span class="hidden-xs"> изготовление</span>
          
      .col-sm-5.col-sm-offset-1.hidden-xs
        .b-banner-transition__img
          img.i-1( src="/upload/banner/1.jpg" )

// end /components/banner-transition/