// start /components/catalog.section.construct-morda/

link( rel="stylesheet", href="/components/catalog.section.construct-morda/style.css" )
script( src="/components/catalog.section.construct-morda/script.js" )


link( href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet" )
script( src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js" )

.row.construct-section-top
  .col-md-12
    .h2 Выберите конструкцию
  .col-md-12
    //-ul.nav.nav-pills( role="tablist" )
    //-  li( role="presentation").active
    //-    a( href="#const-page1" aria-controls="const-page1" role="tab" data-toggle="tab") По стандарту FEFCO
    //-  li( role="presentation")
    //-    a( href="#const-page2" aria-controls="const-page2" role="tab" data-toggle="tab") По стандарту GALIA
    //-  li( role="presentation")
    //-    a( href="#const-page3" aria-controls="const-page3" role="tab" data-toggle="tab") Оригинальные конструкции
    //-  li( role="presentation")
    //-    a( href="#const-page4" aria-controls="const-page4" role="tab" data-toggle="tab") Маркетинговая упаковка
    //-  li( role="presentation")
    //-    a( href="#const-page5" aria-controls="const-page5" role="tab" data-toggle="tab") Крупногабаритные
    
    
    
    .nav.nav-tabs( role="tablist" )
      .btn-group.btn-group-justified.btn-group-justify( role="group" )
        a.ttab( href="#const-page1" aria-controls="const-page1" role="tab" data-toggle="tab" ).btn.btn-tabs.active
          span По стандарту FEFCO
        a.ttab( href="#const-page2" aria-controls="const-page2" role="tab" data-toggle="tab" ).btn.btn-tabs
          span По стандарту GALIA
        a.ttab( href="#const-page3" aria-controls="const-page3" role="tab" data-toggle="tab" ).btn.btn-tabs
          span Оригинальные конструкции
        a.ttab( href="#const-page4" aria-controls="const-page4" role="tab" data-toggle="tab" ).btn.btn-tabs
          span Маркетинговая упаковка
        a.ttab( href="#const-page5" aria-controls="const-page5" role="tab" data-toggle="tab" ).btn.btn-tabs
          span Крупногабаритные
          
          
  .clearfix
  hr.i-size-S
   
  .col-md-12.tab-content
    - var i = 0
    while i < 5
      - i++
      - var className="tab-pane"
      
      if i==1
        - className="tab-pane active"
      div( id="const-page#{i}" role="tabpanel" class="#{className}" )
        include item_grid

// end /components/catalog.section.construct-morda/