.b-clients-block
  h2.b-h1.center Мы делали упаковку для:
  hr
  .row
    .col-sm-2.col-xs-4
      a(href='')
        img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
    .col-sm-2.col-xs-4
      a(href='')
        img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
    .col-sm-2.col-xs-4
      a(href='')
        img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
    hr.hidden-sm.visible-xs-block.clearfix
    .col-sm-2.col-xs-4
      a(href='')
        img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
    .col-sm-2.col-xs-4
      a(href='')
        img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
    .col-sm-2.col-xs-4
      a(href='')
        img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
  hr
  .row
    .col-sm-2.col-xs-4
      a(href='')
        img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
    .col-sm-2.col-xs-4
      a(href='')
        img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
    .col-sm-2.col-xs-4
      a(href='')
        img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
    hr.hidden-sm.visible-xs-block.clearfix
    .col-sm-2.col-xs-4
      a(href='')
        img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
    .col-sm-2.col-xs-4
      a(href='')
        img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
    .col-sm-2.col-xs-4
      a(href='')
        img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
  hr
  #clientsAccordion
    a.accordion-toggle.collapsed(data-toggle='collapse', href='#clientsCollapse', data-parent='#clientsAccordion')
    #clientsCollapse.collapse
      .row
        .col-sm-2.col-xs-4
          a(href='')
            img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
        .col-sm-2.col-xs-4
          a(href='')
            img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
        .col-sm-2.col-xs-4
          a(href='')
            img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
        hr.hidden-sm.visible-xs-block.clearfix
        .col-sm-2.col-xs-4
          a(href='')
            img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
        .col-sm-2.col-xs-4
          a(href='')
            img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
        .col-sm-2.col-xs-4
          a(href='')
            img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
      .row
        .col-sm-2.col-xs-4
          a(href='')
            img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
        .col-sm-2.col-xs-4
          a(href='')
            img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
        .col-sm-2.col-xs-4
          a(href='')
            img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
        hr.hidden-sm.visible-xs-block.clearfix
        .col-sm-2.col-xs-4
          a(href='')
            img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
        .col-sm-2.col-xs-4
          a(href='')
            img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')
        .col-sm-2.col-xs-4
          a(href='')
            img.img-responsive.center-block(src='/upload/clients/1.jpg', alt='')