@import '../../styl/component-include.styl'

.a-catalog-section
  .catalog-preim-container
    
    .catalog-preim-item
      background-repeat no-repeat
      background-position left center
      background-size 48px 48px
      font-weight 600
      font-size 14px
      padding-left 70px
      min-height 60px
      display -webkit-flex
      display flex
      justify-content flex-start
      align-items center
      
  @media ( min-width 768px )
    .catalog-preim-container
      display -webkit-flex
      display flex
      justify-content space-between
      align-items center

      .catalog-preim-item
        margin 10px 0
        width 25%
        
  .first-line
    
    @media ( min-width 768px )
      display -webkit-flex
      display flex
      align-items stretch
    
      .description-block
        padding-bottom 80px
      
        .action-block
          position absolute
          bottom 10px
          margin 0 auto
          left 0
          right 0

  .h2-line
    display -webkit-flex
    display flex
    justify-content flex-start
    align-items center
    margin 10px 0
    
    .h2-icon
      height 48px
      width 48px
      margin-right 20px
    
  
  .section-view-mode-item
    color $c-high-gray
    margin-left 15px
    
    &:hover,
    &.active
      color $c-black



