@import '../../styl/component-include.styl'

.b-catalog-section

  &-ill
    text-align center
    background-color #020202
    position relative
    
    .container
      position relative
    
    .row
      position absolute
      top 0
      left 0
      width 100%
      margin 0 !important
      
      &,
      span,
      a
        color #fff
        
    .b-breadcrumbs
      text-align left
    
    img
      width 100%
      height auto
    
    .b-h1
      position absolute
      top 45%
      left 0
      text-align center
      width 100%
      color #fff
      
      @media( max-width 767px )
        font-size 20pt