// start /components/catalog.section/

link( rel="stylesheet", href="/components/catalog.section/style.css" )
script( src="/components/catalog.section/script.js" )

include ../../modules/gallery/fotorama

.container( itemscope itemtype="http://schema.org/Product" )
  .row
    .col-md-3
      .hidden-sm.hidden-xs
        include ../../modules/left-menu/include
        include ../../components/catalog.sections-left-menu/template
        
    .col-md-9
      .a-catalog-section
        h1.h2( itemprop="name") Купить упаковку для промышленного оборудования
        
        
        .cat-section
          include item_grid
          //-include item_list
        
                               
        
        div
          hr.i-size-S
          hr.gray
          hr.i-size-S.hidden-xs
          hr.i-size-XS.visible-xs
          include ../../include/advantages_catalog
          hr.i-size-S.hidden-xs
          hr.i-size-XS.visible-xs
          hr.gray
        
        // include file add text start
        .section
          include ../../include/addtextfile
        hr.gray
        // include file add text end

// end /components/catalog.section/