// start /components/catalog.section/

link( rel="stylesheet", href="/components/catalog.section/style.css" )
script( src="/components/catalog.section/script.js" )

.b-catalog-section
  
  .b-catalog-section-ill
      
    .container
      include ../../modules/breadcrumbs/catalog 
      img( src="/upload/catalog-section-ill.jpg" )
      .b-h1.text-center Без скотча. Без клея. Без проблем.
  
  hr.i-size-L
  
  .container
    .row
      .col-sm-8.col-sm-offset-2
        h1.text-center Самосборные коробки
        
        p Специалисты из дизайнерской студии Capsule, которая находится в Миннеаполисе, разработали новый дизайн упаковки для термобелья PATAGONIA. Целью дизайнеров было не просто обновить упаковку, но сделать так что бы увеличились розничные продажи, и это им удалось, розничные продажи выросли на 70%!
        p Шестигранную форму для коробок придумали дизайнеры Yvon Chouinard и Tom Frost, вдохновением послужила простая шестигранная гайка. Изготавливаются коробки из 100% пригодного к переработке гофрокартона. Кроме того, коробка не требует клея или скрепляющих материалов при сборке, мы называем такие коробки самосборными.
        p На коробках нанесен минимум информации, только логотипы PATAGONIA. Вся информация о товаре нанесена на специальные наклейки-бирки, таким образом при смене ассортимента не потребуется замена коробок, достаточно напечатать новые наклейки.
    
  hr.i-size-L
        
  section.i-gray
    .container
      .row
        .col-md-4.col-sm-6
          include ../../modules/catalog-card/include
          
        .col-md-4.col-sm-6
          include ../../modules/catalog-card/include
          
        .col-md-4.col-sm-6
          include ../../modules/catalog-card/include
          
        .col-md-4.col-sm-6
          include ../../modules/catalog-card/include
          
        .col-md-4.col-sm-6
          include ../../modules/catalog-card/include
          
        .col-md-4.col-sm-6
          include ../../modules/catalog-card/include

// end /components/catalog.section/