@import '../../styl/component-include.styl'
.index-baner-1
  position relative
  overflow hidden
  
  &, .item
    
    height 440px
    
    @media (max-width: 1200px)
      height 440px
    
    @media (max-width: 992px)
      height 360px
    
    @media (max-width: 768px)
      height 360px
  
  
  .item
    position relative
    margin 0
    
    .present_teaser
      position absolute
      display block
      
      bottom 30px
      right 50px
      width 150px
      height 150px
      z-index 15
      
      @media (max-width: 1200px)
        bottom 30px
        right 50px
        width 120px
        height 120px
        
      @media (max-width: 991px)
        bottom 30px
        right 30px
        width 120px
        height 120px
            
      @media (max-width: 768px)
      
        bottom 10px
        right 10px
        width 80px
        height 80px
      
    
    &-slide-2
      padding 50px 0 80px
      background-position center center
      background-size cover
      background-repeat no-repeat
      text-align center
    
      .bn-h1,
      .bn-text
        color #fff
        margin 0 0 25px
    
    &-slide-1
      background-position right bottom
      background-size contain
      background-repeat no-repeat
      background-color #b1c5cc
      background-image url(/upload/banner/baner_anton.jpg)
      padding 50px 50% 50px 60px
      
      .bn-text
        font-weight 300
      
      @media (max-width: 1200px)
        &
          padding 30px 50% 30px 60px
          background-position 120% bottom
      
      @media (max-width: 991px)
        &
          padding 30px 40% 30px 50px
          background-size auto 80%
            
      @media (max-width: 768px)
        &
          text-align center
          background-image url(/upload/banner/baner_anton-mob.jpg)
          background-position center bottom
          background-size 100% auto
          padding 20px
        
        .white-plashka
          background-color rgba(255, 255, 250, 0.8)
          padding 10px 30px 20px
          height 320px
          
    &-slide-3
      margin 0
      position relative
      background-image url(/upload/banner/ny18_bg1.jpg)
      background-position right top
      background-size cover
      background-repeat no-repeat
      
      @media (max-width: 768px)
        background-position 75% top
      
      
      .baner-content
        padding 50px 80px
        
        
        @media (max-width: 768px)
          &
            padding 20px 40px
        
      
      .header-text
        width 180px
        height 84px
      
      .text-first
        color $c-white
        margin 20px 0
        font-size 24px
        font-weight 400
        
        @media (max-width: 1200px)
          background-color rgba(1, 13, 37, 0.6)
          text-shadow 0 0 3px #000 
          padding 10px
        
        @media (min-width: 768px)
          margin-right 50%
        
        @media (max-width: 768px)
          &
            font-size 20px
      .btn
        color $c-black
        
    &-slide-4

      .video-container
        position absolute
        height 100%
        width 100%
        top 0
        left 0
        margin auto
        
        video
          width 100%
          height 100%
        
        
        @media (min-width: 768px)
          height auto
          
          .mobile-bg
            display none
          .video-bg
            display block
        
        @media (max-width: 768px)
          
          .mobile-bg
            display block
            height 100%
            background-position 50% 50%
            background-repeat no-repeat
            background-size cover
            
          .video-bg
            display none
        
        
        .shadow-bg
          background rgba(0, 0, 0, 0.5)
          height 100%
          width 100%
          position absolute
          top 0
          left 0
      
      .baner-content
        position relative
        color $c-white
        padding 80px 80px
        text-align center
        
        @media (max-width: 768px)
          padding 40px 40px
        
        .bn-text
          font-size 24px
          color $c-white
        
        .play-link
          width 50px
          height 50px
          display block
          margin 20px auto
          
        .play-icon
          width 50px
          height 50px
          display block
          
    &-slide-5
      margin 0
      position relative
      background-image url(/upload/banner/ny18_bg2.jpg)
      background-position right top
      background-size cover
      background-repeat no-repeat
      
      @media (max-width: 768px)
        background-position 75% top
      
      .b-header1
        color $c-white
        font-size 42px
      
      .baner-content
        padding 110px 50px
        margin-right 50%
        
        
        @media (max-width: 768px)
          padding 100px 20px
          margin-right 0
    
    &-slide-6
      .baner-plashka
        height 100%
        background-image url(/upload/banner/slide-6/kgbup_baner_plashka.jpg)
        background-position right center
        background-repeat no-repeat
        background-size cover
      
          
        @media (max-width: 767px)
          background-position 80% top
          background-size 1200px auto
          
        @media (max-width: 550px)
          background-position 70% top
          
        @media (max-width: 450px)
          background-position 60% top
          
          
        .red-bg
          
          color $c-white
            
          @media (min-width: 768px)
          
            display: -webkit-flex;
            display flex
            align-content center
            flex-direction row
            flex-wrap wrap
            justify-content flex-start
            
            height 100%
            background-image url(/upload/banner/slide-6/kgbup_baner_redbg.jpg)
            background-position right top
            background-repeat no-repeat
            background-size cover
            
            
          
          @media (max-width: 767px)
            
            background-color rgba(0, 0, 0, 0.5)
            padding-top 20px
            padding-bottom 20px
            text-align center
          
          .baner-video-start
            color $c-white
            
            .baner-video-start-icon
              background-image url(/img/svg/icon_play_1.svg)
              background-repeat no-repeat
              background-position left center
              background-size contain
              display inline-block
              text-align left
              padding-left 40px
              height 30px
              line-height 1
          
          .clearfix-sep
            height 50px
            @media (max-width: 767px)
              height 20px
          
          .baner-header
            font-size 34px
            line-height 1
            font-weight 400
            text-shadow -2px 0px 3px $c-dark-grey-3
            
            @media (max-width: 1200px)
              
              font-size 32px
            
            @media (max-width: 992px)
              
              font-size 24px
        .cb-baner-colum
          
          color $c-white
          text-align center
            
          
          @media (min-width: 768px)
          
            display: -webkit-flex;
            display flex
            align-content center
            flex-direction column
            flex-wrap wrap
            justify-content flex-start
            
            height 100%
          
          
          @media (max-width: 768px)
            display none
            height 50%
          
          
          .callback-form-plashka
            background-color rgba(0, 0, 0, 0.7)
            padding 30px
            position relative
            margin auto
            
            @media (max-width: 768px)
              padding 10px 30px
              width 100%
              height 100%
              
        