.item.item-slide-4(id="slide-1" data-ytvideo="7DBxtut7Mpw" data-videoid="videoBigupack" data-videoautoplay="true")
  .video-container
    video.video-bg(  loop preload="none" poster="/upload/banner/preload_image_ploter_antech1.png" muted)
      source( src="/upload/banner/ploter_antech2.mp4" type="video/mp4")
    .mobile-bg(style="background-image: url(/upload/banner/preload_image_ploter_antech1.png);")
    .shadow-bg
  .baner-content.text-center-xs
    h1.bn-h1 Производство упаковки из гофрокантона
    a(href="#" data-toggle="modal" data-target="#aboutVideo")
      span.play-link
        img.play-icon(src="/upload/banner/play_button.svg" alt="play")
    a(href="#" data-toggle="modal" data-target="#aboutVideo")
      span.bn-text Посмотреть презентацию
    
  .present_teaser.popover_teaser( data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Приезжайте к нам в офис и мы бесплатно изготовим прототип для Вас!" data-original-title="" title="")
  
    a(href="#" data-toggle="modal" data-target="#callMe")
      img.img-responsive(src="/upload/banner/baner_obrazec_present.png" alt="Образце в подарок каждому приехавшему на встречу в офис")