.item.item-slide-6(id="slide-6" data-ytvideo="-ULvQq7CR58" data-videoid="videoBigupack" data-videoautoplay="true")
  .row.baner-plashka
    .col-sm-7.col-md-7.red-bg
      
      .col-sm-6.col-md-6.col-lg-7.col-sm-offset-1
        .baner-header.h Мы&nbsp;изготавливаем<br>крупногабаритную упаковку
      
      .col-sm-12.clearfix-sep
      
      .col-sm-6.col-md-6.col-lg-8.col-sm-offset-1
        span.baner-video-start( data-toggle="modal" data-target="#videoBigupack")
          span.baner-video-start-icon Посмотреть<br>видеопрезентацию
    .col-sm-4.col-md-4.col-lg-3.col-lg-offset-1.cb-baner-colum.add_cb_form
      .callback-form-plashka
       include ../../modules/call-me-form1/include