.item.item-slide-2(id="slide-4" style="background-image: url(/upload/banner/index-baner-1.jpg)")
  .h1.bn-h1 Изготовим коробки<br>на&nbsp;заказ
  .h3.bn-text Заказать индивидуальную<br>упаковку очень просто!
  a.btn.btn-default(href="/production/") Подробнее о производстве