.item.item-slide-1(id="slide-3")
  .white-plashka
    .h2 Добро пожаловать в&nbsp;Антэк!
    
    .h4 Мы&nbsp;производители упаковки из&nbsp;гофрокартона.
    
    hr
    
    .bn-text У&nbsp;нас вы&nbsp;можете 
      a(href="/production/") сделать заказ
      |  на&nbsp;изготовление индивидуальной упаковки или 
      a(href="/catalog/") купить
      |  типовые картонные коробки.