.item.item-slide-3(id="slide-2")
  .baner-content.text-center-xs
    img.header-text(src="/upload/banner/ny18_headtext1.jpg" alt="Пора!")
    .text-first Мы&nbsp;предлагаем Вам <br class="visible-lg">готовые решения для упаковки <br class="visible-lg">новогодних подарков!
    a(href="/catalog/novogodnyaya-podarochnaya-upakovka/")
      span.btn.btn-type-1 Выбрать
  