@import '../../styl/component-include.styl'
.index-baner-1
  position relative
  
  .item
    height 360px
    margin 0
    padding 50px 0 80px
    background-position center center
    background-size cover
    background-repeat no-repeat
    text-align center
    
    .bn-h1,
    .bn-text
      color #fff
      margin 0 0 25px
  .fotorama__nav-wrap
    position absolute
    bottom 30px
    height 8px
    .fotorama__nav__frame--dot
      height 8px
      .fotorama__dot
        width 8px
        height 8px
        background-color rgba(255, 255, 255, 0.5)
        border none
        top 0
      &.fotorama__active
        .fotorama__dot
          background-color rgba(255, 255, 255, 1)
  .fotorama__arr
    width 15px
    height 50px
    margin 0 20px
    background-position center center
    background-repeat no-repeat
    background-size cover
    opacity 0.5
    top calc(50% - 25px)
    &:hover
      opacity 1
    
    &.fotorama__arr--prev
      background-image url(img/arrow_left.svg)
    &.fotorama__arr--next
      background-image url(img/arrow_right.svg)
      