a.b-compare-icon( href="" title="Сравнить" )
  svg(id='Слой_1', data-name='Слой 1', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 45.35 45.35')
    title compare
    line(x1='4', y1='6.19', x2='22.25', y2='6.19')
    line(x1='4', y1='18.44', x2='22.25', y2='18.44')
    line(x1='4.25', y1='29.3', x2='40.25', y2='29.3')
    line(x1='4.25', y1='40.3', x2='40.25', y2='40.3')
    line(x1='34.33', y1='6.88', x2='34.33', y2='20.19')
    line(x1='40.99', y1='13.53', x2='27.67', y2='13.53')