@import '../../styl/component-include.styl'

.b-compare-icon
  display inline-block
  width 32px
  height 32px
  cursor default
  opacity 0.3
  margin-left 20px
  
  line
    fill none
    stroke #999
    stroke-linecap round
    stroke-linejoin round
    stroke-width 2px
  
  /*&:hover,
  &.i-active
  
    line
      stroke #eb212e*/