.b-accordion
  #accordionFAQ.accordion
  
    .accordion-group
      .accordion-heading
        a.accordion-toggle.collapsed(href='#accordionFAQ1', data-toggle='collapse', data-parent='#accordionFAQ') Что нужно знать чтобы разработать упаковку?
      #accordionFAQ1.accordion-body.collapse(style='height: 0px;')
        .accordion-inner
          .row
            .col-sm-8.col-sm-offset-2
              table.data-table(width='100%', cellpadding='5', cellspacing='5')
                tbody
                  tr
                    td(nowrap='', width='1%', align='right')
                      p
                        b Форма
                    td
                      p
                        | Для правильного выбора конструкции необходимо определить следующие параметры:
                      ul(style='margin: 0; padding: 0;')
                        li
                          | В каких целях будет использоваться упаковка: хранение, транспортировка, продажа с витрины.
                        li
                          | Определить удобный способ загрузки товара: сверху, сбоку, снизу или оборачиванием.
                        li Взвесить предмет.
                        li
                          | Определить дополнительные опции упаковки: отверстия для рук, вентиляционные и презентационные окна.
                        li Определить требуется ли усилить функции упаковки.
                        li Определить нужно ли фиксировать внутри упаковки товар, или отдельные компоненты.
                  tr
                    td(nowrap='', width='1%', align='right')
                      p
                        b Размеры
                    td
                      p
                        | Нужно измерить габаритные размеры упаковываемого предмета по трем направлениям: длина, ширина, высота (в миллиметрах). В дальнейшем это будут внутренние размеры упаковки. Если товар сыпучий - определите размер упаковки, наиболее подходящий Вам для транспортировки и складирования.
                  tr
                    td(nowrap='', width='1%', align='right')
                      p
                        b Оформление
                    td
                      p
                        | Определить требуется ли печать, на каких сторонах коробки и какие функции она должна выполнять.

          
    .accordion-group
      .accordion-heading
        a.accordion-toggle.collapsed(href='#accordionFAQ2', data-toggle='collapse', data-parent='#accordionFAQ') Из чего складывается цена упаковки?
      #accordionFAQ2.accordion-body.collapse(style='height: 0px;')
        .accordion-inner
          .row
            .col-sm-8.col-sm-offset-2
              p Цена коробки складывается из нескольких составляющих: затраты на сырье и затраты на изготовление. Затраты сырья определяются площадью заготовки.
              p Площадь заготовки зависит от выбранной конструкции. Чем сложнее конструкция и больше площадь заготовки тем выше стоимость заготовки. Так же при раскрое заготовок могут образовываться обрезки, которые невозможно исключить из стоимости изделия. Затраты на производства складываются из операций необходимых для изготовления. Изготовление упаковки включает следующие операции: нарезка листа на заготовки; нанесение печати на заготовку; просечка в заготовке раскроя коробки; склейка и/или скобирование; связка в пачки и палетизация.
              p Каждая операция требует приладки оборудования, поэтому чем больше тираж - тем ниже стоимость упаковки в расчете не одно изделие.
              p Проявите бдительность, если Вам предлагают очень низкую цену!

          
    .accordion-group
      .accordion-heading
        a.accordion-toggle.collapsed(href='#accordionFAQ3', data-toggle='collapse', data-parent='#accordionFAQ') Сроки изготовления заказов
      #accordionFAQ3.accordion-body.collapse
        .accordion-inner
          .row
            .col-sm-8.col-sm-offset-2
              p Постоянно совершенствуя производственные процессы, мы достигли максимально сжатых сроков исполнения заказов. В плановом порядке заказы выполняются в течение 3-5 рабочих дней.
              p Если у вас возникнет потребность получить товар в сжатые сроки, мы постараемся оперативно посодействовать в этом. В 80% случаев мы имеем возможность изготовить заказ за 24 часа.
              p(style='font-size: 0.8em;')
                span.color-red * - Срочное изготовление распространяется только на производство четырехклапанных коробок, без дополнительной оснастки, (простые коробки, без печати), при тиражах от 1 до 500 штук.

          
    .accordion-group
      .accordion-heading
        a.accordion-toggle.collapsed(href='#accordionFAQ4', data-toggle='collapse', data-parent='#accordionFAQ') Оплата
      #accordionFAQ4.accordion-body.collapse
        .accordion-inner
          .row
            .col-sm-8.col-sm-offset-2
              p Приобретая у нас картонные коробки и упаковочные товары, вы можете воспользоваться любым удобным для Вас способом оплаты:
              .font5.bold Частным лицам
              ul
                li оплата банковской картой. Через сайт, или в офисе.
                li оплата наличными при получении заказа. Оплата производится в рублях в момент получения заказа. Вместе с заказом вы получите расходную накладную и товарный чек.
                li банковским переводом, перевод может занять до 10-ти дней и может взыматься комиссия за перевод (зависит от банка).
              .font5.bold Юридическим лицам
              ul
                li оплата по безналичному расчету. Оригиналы необходимых документов (накладная и счет-фактура) будут переданы вместе с заказом. При оформлении заказа на сайте необходимо указать реквизиты компании.
              p(style='margin-top: 1em;') При оплате товара банковским переводом или по безналичному расчету доставка заказов осуществляется только после поступления денег на расчетный счет.

          
    .accordion-group
      .accordion-heading
        a.accordion-toggle.collapsed(href='#accordionFAQ5', data-toggle='collapse', data-parent='#accordionFAQ') Гарантии
      #accordionFAQ5.accordion-body.collapse
        .accordion-inner
          .row
            .col-sm-8.col-sm-offset-2
              p Наша компания сертифицированна по ISO 9001:2008, поэтому мы гарантируем высокое качество продукции, четкие сроки и качество предоставляемыхнами услуг. Товар ненадлежащего качества мы заменим в кратчайшие сроки. Если вы обнаружили брак, то вам нужно сообщить об этом по почте 
                a(href='mailto:control@antech.ru', target='_blank') control@antech.ru
                | , указав количество бракованного товара и приложить фото.
              p Мы прилагаем все усилия чтобы вы были довольны, тем не менее, если вдруг вам что-то не понравится, вы можете сразу обратится к директору по телефону +7 (903) 768-55-70.
              p Мы решим ваш вопрос в течение часа.
          
    .accordion-group
      .accordion-heading
        a.accordion-toggle.collapsed(href='#accordionFAQ6', data-toggle='collapse', data-parent='#accordionFAQ') Доставка
      #accordionFAQ6.accordion-body.collapse
        .accordion-inner
          .row
            .col-sm-8.col-sm-offset-2
              p.color-red Внимание!
                br
                | Заявки на доставку принимаются для заказов/покупок стоимостью от 3000 рублей.
              p
                br
              ul.list-style-defis
                li Доставка производится с Пн-Сб с 9-00 до 17-00
                li Доставка осуществляется до подъезда
                li Стоимость доставки зависит от объема заказа (м
                  span.grade 3
                  | ) и километража
                li Минимальная стоимость доставки в пределах МКАД (+5 км) и объемом до 1 м
                  span.grade 3
                  |  равна 950 рублей.
                li Свыше 1 м
                  span.grade 3
                  |  к минимальной стоимости доставки прибавляется 150 рублей.
                li За каждый дополнительный километр за пределами МКАД 25 рублей в одну сторону.
              p
                br
              p
                b Тарифы на разгрузку заказа
              ul.list-style-defis
                li Ручной подъем - 50 руб упаковка (пачка) за каждый этаж
                li Подъем на лифте - 50 руб упаковка (пачка)
              div(style='margin: 20px; padding: 20px; border: 1px solid; text-align: center;')
                | Пример расчета стоимости доставки груза объемом 3,8 м
                span.grade 3
                |  в аэропорт Домодедово:
                br
                | 				        950 руб + (150 руб × 3 м
                span.grade 3
                | ) + (25 руб × 16 км) = 1800 руб.
              .align-center.padding
                img(src='/images/a93/dostavka.png')
              p
                br
              p Во все регионы Российской Федерации доставка осуществляется через транспортные компании.
                br
                | Услуги транспортной компании оплачивает заказчик.
              p
                br
              p При самовывозе проконсультируйтесь, пожалуйста, с менеджером относительно особенностей, которыми обладает упаковка из гофрокартона и которые необходимо учитывать при выборе транспортного средства (гофрокороба имеют малый вес, но имеют большой объем и габариты).



