
<!-- start include/items_grid-->

<div class="row item-grid text-small">
  <div data-width="100%" data-ratio="8/9" data-minwidth="300" data-maxwidth="1000" data-minheight="400" data-maxheight="100%" class="fotorama-catalog-grid-card">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-item">
      <div class="a-catalog-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
            <div class="card-price">от 15,40 руб</div>
          </div></a></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-item">
      <div class="a-catalog-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
            <div class="card-price">от 15,40 руб</div>
          </div></a></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-item">
      <div class="a-catalog-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
            <div class="card-price">от 15,40 руб</div>
          </div></a></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-item">
      <div class="a-catalog-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
            <div class="card-price">от 15,40 руб</div>
          </div></a></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-item">
      <div class="a-catalog-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
            <div class="card-price">от 15,40 руб</div>
          </div></a></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 card-item">
      <div class="a-catalog-card"><a href="" class="card-image"><img src="/img/fefco-temp-1.jpg" class="img-responsive"/>
          <div class="card-name-block">
            <div class="card-name">Коробки оберточного типа и складные ящики, коробки с крышкой и дном<span class="line-counter">&nbsp;(16)</span></div>
            <div class="card-price">от 15,40 руб</div>
          </div></a></div>
    </div>
    <div class="col-xs-12 visible-xs">
      <div class="a-catalog-card add-card"><a href="" class="card-image"><img src="/img/construction_mord_more_sym.png" class="img-responsive"/>
          <div class="card-name-block">Посмотреть все конструкции</div></a></div>
    </div>
  </div>
  <div class="section hidden-xs clearfix">
    <div class="col-xs-12"><a href="" class="btn btn-type-5 btn-md btn-justify">Показать все</a></div>
  </div>
</div>
<!-- end include/items_grid-->