
<!-- start /components/catalog.section/-->
<link rel="stylesheet" href="/components/catalog.section/style.css"/>
<script src="/components/catalog.section/script.js"></script>
<div class="b-catalog-section">
  <div class="b-catalog-section-ill">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="b-breadcrumbs"><a href="">Главная</a> <span class="b-breadcrumbs__sep">/</span> <span>Картонные коробки</span></div>
        </div>
        <div class="col-sm-6 text-right b-price-list">
          <!-- Warning! Лёша, обрати, пожалуйста, внимание, тут должно вызываться модальное окно с функционалом на сервере, как на antech.ru--><a href="#">Получить прайс-лист</a>
        </div>
      </div><img src="/upload/catalog-section-ill.jpg"/>
      <div class="b-h1 text-center">Без скотча. Без клея. Без проблем.</div>
    </div>
  </div>
  <hr class="i-size-L"/>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1 class="text-center">Самосборные коробки</h1>
        <p>Специалисты из дизайнерской студии Capsule, которая находится в Миннеаполисе, разработали новый дизайн упаковки для термобелья PATAGONIA. Целью дизайнеров было не просто обновить упаковку, но сделать так что бы увеличились розничные продажи, и это им удалось, розничные продажи выросли на 70%!</p>
        <p>Шестигранную форму для коробок придумали дизайнеры Yvon Chouinard и Tom Frost, вдохновением послужила простая шестигранная гайка. Изготавливаются коробки из 100% пригодного к переработке гофрокартона. Кроме того, коробка не требует клея или скрепляющих материалов при сборке, мы называем такие коробки самосборными.</p>
        <p>На коробках нанесен минимум информации, только логотипы PATAGONIA. Вся информация о товаре нанесена на специальные наклейки-бирки, таким образом при смене ассортимента не потребуется замена коробок, достаточно напечатать новые наклейки.</p>
      </div>
    </div>
  </div>
  <hr class="i-size-L"/>
  <section class="i-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="b-catalog-card">
            <div style="background-image: url( '/upload/catalog-card/1.jpg' );" class="b-catalog-card__image"></div>
            <div class="b-catalog-card__text">
              <div class="b-catalog-card__title"><a href="">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
              <div class="b-catalog-card__price">
                от
                 <b class="b-price">46,91</b>руб
              </div>
              <hr class="i-size-M i-line-simple"/><a href="" class="btn btn-default btn-md btn-cart">В корзину</a><a href="" class="b-compare-icon"></a><a href="" class="b-fav-icon"></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="b-catalog-card">
            <div style="background-image: url( '/upload/catalog-card/1.jpg' );" class="b-catalog-card__image"></div>
            <div class="b-catalog-card__text">
              <div class="b-catalog-card__title"><a href="">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
              <div class="b-catalog-card__price">
                от
                 <b class="b-price">46,91</b>руб
              </div>
              <hr class="i-size-M i-line-simple"/><a href="" class="btn btn-default btn-md btn-cart">В корзину</a><a href="" class="b-compare-icon"></a><a href="" class="b-fav-icon"></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="b-catalog-card">
            <div style="background-image: url( '/upload/catalog-card/1.jpg' );" class="b-catalog-card__image"></div>
            <div class="b-catalog-card__text">
              <div class="b-catalog-card__title"><a href="">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
              <div class="b-catalog-card__price">
                от
                 <b class="b-price">46,91</b>руб
              </div>
              <hr class="i-size-M i-line-simple"/><a href="" class="btn btn-default btn-md btn-cart">В корзину</a><a href="" class="b-compare-icon"></a><a href="" class="b-fav-icon"></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="b-catalog-card">
            <div style="background-image: url( '/upload/catalog-card/1.jpg' );" class="b-catalog-card__image"></div>
            <div class="b-catalog-card__text">
              <div class="b-catalog-card__title"><a href="">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
              <div class="b-catalog-card__price">
                от
                 <b class="b-price">46,91</b>руб
              </div>
              <hr class="i-size-M i-line-simple"/><a href="" class="btn btn-default btn-md btn-cart">В корзину</a><a href="" class="b-compare-icon"></a><a href="" class="b-fav-icon"></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="b-catalog-card">
            <div style="background-image: url( '/upload/catalog-card/1.jpg' );" class="b-catalog-card__image"></div>
            <div class="b-catalog-card__text">
              <div class="b-catalog-card__title"><a href="">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
              <div class="b-catalog-card__price">
                от
                 <b class="b-price">46,91</b>руб
              </div>
              <hr class="i-size-M i-line-simple"/><a href="" class="btn btn-default btn-md btn-cart">В корзину</a><a href="" class="b-compare-icon"></a><a href="" class="b-fav-icon"></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="b-catalog-card">
            <div style="background-image: url( '/upload/catalog-card/1.jpg' );" class="b-catalog-card__image"></div>
            <div class="b-catalog-card__text">
              <div class="b-catalog-card__title"><a href="">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
              <div class="b-catalog-card__price">
                от
                 <b class="b-price">46,91</b>руб
              </div>
              <hr class="i-size-M i-line-simple"/><a href="" class="btn btn-default btn-md btn-cart">В корзину</a><a href="" class="b-compare-icon"></a><a href="" class="b-fav-icon"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- end /components/catalog.section/-->