
<!-- start /components/catalog.section/-->
<link rel="stylesheet" href="/components/catalog.section/style.css"/>
<script src="/components/catalog.section/script.js"></script>
<div class="b-catalog-section">
  <div class="b-catalog-section__breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="b-breadcrumbs"><a href="">Главная</a> <span class="b-breadcrumbs__sep">/</span> <span>Картонные коробки</span> <span class="b-breadcrumbs__sep">/</span> <span>220 (Д) х 320 (Ш) х 100 (В) Коробка картонная из гофрированного картона для транспортировки больших грузов</span></div>
        </div>
        <div class="col-sm-4 text-right b-price-list">
          <!-- Warning! Лёша, обрати, пожалуйста, внимание, тут должно вызываться модальное окно с функционалом на сервере, как на antech.ru--><a href="#">Получить прайс-лист</a>
        </div>
      </div>
    </div>
  </div>
  <div style="background: #ecc7ff;" class="b-catalog-section-ill">
    <div class="container"><img src="/upload/catalog-section-ill.jpg"/>
      <div class="b-h1 text-center">Без скотча. Без клея. Без проблем.</div>
    </div>
  </div>
  <hr class="i-size-L"/>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1 class="text-center">Самосборные коробки</h1>
        <p>Специалисты из дизайнерской студии Capsule, которая находится в Миннеаполисе, разработали новый дизайн упаковки для термобелья PATAGONIA. Целью дизайнеров было не просто обновить упаковку, но сделать так что бы увеличились розничные продажи, и это им удалось, розничные продажи выросли на 70%!</p>
        <p>Шестигранную форму для коробок придумали дизайнеры Yvon Chouinard и Tom Frost, вдохновением послужила простая шестигранная гайка. Изготавливаются коробки из 100% пригодного к переработке гофрокартона. Кроме того, коробка не требует клея или скрепляющих материалов при сборке, мы называем такие коробки самосборными.</p>
        <p>На коробках нанесен минимум информации, только логотипы PATAGONIA. Вся информация о товаре нанесена на специальные наклейки-бирки, таким образом при смене ассортимента не потребуется замена коробок, достаточно напечатать новые наклейки.</p>
      </div>
    </div>
  </div>
  <hr class="i-size-L"/>
  <section class="i-gray">
    <div class="container">
      <div class="row b-catalog-section-items">
        <!-- важно выводить количество блоков кратное 6. Тогда на планшете и десктопе блоки выстраиваются в ряды без пробелов.-->
        <div class="b-catalog-section__wrapper">
          <div class="col-md-4 col-sm-6">
            <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="b-catalog-card">
              <div data-original="/upload/catalog-card/1.jpg" class="b-catalog-card__image"></div>
              <div class="b-catalog-card__text">
                <div class="b-catalog-card__title"><a href="" itemprop="name">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
                <div class="b-catalog-card__price">
                  от
                   <b class="b-price">46,91</b>руб
                </div>
                <hr class="i-size-M i-line-simple"/><a href="ajax-request-url" class="btn btn-default btn-md btn-cart">В корзину</a>
                <div class="b-catalog-card__icons"><a href="" title="Добавить в избранное" class="b-fav-icon">
                    <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
                      <title>favorite</title>
                      <path d="M22.71,15.46s9.8-11.4,16.87-2.93C50.24,25.3,22.71,38.89,22.71,38.89"></path>
                      <path d="M22.71,15.46s-9.8-11.4-16.87-2.93C-4.82,25.3,22.71,38.89,22.71,38.89"></path>
                    </svg></a><a href="" title="Сравнить" class="b-compare-icon">
                    <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
                      <title>compare</title>
                      <line x1="4" y1="6.19" x2="22.25" y2="6.19"></line>
                      <line x1="4" y1="18.44" x2="22.25" y2="18.44"></line>
                      <line x1="4.25" y1="29.3" x2="40.25" y2="29.3"></line>
                      <line x1="4.25" y1="40.3" x2="40.25" y2="40.3"></line>
                      <line x1="34.33" y1="6.88" x2="34.33" y2="20.19"></line>
                      <line x1="40.99" y1="13.53" x2="27.67" y2="13.53"></line>
                    </svg></a></div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="b-catalog-card">
              <div data-original="/upload/catalog-card/1.jpg" class="b-catalog-card__image"></div>
              <div class="b-catalog-card__text">
                <div class="b-catalog-card__title"><a href="" itemprop="name">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
                <div class="b-catalog-card__price">
                  от
                   <b class="b-price">46,91</b>руб
                </div>
                <hr class="i-size-M i-line-simple"/><a href="ajax-request-url" class="btn btn-default btn-md btn-cart">В корзину</a>
                <div class="b-catalog-card__icons"><a href="" title="Добавить в избранное" class="b-fav-icon">
                    <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
                      <title>favorite</title>
                      <path d="M22.71,15.46s9.8-11.4,16.87-2.93C50.24,25.3,22.71,38.89,22.71,38.89"></path>
                      <path d="M22.71,15.46s-9.8-11.4-16.87-2.93C-4.82,25.3,22.71,38.89,22.71,38.89"></path>
                    </svg></a><a href="" title="Сравнить" class="b-compare-icon">
                    <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
                      <title>compare</title>
                      <line x1="4" y1="6.19" x2="22.25" y2="6.19"></line>
                      <line x1="4" y1="18.44" x2="22.25" y2="18.44"></line>
                      <line x1="4.25" y1="29.3" x2="40.25" y2="29.3"></line>
                      <line x1="4.25" y1="40.3" x2="40.25" y2="40.3"></line>
                      <line x1="34.33" y1="6.88" x2="34.33" y2="20.19"></line>
                      <line x1="40.99" y1="13.53" x2="27.67" y2="13.53"></line>
                    </svg></a></div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="b-catalog-card">
              <div data-original="/upload/catalog-card/1.jpg" class="b-catalog-card__image"></div>
              <div class="b-catalog-card__text">
                <div class="b-catalog-card__title"><a href="" itemprop="name">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
                <div class="b-catalog-card__price">
                  от
                   <b class="b-price">46,91</b>руб
                </div>
                <hr class="i-size-M i-line-simple"/><a href="ajax-request-url" class="btn btn-default btn-md btn-cart">В корзину</a>
                <div class="b-catalog-card__icons"><a href="" title="Добавить в избранное" class="b-fav-icon">
                    <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
                      <title>favorite</title>
                      <path d="M22.71,15.46s9.8-11.4,16.87-2.93C50.24,25.3,22.71,38.89,22.71,38.89"></path>
                      <path d="M22.71,15.46s-9.8-11.4-16.87-2.93C-4.82,25.3,22.71,38.89,22.71,38.89"></path>
                    </svg></a><a href="" title="Сравнить" class="b-compare-icon">
                    <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
                      <title>compare</title>
                      <line x1="4" y1="6.19" x2="22.25" y2="6.19"></line>
                      <line x1="4" y1="18.44" x2="22.25" y2="18.44"></line>
                      <line x1="4.25" y1="29.3" x2="40.25" y2="29.3"></line>
                      <line x1="4.25" y1="40.3" x2="40.25" y2="40.3"></line>
                      <line x1="34.33" y1="6.88" x2="34.33" y2="20.19"></line>
                      <line x1="40.99" y1="13.53" x2="27.67" y2="13.53"></line>
                    </svg></a></div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="b-catalog-card">
              <div data-original="/upload/catalog-card/1.jpg" class="b-catalog-card__image"></div>
              <div class="b-catalog-card__text">
                <div class="b-catalog-card__title"><a href="" itemprop="name">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
                <div class="b-catalog-card__price">
                  от
                   <b class="b-price">46,91</b>руб
                </div>
                <hr class="i-size-M i-line-simple"/><a href="ajax-request-url" class="btn btn-default btn-md btn-cart">В корзину</a>
                <div class="b-catalog-card__icons"><a href="" title="Добавить в избранное" class="b-fav-icon">
                    <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
                      <title>favorite</title>
                      <path d="M22.71,15.46s9.8-11.4,16.87-2.93C50.24,25.3,22.71,38.89,22.71,38.89"></path>
                      <path d="M22.71,15.46s-9.8-11.4-16.87-2.93C-4.82,25.3,22.71,38.89,22.71,38.89"></path>
                    </svg></a><a href="" title="Сравнить" class="b-compare-icon">
                    <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
                      <title>compare</title>
                      <line x1="4" y1="6.19" x2="22.25" y2="6.19"></line>
                      <line x1="4" y1="18.44" x2="22.25" y2="18.44"></line>
                      <line x1="4.25" y1="29.3" x2="40.25" y2="29.3"></line>
                      <line x1="4.25" y1="40.3" x2="40.25" y2="40.3"></line>
                      <line x1="34.33" y1="6.88" x2="34.33" y2="20.19"></line>
                      <line x1="40.99" y1="13.53" x2="27.67" y2="13.53"></line>
                    </svg></a></div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="b-catalog-card">
              <div data-original="/upload/catalog-card/1.jpg" class="b-catalog-card__image"></div>
              <div class="b-catalog-card__text">
                <div class="b-catalog-card__title"><a href="" itemprop="name">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
                <div class="b-catalog-card__price">
                  от
                   <b class="b-price">46,91</b>руб
                </div>
                <hr class="i-size-M i-line-simple"/><a href="ajax-request-url" class="btn btn-default btn-md btn-cart">В корзину</a>
                <div class="b-catalog-card__icons"><a href="" title="Добавить в избранное" class="b-fav-icon">
                    <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
                      <title>favorite</title>
                      <path d="M22.71,15.46s9.8-11.4,16.87-2.93C50.24,25.3,22.71,38.89,22.71,38.89"></path>
                      <path d="M22.71,15.46s-9.8-11.4-16.87-2.93C-4.82,25.3,22.71,38.89,22.71,38.89"></path>
                    </svg></a><a href="" title="Сравнить" class="b-compare-icon">
                    <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
                      <title>compare</title>
                      <line x1="4" y1="6.19" x2="22.25" y2="6.19"></line>
                      <line x1="4" y1="18.44" x2="22.25" y2="18.44"></line>
                      <line x1="4.25" y1="29.3" x2="40.25" y2="29.3"></line>
                      <line x1="4.25" y1="40.3" x2="40.25" y2="40.3"></line>
                      <line x1="34.33" y1="6.88" x2="34.33" y2="20.19"></line>
                      <line x1="40.99" y1="13.53" x2="27.67" y2="13.53"></line>
                    </svg></a></div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div itemscope="itemscope" itemtype="http://schema.org/SomeProducts" data-id="332255" class="b-catalog-card">
              <div data-original="/upload/catalog-card/1.jpg" class="b-catalog-card__image"></div>
              <div class="b-catalog-card__text">
                <div class="b-catalog-card__title"><a href="" itemprop="name">1200 (Д) х 800 (Ш) х 1000 (В)  1200 (Д) х 800 (Ш) х 1000 (В) </a></div>
                <div class="b-catalog-card__price">
                  от
                   <b class="b-price">46,91</b>руб
                </div>
                <hr class="i-size-M i-line-simple"/><a href="ajax-request-url" class="btn btn-default btn-md btn-cart">В корзину</a>
                <div class="b-catalog-card__icons"><a href="" title="Добавить в избранное" class="b-fav-icon">
                    <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
                      <title>favorite</title>
                      <path d="M22.71,15.46s9.8-11.4,16.87-2.93C50.24,25.3,22.71,38.89,22.71,38.89"></path>
                      <path d="M22.71,15.46s-9.8-11.4-16.87-2.93C-4.82,25.3,22.71,38.89,22.71,38.89"></path>
                    </svg></a><a href="" title="Сравнить" class="b-compare-icon">
                    <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.35 45.35">
                      <title>compare</title>
                      <line x1="4" y1="6.19" x2="22.25" y2="6.19"></line>
                      <line x1="4" y1="18.44" x2="22.25" y2="18.44"></line>
                      <line x1="4.25" y1="29.3" x2="40.25" y2="29.3"></line>
                      <line x1="4.25" y1="40.3" x2="40.25" y2="40.3"></line>
                      <line x1="34.33" y1="6.88" x2="34.33" y2="20.19"></line>
                      <line x1="40.99" y1="13.53" x2="27.67" y2="13.53"></line>
                    </svg></a></div>
              </div>
            </div>
          </div>
          <div data-page="2" data-ajax="/components/catalog.section/load.html" class="b-catalog-section__load"><i>Показать ещё</i><b>Загрузка</b></div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- end /components/catalog.section/-->