nav.side-menu.text-small
  .root-item.is-root.opened-children
    .link
      a(href="") Каталог конструкций FEFCO
        span.line-counter &nbsp;(15)
      .togleChildrenBloc
    .collapse.cildterblock.in
      ul.children
        li
          a( href="" ) 02xx Высеченные коробки и 4-хклапанные коробки
            span.line-counter &nbsp;(15)
        li
          a.selected( href="" ) 003xx Коробки телескопического типа или конструкции
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
      ul#menuCildBlock-1.children.collapse.sideMenuCollapse
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
      ul.children.showMoreLink
        li
          a( href="javascript:void()" data-toggle="collapse" data-target="#menuCildBlock-1" aria-expanded="false" aria-controls="menuCildBlock-1") Еще&nbsp;
            span.glyphicon.glyphicon-menu-down
    
  .root-item.is-root
    .link
      a(href="") Каталог конструкций GALIA
        span.line-counter &nbsp;(15)
      .togleChildrenBloc
    .collapse.cildterblock
      ul.children
        li
          a( href="" ) 02xx Высеченные коробки и 4-хклапанные коробки
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 003xx Коробки телескопического типа или конструкции
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
      
  .root-item.is-root
    .link
      a(href="") Ориганальные конструкции
        span.line-counter &nbsp;(15)
      .togleChildrenBloc
    .collapse.cildterblock
      ul.children
        li
          a( href="" ) 02xx Высеченные коробки и 4-хклапанные коробки
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 003xx Коробки телескопического типа или конструкции
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
      
  .root-item.is-root
    .link
      a(href="") Маркетинговая упаковка
        span.line-counter &nbsp;(15)
      .togleChildrenBloc
    .collapse.cildterblock
      ul.children
        li
          a( href="" ) 02xx Высеченные коробки и 4-хклапанные коробки
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 003xx Коробки телескопического типа или конструкции
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
        li
          a( href="" ) 004xx Раздвижные коробки пенашльного типа и сборные ящики
            span.line-counter &nbsp;(15)
      
  .root-item
    .link
      a(href="") Упаковка с печатью
    
  .root-item
    .link
      a(href="") Разработка упаковки