
.col-lg-3.col-md-4.col-sm-4.col-xs-6.a-catalog-card-cell
  .items-fotorama.fotorama-sm( data-url="/123/" )
    img.img-responsive( src="/img/fefco-temp-2.jpg" )
    a.fotos( href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" )
    a.fotos( href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" )
    a.fotos( href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" )
    a.fotos( href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" )
  
  .card-text
    a.card-name(href="#") Самосборные коробки с ушками типа “самолет”
    .offers-count (21 вариант размеров)
      
  .minprice
    span.text-xs От&nbsp;&nbsp;
    span.price-val-rub 3&nbsp;210
    span.price-val-cop 87
    span.glyphicon.glyphicon-ruble
    span.text-xs &nbsp;за шт.

  .link
    button.btn.btn-type-6.btn-md.togle-offers-block(data-url="#") Выбрать размер

.col-lg-3.col-md-4.col-sm-4.col-xs-6.a-catalog-card-cell
  .items-fotorama.fotorama-sm( data-url="/123/" )
    a.fotos( href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" )
    a.fotos( href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" )
    a.fotos( href="/img/fefco-temp-1.jpg" data-thumb="/img/construction_mord_more_sym.png" )
    a.fotos( href="/img/fefco-temp-2.jpg" data-thumb="/img/construction_mord_more_sym.png" )
  
  .card-text
    a.card-name(href="#") Самосборные коробки
    .offers-count (21 вариант размеров)
      
  .minprice
    span.text-xs От&nbsp;&nbsp;
    span.price-val-rub 3&nbsp;210
    span.price-val-cop 87
    span.glyphicon.glyphicon-ruble
    span.text-xs &nbsp;за шт.

  .link
    button.btn.btn-type-6.btn-md.togle-offers-block(data-url="#") Выбрать размер