// start include/items_grid


.row.cat-section-grid( itemprop="offers" itemscope itemtype="http://schema.org/AggregateOffer")
  - var k = 0
  while k++ < 6
    include card
      
    



// end include/items_grid