extends ../../../layouts/main.jade

block title
  title Раздел каталога FEFCO | Antech

block content 
  .b-top-panel
    .container
      -var header = "FEFCO"
      include ../../../modules/top-header/include
      include ../../../modules/top-menu/include
      
  // breadcrumb & menu start
  .container
    include ../../../modules/breadcrumbs/portfolio
  // breadcrumb & menu end
    
  
  .container
    .row
      .col-md-3
        .hidden-sm.hidden-xs
          include ../../../modules/left-menu/include
      .col-md-9
        include ../../../components/construct/detail
    
  
  include ../../../include/garantii
  
  #callback-block
    include ../../../modules/call-me-block/include
        
    
    
    