@import '../../styl/component-include.styl'

.catalog-preim-container
  
  .catalog-preim-item
    background-repeat no-repeat
    background-position left center
    background-size 48px 48px
    font-weight 600
    font-size 14px
    padding-left 70px
    min-height 60px
    display -webkit-flex
    display flex
    justify-content flex-start
    align-items center
    
@media ( min-width 768px )
  .catalog-preim-container
    display -webkit-flex
    display flex
    justify-content space-between
    align-items center

    .catalog-preim-item
      margin 10px 0
      width 25%
        


