extends ../../layouts/main.jade

block title
  title Catalog detail | antech

block content
  
  .b-top-panel
    .container
      -var header = "Картонные коробки"
      include ../../modules/top-header/include
      include ../../modules/top-menu/catalog  
      
  .container
    include ../../modules/breadcrumbs/catalog 
    
    hr
    
    include ../../components/catalog.detail/template
    
    hr
    
  section.i-gray
    .container
      .row
        .col-sm-8.col-sm-offset-2
        
          .b-simple-nav
            // Nav tabs
            ul.nav.nav-tabs(role='tablist')
              li.active(role='presentation')
                a(href='#home', aria-controls='home', role='tab', data-toggle='tab') Описание
              li(role='presentation')
                a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') Характеристики
              li(role='presentation')
                a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') Видеоинструкция
                
            hr.i-size-S
                
            // Tab panes
            .tab-content
              #home.tab-pane.active(role='tabpanel')
                p Описание Специалисты из дизайнерской студии Capsule, которая находится в Миннеаполисе, разработали новый дизайн упаковки для термобелья PATAGONIA. Целью дизайнеров было не просто обновить упаковку, но сделать так что бы увеличились розничные продажи, и это им удалось, розничные продажи выросли на 70%!
                p Шестигранную форму для коробок придумали дизайнеры Yvon Chouinard и Tom Frost, вдохновением послужила простая шестигранная гайка. Изготавливаются коробки из 100% пригодного к переработке гофрокартона. Кроме того, коробка не требует клея или скрепляющих материалов при сборке, мы называем такие коробки самосборными.
                p На коробках нанесен минимум информации, только логотипы PATAGONIA. Вся информация о товаре нанесена на специальные наклейки-бирки, таким образом при смене ассортимента не потребуется замена коробок, достаточно напечатать новые наклейки.
              #profile.tab-pane(role='tabpanel')
                p Характеристики Специалисты из дизайнерской студии Capsule, которая находится в Миннеаполисе, разработали новый дизайн упаковки для термобелья PATAGONIA. Целью дизайнеров было не просто обновить упаковку, но сделать так что бы увеличились розничные продажи, и это им удалось, розничные продажи выросли на 70%!
                p Шестигранную форму для коробок придумали дизайнеры Yvon Chouinard и Tom Frost, вдохновением послужила простая шестигранная гайка. Изготавливаются коробки из 100% пригодного к переработке гофрокартона. Кроме того, коробка не требует клея или скрепляющих материалов при сборке, мы называем такие коробки самосборными.
                p На коробках нанесен минимум информации, только логотипы PATAGONIA. Вся информация о товаре нанесена на специальные наклейки-бирки, таким образом при смене ассортимента не потребуется замена коробок, достаточно напечатать новые наклейки.
              #messages.tab-pane(role='tabpanel')
                p Видеоинструкция Специалисты из дизайнерской студии Capsule, которая находится в Миннеаполисе, разработали новый дизайн упаковки для термобелья PATAGONIA. Целью дизайнеров было не просто обновить упаковку, но сделать так что бы увеличились розничные продажи, и это им удалось, розничные продажи выросли на 70%!
                p Шестигранную форму для коробок придумали дизайнеры Yvon Chouinard и Tom Frost, вдохновением послужила простая шестигранная гайка. Изготавливаются коробки из 100% пригодного к переработке гофрокартона. Кроме того, коробка не требует клея или скрепляющих материалов при сборке, мы называем такие коробки самосборными.
                p На коробках нанесен минимум информации, только логотипы PATAGONIA. Вся информация о товаре нанесена на специальные наклейки-бирки, таким образом при смене ассортимента не потребуется замена коробок, достаточно напечатать новые наклейки.       
    
  .container
    include ../../modules/menu-list/include6
    
  hr.i-size-L
    
  section.i-gray
    .container
      include ../../components/catalog.gallery/template
    
  section.b-request-form
    .container
      include ../../components/request-form/template
  
  section.i-gray.i-stext
    .container
        
      .row
        .col-sm-6
          h4
            b Антэк. Изготовление картонных коробок

          p Специалисты нашей компании разрабатывают и изготавливают упаковку из картона более 15 лет. Колоссальный опыт в этой сфере позволяет нам выполнять любые заказы на производство картонных упаковок независимо от сложности конструкции и объема работ.

          p Принцип бережливого производства позволяет не расходовать материал впустую! При этом производственный процесс автоматизирован, а качество продукции проверяется на всех этапах изготовления – от выбора картона до выхода товара в тираж. Благодаря этому наши клиенты получают качественную продукцию точно в срок.

          h4
            b  Антэк. Новые возможности

          p Упаковочная коробка из картона пользуется спросом больше века. Однако сегодня она выполняет не только «упаковочные» функции, но и помогает подчеркнуть индивидуальный стиль компании. Мы поможем воплотить самые смелые маркетинговые идеи и создать уникальную брендовую упаковку!

          h4
            b  Антэк. Новые возможности

          p Упаковочная коробка из картона пользуется спросом больше века. Однако сегодня она выполняет не только «упаковочные» функции, но и помогает подчеркнуть индивидуальный стиль компании. Мы поможем воплотить самые смелые маркетинговые идеи и создать уникальную брендовую упаковку!

        .col-sm-6
          h4
            b  Антэк. Ценность предложения

          p Вы можете заказать изготовление упаковочных коробок «под ключ» – от разработки макета до серийного производства и печати бренда на упаковке. Мы разрабатываем и изготавливаем на заказ коробки любых размеров и форм-факторов.

          p Наши специалисты помогут создать удобную упаковку оптимальной конструкции, отвечающей необходимым параметрам (форма, размер, вес, ценность) и требованиям бережного хранения и транспортировки.

          h4
            b  Антэк. Покоряем вершины вместе

          p Наша миссия – создавать продукт, который приносит практическую пользу и позволяет сохранить экологию Земли. Мы изготавливаем функциональные картонные коробки из экологически чистого картона.

          p Мы создаем не просто удобную упаковку, а изделия нового поколения в Москве. Мы рады, что вместе с вами поэтапно выходим на новый уровень!

          h4
            b  Антэк. Покоряем вершины вместе

          p Наша миссия – создавать продукт, который приносит практическую пользу и позволяет сохранить экологию Земли. Мы изготавливаем функциональные картонные коробки из экологически чистого картона.

          p Мы создаем не просто удобную упаковку, а изделия нового поколения в Москве. Мы рады, что вместе с вами поэтапно выходим на новый уровень!
          