extends ./layouts/main.jade

block title
  title Main page | antech

block content
    
  //-include ./components/banner-transition/template
  //-include ./components/banner-transition/index

  

  .container.container-fulwidth-xs(style="margin-top: 10px; margin-bottom: 10px;")
    .col-sm-9
      .row.row-xs
        include ./components/banner-carousel/template
        
    .col-sm-3
      .row.index-col-ord
        .bn-item.index-baner-2
          .ib2-name.h3 Упаковка в&nbsp;наличии
          a.ib2-text(href="/catalog/") Купить коробки<br>в&nbsp;один клик!
          img.img-responsive.ib2-img(src="/upload/banner/img_banner2_index.png")
        .bn-item.index-baner-3
          a.play-link(href="#" data-toggle="modal" data-target="#aboutVideo")
            img.play-icon(src="/upload/banner/play_button.svg")
            span Посмотрите презентацию
      #aboutVideo.modal.modal(tabindex='-1', role='dialog', aria-labelledby='aboutVideoLabel')
        .modal-dialog.modal-lg(role='document')
          .modal-content.text-middle
          
            .close(type='button', data-dismiss='modal', aria-label='Close')
            .modal-body.center
              .embed-responsive.embed-responsive-16by9
                iframe( id="indexVideoPlay" src="https://www.youtube.com/embed/7DBxtut7Mpw" frameborder="0" allowfullscreen )
  
  
  #aboutVideo.modal.modal(tabindex='-1', role='dialog', aria-labelledby='aboutVideoLabel')
    .modal-dialog.modal-lg(role='document')
      .modal-content.text-middle
      
        .close(type='button', data-dismiss='modal', aria-label='Close')
        .modal-body.center
          .embed-responsive.embed-responsive-16by9
            iframe( id="indexVideoPlay" src="https://www.youtube.com/embed/7DBxtut7Mpw?enablejsapi=1&rel=0&autoplay=0" frameborder="0" allowfullscreen )
  
  
  .section
    .container
        .col-md-6
          .row
            .index-preim-item.col-xs-6(style="background-image: url(/img/preimushestva/index/1_zdanie.svg);") Производство и&nbsp;офис в&nbsp;одном месте в&nbsp;Красногорске
            .index-preim-item.col-xs-6(style="background-image: url(/img/preimushestva/index/2_time.svg);") Изготавливаем упаковку от&nbsp;1&nbsp;дня
        .col-md-6
          .row
            .index-preim-item.col-xs-6(style="background-image: url(/img/preimushestva/index/3_garantii.svg);") Гарантируем сроки изготовления и&nbsp;качество продукции
            .index-preim-item.col-xs-6(style="background-image: url(/img/preimushestva/index/4_big.svg);") Изготавливаем гофроупаковку больших размеров

  //-.container
    //-include ./modules/menu-list/advantages

  
  
  .section.bg-gray-1
    .container
      .col-md-8
        h2.text-center-sm Упаковка в наличии
        p Предлагаем большой ассортимент упаковки из&nbsp;гофрокартона и&nbsp;вспомогательных материалов: в&nbsp;наличии и&nbsp;под заказ, по&nbsp;вашим размерам, с&nbsp;нанесением изображения.
        p В&nbsp;каталоге представлен большой выбор обычных картонных коробок, функциональной гофроупаковки и&nbsp;гофроизделий, крупногабаритной гофротары для различного использования; а&nbsp;так&nbsp;же защитных упаковочных материалов, бумажных, полиэтиленовых и&nbsp;пенополистирольных наполнителей, полиэтиленовых пакетов и&nbsp;крафт-мешков.
      .col-md-4
        .h3(style="padding-left: 90px; line-height: 33px;") Преимущества:
        ul.index-list-preim.text-small
          li Можем нанести печать
          li Большой выбор форм и&nbsp;размеров
          li Самовывоз сегодня или доставка
          
    .container
      .h2 Как заказать упаковку?
      
      .hidden-xs
        hr.i-size-S
        include ./images/svg/SP_GOTOVAYA.svg
        
      .visible-xs
        include ./images/svg/SP_GOTOVAYA_XS_PUT1.svg
        hr.i-size-S
        include ./images/svg/SP_GOTOVAYA_XS_PUT2.svg
    
  

    .container
      
      include ./components/products-list/template
  
  
  
  
  
  
  .section
    .container
      .col-md-8
        h2.text-center-sm Изготовить гофроупаковку на&nbsp;заказ
        p Разрабатываем и&nbsp;производим упаковку из&nbsp;картона, гофроупаковку и&nbsp;крупногабаритную тару из&nbsp;трех, пяти, семислойного белого или бурого (крафт) гофрокартона и&nbsp;микрогофрокаратона, как простых конструкций, так и&nbsp;сложных вырубных конструкций в&nbsp;различных комбинациях с&nbsp;добавлением пластиковых окошек, ручек, деревянных, пластиковых и&nbsp;полимерных внешних и&nbsp;внутренних вставок и&nbsp;ложементов с&nbsp;возможностью нанесения многоцветной печати.
      .col-md-4
        .h3(style="padding-left: 90px; line-height: 33px;") Преимущества:
        ul.index-list-preim.text-small
          li Разработаем дизайн и&nbsp;конструкцию
          li Изготовим пробную партию или промышленный образец
          li Изготовим заказ от&nbsp;1&nbsp;дня

          
    .container
      .h2 Как заказать упаковку по&nbsp;своим размерам?
      
      .hidden-xs
        hr.i-size-S
        include ./images/svg/SP_PROIZVODSTVO.svg
        
      .visible-xs
        include ./images/svg/SP_PROIZVODSTVO_XS_PUT1.svg
        hr.i-size-S
        include ./images/svg/SP_PROIZVODSTVO_XS_PUT2.svg
      
      
  include ./modules/call-me-block/include
  
  //-section.i-gray.i-gallery-top
    .container
    
      include ./components/portfolio/template
      
  //-hr
        
  section.i-gray.i-gallery-top
    .container
    
      h2.b-h1.center Наши работы
      
      p.text-muted.text-large.center В галерее представлены работы, которые<br>позволят оценить наши возможности.
      
  .b-gallery
      
    include ./modules/gallery/fotorama
    include ./modules/gallery/include
    include ./modules/gallery/mob
  
  section.i-gray.i-gallery-bottom
    .container
      .b-gallery-link.center
        a( href="" ).b-icon
        br
        a( href="" ) Галерея работ
        
  //-section
    .container
      h2.b-h1.center Нужны готовые коробки?
      
      p.text-muted.text-large.center В нашем интернет-магазине представлен большой выбор<br>коробок и упаковочных материалов.
      
      hr.i-size-XS
          
      include ./components/products-list/template
          
      hr
      
      .b-store-link.center
        a( href="" ).b-icon
        br
        a( href="" ) Перейти в магазин
      
      hr.i-line
      
      h2.b-h1.center С нами удобно
      
      p.text-muted.text-large.center В нашем интернет-магазине  представлен самый широкий ассортимент<br>готовых коробок. По этому подобрать упаковку<br>под любые задачи легко и просто!
      
      include ./modules/menu-list/include2
          
      .center
        a.btn.btn-default( href="" ) Перейти в каталог
    
  section.i-gray
    .container
      include ./components/catalog.gallery/index
        
  include ./modules/call-me-block/include
  
  include ./modules/about-block/include
        
  section.i-clients
    .container
      h2.b-h1.center Нас выбирают лучшие
      hr
      
      - var n = 0
        while n < 4
          - n++
          .row
            - var k = 0
              while k < 6
                - k++
                .col-sm-2.col-xs-4
                  a( href="" )
                    img( src="/upload/clients/1.jpg" alt="" ).img-responsive.center-block
                    
                if k==3
                  hr.hidden-sm.visible-xs-block.clearfix
            
          hr
          
      //-hr.i-line
      
      //-h2.b-h1.center C нами надёжно
        
      //-p.text-muted.text-large.center Обратившись в нашу компанию вы обретете<br>надежного и верного поставщика.
        
      //-include ./modules/menu-list/include3
        
  //-include ./modules/statistics/include
        
  section.i-blue
    h2.b-h1.center Отзывы наших клиентов
    .container.center
      .b-comments.hidden-xs
        include ./modules/gallery/comments
      .b-comments.i-mob.visible-xs-block
        include ./modules/gallery/comments-mob
    
          