extends ./layouts/main.jade

block title
  title Main page | antech

block content
    
  include ./modules/video-banner/include
  
  section
    .container
      h1.center Изготовление упаковки
      
      p.text-muted.text-large.center Изготовим упаковку быстро, качественно, точно в срок.<br>С учетом всех особенностей и пожеланий.
      
      include ./modules/menu-list/include
          
      .center
        a.btn.btn-default( href="" ) Заказать изготовление
        
  section.i-gray.i-gallery-top
    .container
    
      include ./components/portfolio/template
      
  hr
        
  section.i-gray.i-gallery-top
    .container
    
      h2.b-h1.center Наши работы
      
      p.text-muted.text-large.center В галерее представлены работы, которые<br>позволят оценить наши возможности.
      
  .b-gallery
      
    include ./modules/gallery/fotorama
    include ./modules/gallery/include
    include ./modules/gallery/mob
  
  section.i-gray.i-gallery-bottom
    .container
      .b-gallery-link.center
        a( href="" ).b-icon
        br
        a( href="" ) Галерея работ
        
  section
    .container
      h2.b-h1.center Нужны готовые коробки?
      
      p.text-muted.text-large.center В нашем интернет-магазине представлен большой выбор<br>коробок и упаковочных материалов.
      
      hr.i-size-XS
          
      include ./components/products-list/template
          
      hr
      
      .b-store-link.center
        a( href="" ).b-icon
        br
        a( href="" ) Перейти в магазин
      
      hr.i-line
      
      h2.b-h1.center С нами удобно
      
      p.text-muted.text-large.center В нашем интернет-магазине  представлен самый широкий ассортимент<br>готовых коробок. По этому подобрать упаковку<br>под любые задачи легко и просто!
      
      include ./modules/menu-list/include2
          
      .center
        a.btn.btn-default( href="" ) Перейти в каталог
        
  section.i-clients
    .container
      h2.b-h1.center Нас выбирают лучшие
      hr
      
      - var n = 0
        while n < 4
          - n++
          .row
            - var k = 0
              while k < 6
                - k++
                .col-sm-2.col-xs-4
                  a( href="" )
                    img( src="/upload/clients/1.jpg" alt="" ).img-responsive.center-block
                    
                if k==3
                  hr.hidden-sm.visible-xs-block.clearfix
            
          hr
          
      hr.i-line
      
      h2.b-h1.center C нами надёжно
      
      p.text-muted.text-large.center Обратившись в нашу компанию вы обретете<br>надежного и верного поставщика.
      
      include ./modules/menu-list/include3
      
  include ./modules/statistics/include
        
  section.i-blue
    h2.b-h1.center Отзывы наших клиентов
    .container.center
      .b-comments.hidden-xs
        include ./modules/gallery/comments
      .b-comments.i-mob.visible-xs-block
        include ./modules/gallery/comments-mob
    
  section.b-request-form
    .container
      include ./components/request-form/template
  
  section.i-gray.i-stext
    .container
        
      .row
        .col-sm-6
          h4
            b Антэк. Изготовление картонных коробок

          p Специалисты нашей компании разрабатывают и изготавливают упаковку из картона более 15 лет. Колоссальный опыт в этой сфере позволяет нам выполнять любые заказы на производство картонных упаковок независимо от сложности конструкции и объема работ.

          p Принцип бережливого производства позволяет не расходовать материал впустую! При этом производственный процесс автоматизирован, а качество продукции проверяется на всех этапах изготовления – от выбора картона до выхода товара в тираж. Благодаря этому наши клиенты получают качественную продукцию точно в срок.

          h4
            b  Антэк. Новые возможности

          p Упаковочная коробка из картона пользуется спросом больше века. Однако сегодня она выполняет не только «упаковочные» функции, но и помогает подчеркнуть индивидуальный стиль компании. Мы поможем воплотить самые смелые маркетинговые идеи и создать уникальную брендовую упаковку!

          h4
            b  Антэк. Новые возможности

          p Упаковочная коробка из картона пользуется спросом больше века. Однако сегодня она выполняет не только «упаковочные» функции, но и помогает подчеркнуть индивидуальный стиль компании. Мы поможем воплотить самые смелые маркетинговые идеи и создать уникальную брендовую упаковку!

        .col-sm-6
          h4
            b  Антэк. Ценность предложения

          p Вы можете заказать изготовление упаковочных коробок «под ключ» – от разработки макета до серийного производства и печати бренда на упаковке. Мы разрабатываем и изготавливаем на заказ коробки любых размеров и форм-факторов.

          p Наши специалисты помогут создать удобную упаковку оптимальной конструкции, отвечающей необходимым параметрам (форма, размер, вес, ценность) и требованиям бережного хранения и транспортировки.

          h4
            b  Антэк. Покоряем вершины вместе

          p Наша миссия – создавать продукт, который приносит практическую пользу и позволяет сохранить экологию Земли. Мы изготавливаем функциональные картонные коробки из экологически чистого картона.

          p Мы создаем не просто удобную упаковку, а изделия нового поколения в Москве. Мы рады, что вместе с вами поэтапно выходим на новый уровень!

          h4
            b  Антэк. Покоряем вершины вместе

          p Наша миссия – создавать продукт, который приносит практическую пользу и позволяет сохранить экологию Земли. Мы изготавливаем функциональные картонные коробки из экологически чистого картона.

          p Мы создаем не просто удобную упаковку, а изделия нового поколения в Москве. Мы рады, что вместе с вами поэтапно выходим на новый уровень!
          