// start /components/order-form/

link( rel="stylesheet", href="/components/order-form/style.css" )
script( src="/components/order-form/script.js" )

.b-order-form
  .row
    .col-sm-8.col-sm-offset-2
      h2 Напишите нам какую упаковку Вы бы хотели?
      
      form.i-success( action="/components/order-form/submit.json" method="GET" )
        
        .row
          .col-sm-8
            textarea.form-control( name="message" )
          .col-sm-4
            input.form-control.i-required( name="name" value="" type="text" required placeholder="Ваше имя" )
            input.form-control.i-required( name="tel" value="" type="tel" required )
            
        .row
          .col-sm-8
            include ../../modules/fileupload/include
          .col-sm-4
            button.btn.btn-default( type="submit" ) Жду звонка!

// end /components/order-form/