.b-banner-block( style="background-image: url( '/upload/banner/3.jpg' );" )

  .b-banner-block__text
  
    h2.b-h1 Упаковка с печатью
    p Мы наносим флексопечать на упаковку<br>от самых маленьких<br>до крупногабаритных размеров.
    a.btn.btn-default.btn-md( href="" ) Мне нужна упаковка с печатью
