.b-banner-block( style="background-image: url( '/upload/banner/2.jpg' );" )

  .b-banner-block__text
  
    h2.b-h1 Разработка<br>упаковки
    p Мы разработаем упаковку любой<br>сложности специально под ваши задачи
    a.btn.btn-default.btn-md( href="" ) Заказать разработку