@import '../../styl/component-include.styl'

.b-banner-block
  background-position center
  background-size cover
  background-repeat no-repeat
  height 360px
  color #fff
  padding 55px 75px
  
  &__text
    max-width 350px
    
  h2
    font-size 28pt
    margin-bottom 20px
    
  p
    margin-bottom 45px
    
  @media( max-width 520px )
    padding 30px
    margin-right -15px
    margin-left -15px
    
    .btn
      font-size 10.5pt