
<!-- start /components/banner-transition/-->
<link rel="stylesheet" href="/components/banner-transition/style.css"/>
<script src="/components/banner-transition/script.js"></script>
<div class="b-banner-transition i-0 i-text-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="b-banner-transition__text">
          <div class="b-h1">
            <div class="i-1">
              <div class="b-h1-typing">Создадим</div>
              <div class="b-h1-show">совершенную совершенную мечты</div>
            </div>
            <div class="i-2">
              <div class="b-h1-typing">Разработаем</div>
              <div class="b-h1-show">совершенную smart-дизайн</div>
            </div>
            <div class="i-3">
              <div class="b-h1-typing">Создадим</div>
              <div class="b-h1-show">совершенную 3D-модель</div>
            </div>
            <div class="i-4">
              <div class="b-h1-typing">Сделаем</div>
              <div class="b-h1-show">совершенную прототип</div>
            </div>
            <div class="i-5">
              <div class="b-h1-typing">Изготовим</div>
              <div class="b-h1-show">совершенную пробную партию</div>
            </div>
          </div>
          <div class="b-banner-transition__img-xs visible-xs"><img src="/upload/banner/1.png" class="i-1"/><img src="/upload/banner/2.png" class="i-2"/><img src="/upload/banner/3.png" class="i-3"/><img src="/upload/banner/4.png" class="i-4"/><img src="/upload/banner/5.png" class="i-5"/></div>
          <p class="hidden-xs">Создавая совершенную упаковку, мы предлагаем безграничные возможности роста.<br>Начните создание упаковки в один клик!</p>
          <div class="b-banner-transition__button"><span onclick="window.location='/catalog/'" class="btn btn-default">Заказать<span class="hidden-xs"> изготовление</span></span></div>
        </div>
      </div>
      <div class="col-sm-5 col-sm-offset-1 hidden-xs">
        <div class="b-banner-transition__img"><img src="/upload/banner/1.png" class="i-1"/><img src="/upload/banner/2.png" class="i-2"/><img src="/upload/banner/3.png" class="i-3"/><img src="/upload/banner/4.png" class="i-4"/><img src="/upload/banner/5.png" class="i-5"/></div>
      </div>
    </div>
  </div>
</div>
<!-- end /components/banner-transition/-->