.col-md-6
  h2.h3 Особенности конструкции и&nbsp;дизайна
  p Чтобы повысить надежность и&nbsp;показатели прочности, наши конструкторы используют:
  ul
    li Фиксаторы и&nbsp;ниши, которые не&nbsp;дают стенкам смещаться и&nbsp;деформироваться.
    li Специальные уголки, вкладыши и&nbsp;уплотнители днища.
    li Внутренние перегородки, решетки, амортизаторы.
    li Ручки, держатели и&nbsp;другие элементы.
  p Для упаковки и&nbsp;перевозки крупногабаритных грузов наши эксперты советуют выбрать контейнер сборно-разборной конструкции. Он&nbsp;подходит для многократного использования и&nbsp;не&nbsp;требует много места для хранения.
  p Мы&nbsp;изготовим тару нужной конфигурации и&nbsp;размеров для крупных станков, аппаратов, высокотехнологичного оборудования, комплектующих и&nbsp;запасных частей. Чтобы избежать ошибок и&nbsp;разработать подходящую по&nbsp;конструкции упаковку, наши эксперты выедут к&nbsp;вам на&nbsp;объект и&nbsp;проведут детальные замеры груза.
  p Благодаря широкоформатной технологии печати мы&nbsp;наносим любые изображения на&nbsp;поверхность картона&nbsp;&mdash; одноцветные или полноцветные. Дизайнеры разработают оригинальный вариант оформления тары с&nbsp;учетом фирменного стиля и&nbsp;персональных пожеланий клиента.
  
.col-md-6
  h2.h3 Из&nbsp;чего мы&nbsp;производим упаковку
  p Основным материалом в&nbsp;производстве является гофрокартон из&nbsp;пяти слоев. Вот почему:
  ul
    li Он&nbsp;отличается высокой прочностью, устойчив к&nbsp;истиранию и&nbsp;разрывам.
    li Легкий и&nbsp;удобный, не&nbsp;увеличивает вес груза, и&nbsp;надежно защищает его от&nbsp;внешних воздействий.
    li Из&nbsp;него легко можно сделать упаковочную конструкцию сложной формы и&nbsp;нестандартных размеров.
    li На&nbsp;поверхность картона хорошо ложится краска, поэтому этот материал подходит для печати логотипов и&nbsp;рекламной информации.
  
  h2.h3 Сферы использования
  ul
    li Перевозка от&nbsp;одной компании в&nbsp;другую. 
    li Доставка внутри завода, между цехами и&nbsp;складскими площадками. 
    li Безопасное хранение сырья и&nbsp;готовых изделий.
  
  h2.h3 Почему заказывают у&nbsp;нас?
  ol
    li Гарантируем качество. Все этапы производства строго контролируются, перед отправкой заказчику каждая партия проверяется на&nbsp;наличие брака.
    li Соблюдаем сроки. Мы&nbsp;используем высокопроизводительную технику, выполняем заказы за&nbsp;3-5&nbsp;дней, а&nbsp;если нужно &laquo;еще вчера&raquo;&nbsp;&mdash; ускоримся.
    li Внимание к&nbsp;деталям. Для профессионалов нет неважных мелочей, мы&nbsp;обязательно учтем в&nbsp;проекте&nbsp;то, о&nbsp;чем забыл упомянуть клиент.
    li Адекватные цены. Наш главный козырь.