@import '../../styl/component-include.styl'

.b-request-form
  position relative
  height 730px
  
  .i-small
    font-size 10pt
    text-align center
    margin-top 40px
    line-height 1.3
      
    a
      text-decoration underline
      white-space nowrap
  
  &__form
    transition( opacity 0.5s ease )
    visibility visible
    z-index 2
  
    .i-counter &,
    .i-feedback &,
    .i-thankyou &,
    .i-once-more &,
    .i-callback &
      display none
    
  &__success
    visibility hidden
    width 100%
    padding-top 200px
    position absolute
    top 0
    left 0
    transition( opacity 1.5s ease )
    opacity 0
    z-index 1
  
  &__error
    visibility hidden
    width 100%
    padding-top 250px
    position absolute
    top 0
    left 0
    transition( opacity 1.5s ease )
    opacity 0
    z-index 1
      
  &.i-error
    .b-request-form__form
      opacity 0
      visibility hidden
      z-index 1
      
    .b-request-form__error
      visibility visible
      opacity 1
      z-index 3
      
  &.i-success
    .b-request-form__form
      opacity 0
      z-index 1
      
    .b-request-form__success
      visibility visible
      opacity 1
      z-index 3

  .b-request-form__form form
    width 360px
    margin 0 auto
    text-align center
    
    @media ( max-width 767px )
      width 100%
    
    .text-large
      font-weight 300
      
      b
        font-size 17pt
        color #000
        font-weight 400
        
    input.form-control
      width 273px
      display inline-block

  input.form-control[ type="tel" ]
    box-shadow none
    height 74px
    border-radius 3px
    border 1px solid #a2a2a2
    color #000
    font-size 17pt
    padding-left 25px
    padding-right 25px
    
    &:focus
      outline none
      border-color #a2a2a2 !important
      
  &__counter
    font-size 140px
    font-weight bold
    text-align center
    display none
    padding 90px 0 0 0
    
    @media (max-width 991px)
      padding 90px 0 0 0
    
    .i-counter &
      display block
    
  &__feedback
    width 360px
    margin 0 auto
    display none
    
    h2
      text-align center
    
    .i-feedback &
      display block
      
    textarea
      width 100%
      height 100px
      color #000
      font-size 14pt
      
      @media (max-width 991px)
        width 100%
      
    .btn
      margin 0 auto
      display block
      width 143px
      
    form > a
      display block
      text-align center
      margin-top 20px
      
  &__smiles
    margin-bottom 5px !important
    text-align center
    
    label
      width 44px
      height 44px
      cursor pointer
      margin 0 15px
      position relative
      
      &:nth-of-type(1)
      
        span
          background embedurl( 'img/bad-grey.svg' ) no-repeat 0 0
        
        &:hover span,
        input:checked ~ span
            background embedurl( 'img/bad-orange.svg' ) no-repeat 0 0
      
      &:nth-of-type(2)
      
        span
          background embedurl( 'img/normal-grey.svg' ) no-repeat 0 0
        
        &:hover span,
        input:checked ~ span
            background embedurl( 'img/normal-orange.svg' ) no-repeat 0 0
      
      &:nth-of-type(3)
      
        span
          background embedurl( 'img/good-grey.svg' ) no-repeat 0 0
        
        &:hover span,
        input:checked ~ span
            background embedurl( 'img/good-orange.svg' ) no-repeat 0 0
          
      span
        display inline-block
        width 44px
        height 44px
        position absolute
        top 0
        left 0
      
      input
        opacity 0
    
  &__thankyou
    display none
    height 100%
    padding-top 150px
    text-align center
    
    .i-thankyou &
      display flex
      justify-content center
      align-items center
      
    @media (max-width 991px)
      padding-right 0
    
  &__callback
    display none
    height 100%
    text-align center
    padding-top 130px
    
    .i-callback &
      display flex
      justify-content center
      align-items center
      
    @media (max-width 991px)
      padding-right 0
    
  &__once-more
    display none
    text-align center
    
    .i-once-more &
      display block