// start /components/request-form/

link( rel="stylesheet", href="/components/request-form/style.css" )
script( src="/components/request-form/script.js" )
script( src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js" )


.b-request-form__message.b-h2.center
      
.b-request-form__success.center
  .b-h2 Мы перезвоним вам<br>за <b>20</b> секунд!
  hr
  button.btn.btn-default Отправить снова
  
.b-request-form__error.center
  p#requestFormError При отправлении формы возникла ошибка
  button.btn.btn-default Отправить снова

.b-request-form__form
  h2.b-h1.center Остались вопросы?
    
  form( action="/json/call-me.json" method="GET" )
    p.text-large.text-muted Введите Ваш номер телефона и мы перезвоним Вам за 
      b 20 
      | секунд!
      
    .text-large Мы позвоним в удобное рабочее время
      br
      | ровно в
      select.select(name='HOUR')
        option(value='9') 9
        option(value='10', selected='') 10
        option(value='11') 11
        option(value='12') 12
        option(value='13') 13
        option(value='14') 14
        option(value='15') 15
        option(value='16') 16
        option(value='17') 17
      | 
      | :
      | 
      select.select(name='MINUTE')
        option(value='00') 00
        option(value='15') 15
        option(value='30') 30
        option(value='45') 45
      
    hr
    
    .form-group
      input.form-control( name="phone" type="tel" value="+7(" required )
      
    hr
      
    .center
      button.btn.btn-default( type="submit" ) Жду звонка!

.b-request-form__counter( data-num="20" )

.b-request-form__feedback
  h2 Был ли наш специалист полезен?
  hr.i-size-S
  form( action="/json/call-me.json" method="GET" )
    .form-group.b-request-form__smiles
      label
        input( type="radio" name="mark" value="1" )
        span
      label
        input( type="radio" name="mark" value="2" )
        span
      label
        input( type="radio" name="mark" value="3" )
        span
    .form-group
      textarea.form-control( rows='10' cols='10' name='message' )
    button.btn.btn-default( type="submit" required ) Оценить
    a( href="" ) Мне не перезвонили
   
.b-request-form__thankyou
  h2 Благодарим за Вашу оценку
    
.b-request-form__once-more
  h2 Приносим свои извинения
  hr.i-size-S
  p Возможно, произошел технический сбой.
  hr.i-size-S
  a.btn.btn-default( href="" ) Еще раз!
  hr.i-size-S
  p Или вы можете позвонить нам по телефону<br>
    b 8 495 287-45-70
    
.b-request-form__callback
  div
    h2 Ваша заявка принята!
    p.text-large Мы перезвоним Вам в первый рабочий день в
      | 
      span#requestHour
      | :
      span#requestMinute
      
// end /components/request-form/